Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Add mangrove opinion to new tags as well
  common/scripted_effects/mangrove_republic_scripted_effects.txt
Due: none

Small adjustments
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Star_Rider_I69_l_english.yml
  missions/Star_Rider_Missions.txt
Due: Localization Encoding

dragon_turtle_5
  common/buildings/00_buildings.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  customizable_localization/anb_dragon_turtle_localization.txt
  events/anb_dragon_turtles.txt
  localisation/anb_dragon_turtle_l_english.yml
Due: Events Encoding, Localization Encoding

Code Review Changes
  common/custom_gui/magic_unique_projects.txt
  common/custom_gui/zz_mission_content.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/personal_deities/anb_avo_nakavy_deities.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  decisions/FahvanosyDecisions.txt
  decisions/LelananDecisions.txt
  events/Flavour_Lelanan_L36.txt
  events/Magic_Project_Events.txt
  events/OrcSlavery.txt
  localisation/Flavour_Lelanan_L36_l_english.yml
  map/provincegroup.txt
  missions/Lelanan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

endhuvi tt
  missions/Endhuvi_Missions.txt
Due: none

better tt yinquan
  localisation/Flavour_Yinquan_Y26_l_english.yml
  missions/Yinquan_Missions.txt
Due: Localization Encoding

endhuvi loca
  customizable_localization/anb_customizable_localization.txt
  events/Flavour_Endhuvi_R36.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
Due: Events Encoding, Localization Encoding

1
  events/Flavour_Endhuvi_R36.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
Due: Events Encoding, Localization Encoding

cust dip ipdate
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
Due: none

custdip update
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
Due: none

no message
  common/on_actions/00_on_actions.txt
Due: none

mages disaster potential
  common/disasters/estate_mages_disaster.txt
Due: none

Orenvalyam Fixes
  common/government_reforms/06_government_reforms_common.txt
  common/parliament_issues/anb_orenvalyam.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Localization Encoding

Disable taking mangrove reform and refactor decision custom loc
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/scripted_triggers/anb_scripted_triggers_mangrove_republic.txt
  customizable_localization/anb_custom_loca_mangrove_republic.txt
  localisation/mangrove_republic_l_english.yml
Due: Localization Encoding

Add peace treaty to gain/lose influence via war
  common/peace_treaties/anb_mangrove_dominate.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/mangrove_republic_l_english.yml
Due: Localization Encoding

Fix potential for reforms
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

ardimya missing colour code
  localisation/anb_merfolk_l_english.yml
Due: Localization Encoding

spirit forts highlight parsing error fix
  events/Spirit_forts_events.txt
Due: Events Encoding

Tooltip for manufactory or gold now matches the actual trigger
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

Vanrahar Mission Tree
  common/buildings/00_buildings.txt
  common/cb_types/00_cb_types.txt
  common/disasters/blood_lotus_rebellion.txt
  common/estate_privileges/estate_uppercastes_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/subject_types/00_subject_types.txt
  customizable_localization/anb_custom_loca.txt
  decisions/RahenBloodLotus.txt
  decisions/RahenFormables.txt
  events/Flavour_Vanrahar_R77.txt
  events/RahenBloodLotus.txt
  history/countries/R43 - Tujgal.txt
  interface/anb_bookmarks.gfx
  localisation/Flavour_Vanrahar_R77_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/text_l_english.yml
  localisation/winds_of_change_l_english.yml
  map/provincegroup.txt
  missions/Bhuvauri_Missions.txt
  missions/Vanrahar_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Rename the tooltip so it's clearer
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

pr changes
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  customizable_localization/anb_custom_loca.txt
  history/countries/R77 - Vanrahar.txt
Due: none

moved and commented flags
  decisions/RahenFormables.txt
  history/countries/R77 - Vanrahar.txt
Due: Decisions Encoding

PR changes
  events/Flavour_Vanrahar_R77.txt
  interface/anb_bookmarks.gfx
  localisation/Flavour_Vanrahar_R77_l_english.yml
  missions/Vanrahar_Missions.txt
Due: Events Encoding, Localization Encoding

leafround
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  common/scripted_triggers/anb_scripted_triggers_overclan.txt
  decisions/OverclanDecisions.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
  map/provincegroup.txt
  missions/Overclan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

icons
  missions/Overclan_Missions.txt
Due: none

PR changes
  missions/Vanrahar_Missions.txt
Due: none

surf hold!
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
Due: none

PR fixes
  missions/Vanrahar_Missions.txt
Due: none

Pasiragha Mission Loc
  localisation/Flavour_Pasiragha_R61_l_english.yml
Due: Localization Encoding

events
  events/drozma_tur_events.txt
Due: Events Encoding

oh
  events/Flavour_Gomosengha_G24.txt
Due: Events Encoding

bugfix again..
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Ardimya_Events.txt
  localisation/flavor_Ardimya_l_english.yml
Due: Events Encoding, Localization Encoding

artificery easter egg event
  common/on_actions/00_on_actions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/MagicArtificerySetup.txt
  localisation/artifice_l_english.yml
Due: Events Encoding, Localization Encoding

patch
  common/on_actions/00_on_actions.txt
  events/Flavour_Nansalen_F80.txt
  events/MonstrousEvents.txt
  localisation/Flavour_Nansalen_B80_l_english.yml
  missions/Nansalen_Missions.txt
Due: Events Encoding, Localization Encoding

More Star Rider
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Star_Rider_I69_l_english.yml
  missions/Star_Rider_Missions.txt
Due: Localization Encoding

mechatriarch works for rite of conception
  events/Magic_Spell_Events.txt
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

bugfix 3
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Ardimya_Events.txt
  localisation/flavor_Ardimya_l_english.yml
Due: Events Encoding, Localization Encoding

fix typo in racial triggers
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/Ardimya_Events.txt
  localisation/flavor_Ardimya_l_english.yml
Due: Events Encoding, Localization Encoding
