Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

4 Suggestions Implemented
  common/event_modifiers/anb_event_modifiers.txt
  common/event_modifiers/ebonsteel_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/HolyRomanEmpire.txt
  gfx/interface/ideas_EU4/dragonmarks.dds
  gfx/interface/ideas_EU4/ebonsteel.dds
  gfx/interface/ideas_EU4/ironhill.dds
  gfx/interface/ideas_EU4/rosemetal.dds
  gfx/interface/ideas_EU4/skaldol_temple.dds
  gfx/interface/ideas_EU4/tipney_tobacco.dds
  gfx/interface/ideas_EU4/vanbury_steel_foundry.dds
  history/provinces/375 - The_Tail.txt
  history/provinces/976 - Skaldol.txt
  localisation/anb_regent_court_events_l_english.yml
Due: Events Encoding, Localization Encoding

rahrahrat
  events/Flavour_Uesrennu_J78.txt
  events/OrenNayiruEvents.txt
  missions/Uesrennu_Missions.txt
Due: Events Encoding

small fix
  common/event_modifiers/anb_event_modifiers.txt
Due: none

small fix 2
  common/event_modifiers/ebonsteel_modifiers.txt
Due: none

ratt
  events/OrenNayiruEvents.txt
  localisation/Flavour_Uesrennu_J78_l_english.yml
Due: Events Encoding, Localization Encoding

wait
  common/incidents/00_isolationism.txt
  common/on_actions/00_on_actions.txt
  events/RintaSeekerEvents.txt
Due: Events Encoding

hide
  events/Flavour_Asarta_L96.txt
Due: Events Encoding

fix
  events/Cannor_Monument_Flavour_Events.txt
Due: Events Encoding

flags for random
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Asarta_L96.txt
Due: Events Encoding

lilstart
  common/estate_privileges/01_church_privileges.txt
  localisation/Flavour_Helmod_Z88_l_english.yml
  missions/Helmod_Missions.txt
Due: Localization Encoding

reorganization
  common/disasters/rs_i_dark_magicks.txt
  events/RintaSeekerEvents.txt
  history/countries/S93 - Alefisol.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

I am a dwarf and I'm digging a hole
  common/event_modifiers/CoT_excavation_modifiers.txt
  events/CoT_excavate_rewards.txt
  localisation/CoT_excavations_l_english.yml
Due: Events Encoding, Localization Encoding

x
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

b
  common/event_modifiers/anb_mission_modifiers.txt
  common/province_names/amadian_ruinborn_elf.txt
  decisions/ChaqwaiDecisions.txt
  events/Flavour_Chaqway_G87.txt
  history/countries/G87 - Chaqway.txt
Due: Decisions Encoding, Events Encoding

mh
  common/mercenary_companies/0_anb_elite_mercenaries.txt
Due: none

Auto stash before merge of "insyaa" and "main/insyaa"
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Dasmatus goes Jadd/What to do with a problem like Koggraffa event chain
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_flavour_events.txt
  events/Flavour_ZokkaJaddariWar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

small fixes for sponsored adventurers
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Bibyobi_S98.txt
  events/anb_sponsored_adventurers.txt
Due: Events Encoding

1
  gfx/interface/nahuatl_icon.dds
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
Due: none

ups
  events/Noukahi_Pantheon.txt
Due: Events Encoding

Adding escape shortcut
  interface/countryreligionview.gui
Due: none

first few missions
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

das
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_flavour_events.txt
  events/Flavour_ZokkaJaddariWar.txt
Due: Events Encoding

.
  missions/Chaqway_Missions.txt
Due: none

Small changes
  common/government_names/00_0anbennar_unique_names.txt
  common/scripted_effects/anb_scripted_effects_sri_baginda.txt
Due: none

Warden Adjustments
  TEST.txt
  common/event_modifiers/CoT_Event_Modifiers.txt
Due: Brackets Syntax

CBT removed
  common/static_modifiers/00_static_modifiers.txt
Due: none

Bankartineni NIs + Spelling Correction
  common/countries/Bankartineni.txt
  common/country_tags/anb_countries.txt
  common/disasters/binsplosion.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/ideas/anb_country_ideas.txt
  events/Binsplosion_Events.txt
  history/countries/S99 - Bankartineni.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/binsplosion_l_english.yml
Due: Events Encoding, Localization Encoding

Loca fix gushuokguan
  localisation/Flavour_Gushuokguan_Y17_l_english.yml
Due: Localization Encoding

Loca fix gushuokguan 2
  localisation/Flavour_Gushuokguan_Y17_l_english.yml
Due: Localization Encoding

custom modifiers done
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  customizable_localization/anb_magic_menus_localization.txt
  interface/countrydecisionsview.gui
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Undead military mana upkeep
  common/event_modifiers/racial_admin_military.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
Due: none

erratic court + events
  common/event_modifiers/CoT_Event_Modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  localisation/CoT_misc_l_english.yml
  vimba.txt
Due: Localization Encoding, Brackets Syntax

warden nerf
  common/event_modifiers/CoT_Event_Modifiers.txt
Due: none

More fixes
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/SriBagindaDecisions.txt
Due: Decisions Encoding

more of that
  TEST.txt
  common/event_modifiers/CoT_Event_Modifiers.txt
  common/parliament_issues/00_dip_parliament_issues.txt
  common/parliament_issues/00_mil_parliament_issues.txt
Due: Brackets Syntax

fucking spaces
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

more verne
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/imperial_incidents/anb_imperial_incidents.txt
  events/Flavour_Verne_A33.txt
  gfx/interface/missions/mission_shield_of_corin.dds
  gfx/interface/missions/mission_sword_of_corin.dds
  gfx/interface/missions/mission_tame_busilar.dds
  interface/missionicons_anb.gfx
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

small centering adjustment
  interface/countryreligionview.gui
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
