Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

istralore verne co-op
  common/great_projects/anb_monuments_sarhal.txt
  events/Flavour_Istralore_A45.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Istralore_Missions.txt
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

kheionai gov reforms scripted effect fix
  common/scripted_effects/kheionai_scripted_effects.txt
Due: none

loc
  localisation/Flavour_Ameion_G52_l_english.yml
Due: Localization Encoding

Saqraxat bug fixes - mission reward event couldn't fire in else - province highlight incorrect - colour formatting - define advisor with undefined skill
  events/Flavour_Saqraxat_L04.txt
  localisation/Flavour_Saqraxat_L04_l_english.yml
  missions/Saqraxat_Missions.txt
Due: Events Encoding, Localization Encoding

Auto stash before merge of "new-master" and "anbennar/new-master"
  common/great_projects/anb_monuments_sarhal.txt
  decisions/Karassk_Decisions.txt
  events/Flavour_Karassk_L68.txt
  events/Flavour_Khatalashya_S81.txt
  localisation/Flavour_Karassk_L68_l_english.yml
  localisation/Flavour_Karshyr_S15_l_english.yml
  localisation/Flavour_khatalashya_S81_l_english.yml
  missions/Khatalashya_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

spire oops
  common/great_projects/anb_monuments_sarhal.txt
Due: none

The Thought syncretization loc fix
  localisation/Thought_harmonize_l_english.yml
Due: Localization Encoding

[Steam] Assorted Konolkhatep fixes
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

[Steam] Konolkhatep Event menu for culture conversion
  common/custom_gui/zz_mission_content.txt
  common/new_diplomatic_actions/zz_khet_mandate.txt
  common/scripted_effects/konolkhatap_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_konolkhatep.txt
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

Gura part 1
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_rinta_incidents_scripted_effects.txt
  decisions/RIntaSeekerDecisions.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

old xia mission updates
  common/government_reforms/03_government_reforms_theocracies.txt
  events/OneXia.txt
  events/RighteousSummit.txt
  localisation/Flavour_OneXia_Y99_l_english.yml
  missions/Xia_Missions.txt
Due: Events Encoding, Localization Encoding

Incorrect sign for modifier value
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Error log and Ikogshaantus Fix
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/forbidden_land_scripted_effects.txt
  common/scripted_effects/kheionai_scripted_effects.txt
  events/kheionai_events.txt
Due: Events Encoding

Gura 2
  common/scripted_effects/anb_rinta_incidents_scripted_effects.txt
Due: none

Deepwood vision
  common/scripted_effects/anb_setup_effects.txt
Due: none

Hall Silver Family Erratic
  decisions/HalfElves.txt
Due: Decisions Encoding

Hale Bjarnrik Mission Erratic
  missions/Bjarnrik_Missions.txt
Due: none

lonely isle fix
  map/area.txt
Due: none

salla ilyeth event fix
  events/CoT_misc_events.txt
Due: Events Encoding

Garbair Ruler erratic
  history/countries/X05 - Karjakaup.txt
Due: none

FP tech adjust
  events/CoT_misc_events.txt
Due: Events Encoding

Raden nudge erratic
  map/positions.txt
Due: none

Axel Highold setup erratic
  history/countries/W41 - Highhold.txt
Due: none

Karjakaup Reform setup
  history/countries/X05 - Karjakaup.txt
Due: none

More MT fix shit
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Wex_A30.txt
  missions/Wex_Missions.txt
Due: Events Encoding

Reavers can Reave erratic
  common/event_modifiers/CoT_misc_modifiers.txt
Due: none

Reaver flag erratic
  gfx/flags/W79.tga
Due: none

Last Lodge Nudge Erratic
  map/positions.txt
Due: none

Raden Hold Erratic
  map/provincegroup.txt
Due: none

Warjoy Idea Erratic
  common/ideas/CoT_country_ideas.txt
Due: none

Convicts End Erratic
  map/adjacencies.csv
Due: none

Verne generic MT get
  missions/Verne_Missions.txt
Due: none

more ancestor compatibility fixes
  common/ancestor_personalities/00_core.txt
  common/government_mechanics/anb_floodborn_council.txt
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/DiggyDiggyHoardcurse.txt
  events/Flavour_Danggun_Y93.txt
  events/Flavour_Vaengheim_Z88.txt
  events/Flavour_Wyvernheart_B39.txt
  events/Flavour_Zokka_F29.txt
  events/RintaSeekerEvents.txt
  localisation/anb_ancestor_personalities_l_english.yml
  missions/Haraz_Orldhum_Missions.txt
  missions/Rakkaz_Missions.txt
Due: Events Encoding, Localization Encoding

sGoblin Gov Reform idea update erratic
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

Ghavanaj fix
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

Aramari Reform innit
  common/government_reforms/07_government_reforms_COT.txt
  common/governments/00_governments.txt
  history/countries/A53 - Aramari Temple.txt
Due: none

Rampart erratic
  common/buildings/04_buildings_tiered.txt
Due: none

pr review
  common/estates/97_mages.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_project.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_haless.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  events/Magic_Project_Events.txt
  events/Magic_Spell_Events.txt
  events/Magic_System_Events.txt
  events/SkyDomain.txt
  localisation/anb_magic_system_l_english.yml
Due: Events Encoding, Localization Encoding

bad trigger
  missions/Konolkhatep_Missions.txt
Due: none

[Steam] Sedentarization to exclude non-Forbidden provinces, fixes edge case with 1444-uncolonized provinces
  common/scripted_effects/forbidden_land_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_sedentarization.txt
Due: none
