Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Nuwenara NIs
  anbennar-eu-4-fork-bromar.mod
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fix
  localisation/Flavour_Karshyr_S15_l_english.yml
  missions/Karshyr_Missions.txt
Due: Localization Encoding

Nuwenara NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

bread and circuses fix
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

slight shuffling
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

Fixed some modifier magnitudes
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

zokka
  events/Flavour_Zokka_F29.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

zokka
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

pashaine ravelian dfx
  decisions/PashaineNation.txt
  events/ravelianism.txt
Due: Decisions Encoding, Events Encoding

z
  common/buildings/00_buildings.txt
  common/scripted_effects/anb_scripted_effects_brrtekuh.txt
  events/Flavour_Brrtekuh_U10.txt
  localisation/Flavour_Brrtekuh_U10_l_english.yml
  missions/Brrtekuh_Missions.txt
Due: Events Encoding, Localization Encoding

Reforms done
  common/event_modifiers/anb_kheionai_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/kheionai_scripted_effects.txt
  localisation/anb_kheionai_l_english.yml
Due: Localization Encoding

fixes
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

more missing loc for OaA
  localisation/Flavour_OvdalazAn_I19_l_english.yml
Due: Localization Encoding

dazc
  events/Flavour_Brrtekuh_U10.txt
  missions/Brrtekuh_Missions.txt
Due: Events Encoding

dazccccccccccccccccccccccccc
  events/Flavour_Brrtekuh_U10.txt
Due: Events Encoding

askaerog raid fix
  common/church_aspects/anb_devandi_abilities.txt
  events/DevandiEvents.txt
Due: Events Encoding

a
  events/Flavour_Celmaldor_Z22.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Events Encoding, Localization Encoding

slightly better election cost
  events/Flavour_Celmaldor_Z22.txt
Due: Events Encoding

erm
  events/Flavour_Celmaldor_Z22.txt
Due: Events Encoding

erm 2
  events/Flavour_Celmaldor_Z22.txt
Due: Events Encoding

gaming
  common/imperial_reforms/00_hre_emperor.txt
  common/scripted_effects/artifice_scripted_effects.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  localisation/imperial_reforms_l_english.yml
Due: Localization Encoding

Mission faking
  common/scripted_effects/konolkhatap_scripted_effects.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  missions/Konolkhatep_Missions.txt
Due: Localization Encoding

Hmming fixes
  common/ideas/anb_country_ideas.txt
  decisions/PashaineNation.txt
  events/Flavour_LRM.txt
  events/Flavour_Pashaine_B59.txt
  events/Flavour_Salla_Ayeth_I33.txt
  history/countries/B71 - Southroy.txt
  localisation/anb_powers_and_ideas_l_english.yml
  missions/LRM_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

GAMING
  customizable_localization/anb_custom_artifice_localization.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
Due: Localization Encoding

gaming?
  localisation/Flavour_Celmaldor_Z22_l_english.yml
Due: Localization Encoding

OR
  missions/Konolkhatep_Missions.txt
Due: none

bugfixes
  events/Magic_Study_Events.txt
  history/countries/Z88 - Vaengheim.txt
  localisation/anb_magic_study_l_english.yml
Due: Events Encoding, Localization Encoding

Balance changes
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Pashaine_B59.txt
  localisation/Flavour_Pashaine_B59_l_english.yml
  missions/Pashaine_Missions.txt
Due: Events Encoding, Localization Encoding

organizations shuffling
  common/estate_privileges/estate_mages_privileges.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

Typo
  missions/Hammerhome_Missions.txt
Due: none

tooltip fix
  localisation/Flavour_Pashaine_B59_l_english.yml
Due: Localization Encoding

Woodwell Ruler Fix
  events/Flavour_Woodwell_A88.txt
  localisation/Flavour_Woodwell_A88_l_english.yml
Due: Events Encoding, Localization Encoding

Province loc done TM
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Area/Region adjust
  map/area.txt
  map/region.txt
Due: none

Area loc done
  localisation/anb_areas_l_english.yml
Due: Localization Encoding

Region Loc
  localisation/anb_regions_l_english.yml
Due: Localization Encoding

map fix
  map/area.txt
  map/terrain.txt
Due: none

Centaur Culture fix
  history/countries/I51 - Battlesong.txt
  history/countries/I73 - Nightmare.txt
  history/provinces/5048 - Caubhirdu.txt
  history/provinces/5056 - Malulirdu.txt
  history/provinces/5057 - Chotlochd.txt
  history/provinces/5058 - Cathbar.txt
  history/provinces/5060 - Domcharuth.txt
  history/provinces/5062 - Tintraghbar.txt
  history/provinces/5065 - Altortaiz.txt
  history/provinces/5066 - Taryeanados.txt
  history/provinces/5068 - Alrodshlen.txt
  history/provinces/5069 - Coglizamh.txt
  history/provinces/5070 - Solghrdu.txt
  history/provinces/5072 - Taizamh.txt
  history/provinces/7670 - GPEighty.txt
  history/provinces/7675 - GPSeventyFive.txt
  history/provinces/7676 - GPSeventyFour.txt
  history/provinces/7769 - Damagumesz.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
