Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

tester tweaks + headdesk
  common/parliament_issues/anb_overclan.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/EstateOrganization.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
Due: Events Encoding, Localization Encoding

Balance
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/anb_shadowdreamer_modifiers.txt
Due: none

More Balance and Code Review
  common/event_modifiers/anb_shadowdreamer_modifiers.txt
  common/government_mechanics/anb_shadowdreamer_dreamfire.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  events/Flavour_Shadowdreamer_H83.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
  missions/Shadowdreamer_Missions.txt
Due: Events Encoding, Localization Encoding

Less "Dream"
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
Due: Localization Encoding

Less dream too
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
Due: Localization Encoding

Giantkin
  common/on_actions/00_on_actions.txt
  events/Flavour_Shadowdreamer_H83.txt
Due: Events Encoding

Karach stuff
  localisation/Flavour_Karach_L77_l_english.yml
  missions/Karach_Missions.txt
Due: Localization Encoding

Cloth
  localisation/Flavour_Karach_L77_l_english.yml
Due: Localization Encoding

2 typos and a tt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
  localisation/core_l_english.yml
Due: Events Encoding, Localization Encoding

2 great ording typos
  localisation/Flavour_GreatOrding_A17_l_english.yml
Due: Localization Encoding

crathanor keeps its naval doctrine
  common/naval_doctrines/00_naval_doctrines.txt
Due: none

more holy order colours by Tritone and Druplesnubb
  common/holy_orders/anb_holy_orders.txt
Due: none

rezankand_ai_help gets a name
  localisation/Flavour_Rezankand_H67_l_english.yml
Due: Localization Encoding

too much egg
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Aelnars capital isnt actally fixed -> make AI not move away from their dynamically set capital
  history/countries/Z43 - Aelnar.txt
  history/countries/Z69 - Aelnar_Lithiel.txt
  history/countries/Z70 - Aelnar_Kayd.txt
  history/countries/Z71 - Aelnar_Aelthanas.txt
  history/countries/Z72 - Aelnar_Sicrheior.txt
  history/countries/Z73 - Aelnar_Dahvar.txt
Due: none

culture convert aelnars capital
  events/Flavour_Aelnar_Z43.txt
  missions/Venail_Missions.txt
Due: Events Encoding

rename aotd_centaur_mod_initial to be clearer
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

show escandar merc company
  common/great_projects/anb_monuments_cannor.txt
Due: none

black herd aotd fix
  missions/Black_Herd_Missions.txt
Due: none

Runefather Worship holy order colours by me - feel free to overwrite just vibes based
  common/holy_orders/anb_holy_orders.txt
Due: none

Giantkind
  common/on_actions/00_on_actions.txt
  events/Flavour_Shadowdreamer_H83.txt
Due: Events Encoding

Degalistea
  common/holy_orders/anb_holy_orders.txt
  common/scripted_triggers/anb_scripted_triggers_kheionai.txt
  localisation/anb_great_projects_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Kobold
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  customizable_localization/anb_custom_loca.txt
Due: none

Stuff
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  events/Charkuchin_Kobold_Events.txt
Due: Events Encoding

rat locfix
  events/Flavour_Uesrennu_J78.txt
  localisation/Flavour_Uesrennu_J78_l_english.yml
Due: Events Encoding, Localization Encoding

Bug Fix
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

Bruh
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

gasha MT shadow warrior bypass for KoK DLC
  missions/Gasha_Missions.txt
Due: none

greatest command rename
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Events Encoding, Localization Encoding

facestealer restrictions
  common/rebel_types/face_stealers.txt
  events/Flavour_Shuvuush.txt
Due: Events Encoding

Say no to runefather
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
Due: none

PR round 1
  common/great_projects/anb_monuments_cannor.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_westmoors.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Westmoors_A24.txt
  localisation/Flavour_Westmoors_A24_l_english.yml
  localisation/anb_tooltips_l_english.yml
  missions/Westmoors_missions.txt
Due: Events Encoding, Localization Encoding

t
  common/scripted_effects/anb_scripted_effects.txt
Due: none

facestealers in gozengun
  events/Flavour_Shuvuush.txt
Due: Events Encoding

disable_estate_nobles as a scripted effect with tt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  events/Flavour_Yinquan_Y26.txt
  localisation/anb_tooltips_l_english.yml
  missions/Xanzerbexis_Missions.txt
Due: Events Encoding, Localization Encoding

self-review
  common/holy_orders/anb_holy_orders.txt
Due: none

Hey, this does that
  missions/Shadowdreamer_Missions.txt
Due: none

rename ringahanga
  common/religions/00_anb_religion.txt
  decisions/MechanimNation.txt
  events/anb_mechanim_events.txt
  localisation/anb_religions_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

rest of the area names
  localisation/anb_areas_l_english.yml
Due: Localization Encoding

Buttons art
  interface/provinceview.gui
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
