Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

.
  missions/Tsukqiao_Missions.txt
Due: none

Magic UI Icons by Shwigz
  gfx/interface/custom_gui/magic/magic_spell_icons_slot_1_60x60.dds
  gfx/interface/custom_gui/magic/magic_spell_icons_slot_2_60x60.dds
  gfx/interface/custom_gui/magic/magic_spell_icons_slot_3_60x60.dds
  gfx/interface/custom_gui/magic/magic_spell_icons_slot_4_60x60.dds
  gfx/interface/custom_gui/magic/magic_spell_icons_slot_5_60x60.dds
  gfx/interface/custom_gui/magic/magic_spell_icons_slot_6_60x60.dds
Due: none

.
  common/diplomatic_actions/00_diplomatic_actions.txt
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
  missions/Tsukqiao_Missions.txt
Due: Localization Encoding

Two Mission Icons by Shwigz
  gfx/interface/missions/mission_skeleton_army.dds
  gfx/interface/missions/mission_transmuting.dds
  interface/missionicons_anb.gfx
Due: none

Spirit Gene Pillar Event Art by Trumble
  gfx/event_pictures/gene_pillars/GENE_PILLAR_SPIRIT_eventPicture.dds
  interface/anb_eventpictures.gfx
Due: none

more whitespace fixes
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
  common/on_actions/00_on_actions.txt
Due: none

fixing up some loc errors
  events/Flavour_Cangji_V05.txt
  localisation/Flavour_Cangji_V05_l_english.yml
Due: Events Encoding, Localization Encoding

one more
  localisation/Flavour_Cangji_V05_l_english.yml
Due: Localization Encoding

oope of Blaziy
  common/custom_gui/provinceview.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  events/Charkuchin_Kobold_Events.txt
  localisation/anb_charkuchin_l_english.yml
Due: Events Encoding, Localization Encoding

.
  localisation/Flavour_Zongji_Y25_l_english.yml
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

Some more cores for this guys
  history/provinces/4824 - Jangeoigong.txt
  history/provinces/4900 - Tounaapyun.txt
  history/provinces/4982 - Tiunleng.txt
  history/provinces/4984 - Dunghung.txt
Due: none

make this less eye destroying
  events/Flavour_Cangji_V05.txt
Due: Events Encoding

loc
  localisation/Flavour_Cangji_V05_l_english.yml
Due: Localization Encoding

okie reti
  common/on_actions/00_on_actions.txt
Due: none

religion as second
  common/event_modifiers/anb_religion_modifiers.txt
  common/religions/00_anb_religion.txt
Due: none

NI bug
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

obsidian_invasion_over_effect
  common/peace_treaties/anb_obsidian_invasion_annexation.txt
  common/scripted_effects/anb_digging_effects.txt
  events/DiggyDiggyFallenDwarf.txt
Due: Events Encoding

loc fix for Aerial Skirmishers
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

zokka_lake_fed_tier_lock_tt
  common/great_projects/anb_great_projects.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

tooltips and reward for an ourdia mission
  localisation/Flavour_Ourdia_U16_l_english.yml
  missions/Ourdi_Missions.txt
Due: Localization Encoding

vile one is immortal and cant get age revival/decadence
  common/government_reforms/03_government_reforms_theocracies.txt
  events/Ruler.txt
Due: Events Encoding

infernal court hub - event chain skip cleanup
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

priv is called differently now
  localisation/Flavour_Bhuvauri_R38_l_english.yml
Due: Localization Encoding

favors were reversed
  events/Flavour_EOA.txt
Due: Events Encoding

loc deduplication
  events/Flavour_Esthil_B54.txt
  localisation/Flavour_Esthil_B54_l_english.yml
  localisation/Flavour_Iochand_A80_l_english.yml
  localisation/Flavour_Overclan_F78_l_english.yml
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Events Encoding, Localization Encoding

show immortality
  events/Flavour_Umbral_Covenant_S90.txt
Due: Events Encoding

golden highway tt - suggestion by Bromar
  common/event_modifiers/anb_bulwari_modifiers.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Golden_Highway.txt
  localisation/anb_modifiers_l_english.yml
  localisation/anb_tooltips_l_english.yml
Due: Events Encoding, Localization Encoding

capital was set wrong
  history/countries/I67 - Endless Arrows.txt
Due: none

Lost 0
  common/event_modifiers/charkuchin_kobold_modifiers.txt
Due: none

Oasis of Water Dreams + Planetouched update
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/EstateOrganization.txt
  localisation/anb_estate_organization_l_english.yml
Due: Events Encoding, Localization Encoding

Add some flags to allow for delaying the next event.
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

Missed a level of delay.
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

[new-master] Pajeong and Nuwenara Typo Fixes
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/pajeong_l_english.yml
Due: Localization Encoding

option order consistency
  events/Flavour_Overclan_F78.txt
Due: Events Encoding

Lightning Wielder NI Loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

ogre
  missions/Cangji_Missions.txt
Due: none

river.bmp - match land to provinces.bmp
  map/rivers.bmp
Due: none

Ok man
  common/on_actions/00_on_actions.txt
  events/EstateOrganization.txt
Due: Events Encoding

Finishing moving of Ruby and Bronze
  common/custom_gui/countryreligionview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/fangaulan_pantheon_events.txt
Due: Events Encoding

check for corinsfield
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_corinsfield_ban_mages.txt
Due: none
