Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

estate loyalty custom ideas - initial batch
  common/custom_ideas/07_anb_custom_ideas.txt
  localisation/anb_custom_ideas_l_english.yml
Due: Localization Encoding

cb duration part 2
  events/Flavour_Irkorzik_F69.txt
  events/Flavour_Istralore_A45.txt
  events/Flavour_Verne_A33.txt
  events/GrandDuchyEvents.txt
  missions/Salla_Ayeth_Missions.txt
  missions/VerkalOzovar_Missions.txt
Due: Events Encoding

Encoding
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

grostunad fix
  missions/Gronstunad_Missions.txt
Due: none

cb duration
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Caergaraen_J74.txt
  events/Flavour_Venomtooth_B22.txt
Due: Events Encoding

codereview - no if if avoidable
  common/estate_agendas/anb_mages_agendas.txt
Due: none

tt fix - haraz orldhum modif tt
  events/DiggyDiggyHoardcurse.txt
Due: Events Encoding

spellcounting - basic
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

spellcounting - ai only + tt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

spell counting fixes and has_cast_any_school_spell
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

spellcounting - formatting
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

.
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Sareyand_F25.txt
  events/anb_beikling_events.txt
  gfx/interface/ideas_EU4/IC_temple_mesner.dds
  localisation/anb_flavor_beiklings_l_english.yml
  missions/Sareyand_Missions.txt
Due: Events Encoding, Localization Encoding

.
  events/anb_beikling_events.txt
Due: Events Encoding

.
  missions/Sareyand_Missions.txt
Due: none

tweaks
  localisation/Flavour_Deranne_A02_l_english.yml
  missions/Derannic_Missions.txt
Due: Localization Encoding

this was a bithcv
  missions/Celmaldor_Missions.txt
Due: none

Code Review Round 2
  decisions/MonstrousDecisions.txt
  events/MonstrousEvents.txt
Due: Decisions Encoding, Events Encoding

misc small fixes
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  history/countries/I27 - Salla Myna.txt
  missions/Salla_Myna_Missions.txt
Due: none

Overhauling Ciranmyna contributions
  common/on_actions/00_on_actions.txt
  decisions/SallaMynaDecisions.txt
  events/Flavour_Salla_Myna_I27.txt
  localisation/Flavour_Salla_Myna_I27_l_english.yml
  missions/Salla_Myna_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Initializing variable
  events/Flavour_Salla_Myna_I27.txt
Due: Events Encoding

space
  localisation/Flavour_Asarta_L96_l_english.yml
Due: Localization Encoding

[Steam] Some Modifier Loc Fixes
  localisation/Flavour_Anjiang_Y04_l_english.yml
  localisation/Flavour_Escann_Goblin_l_english.yml
Due: Localization Encoding

Vision fix
  common/scripted_effects/anb_setup_effects.txt
  history/countries/A81 - Giberd.txt
  history/countries/A83 - Silent Repose.txt
  history/countries/B36 - Marrhold.txt
  history/countries/B55 - Counts League.txt
Due: none

Unguldavor Western Conquest Fix
  missions/Unguldavori_Missions.txt
Due: none

Changed the encoding so it works
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

work please
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Changed so it works and doesnt break
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

mage agenda bugfix
  common/estate_agendas/anb_mages_agendas.txt
Due: none

a
  common/estate_privileges/anb_privileges.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Deranne_A02.txt
Due: Events Encoding

b
  missions/Derannic_Missions.txt
Due: none

c
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Deranne_A02.txt
Due: Events Encoding

hmm compliance
  events/Flavour_Salla_Myna_I27.txt
  localisation/Flavour_Salla_Myna_I27_l_english.yml
  missions/Salla_Myna_Missions.txt
  test.txt
Due: Events Encoding, Localization Encoding, Brackets Syntax

typo
  missions/Salla_Myna_Missions.txt
Due: none

doctrine thing
  localisation/Flavour_Deranne_A02_l_english.yml
  missions/Derannic_Missions.txt
Due: Localization Encoding

Yudunyovi Spawn Changed and Adenica Name Changes
  events/YudunyoviEvents.txt
  localisation/Flavour_Adenica_B58_l_english.yml
Due: Events Encoding, Localization Encoding

Tooltip for Jazhkredu
  decisions/EscanniGoblinFormables.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

Added a tiny bit to the loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

.
  decisions/EscanniGoblinFormables.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

Allowing Old Dookan for Corin v Korgus
  missions/Unguldavori_Missions.txt
Due: none

PR !3239 Insyaa Flavor
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/InsyaaEvents.txt
  localisation/anb_insyaa_events_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
