Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

.
  history/countries/I54 - Moon Tracker.txt
Due: none

Forced Transition
  history/countries/I54 - Moon Tracker.txt
Due: none

more work
  common/great_projects/anb_monuments_sarhal.txt
  events/Flavour_Deranne_A02.txt
  localisation/Flavour_Deranne_A02_l_english.yml
  missions/Derannic_Missions.txt
Due: Events Encoding, Localization Encoding

a second raj tester :O
  decisions/RajDecisions.txt
  events/RahenRajEvents.txt
  localisation/raj_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

konol no kill gun xhaz
  common/peace_treaties/anb_kill_xhazob.txt
Due: none

Infernal court Hedine fix
  events/InfernalCourtEvents.txt
Due: Events Encoding

Add the writing and exterminate insects
  common/on_actions/00_on_actions.txt
  events/Group_Flavor_Gnolls.txt
  events/XhazobkultEvents.txt
  localisation/Group_Flavor_Gnolls_l_english.yml
  localisation/xhazobkult_l_english.yml
Due: Events Encoding, Localization Encoding

Make sacrificing rebels not a terrible choice
  common/event_modifiers/anb_xhazobkult_modifiers.txt
Due: none

Raj Vizier Rework - Initial Implementation (#9)
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
Due: none

Raj Vizier Rework - Initial Implementation (#10)
  localisation/raj_l_english.yml
Due: Localization Encoding

Add the saved name and tooltips for the From Chains to Court event
  events/Group_Flavor_Gnolls.txt
  localisation/Group_Flavor_Gnolls_l_english.yml
Due: Events Encoding, Localization Encoding

Fixing some bracket commands
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

Okman Comments + some extra stuff
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  events/Flavour_Bulwar.txt
  events/Flavour_Dartaxagerdim_F22.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

Make it so the slave isn't a gnoll
  events/Group_Flavor_Gnolls.txt
  localisation/Group_Flavor_Gnolls_l_english.yml
Due: Events Encoding, Localization Encoding

Use the right scope
  events/Group_Flavor_Gnolls.txt
Due: Events Encoding

Adshaw mt fix
  missions/Adshaw_Missions.txt
Due: none

Repub rework 3.0
  events/CoT_Elections.txt
Due: Events Encoding

Molten Eternity religion
  common/ages/00_default.txt
  common/buildings/00_buildings.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_molten_eternity_modifiers.txt
  common/holy_orders/anb_holy_orders.txt
  common/on_actions/00_on_actions.txt
  common/personal_deities/molten_eternity.txt
  common/rebel_types/molten_eternity.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  customizable_localization/anb_molten_eternity_custom_loca.txt
  events/Elections.txt
  localisation/anb_religions_l_english.yml
  localisation/molten_eternity_l_english.yml
Due: Events Encoding, Localization Encoding

fixes
  events/Binsplosion_Events.txt
  events/NdurubuEvents.txt
  localisation/anb_ndurubu_l_english.yml
Due: Events Encoding, Localization Encoding

Banning Endless Ocean from converting to Molten Eternity
  common/religions/00_anb_religion.txt
Due: none

Actually enabling Molten Eternity
  common/on_actions/00_on_actions.txt
Due: none

Vaass Qathi Monarchy
  common/government_reforms/07_government_reforms_COT.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Governments.txt
  events/Parlaments.txt
  events/RandomEvents.txt
  localisation/CoT_gov_reforms_l_english.yml
  rewards_2_3.txt
Due: Events Encoding, Localization Encoding, Brackets Syntax

fix
  events/NdurubuEvents.txt
Due: Events Encoding

Qathi culture stuff
  .idea/workspace.xml
  common/ancestor_personalities/00_core.txt
  common/cultures/anb_cultures.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  localisation/CoT_frostheart_event_rewards_l_english.yml
Due: Localization Encoding

Thunderborn and Great Rally NI
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Vaass silver consort
  decisions/CoT_misc_decisions.txt
  events/CoT_misc_events.txt
  localisation/CoT_frostheart_l_english.yml
  localisation/CoT_misc_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

holohana event restructure
  events/holohana_events.txt
Due: Events Encoding

holohana fleeing and global target restructure
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
Due: none

loc tweak
  localisation/Flavour_Farranean_B60_l_english.yml
Due: Localization Encoding

^ snuck in
  localisation/anb_events_l_english.yml
Due: Localization Encoding

more religions approve of darkness
  events/estate_mages.txt
Due: Events Encoding

Accretive Path Events Fixes Pt 3
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Accretive_Path_Events.txt
  localisation/accretive_path_l_english.yml
Due: Events Encoding, Localization Encoding

rezankand fix
  missions/Rezankand_Missions.txt
Due: none

Accretive Path Events Pt 4
  events/Accretive_Path_Events.txt
Due: Events Encoding

Accretive Path Fixes 5
  events/Accretive_Path_Events.txt
Due: Events Encoding

Accretive Path Fixes 6
  events/Accretive_Path_Events.txt
Due: Events Encoding

this event is supposed to set the tradegood but didnt
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

Thadarsaghol NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

forgot
  history/countries/A49 - Xanzerbexis.txt
Due: none

Molten Eternity bugfix pt. 1
  common/buildings/00_buildings.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_molten_eternity_modifiers.txt
  common/holy_orders/anb_holy_orders.txt
  common/on_actions/00_on_actions.txt
  common/personal_deities/molten_eternity.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  customizable_localization/anb_molten_eternity_custom_loca.txt
  events/Elections.txt
  events/MoltenEternity.txt
  localisation/molten_eternity_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
