Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

.
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Stuff is happening
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  customizable_localization/anb_custom_loca.txt
  customizable_localization/anb_magic_menus_localization.txt
  history/countries/A85 - Magisterium.txt
  interface/countrydecisionsview.gfx
  interface/countrydecisionsview.gui
  interface/magic_ui_from_bonny.gui
  localisation/aaaaajothellmagic_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Fix "decisions_listbox" typo
  interface/countrydecisionsview.gui
Due: none

change to "war_war_against_the_world_doctrine_reform"
  common/government_reforms/02_government_reforms_republics.txt
Due: none

fix lmao
  common/event_modifiers/CoT_Event_Modifiers.txt
Due: none

fix lmao2
  common/event_modifiers/CoT_Event_Modifiers.txt
Due: none

zokka
  common/event_modifiers/anb_zokka_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_zokka.txt
  events/Flavour_Zokka_F29.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Events Encoding, Localization Encoding

zokka
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

zokka
  common/government_names/00_0anbennar_unique_names.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_zokka.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Elections.txt
  events/Flavour_Zokka_F29.txt
  history/countries/F29 - Zokka.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Events Encoding, Localization Encoding

el
  events/Flavour_Chaqway_G87.txt
  missions/Chaqway_Missions.txt
Due: Events Encoding

eel
  events/Flavour_Chaqway_G87.txt
Due: Events Encoding

Fixing stuff
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  missions/Yassa_Missions.txt
Due: none

Forgot this
  common/scripted_effects/yassa_scripted_effects.txt
Due: none

hunt fix for naleni and republics
  common/church_aspects/anb_hunt_abilities.txt
  events/Flavour_Naleni_L55.txt
  events/The_Hunt_events.txt
  localisation/the_hunt_l_english.yml
Due: Events Encoding, Localization Encoding

harpy heir
  events/MagicEstates.txt
Due: Events Encoding

Putting in work
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  gfx/interface/custom_gui/magic/jothell/Small_Button_Abjuration.dds
  gfx/interface/custom_gui/magic/jothell/Small_Button_Conjuration.dds
  gfx/interface/custom_gui/magic/jothell/Small_Button_Divination.dds
  gfx/interface/custom_gui/magic/jothell/Small_Button_Enchantment.dds
  gfx/interface/custom_gui/magic/jothell/Small_Button_Evocation.dds
  gfx/interface/custom_gui/magic/jothell/Small_Button_Illusion.dds
  gfx/interface/custom_gui/magic/jothell/Small_Button_Necromancy.dds
  gfx/interface/custom_gui/magic/jothell/Small_Button_Transmutation.dds
  gfx/interface/custom_gui/magic/jothell/StudySelectEstate.dds
  gfx/interface/custom_gui/magic/jothell/StudySelectHeir.dds
  gfx/interface/custom_gui/magic/jothell/StudySelectRuler.dds
  gfx/interface/custom_gui/magic/jothell/Study_Choice_Background.dds
  gfx/interface/custom_gui/magic/jothell/unitpanel_progressbar_w10_h39_black.dds
  interface/countrydecisionsview.gfx
  interface/countrydecisionsview.gui
  localisation/aaaaajothellmagic_l_english.yml
  localisation/anb_magic_study_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Bug Fix for Anzalkatsa Agendas
  common/estate_crown_land/00_interactions.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Updates based on code review.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

Loc
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

scipted effect for latest building
  common/scripted_effects/00_scripted_effects.txt
  events/shadow_swamp_flavour.txt
Due: Events Encoding

Hold Name Subtitles
  history/provinces/2863 - Khugdihr.txt
  history/provinces/2868 - Haraz_Orldhum.txt
  history/provinces/2914 - Verkal_Gulan.txt
  history/provinces/2931 - Er-Natvir.txt
  history/provinces/2942 - Shazstundihr.txt
  history/provinces/2963 - Hul-Jorkad.txt
  history/provinces/2973 - Ovdal_Lodhum.txt
  history/provinces/4020 - Dur-Vazhatun.txt
  history/provinces/4039 - Gor_Burad.txt
  history/provinces/4056 - Verkal_Kozenad.txt
  history/provinces/4078 - Hehodovar.txt
  history/provinces/4093 - Arg-Ordstun.txt
  history/provinces/4100 - Verkal_Skomdihr.txt
  history/provinces/4119 - Amldihr.txt
  history/provinces/4122 - Verkal_Vazkron.txt
  history/provinces/4124 - Seghdihr.txt
  history/provinces/4147 - Orlazam-az-dihr.txt
  history/provinces/4149 - Amlharaz.txt
  history/provinces/4208 - Krakdhumvror.txt
  history/provinces/4217 - Gor_Vazumbrog.txt
  history/provinces/4218 - Gor_Ozumbrog.txt
  history/provinces/4236 - Mithradhum.txt
  history/provinces/4238 - Orlghelovar.txt
  history/provinces/4247 - Ovdal_Kanzad.txt
  history/provinces/4265 - Grozumdihr.txt
  history/provinces/4266 - Hul-az-Krakazol.txt
  history/provinces/4284 - Ovdal-az-An.txt
  history/provinces/4311 - Gronstunad.txt
  history/provinces/4323 - Verkal_Dromak.txt
  history/provinces/4350 - Tuwad-Dhumankon.txt
  history/provinces/526 - Ovdal_Tungr.txt
  history/provinces/5424 - Verkal_Ozovar.txt
Due: none

Runefather Worship conversion event tweak
  events/RunefatherWorship.txt
Due: Events Encoding

Dartax Fix 1
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Dartaxagerdim_F22.txt
  localisation/Flavour_Dartaxagerdim_F22_l_english.yml
  missions/Dartaxagerdim_Missions.txt
Due: Events Encoding, Localization Encoding

Dartax fix 2
  missions/Dartaxagerdim_Missions.txt
Due: none

hmm
  events/MagicEstates.txt
  missions/Hisost_Yamok_Missions.txt
Due: Events Encoding

fix for LVT
  missions/LRM_Missions.txt
Due: none

Minor fix to lizard monument
  events/SarhalEvents.txt
  localisation/anb_sarhal_events_l_english.yml
Due: Events Encoding, Localization Encoding

Yassa Fix
  events/Flavour_Yassa_L81.txt
Due: Events Encoding

Province Modifier into Flag Fix
  events/Flavour_Yassa_L81.txt
Due: Events Encoding

oop
  events/MagicEstates.txt
Due: Events Encoding

more fixes from okman.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

add back in trigger from testing.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

convert indentation to tabs.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

encoding fix and remove leftover log
  common/scripted_effects/merfolk_scripted_effects.txt
  events/Flavour_Corintar_B02.txt
Due: Events Encoding

removed duplicate silver_republic govname left over from new-master merge
  common/government_names/00_0anbennar_unique_names.txt
Due: none

Bugfixes
  common/event_modifiers/anb_kheionai_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  events/kheionai_flavour_events.txt
  localisation/Flavour_TaychendiEmpire_J84_l_english.yml
  localisation/anb_kheionai_l_english.yml
  missions/Zz_Taychendi_Empire_Missions.txt
Due: Events Encoding, Localization Encoding

Encoding
  localisation/anb_bookmarks_l_english.yml
Due: Localization Encoding

Added hidden event to eat Anbenncost and fixed Imperial Bodyguard rejoin bug
  events/Flavour_Anbenncost_A38.txt
  events/Flavour_OrdaAldresia_A77.txt
Due: Events Encoding

Fixed for resolutions between y = 828 and 867, commented vanilla values where appropriate
  interface/countrydecisionsview.gui
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
