Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

konolkhatep patch
  common/cb_types/anb_cb_war_shadowflame.txt
  common/disasters/konolkhatep_xhaz_disaster.txt
  common/estate_privileges/estate_ahati_privileges.txt
  common/event_modifiers/anb_konolkhatep_modifiers.txt
  common/imperial_reforms/01_china.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/peace_treaties/anb_shadowflame.txt
  common/scripted_effects/konolkhatap_scripted_effects.txt
  common/wargoal_types/00_wargoal_types.txt
  customizable_localization/anb_konolkhatep_custom_localization.txt
  decisions/GnollDecisions.txt
  events/Flavour_Konolkhatep_F66.txt
  events/estate_ahati.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  missions/Konolkhatep_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

sedentarization, art and cleaning
  common/custom_gui/provinceview.txt
  gfx/interface/custom_gui/chi_wellspring_button.dds
  gfx/interface/custom_gui/dig_deeper_button.dds
  gfx/interface/custom_gui/province_button_dummy1.dds
  gfx/interface/custom_gui/sedentarization_button.dds
  interface/provinceview.gfx
  interface/provinceview.gui
Due: none

Ship for disaster picture
  common/disasters/rs_i_dark_magicks.txt
  common/incidents/00_isolationism.txt
  common/scripted_effects/rinta_seekers_scripted_effects.txt
  events/RintaSeekerEvents.txt
  gfx/interface/incident_icons.dds
  localisation/anb_religions_l_english.yml
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

fix
  gfx/interface/disasters/darkmagicks.dds
  interface/countryview.gfx
Due: none

second
  common/disasters/rs_i_dark_magicks.txt
  common/scripted_effects/rinta_seekers_scripted_effects.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

stopped working
  common/disasters/rs_i_dark_magicks.txt
  common/scripted_effects/rinta_seekers_scripted_effects.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Session 2 run file
  session2.txt
Due: Brackets Syntax

minor fix
  events/Flavour_Rezankand_H67.txt
Due: Events Encoding

Migration to gitlab
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estates/02_nobility.txt
  common/estates/99_artificers.txt
  common/event_modifiers/anb_estate_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/event_modifiers/artifice_modifiers.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  customizable_localization/anb_custom_artifice_localization.txt
  decisions/XanzerbexisDecisions.txt
  events/Flavour_Xanzerbexis.txt
  events/Flavour_Xanzerbexis_A49.txt
  localisation/Flavour_Xanzerbexis_A49_l_english.yml
  localisation/anb_government_names_l_english.yml
  localisation/anb_mercs_l_english.yml
  localisation/artifice_l_english.yml
  missions/01_Generic_European_Missions.txt
  missions/Xanzerbexis_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

sorci
  common/custom_gui/countryreligionview.txt
  customizable_localization/anb_customizable_localization.txt
  events/Flavour_Uesrennu_J78.txt
  events/OrenNayiruEvents.txt
  interface/countryreligionview.gui
  localisation/Flavour_Uesrennu_J78_l_english.yml
Due: Events Encoding, Localization Encoding

Jinnakah NIs finished
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

works again
  common/disasters/rs_i_dark_magicks.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/scripted_effects/rinta_seekers_scripted_effects.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Column 1
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  localisation/Flavor_Rayaz_R95_l_english.yml
  missions/Rayaz_Missions.txt
Due: Localization Encoding

Now it for sure works
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

catch
  common/event_modifiers/anb_sarhal_modifiers.txt
  events/RintaSeekerEvents.txt
  gfx/interface/ideas_EU4/infernal_hotspot.dds
  gfx/interface/ideas_EU4/infernal_hotspot_inactive.dds
Due: Events Encoding

stage
  common/ancestor_personalities/00_core.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  events/RintaSeekerEvents.txt
  gfx/interface/ideas_EU4/infernal_hotspot.dds
  gfx/interface/ideas_EU4/infernal_hotspot_inactive.dds
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Thanks LetterHead!
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/Flavour_Asarta_L96_l_english.yml
  missions/Asarta_Missions.txt
Due: Localization Encoding

sican
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Uesrennu_J78_l_english.yml
Due: Localization Encoding

reviewedraj
  localisation/raj_l_english.yml
Due: Localization Encoding

Hold digging alert fix
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
Due: none

removing timegate
  missions/Adshaw_Missions.txt
Due: none

Event Rewards Megapush
  common/event_modifiers/CoT_Event_Modifiers.txt
  common/province_triggered_modifiers/CoT_modifiers.txt
  common/units/undead_14_scythe_riders.txt
  decisions/CoT_misc_decisions.txt
  session2.txt
Due: Decisions Encoding, Brackets Syntax

More Event rewards
  common/event_modifiers/CoT_Event_Modifiers.txt
  common/province_triggered_modifiers/CoT_modifiers.txt
  localisation/CoT_i_Events_l_english.yml
  session2.txt
Due: Localization Encoding, Brackets Syntax

triggered venail mod fix
  common/province_triggered_modifiers/CoT_modifiers.txt
Due: none

vaass CI buys pt 1
  session2.txt
Due: Brackets Syntax

Vaass CI buys pt 2
  common/event_modifiers/CoT_Event_Modifiers.txt
  decisions/CoT_misc_decisions.txt
Due: Decisions Encoding

move shipyard
  missions/Adshaw_Missions.txt
Due: none

erratic court
  common/event_modifiers/CoT_Event_Modifiers.txt
  common/event_modifiers/CoT_misc_modifiers.txt
  common/government_mechanics/cot_phoenix_servile.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/ideas/anb_country_ideas.txt
  events/MagicRuler.txt
  gfx/flags/W13.tga
  missions/01_Generic_European_Missions.txt
  missions/Azkare_Missions.txt
  missions/Marrhold_Missions.txt
  missions/Naleni_Missions.txt
  missions/Vertesk_Missions.txt
  missions/Zz_Phoenix_Empire_Missions.txt
  vimba.txt
Due: Events Encoding, Brackets Syntax

zael nerf :(
  common/event_modifiers/CoT_Event_Modifiers.txt
Due: none

gov reform fix
  vimba.txt
Due: Brackets Syntax

elizna
  vimba.txt
Due: Brackets Syntax

no slacken for eoa :angy:
  decisions/CoT_misc_decisions.txt
Due: Decisions Encoding

Fixed indenation
  common/ideas/anb_country_ideas.txt
Due: none

[1/2] Vaass Modding
  TEST.txt
  common/event_modifiers/CoT_Event_Modifiers.txt
  decisions/A09_attaluos.txt
  localisation/CoT_i_nations_l_english.yml
  localisation/anb_cultures_l_english.yml
  session2.txt
Due: Decisions Encoding, Localization Encoding, Brackets Syntax

primiary
  common/cultures/anb_cultures.txt
Due: none

Indent errors, LET THIS BE OUR FINAL BATTLE!
  common/ideas/anb_country_ideas.txt
Due: none

zael cant annex full nations in one war smh
  common/event_modifiers/CoT_Event_Modifiers.txt
Due: none

fix
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_kobold.txt
Due: Events Encoding

fix typo
  localisation/Flavour_Averilibet_S53_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

Column 2
  missions/Rayaz_Missions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
