Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Makalio Pelekalio battle royale
  common/countries/Makalio.txt
  common/countries/Pelekalio.txt
  history/countries/N10 - Makalio.txt
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

Makalio victory
  common/country_tags/anb_countries.txt
Due: none

Insyaa Bookmark Descs
  localisation/anb_bookmarks_l_english.yml
Due: Localization Encoding

Move dicatorship code
  common/government_reforms/02_government_reforms_republics.txt
Due: none

bits and bobs
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
  common/scripted_triggers/anb_scripted_triggers_gene_pillars.txt
  events/GenePillarEvents.txt
Due: Events Encoding

Landslide - Gene Pillar Intergration
  events/landslide_infantry_events.txt
  localisation/landslide_infantry_l_english.yml
Due: Events Encoding, Localization Encoding

Rid of nested random_list
  events/MangroveRepublicEvents.txt
Due: Events Encoding

Gasha changes
  events/Flavour_Gasha_L76.txt
  localisation/Flavour_Gasha_L76_l_english.yml
  missions/Gasha_Missions.txt
Due: Events Encoding, Localization Encoding

extremely minor loc fix
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Localization Encoding

Add manago-poku migration loc
  localisation/manago_poku_l_english.yml
Due: Localization Encoding

Remove mixed human/ogre mil from Izimaa
  events/AnbennarSetup.txt
  history/countries/N94 - Izimaa.txt
Due: Events Encoding

remove complex char from important file
  common/on_actions/00_on_actions.txt
Due: none

Golodh deduplication
  common/on_actions/00_on_actions.txt
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

10x conversion speed OHGERD
  common/ideas/anb_country_ideas.txt
Due: none

minor fixes
  common/event_modifiers/gene_pillar_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
  events/landslide_infantry_events.txt
Due: Events Encoding

pending event in first event in gene pillar chain consistency
  events/GenePillarEvents.txt
Due: Events Encoding

tooltip colouring
  localisation/anb_gene_pillars_l_english.yml
Due: Localization Encoding

hide immediates and make loot event actually subtract loot
  events/GenePillarEvents.txt
Due: Events Encoding

Estate agenda order fix
  events/EstatePrivilegesAndAgendasEvents.txt
Due: Events Encoding

Ogre tolerance loc scope fix
  localisation/anb_racial_pop_l_english.yml
Due: Localization Encoding

mykx ship in capital
  events/Flavour_Mykx_G93.txt
Due: Events Encoding

Replace placeholder loc for manago-poku migration events
  localisation/manago_poku_l_english.yml
Due: Localization Encoding

fix fix
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Zerat_L69_l_english.yml
  missions/Zerat_Missions.txt
Due: Localization Encoding

[Steam] Venomtooth loc fix
  localisation/Flavour_Venomtooth_B22_l_english.yml
  missions/Venomtooth_Missions.txt
Due: Localization Encoding

pound
  localisation/Flavour_Zerat_L69_l_english.yml
Due: Localization Encoding

Replace all instances of change_x_effects to add/lose in gene pillars
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
  events/GenePillarEvents.txt
Due: Events Encoding

Fix mechanim invention custom loc
  customizable_localization/anb_custom_artifice_localization.txt
Due: none

Add empty loc for sarhal trade node province group
  localisation/anb_gene_pillars_l_english.yml
  localisation/anb_regions_l_english.yml
Due: Localization Encoding

Fix typo in hinuimonuments event
  localisation/anb_generic_insyaa_l_english.yml
Due: Localization Encoding

Fix double republican tradition bonus for mteibhar reforms
  common/government_reforms/04_government_reforms_tribes.txt
  events/MteibharaEvents.txt
Due: Events Encoding

Fix genie cult unlocking for ardimya
  events/Genie_cult.txt
  localisation/genie_cult_l_english.yml
Due: Events Encoding, Localization Encoding

Fix gene pillar progress
  events/GenePillarEvents.txt
Due: Events Encoding

Add missing triggers and gotos to kiamoa and spirit pillar
  events/GenePillarEvents.txt
Due: Events Encoding

Stop tracking gene pillar hp on country scope
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
Due: none

Fix typo in abandoning gene pillar
  localisation/anb_gene_pillars_l_english.yml
Due: Localization Encoding

Move pillar loss effect into lose_hp effect
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
Due: none

Edge case for repeating trap event
  events/GenePillarEvents.txt
Due: Events Encoding

have a go at fixing the ending expedition injury effect
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
Due: none

hide these two progress advances as they are in the option
  events/GenePillarEvents.txt
Due: Events Encoding

highlighting
  localisation/Flavour_Venomtooth_B22_l_english.yml
Due: Localization Encoding
