Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Loc
  localisation/Flavour_Degakheion_G46_l_english.yml
Due: Localization Encoding

gnolldasi dynasties
  common/cultures/anb_cultures.txt
  common/scripted_effects/konolkhatap_scripted_effects.txt
Due: none

work for lvt
  common/cultures/anb_cultures.txt
  history/countries/S94 - Jarafarin.txt
Due: none

Moved Medasi modifiers to static modifiers
  common/event_modifiers/anb_khet_mandate_modifiers.txt
  common/static_modifiers/00_static_modifiers.txt
Due: none

influence change
  common/static_modifiers/00_static_modifiers.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Localization Encoding

fix investments
  events/Flavour_Celmaldor_Z22.txt
Due: Events Encoding

fix investments again
  events/Flavour_Celmaldor_Z22.txt
Due: Events Encoding

Another Fix
  missions/Roilsard_missions.txt
Due: none

Dartax balance change
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

dfix
  localisation/Flavour_Rezankand_H67_l_english.yml
Due: Localization Encoding

MT Region Recomendations
  common/scripted_triggers/anb_scripted_triggers_settings.txt
Due: none

Disable persectue for rez
  events/OrenNayiruEvents.txt
Due: Events Encoding

Claims junglemouth
  localisation/Flavour_Rezankand_H67_l_english.yml
  missions/Rezankand_Missions.txt
Due: Localization Encoding

Other minor fix Mokuakua NIS
  common/ideas/anb_country_ideas.txt
Due: none

Bookmark update and adding CoTs to Deepwoods
  common/bookmarks/a_cannor.txt
  common/bookmarks/b_escann.txt
  history/provinces/3004 - Elynaile.txt
  history/provinces/3020 - Ciranmyna.txt
  history/provinces/3030 - Emmylscotha.txt
Due: none

fixes
  common/event_modifiers/anb_celmaldor_modifiers.txt
  common/scripted_effects/00_scripted_effects.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Localization Encoding

faction
  interface/faction.gfx
Due: none

faction fix
  common/on_actions/00_on_actions.txt
  interface/faction.gfx
Due: none

less annex
  common/diplomatic_actions/00_diplomatic_actions.txt
  localisation/raj_l_english.yml
Due: Localization Encoding

less generals
  common/event_modifiers/anb_rahen_modifiers.txt
Due: none

asdfg
  missions/Celmaldor_Missions.txt
Due: none

harb
  localisation/Flavour_Celmaldor_Z22_l_english.yml
Due: Localization Encoding

civi requested buff
  common/great_projects/anb_monuments_cannor.txt
Due: none

Even more fixes for Konolkhatep
  common/cb_types/00_cb_types.txt
  common/cultures/anb_cultures.txt
  common/disasters/konolkhatep_xhaz_disaster.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_tributary.txt
  events/Flavour_Konolkhatep_F66.txt
  events/KhetMandateEvents.txt
  missions/Konolkhatep_Missions.txt
Due: Events Encoding

pick best tag strikes again
  common/event_modifiers/anb_rahen_modifiers.txt
  events/RahenRajEvents.txt
Due: Events Encoding

Next batch o fixes
  common/cb_types/anb_cb_rending.txt
  common/custom_gui/provinceview.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/EastSarhalFormables.txt
  localisation/Flavour_Asarta_L96_l_english.yml
  localisation/Flavour_khatalashya_S81_l_english.yml
  missions/Khatalashya_Missions.txt
Due: Decisions Encoding, Localization Encoding

oop minor loc fix
  localisation/Flavour_khatalashya_S81_l_english.yml
Due: Localization Encoding

fix
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Khatalashya_S81.txt
Due: Events Encoding

loc
  localisation/Flavour_Mulen_F50_l_english.yml
Due: Localization Encoding

slave nerfing?
  common/event_modifiers/anb_konolkhatep_modifiers.txt
  common/static_modifiers/00_static_modifiers.txt
Due: none

Chendhyan and Mteibahr Changes
  common/cb_types/00_cb_types.txt
  common/church_aspects/anb_devandi_abilities.txt
  common/peace_treaties/01_annex_tribe.txt
  common/peace_treaties/anb_tribal_raid.txt
  localisation/anb_devandi_l_english.yml
Due: Localization Encoding

fixes
  common/peace_treaties/anb_expand_raj.txt
  common/scripted_triggers/anb_scripted_triggers_rahen.txt
  localisation/raj_l_english.yml
Due: Localization Encoding

reworked sword logic so it survives monarch death
  decisions/OrcDecisions.txt
  events/Flavour_Frozenmaw_Z18.txt
Due: Decisions Encoding, Events Encoding

repositioned raiding, exempted skaldhyrric vassals from conversion
  missions/Frozenmaw_Missions.txt
Due: none

changed exploit dev logic to not break if urvik dip devs inland
  missions/Frozenmaw_Missions.txt
Due: none

Effelai loc fix
  localisation/effelai_bloom_l_english.yml
Due: Localization Encoding

AI please do
  common/estate_privileges/anb_privileges.txt
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

fix
  common/government_reforms/02_government_reforms_republics.txt
  decisions/Governments.txt
  events/Flavour_Celmaldor_Z22.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

f
  common/government_reforms/02_government_reforms_republics.txt
  missions/Celmaldor_Missions.txt
Due: none

troll
  events/Flavour_Celmaldor_Z22.txt
Due: Events Encoding
