Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Cross-PR integrations
  common/church_aspects/anb_speaking_memory_aspects.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/landslide_infantry_modifiers.txt
  customizable_localization/anb_endless_ocean_custom_localization.txt
  events/Flavour_Speaking_Memory.txt
  events/anb_endless_ocean.txt
  events/landslide_infantry_events.txt
  localisation/anb_endless_ocean_l_english.yml
  localisation/anb_speaking_memory_l_english.yml
  localisation/landslide_infantry_l_english.yml
Due: Events Encoding, Localization Encoding

anotha one
  events/ManagoPokuEvents.txt
Due: Events Encoding

tweaks
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  events/anb_generic_insyaa_events.txt
  localisation/anb_generic_insyaa_l_english.yml
  localisation/manago_poku_l_english.yml
Due: Events Encoding, Localization Encoding

PR 10000
  common/custom_gui/countrymilitaryview.txt
  common/government_mechanics/anb_shadowdreamer_dreamfire.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
  decisions/ShadowdreamerDecisions.txt
  events/Flavour_Shadowdreamer_H83.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
  localisation/anb_diggy_diggy_hole_blorc_l_english.yml
  missions/Shadowdreamer_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

PR 10001
  common/on_actions/00_on_actions.txt
  decisions/ShadowdreamerDecisions.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
  missions/Shadowdreamer_Missions.txt
Due: Decisions Encoding, Localization Encoding

Hopefully Final PR
  events/Flavour_Shadowdreamer_H83.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
  localisation/anb_diggy_diggy_hole_blorc_l_english.yml
  missions/Shadowdreamer_Missions.txt
Due: Events Encoding, Localization Encoding

Oops
  missions/Shadowdreamer_Missions.txt
Due: none

Final?
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
Due: Localization Encoding

khadisrapur inherit via parliament issue
  common/parliament_issues/anb_khadisrapur.txt
  events/Flavour_Khadisrapur_R11.txt
  localisation/Flavour_Khadisrapur_R11_l_english.yml
Due: Events Encoding, Localization Encoding

Wrong Province
  decisions/ShadowdreamerDecisions.txt
Due: Decisions Encoding

Conquistador
  missions/Shadowdreamer_Missions.txt
Due: none

magic projects in immediate bugfix
  events/Magic_Project_Events.txt
Due: Events Encoding

More Conquistador
  common/event_modifiers/anb_shadowdreamer_modifiers.txt
Due: none

witch-king tooltip bug
  events/Magic_Ruler_Events.txt
Due: Events Encoding

lower chance of fear and loathing
  events/Magic_System_Events.txt
Due: Events Encoding

project typo
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Samsumbat loc
  events/Flavour_Samsumbat_F60.txt
  events/estate_ahati.txt
  localisation/Flavour_Samsumbat_F60_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_tooltips_l_english.yml
  missions/Samsumbat_Missions.txt
Due: Events Encoding, Localization Encoding

everyone gets new organizations
  common/estate_privileges/estate_mages_privileges.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  localisation/Flavour_Aelnar_Z43_l_english.yml
  localisation/Flavour_Chaqway_G87_l_english.yml
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  localisation/Flavour_Orlghelovar_I12_l_english.yml
  localisation/Flavour_Seinathil_A90_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Localization Encoding

more forgiving mission triggers
  common/estate_privileges/estate_mages_privileges.txt
  missions/Cestirmark_Missions.txt
  missions/Chaingrasper_Missions.txt
  missions/Daxugo_Missions.txt
  missions/Degakheion_Missions.txt
  missions/VerkalOzovar_Missions.txt
  missions/Yingzhen_Missions.txt
Due: none

Delete some extranneous modifiers
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/subject_types/00_subject_types.txt
Due: none

small MT sanity adjustment
  missions/Esthil_Missions.txt
Due: none

stopping generic missions from showing up
  missions/Esthil_Missions.txt
Due: none

small tooltip improvement
  customizable_localization/anb_custom_loc_esthil.txt
  localisation/Flavour_Esthil_B54_l_english.yml
Due: Localization Encoding

loc fix
  localisation/anb_dragon_turtle_l_english.yml
Due: Localization Encoding

PR !4155 insyaa gfx culture adjustments
  common/countries/Bomowoka.txt
  common/countries/Dhandhemoongerra.txt
  common/countries/Dhongutja.txt
  common/countries/Dungudirrama.txt
  common/countries/Gokogarrad.txt
  common/countries/Gongumbarra.txt
  common/countries/Malogabatha.txt
  common/countries/Muphna.txt
  common/countries/Muyambla.txt
  common/countries/Wayula.txt
  common/countries/Yurratowa.txt
  common/cultures/anb_cultures.txt
  gfx/entities/buildings_mesogeios.asset
  gfx/models/Buildings/Polynesia/nospec.dds
  gfx/models/Buildings/Polynesia/polynesian_buildings_1_01.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_1_02.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_1_03.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_1_04.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_2_01.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_2_02.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_2_03.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_2_04.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_3_01.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_3_02.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_3_03.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_3_04.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_4_01.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_4_02.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_4_03.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_4_04.mesh
  gfx/models/Buildings/Polynesia/polynesian_buildings_diffuse.dds
  gfx/models/Buildings/Polynesia/polynesian_buildings_normals.dds
  gfx/models/Buildings/Polynesia/polynesian_citycenter_00.mesh
  gfx/models/Buildings/Polynesia/polynesian_citycenter_01.mesh
  gfx/models/Buildings/Polynesia/polynesian_citycenter_02.mesh
  gfx/models/Buildings/Polynesia/polynesian_citycenter_03.mesh
  gfx/sprite_packs/+00_base_sprites.txt
  interface/assets/buildings_mesogeios.gfx
Due: none

Fix insyaa special characters
  localisation/anb_endless_ocean_l_english.yml
Due: Localization Encoding

Revert "fp discovery cleanup"
  events/Flavour_Nansalen_F80.txt
Due: Events Encoding

alt "if everything has been discovered"
  events/Flavour_Nansalen_F80.txt
Due: Events Encoding

optimizations to fp discovery effect
  events/Flavour_Nansalen_F80.txt
Due: Events Encoding

province control handover fix
  common/on_actions/00_on_actions.txt
Due: none

restoring accidentally deleted dynamic loc
  localisation/Flavour_Nansalen_B80_l_english.yml
Due: Localization Encoding

moving culture effect to on_province_culture_change, rather than convert
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

proofing for player forming things other than harpylen
  common/great_projects/anb_monuments_bulwar.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

Only fire event potentially changing control after 30 days
  common/on_actions/00_on_actions.txt
Due: none

handling varamhar war a bit differently
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_F80_pt_enthroning_aras.txt
  events/Flavour_Nansalen_F80.txt
  history/countries/F33 - Akalses.txt
Due: Events Encoding

mission bracket :wail:
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Double Event Fix
  common/buildings/00_buildings.txt
  common/custom_gui/provinceview.txt
  common/ideas/00_basic_ideas.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  events/Charkuchin_Kobold_Events.txt
  localisation/anb_charkuchin_l_english.yml
Due: Events Encoding, Localization Encoding

Insyaa Rebels and Flags
  common/rebel_types/aycha_alpa.txt
  common/rebel_types/dunborgula.txt
  common/rebel_types/endless_ocean.txt
  common/rebel_types/foundationism.txt
  common/rebel_types/infinite_self.txt
  common/rebel_types/manago_poku.txt
  common/rebel_types/mumambarra.txt
  common/rebel_types/speaking_memory.txt
  common/rebel_types/volcanic_truth.txt
  gfx/flags/accretive_path_rebels.tga
  gfx/flags/aycha_alpa_rebels.tga
  gfx/flags/devouring_path_rebels.tga
  gfx/flags/dunborgula_rebels.tga
  gfx/flags/endless_ocean_rebels.tga
  gfx/flags/face_stealers_rebels.tga
  gfx/flags/foundationism_rebels.tga
  gfx/flags/infinite_self_rebels.tga
  gfx/flags/kuriatema_rebels .tga
  gfx/flags/manago_poku_rebels.tga
  gfx/flags/molten_eternity_rebels.tga
  gfx/flags/mumambarra_rebels.tga
  gfx/flags/speaking_memory_rebels.tga
  gfx/flags/transmutative_path_rebels.tga
  gfx/flags/volcanic_truth_rebels.tga
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

A province highlight
  missions/Eighard_Missions.txt
Due: none

new blademarches icons
  gfx/interface/government_reform_icons/blademarches_kingdom.dds
  gfx/interface/missions/mission_blademarches_1.dds
  gfx/interface/missions/mission_blademarches_2.dds
  interface/missionicons_anb.gfx
  missions/Blademarches_Missions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
