Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

estate orgs different
  common/estate_privileges/estate_mages_privileges.txt
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

Bugfixes
  common/countries/Kamatoi Haeraitou.txt
  common/countries/Kamutu Taratu Mahikou Amatou.txt
  common/countries/Kaora To Tatau To.txt
  common/countries/Konei Hei Awhina.txt
  common/countries/Matakirua.txt
  common/countries/Ru Ana A Halana.txt
  common/countries/Sa'paomi.txt
  common/countries/Tamariki Poupou.txt
  common/countries/Taokakurekohurukauaia.txt
  common/countries/Taurite.txt
  common/countries/Toa Tangaroa.txt
  common/countries/Tohuhanga.txt
  common/cultures/anb_cultures.txt
Due: none

Increasing Roadwarrior loan size
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

Making all the Insyaa religions hate each other less
  common/religions/00_anb_religion.txt
Due: none

Holohana balance patch
  common/rebel_types/holohana_armorollo_rebels.txt
  common/rebel_types/holohana_chirping_locust_rebels.txt
  common/rebel_types/holohana_deceiving_spiked_turtle_flower_rebels.txt
  common/rebel_types/holohana_devouring_rain_rebels.txt
  common/rebel_types/holohana_forest_wide_and_dim_rebels.txt
  common/rebel_types/holohana_gods_distorting_rainbow_rebels.txt
  common/rebel_types/holohana_great_bone_taker_rebels.txt
  common/rebel_types/holohana_great_feathered_flower_rebels.txt
  common/rebel_types/holohana_great_wind_rebels.txt
  common/rebel_types/holohana_high_cretin_rebels.txt
  common/rebel_types/holohana_maliu_fanua.txt
  common/rebel_types/holohana_mawutt_rebels.txt
  common/rebel_types/holohana_mlakulon_rebels.txt
  common/rebel_types/holohana_nauhona_rebels.txt
  common/rebel_types/holohana_pilpala_rebels.txt
  common/rebel_types/holohana_raven_kraken_rebels.txt
  common/rebel_types/holohana_somnambulist_rebels.txt
  common/rebel_types/holohana_the_hopping_plateau_rebels.txt
  common/rebel_types/holohana_the_watcher.txt
  common/rebel_types/holohana_vibranox_rebels.txt
  common/technologies/mil.txt
  common/units/holohana_1_holohanaarty.txt
Due: none

Its not needed anymore
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
Due: none

changed the way monuments bonus effect works.
  common/buildings/00_buildings.txt
  common/estate_privileges/estate_lowercastes_privileges.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  common/trading_policies/00_trading_policies.txt
  interface/anb_great_project.gfx
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

a bugfix for CoT upgrade.
  common/on_actions/00_on_actions.txt
Due: none

yudunyovi deity fix
  common/custom_gui/countryreligionview.txt
  events/YudunyoviEvents.txt
Due: Events Encoding

suhan bug?
  common/event_modifiers/anb_rahen_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

landshark fix
  decisions/LandsharkDecisions.txt
  events/GroupFlavour_Exodus_Goblins.txt
  localisation/Flavour_Landshark_U11_l_english.yml
  missions/Landshark_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

ebbusubtu pilgrim fix
  events/Flavour_Bulwar.txt
  localisation/anb_great_projects_l_english.yml
Due: Events Encoding, Localization Encoding

endhuvi fixes
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_rahen.txt
  decisions/EndhuviDecision.txt
  events/Flavour_Endhuvi_R36.txt
  events/RahenRajEvents.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  map/provincegroup.txt
  missions/Endhuvi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

endhuvi debate changes
  customizable_localization/anb_customizable_localization.txt
  events/Flavour_Endhuvi_R36.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
Due: Events Encoding, Localization Encoding

another bugfix for CoT upgrade.
  common/on_actions/00_on_actions.txt
Due: none

bugfix
  common/great_projects/anb_monuments_sarhal.txt
Due: none

Fix holophana bug migrating 1 year too slowly
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
Due: none

Ward conduit art by AdamT
  common/event_modifiers/anb_insyaa_modifiers.txt
  gfx/interface/custom_gui/province_UI/ward_conduit_button.dds
  gfx/interface/ideas_EU4/ward_conduit.dds
  interface/provinceview.gfx
  interface/provinceview.gui
Due: none

Holohana rampage when blocked for 5 years
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
  common/scripted_triggers/anb_scripted_triggers_holohana.txt
  events/holohana_events.txt
Due: Events Encoding

Add ward conduit province button protecting vs holohana
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_holohana.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  interface/provinceview.gui
  localisation/anb_generic_insyaa_l_english.yml
Due: Localization Encoding

bugfix again...
  common/great_projects/anb_monuments_sarhal.txt
Due: none

rewrite how triplets works...
  common/buildings/00_buildings.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/estate_lowercastes_privileges.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
Due: none

clear flags given on_upgrade.
  common/great_projects/anb_monuments_sarhal.txt
Due: none

.
  localisation/Flavour_Flying_Hound_B43_l_english.yml
  missions/Flying_Hound_Missions.txt
Due: Localization Encoding

AAAAAAAAAAAAAAAAA
  events/Flavour_Danggun_Y93.txt
  events/PajeongEvents.txt
  localisation/anb_tooltips_l_english.yml
Due: Events Encoding, Localization Encoding

Can play as releasables now
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  events/PajeongEvents.txt
Due: Events Encoding

ope
  events/PajeongEvents.txt
Due: Events Encoding

Ope
  events/PajeongEvents.txt
Due: Events Encoding

Useless modifiers
  common/event_modifiers/anb_holohana_modifiers.txt
Due: none

war wizards easier to mod
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  localisation/Flavour_Wyvernheart_B39_l_english.yml
  localisation/anb_estate_mages_l_english.yml
  localisation/anb_magic_ruler_l_english.yml
Due: Localization Encoding

fixes
  common/estate_privileges/01_church_privileges.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  events/Flavour_Cangji_V05.txt
  localisation/Flavour_Cangji_V05_l_english.yml
  localisation/anb_mercs_l_english.yml
  missions/Cangji_Missions.txt
Due: Events Encoding, Localization Encoding

Custom Diplo Action Framework
  common/custom_gui/countrydiplomacyview.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  interface/countrydiplomacyview.gui
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Localization Encoding

Standard Effect
  common/custom_gui/countrydiplomacyview.txt
  events/Flavour_Orenvalyam_U39.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Events Encoding, Localization Encoding

fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Cangji_V05.txt
  missions/Cangji_Missions.txt
Due: Events Encoding

Rest of it
  common/custom_gui/countrydiplomacyview.txt
  common/event_modifiers/anb_orenvalyam_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_taychend.txt
  events/Flavour_Orenvalyam_U39.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding, Localization Encoding

Done
  common/custom_gui/countrydiplomacyview.txt
  events/Flavour_Orenvalyam_U39.txt
Due: Events Encoding

Rest of event images
  events/Flavour_Orenvalyam_U39.txt
Due: Events Encoding

some bugfixs..
  common/buildings/00_buildings.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/trading_policies/00_trading_policies.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

add hidden effect for on_upgrade
  common/great_projects/anb_monuments_sarhal.txt
Due: none

Xiyun name change
  common/ideas/anb_country_ideas.txt
  history/countries/Y21 - Xiyun.txt
  localisation/Flavour_Bianfang_Y09_l_english.yml
  localisation/Flavour_TheCommand_R62_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
