Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Tanizu ideas and stubs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Almost forgor
  history/provinces/5642 - Akayarakh.txt
  history/provinces/5645 - Yusazas.txt
Due: none

E
  history/countries/S37 - Swift_Legged_Bongo.txt
  missions/Khao_Elnak_Missions.txt
Due: none

Nuugdan Tsarai culture conversion bandaid fix
  events/Flavour_NuugdanTsarai_Y91.txt
Due: Events Encoding

aaaa why did encoding break
  events/Flavour_NuugdanTsarai_Y91.txt
Due: Events Encoding

AAAA WHY DID THAT MAKE IT WORSE
  events/Flavour_NuugdanTsarai_Y91.txt
Due: Events Encoding

ok thats better
  events/Flavour_NuugdanTsarai_Y91.txt
Due: Events Encoding

Title case
  localisation/Flavour_Seghdihr_H78_l_english.yml
Due: Localization Encoding

rajnadhaga consistent vassalization
  events/Flavour_Rajnadhaga_R07.txt
Due: Events Encoding

Ikogshaantus Part 2 and Consecration
  common/cb_types/00_cb_types.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_lake_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/anb_setup_effects.txt
  common/scripted_functions/00_scripted_functions.txt
  common/scripted_triggers/anb_scripted_triggers_lake_federation.txt
  decisions/LakeFederationDecisions.txt
  events/Elections.txt
  events/Flavour_Ikogshaantus_J52.txt
  localisation/Flavour_Ikogshaantus_J52_l_english.yml
  localisation/anb_areas_l_english.yml
  map/area.txt
  map/region.txt
  missions/Ikogshaantus_Missions.txt
  missions/Kalsyto_Missions.txt
  missions/Sunijalla_Missions.txt
  missions/Urviksten_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Use event_target instead of vague FROM
  common/scripted_effects/forbidden_land_scripted_effects.txt
Due: none

move inlined custom tooltips to a loc file
  common/scripted_effects/forbidden_land_scripted_effects.txt
  events/forbidden_lands_sedentarization.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

hisost yamok likes gnolls
  history/countries/S23 - Hisost Yamok.txt
Due: none

Define loc to keys; a lil new loc; tiny refactor culture scripted effect
  common/scripted_effects/forbidden_land_scripted_effects.txt
  customizable_localization/anb_custom_loc_sedentarization.txt
  events/forbidden_lands_sedentarization.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

GH MT adjusment
  events/Flavour_Nimscodd_A06.txt
  missions/Nimscodd_Missions.txt
Due: Events Encoding

Make blocker removal instant; fix bugs I just introduced; prettify a loc
  common/event_modifiers/forbidden_lands_sedentarization_modifiers.txt
  common/scripted_effects/forbidden_land_scripted_effects.txt
  customizable_localization/anb_custom_loc_sedentarization.txt
  events/forbidden_lands_sedentarization.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

Modifier fixe Aeric requested
  common/event_modifiers/anb_insyaa_modifiers.txt
  history/provinces/6212 - Kauhonu.txt
  history/provinces/6225 - Honuk‡.txt
  history/provinces/6230 - K‹'ino'puka.txt
  history/provinces/6874 - Ablandar.txt
Due: none

Tilathi NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

adjust startup to match delayed war
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

babhagama!
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Satriralaam decison fix
  decisions/SatrialaamFormable.txt
  localisation/anb_regions_l_english.yml
  map/provincegroup.txt
Due: Decisions Encoding, Localization Encoding

Satrialaam fix v 2
  decisions/SatrialaamFormable.txt
Due: Decisions Encoding

OrdaAldresia localisation fixes.
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
Due: Events Encoding, Localization Encoding

Adjust unintended changes found in review
  common/cb_types/00_cb_types.txt
  common/estate_privileges/anb_privileges.txt
  missions/Orda_Aldresia_Missions.txt
Due: none

OrdaAldresia mission and event fixes.
  common/cb_types/00_cb_types.txt
  common/estate_privileges/anb_privileges.txt
  missions/Orda_Aldresia_Missions.txt
  missions/Ravelian_State_Missions.txt
Due: none

OrdaAldresia Ravelian mission not able to complete.
  missions/Orda_Aldresia_Missions.txt
Due: none

Vandipha paragraph breaks
  localisation/Flavour_Vandipha_L62_l_english.yml
Due: Localization Encoding

fixes +cataboek loc
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

take 3
  decisions/SatrialaamFormable.txt
  history/countries/N43 - Pukamana.txt
Due: Decisions Encoding

More Insyaan Stuff
  history/countries/N69 - Aqtlapuai.txt
  history/provinces/6170 - Tlamotku.txt
  history/provinces/6868 - Luncangka.txt
  localisation/anb_countries_l_english.yml
Due: Localization Encoding

select_highest_dev_province_with_limit changes
  common/scripted_effects/anb_scripted_effects.txt
Due: none

Noukhani pantheon GUI part1
  common/custom_gui/countryreligionview.txt
  gfx/interface/custom_gui/noukhani_pantheon_pilgrimage_furled.dds
  gfx/interface/custom_gui/noukhani_pantheon_pilgrimage_main.dds
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
Due: none

fix
  history/countries/N69 - Aqtlapuai.txt
Due: none

Sun elf formables
  common/countries/Nazakand.txt
  common/countries/Nursuran.txt
  common/country_tags/anb_countries.txt
  common/ideas/CoT_country_ideas.txt
  common/ideas/CoT_country_ideas_2.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  decisions/CoT_Sungarden_Formables.txt
  events/CoT_ideas_upgrade_events.txt
  history/countries/F21 - Birzartanses.txt
  history/countries/F25 - Sareyand.txt
  history/countries/F34 - Azka-Evran.txt
  history/countries/F37 - Irrliam.txt
  history/countries/F42 - Varamhar.txt
  history/countries/F83 - Setadazar.txt
  history/countries/F84 - Kinvefirel.txt
  history/countries/F87 - Panuses.txt
  localisation/CoT_i_nations_l_english.yml
  localisation/cot_nation_ideas_2.yml
  localisation/cot_nation_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

[Steam] Covenblad Advisor cost fix
  common/event_modifiers/anb_covenblad_modifiers.txt
Due: none

Revert "PR #8708 [Steam] Jaddari zealotry bugfix"
  common/cultures/anb_cultures.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_ynn_worship.txt
  common/event_modifiers/racial_admin_military.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/ideas/00_basic_ideas.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/religious_conversions/00_religious_conversions.txt
  common/scripted_functions/00_scripted_functions.txt
  decisions/OrcFormables.txt
  decisions/TheJadd.txt
  events/YnnEvents.txt
  events/YnnsmanEvents.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_troll.txt
  events/anb_racial_pop_misc.txt
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_pop_l_english.yml
  localisation/ynn_loc_l_english.yml
  missions/Marblehead_Missions.txt
  missions/Venail_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

merge error fixes
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fix treasury check and highlight
  missions/Dhenijanraj_Missions.txt
Due: none

Adjust tooltip positioning
  decisions/SkaldhyrricDecisions.txt
  localisation/anb_religions_l_english.yml
Due: Decisions Encoding, Localization Encoding

Various Insyaa Fixes
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
  common/tradenodes/00_tradenodes.txt
  history/countries/N11 - Cuezaltol Heiau.txt
  history/countries/N28 - Mokuakua.txt
  history/countries/N58 - Kaioh-Thau.txt
  history/countries/N60 - Harjo.txt
  history/countries/N69 - Aqtlapuai.txt
  localisation/prov_names_l_english.yml
Due: Localization Encoding
