Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Goliath modifier icon
  common/event_modifiers/anb_mission_modifiers.txt
  gfx/interface/ideas_EU4/the_goliath.dds
Due: none

Fix
  missions/Karshyr_Missions.txt
Due: none

Fix
  localisation/Flavour_Karshyr_S15_l_english.yml
  missions/Karshyr_Missions.txt
Due: Localization Encoding

More excavation rewards, also some fixes
  common/event_modifiers/CoT_excavation_modifiers.txt
  common/ideas/CoT_country_ideas.txt
  events/CoT_excavate_rewards.txt
  history/countries/W47 - Musaskadem.txt
  history/countries/W49 - Cliffhanger.txt
  history/countries/W50 - Shaszkuma.txt
  history/countries/W51 - VrakKollok.txt
  history/countries/W63 - BrakteshOrder.txt
  history/countries/W83 - Icewindal.txt
  history/countries/W90 - Stucktongue.txt
  history/countries/X16 - Wyvernborn.txt
  localisation/CoT_excavations_l_english.yml
Due: Events Encoding, Localization Encoding

same for raja
  common/ideas/00_basic_ideas.txt
Due: none

fixes and some QoL
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/rebel_types/westmoors_clans.txt
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
  common/scripted_triggers/anb_scripted_triggers_celmaldor.txt
  events/Flavour_Celmaldor_Z22.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Events Encoding, Localization Encoding

commits
  common/event_modifiers/anb_vaengheim_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/parliament_issues/anb_vaengheim.txt
  common/personal_deities/anb_skaldhyrric_faith.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
  events/Flavour_Vaengheim_Z88.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Events Encoding, Localization Encoding

Anzalkatsa Naga Agenda, Rayaz Estate Added to Trigger
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
Due: none

Fixing Dev Cost
  common/event_modifiers/anb_unguldavor_modifiers.txt
Due: none

Fix so that these events don't trigger for Anzalkatsa
  events/HighPhilosophy.txt
Due: Events Encoding

solving stuff
  common/event_modifiers/anb_celmaldor_modifiers.txt
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
  events/Flavour_Celmaldor_Z22.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Events Encoding, Localization Encoding

Auto stash before merge of "Khatalashya" and "Mastellor/Konolkhatep"
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Khatalashya_S81.txt
Due: Events Encoding

balance
  common/event_modifiers/EscanniOrcsandGoblins_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
  common/ideas/zz_group_ideas.txt
Due: none

I hope its okaay
  common/event_modifiers/anb_konolkhatep_modifiers.txt
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

localisation
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

Small favor
  events/Flavour_ZokkaJaddariWar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

And Legions
  events/Flavour_Konolkhatep_F66.txt
Due: Events Encoding

religious organization and illusion project
  common/ancestor_personalities/00_core.txt
  common/estate_privileges/estate_mages_privileges.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/AnbennarSetup.txt
  events/EstateOrganization.txt
  events/Magic_Project_Events.txt
  events/NewSunCultEvents.txt
  localisation/anb_estate_mages_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  missions/Elikhand_Missions.txt
  missions/Ovdal_az_An_Missions.txt
Due: Events Encoding, Localization Encoding

Salla Fealgarn Round 2 Feedback + Bug Fixes
  common/event_modifiers/anb_mission_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  customizable_localization/anb_custom_salla_fealgarn_localization.txt
  events/Flavour_SallaFealgarn_I30.txt
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
  missions/Salla_Fealgarn_Missions.txt
Due: Events Encoding, Localization Encoding

hmm fix
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

hmmmmmmm part 2
  customizable_localization/anb_custom_salla_fealgarn_localization.txt
Due: none

whitespace
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
Due: none

duplicate tag fix
  common/country_tags/anb_countries.txt
  history/countries/M79 - dummy_colors_of_life.txt
Due: none

limit > if
  events/anb_MiscEvents.txt
Due: Events Encoding

Frostheart Vision Setup 1
  common/scripted_effects/anb_setup_effects.txt
Due: none

Deepvale rename to Valepass
  localisation/anb_regions_l_english.yml
  map/region.txt
  map/superregion.txt
Due: Localization Encoding

fix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  missions/Vaengheim_Missions.txt
Due: none

for people waiting with disaster
  common/event_modifiers/anb_konolkhatep_modifiers.txt
  common/scripted_effects/konolkhatap_scripted_effects.txt
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

More fixes + Konol mission icons
  common/on_actions/00_on_actions.txt
  common/scripted_effects/konolkhatap_scripted_effects.txt
  events/Flavour_Konolkhatep_F66.txt
  events/MonstrousEvents.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  missions/Konolkhatep_Missions.txt
Due: Events Encoding, Localization Encoding

Smoll fix to the road projects
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

Why bots so bad with cash
  common/event_modifiers/anb_konolkhatep_modifiers.txt
  common/scripted_effects/konolkhatap_scripted_effects.txt
  events/Flavour_Konolkhatep_F66.txt
Due: Events Encoding

EoA Emperor can no longer force-convert other's subjects
  common/diplomatic_actions/00_diplomatic_actions.txt
  localisation/Flavour_EOA_l_english.yml
Due: Localization Encoding

el chango del fixo
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Celmaldor_Z22.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
Due: Events Encoding, Localization Encoding

Removing Overused Perm Modifiers
  events/Flavour_Unguldavor_Z52.txt
Due: Events Encoding

last fix
  localisation/Flavour_Eborthil_A47_l_english.yml
Due: Localization Encoding

Building stuff
  common/buildings/00_buildings.txt
  common/buildings/04_buildings_tiered.txt
Due: none

Frostheart Diplo 1
  common/event_modifiers/CoT_misc_modifiers.txt
  history/countries/W79 - ReaversHost.txt
  history/countries/W80 - Plattrijk.txt
  history/countries/X18 - Ashspear.txt
  history/countries/X19 - Houndborn.txt
  history/diplomacy/CoT_Reaver_Invaders.txt
  history/diplomacy/Diveni_alliances.txt
  history/wars/CoT_Houndborn_Invasion.txt
  history/wars/CoT_Reaver_Invasion.txt
  history/wars/CoT_Smallcountry_Invasion.txt
Due: none

FlungHead Tribal Land Bonk
  history/provinces/829 - Silverdocks.txt
Due: none

Deadgaze Mount Doom
  map/terrain.txt
Due: none

Frostheart Vision Setup 2
  common/scripted_effects/anb_setup_effects.txt
Due: none
