Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

invalid flag modifier (used as flag). How was this not staged for commit
  common/event_modifiers/forbidden_lands_sedentarization_modifiers.txt
Due: none

All_new_trade_connections
  common/ideas/anb_country_ideas.txt
  common/tradenodes/00_tradenodes.txt
  localisation/anb_trade_l_english.yml
  localisation/prov_names_l_english.yml
  map/climate.txt
  map/terrain.txt
Due: Localization Encoding

Revert "Merge remote-tracking branch 'origin/Insyaa' into Insyaa-Name"
  common/countries/Mekeana.txt
  common/country_tags/anb_countries.txt
  common/on_actions/00_on_actions.txt
  decisions/InsyaaFormables.txt
  history/countries/N20 - Mekeana.txt
  history/provinces/6164 - Xoxoktaula.txt
  localisation/anb_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

removing this cause it didnt work
  common/subject_types/00_subject_types.txt
Due: none

flooded province PTM removal
  common/event_modifiers/anb_dwarovar_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  decisions/DiggyDiggyHole.txt
  decisions/MireMawDecisions.txt
  events/DiggyDiggyHoleEvents.txt
  history/countries/J32 - Mire Maw.txt
  history/provinces/4123 - Porgirs_Valley.txt
  history/provinces/4125 - Royal_Terrace.txt
  history/provinces/4129 - Terraceway.txt
  history/provinces/4131 - Common_Terrace.txt
  history/provinces/4142 - Serpents_Vale.txt
  history/provinces/4143 - Lamb_Hills.txt
  history/provinces/4145 - Hornriver.txt
  history/provinces/4151 - Kheness_Swamp.txt
  history/provinces/4152 - Assembly_Terrace.txt
  history/provinces/4158 - Kingsrock_Hill.txt
  history/provinces/4164 - Northvale.txt
  history/provinces/4166 - Verkal_Hul.txt
  localisation/anb_diggy_diggy_hole_l_english.yml
  missions/Haraz_Orldhum_Missions.txt
  missions/Krakdhumvror_Missions.txt
  missions/Railskulker_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

edits to stuff
  history/provinces/3061 - PROV3061.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

new tooltips
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Localization Encoding

revisions
  common/event_modifiers/anb_dwarovar_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/DiggyDiggyHoleEvents.txt
  history/countries/J32 - Mire Maw.txt
Due: Events Encoding

more minor edits
  history/provinces/6895 - Ko'atepec.txt
  localisation/prov_names_l_english.yml
Due: Localization Encoding

last minute monsoon tweak
  map/region.txt
Due: none

Fix Elikhand mission allow upgraded buildings
  missions/Elikhand_Missions.txt
Due: none

Open the Storm Wall with the Rending
  common/great_projects/anb_great_projects.txt
  events/HalessiSpirits.txt
Due: Events Encoding

Fix Godlost loc teachings
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Fix typo
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

Fix typo in gui file Confident -> Confidant
  gfx/interface/event_interfaces/event_button_become_confident.dds
  gfx/interface/event_interfaces/event_button_become_confident_g.dds
Due: none

Fix Kulugiash mixed up custom tooltip
  localisation/Flavour_Kulugiash_L08_l_english.yml
Due: Localization Encoding

Fix Yinquan decision after forming formable
  decisions/YinquanDecisions.txt
Due: Decisions Encoding

Eordan loc fixes
  localisation/Flavour_Jaddari_F46_l_english.yml
  localisation/Flavour_Kobildzan_Z38_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/seasonal_courts_l_english.yml
Due: Localization Encoding

rosande tweaks
  events/Flavour_Rosande_Z35.txt
  localisation/Flavour_Rosande_Z35_l_english.yml
  missions/Rosande_Missions.txt
Due: Events Encoding, Localization Encoding

Kaioh-Thau & Haupoaka NI
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Giberd Typo
  localisation/Flavour_Giberd_A81_l_english.yml
Due: Localization Encoding

g
  common/province_names/mteibhar.txt
Due: none

Name lists
  common/countries/Behzmukijabu.txt
  common/countries/Mteibhara.txt
  common/countries/Ordejwad.txt
  common/countries/Qashdeam.txt
  common/countries/Solansash.txt
  common/countries/Zmandfaes.txt
  common/cultures/anb_cultures.txt
Due: none

[Steam] Taychend, Larankar, and Nekhei Bugfixes and Changes
  common/custom_gui/zz_mission_content.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_mechanics/anb_taychend_vainglory.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Eneion_G55.txt
  events/Flavour_Larankar_G64.txt
  events/Flavour_Taychendi_Empire_J84.txt
  events/kheionai_events.txt
  localisation/Flavour_Larankar_G64_l_english.yml
  localisation/Flavour_TaychendiEmpire_J84_l_english.yml
  localisation/anb_regions_l_english.yml
  map/provincegroup.txt
  missions/Zz_Taychendi_Empire_Missions.txt
Due: Events Encoding, Localization Encoding

Ope
  common/diplomatic_actions/00_diplomatic_actions.txt
  events/kheionai_events.txt
  missions/Zz_Taychendi_Empire_Missions.txt
Due: Events Encoding

fix
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
Due: none

fixed highlight
  missions/Covenblad_Missions.txt
Due: none

Anb_cultures fix
  common/cultures/anb_cultures.txt
Due: none

t21
  common/event_modifiers/anb_misc_modifiers.txt
  events/institutions.txt
  localisation/anb_modifiers_l_english.yml
Due: Events Encoding, Localization Encoding

213
  events/institutions.txt
Due: Events Encoding

132
  events/institutions.txt
Due: Events Encoding

UI_fix_close_button
  interface/countrydecisionsview.gui
Due: none

loc and others
  common/church_aspects/anb_suhans_praxis.txt
  common/religions/00_anb_religion.txt
  events/SuhansPraxisEvents.txt
  interface/countryreligionview.gfx
  localisation/anb_religions_l_english.yml
  localisation/suhans_praxis_l_english.yml
Due: Events Encoding, Localization Encoding

21
  events/institutions.txt
Due: Events Encoding

Besolaki Bug
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Simpify Black Castanor Formation Requirements Tooltip
  decisions/BlackCastanorNation.txt
Due: Decisions Encoding

More Insyya NIs
  common/ideas/anb_country_ideas.txt
  history/provinces/6176 - Donyatabraken.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Jaddari event typo fix
  localisation/Flavour_Jaddari_F46_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
