Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Nudging export
  map/positions.txt
Due: none

Konwell Becoming Based Pt 2
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Konwell_Missions.txt
Due: none

General pips and defines
  common/defines.lua
Due: none

Fixed Exelaire and Uelaire
  common/ideas/CoT_country_ideas.txt
  common/static_modifiers/00_static_modifiers.txt
  localisation/tmm_l_english.yml
Due: Localization Encoding

Naval force limit buildings scale on development
  common/buildings/00_buildings.txt
  common/buildings/02_CoT_buildings.txt
  common/event_modifiers/CoT_misc_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/CoT_misc_events.txt
  localisation/CoT_misc_l_english.yml
Due: Events Encoding, Localization Encoding

Esmari ideas
  common/ideas/CoT_country_ideas.txt
  history/countries/A62 - Telgeir.txt
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

Esedor gov reform
  common/government_reforms/07_government_reforms_COT.txt
  common/governments/00_governments.txt
  decisions/CoT_Cannorwake_Formables.txt
  localisation/CoT_gov_reforms_l_english.yml
Due: Decisions Encoding, Localization Encoding

Lorentish idea name loc
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

MISC
  localisation/CoT_prov_names_adj_l_english.yml
  localisation/CoT_regions_n_above.yml
  localisation/goose_1_35_l_english.yml
Due: Localization Encoding

Giberd, Portnamm, Iochand ideas, Iochand formable changes
  common/government_reforms/07_government_reforms_COT.txt
  common/ideas/CoT_country_ideas.txt
  common/ideas/anb_country_ideas.txt
  decisions/CoT_Cannorwake_Formables.txt
  decisions/GnomishNation.txt
  events/CoT_ideas_upgrade_events.txt
  history/countries/A19 - Portnamm.txt
  history/countries/A81 - Giberd.txt
  localisation/cot_nation_ideas_l_english.yml
  missions/Giberd_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Comment out Portnamm and Iochand vanilla ideas
  common/ideas/anb_country_ideas.txt
Due: none

Carnetori admin bias bump
  common/ideas/CoT_country_ideas.txt
Due: none

Actually compared it to others lmao
  common/ideas/CoT_country_ideas.txt
Due: none

Wesdam oopsie fixed tm
  decisions/CoT_Cannorwake_Formables.txt
  missions/Wesdam_Missions.txt
Due: Decisions Encoding

Alenic idea loc
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

Damerian idea localisation
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

Hill Troll All Along
  history/countries/W37 - Garnettoof.txt
  history/provinces/2976 - Garnetheart.txt
Due: none

Konwell Becoming Based Pt 3
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Konwell_Missions.txt
Due: none

Nimscodd, Gnomish Hierarchy ideas
  common/ideas/CoT_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  common/static_modifiers/00_static_modifiers.txt
  decisions/CoT_Cannorwake_Formables.txt
  decisions/GnomishNation.txt
  events/CoT_ideas_upgrade_events.txt
  history/countries/A06 - Nimscodd.txt
  localisation/cot_nation_ideas_l_english.yml
  localisation/goose_1_35_l_english.yml
  localisation/tmm_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Nottlan fix
  decisions/CoT_Cannorwake_Formables.txt
Due: Decisions Encoding

BLuefoot and Redfoot Halfings ideas
  common/ideas/CoT_country_ideas.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  events/CoT_ideas_upgrade_events.txt
  history/countries/A64 - Appleton.txt
  history/countries/A65 - Pearview.txt
  history/countries/A66 - Butterburn.txt
  history/countries/A67 - Bigwheat.txt
  history/countries/A68 - Thomsbridge.txt
  history/countries/A69 - Coppertown.txt
  history/countries/A70 - Elkmarch.txt
  history/countries/A71 - Greymill.txt
  history/countries/B10 - Small Fellows.txt
  history/countries/Z90 - Turnwell.txt
  localisation/cot_nation_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

fixed localisation oopsie
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

Lil Gerudian Fix
  history/provinces/7958 - HpassFou.txt
  history/provinces/7960 - HpassTwo.txt
  map/terrain.txt
Due: none

Konwell Becoming Based Pt 4
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/07_government_reforms_COT.txt
  common/governments/00_governments.txt
  common/province_triggered_modifiers/cot_triggered_modifiers.txt
  common/triggered_modifiers/COT_triggered_modifiers.txt
  events/Flavour_Konwell_A35.txt
  missions/Konwell_Missions.txt
Due: Events Encoding

Nottlan, Sottlan, Small Country ideas
  common/countries/Nottlan.txt
  common/countries/Sottlan.txt
  common/ideas/CoT_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  decisions/CoT_Cannorwake_Formables.txt
  decisions/HalflingNation.txt
  events/CoT_ideas_upgrade_events.txt
  localisation/CoT_i_nations_l_english.yml
  localisation/cot_nation_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Viswall, Beepeck, Newshire ideas
  common/ideas/CoT_country_ideas.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  events/CoT_ideas_upgrade_events.txt
  history/countries/A12 - Beepeck.txt
  history/countries/Z39 - Viswall.txt
  localisation/cot_nation_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Konwell, Terr, Leslinpar, Estallen ideas
  common/event_modifiers/anb_mythical_cavalry_modifiers.txt
  common/ideas/CoT_country_ideas.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  decisions/CoT_Cannorwake_Formables.txt
  decisions/EsmariNation.txt
  events/CoT_ideas_upgrade_events.txt
  events/CoT_misc_events.txt
  history/countries/A35 - Konwell.txt
  history/countries/A37 - Terr.txt
  history/countries/A92 - Leslinpar.txt
  history/countries/A93 - Estallen.txt
  localisation/anb_mythical_cavalry_l_english.yml
  localisation/cot_nation_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

STATIC MODIFIERS #1
  common/static_modifiers/00_static_modifiers.txt
Due: none

PROF STAGES CHANGES
  common/professionalism/00_modifiers.txt
Due: none

Wex ambition adjusted.
  common/ideas/CoT_country_ideas.txt
Due: none

Bankruptcy = Bad
  common/defines.lua
Due: none

Esmaria part idk
  common/ideas/CoT_country_ideas.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  history/countries/A44 - Esmaraine.txt
  history/countries/A62 - Telgeir.txt
  history/countries/A94 - Gabmorionn.txt
  history/countries/A95 - Themarenn.txt
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

Can't dec humiliate on players
  common/cb_types/00_cb_types.txt
Due: none

Turn ruler into powerful general
  decisions/CoT_misc_decisions.txt
  events/CoT_misc_events.txt
  localisation/cot_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Idea bump for T1 vassals of T3 overlords
  decisions/CoT_Cannorwake_Formables.txt
  decisions/CoT_misc_decisions.txt
  localisation/CoT_misc_l_english.yml
Due: Decisions Encoding, Localization Encoding

Konwell Becoming Based Pt 5
  events/Flavour_Konwell_A35.txt
  localisation/Flavour_Konwell_A35_l_english.yml
  missions/Konwell_Missions.txt
Due: Events Encoding, Localization Encoding

Bennon, Ryalan Temple, Seinathil, Deamoine, Varaine ideas
  common/ideas/CoT_country_ideas.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  events/CoT_ideas_upgrade_events.txt
  history/countries/A39 - Bennon.txt
  history/countries/A43 - Ryalan Temple.txt
  history/countries/A90 - Seinathil.txt
  history/countries/A91 - Deamoine.txt
  history/countries/A99 - Varaine.txt
  localisation/cot_nation_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Zael's furry OC fixed
  history/countries/W00 - Flame Gnolls.txt
Due: none

W27 FLAG
  gfx/flags/W27.tga
Due: none

fixed localisation
  localisation/CoT_prov_names_I_english.yml
  localisation/CoT_prov_names_adj_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
