Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Seeking conflict change
  events/The_Hunt_events.txt
Due: Events Encoding

Base Sandscorch update 6
  history/provinces/3260 - Kazykad.txt
  history/provinces/5621 - Furkis.txt
  history/provinces/5822 - Itralava.txt
  history/provinces/5824 - Onkelymapo.txt
  history/provinces/5825 - Tibokbo.txt
  history/provinces/5826 - Ibidisfa.txt
  history/provinces/5827 - Zadaivy.txt
  history/provinces/6030 - Tsutshaga.txt
  history/provinces/6598 - Havoapahai.txt
  history/provinces/6602 - Torapilefa.txt
  history/provinces/6605 - Afomapobo.txt
  history/provinces/6607 - Enampireni.txt
  history/provinces/6608 - Jakavafo.txt
  history/provinces/6609 - Mahinosy.txt
  history/provinces/6610 - Mboikata.txt
  history/provinces/6611 - Lanazok.txt
  history/provinces/6612 - Loranakodro.txt
  history/provinces/6613 - Kiankabosy.txt
  history/provinces/6614 - Havivoka.txt
  history/provinces/6615 - Ndyuye.txt
  history/provinces/6616 - Torapivolo.txt
  history/provinces/6617 - Ibidintely.txt
  history/provinces/6618 - Havombo.txt
  history/provinces/6619 - Serakavy.txt
  history/provinces/6620 - Mirenimbo.txt
  history/provinces/6621 - Sikajiola.txt
  history/provinces/6622 - Oronsinoma.txt
  history/provinces/6623 - Rambatsan.txt
  history/provinces/6639 - Layinupala.txt
Due: none

fuzzy fixes
  Sess5.txt
  common/great_projects/anb_dwarovar_dungeons.txt
  missions/HulazKrakazol_Missions.txt
Due: Brackets Syntax

Base Sandscorch update 7
  common/countries/Gharmargma.txt
  common/country_tags/anb_countries.txt
  history/countries/Q02 - Yzhetaladz.txt
  history/countries/X53 - Gharmargma.txt
  history/provinces/3196 - Awinkes.txt
  history/provinces/5675 - Zakx.txt
  history/provinces/5718 - Nhejen.txt
  history/provinces/5731 - Arex.txt
  history/provinces/5732 - Gharr_Marr.txt
  history/provinces/5733 - Farazz.txt
  history/provinces/6306 - Ntilen_Sogo.txt
  history/provinces/6593 - Xorrzagh.txt
  history/provinces/7787 - NewEkha.txt
  map/terrain.txt
Due: none

warjoy fixes
  Sess6.txt
  decisions/GoldenHighway.txt
  missions/Mulen_Missions.txt
Due: Decisions Encoding, Brackets Syntax

Continent fix
  map/continent.txt
Due: none

Bahar areas fix
  map/area.txt
  map/region.txt
  missions/Aqatbar_Missions.txt
  missions/Crathanor_Missions.txt
  missions/Sugamber_Missions.txt
Due: none

Example Policies
  common/ideas/CoT_group_ideas.txt
  common/policies/00_adm.txt
  common/policies/00_dip.txt
  common/policies/00_mil.txt
  common/policies/CoT_policies.txt
Due: none

Loc + crash fix
  common/policies/CoT_policies.txt
  localisation/CoT_policies_l_english.yml
Due: Localization Encoding

Forgor Nationalism lmao
  common/policies/CoT_policies.txt
Due: none

loc
  localisation/CoT_policies_l_english.yml
Due: Localization Encoding

Another crash fix
  common/policies/CoT_policies.txt
  localisation/CoT_policies_l_english.yml
Due: Localization Encoding

save edits sess7
  Sess7.txt
  common/units/undead_10_heavy_skeletal_knights.txt
  common/units/undead_14_scythe_riders.txt
  common/units/undead_18_refined_scythe_riders.txt
  common/units/undead_1_skeletal_knights.txt
  common/units/undead_23_skeletal_hussars.txt
  common/units/undead_28_dread_lancers.txt
  decisions/HulazKrakazolDecisions.txt
Due: Decisions Encoding, Brackets Syntax

Brought back old policies + code cleanup
  common/policies/00_adm.txt
  common/policies/00_dip.txt
  common/policies/00_mil.txt
  common/policies/CoT_policies.txt
  common/scripted_triggers/CoT_scripted_triggers.txt
Due: none

Duplicate Surakes decision
  decisions/Surakes.txt
Due: Decisions Encoding

Artificers FL rebalance
  common/estate_privileges/estate_artifice_privileges.txt
  common/estate_privileges/estate_dragon_command_privileges.txt
Due: none

Culture fixes
  localisation/CoT_cultures_l_english.yml
  localisation/anb_cultures_l_english.yml
Due: Localization Encoding

PE formation addition
  decisions/CoT_Sungarden_Formables.txt
Due: Decisions Encoding

Free Trade fix
  decisions/ConfirmThalassocracy.txt
Due: Decisions Encoding

Tolerance loc
  localisation/powers_and_ideas_l_english.yml
Due: Localization Encoding

Fix vassal/trip thing
  common/new_diplomatic_actions/CoT_idea_groups_actions.txt
Due: none

Vassal switch fix
  common/new_diplomatic_actions/CoT_idea_groups_actions.txt
Due: none

Regions fix
  map/region.txt
Due: none

E-V MT
  missions/EduzVacyn_Missions.txt
Due: none

Divine buff
  common/ideas/CoT_group_ideas.txt
Due: none

Trade Node Yetselhok fix
  common/tradenodes/00_tradenodes.txt
Due: none

Revert "E-V MT"
  missions/EduzVacyn_Missions.txt
Due: none

fix
  map/area.txt
Due: none

Estate Agenda Fix
  events/EstatePrivilegesAndAgendasEvents.txt
Due: Events Encoding

More EV
  events/Flavour_EduzVacyn_F31.txt
  events/Flavour_Irrliam_F37.txt
  localisation/CoT_mission_modifiers_l_english.yml
  missions/EduzVacyn_Missions.txt
Due: Events Encoding, Localization Encoding

Bulwar diplo change
  history/diplomacy/anbennar.txt
  history/diplomacy/bulwar.txt
Due: none

Missed one hehe
  history/diplomacy/bulwar.txt
Due: none

Removed broken Whitescale decision
  decisions/CoT_frostheart_decisions.txt
  events/CoT_whitescale_mission_events.txt
  localisation/CoT_mission_modifiers_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
