Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

comment away
  common/peace_treaties/anb_raj_destabilize_the_raj.txt
  common/peace_treaties/anb_raj_maintain_order.txt
  localisation/raj_l_english.yml
Due: Localization Encoding

WORKING
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

typo
  localisation/Flavour_Karassk_L68_l_english.yml
Due: Localization Encoding

Fixes
  decisions/HalessiFormables.txt
  events/Flavour_Bawa_Simpat_V30.txt
Due: Decisions Encoding, Events Encoding

Culmination
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Penalty
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Tooltip Fun
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Tweak
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

.
  common/on_actions/00_on_actions.txt
  decisions/HalessiFormables.txt
  events/Flavour_Bawa_Simpat_V30.txt
Due: Decisions Encoding, Events Encoding

[new-master] 'Exclaves Use Region Name' Lobby Option Anbennar-specific
  localisation/cossacks_l_english.yml
Due: Localization Encoding

Work
  common/event_modifiers/anb_haless_modifiers.txt
  decisions/HalessiFormables.txt
  events/Flavour_Bawa_Simpat_V30.txt
  events/Ruler.txt
  gfx/flags/V30.tga
  localisation/Flavour_Bawa_Simpat_V30_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

.
  events/Flavour_Bawa_Simpat_V30.txt
Due: Events Encoding

more
  gfx/flags/V30.tga
Due: none

Nightmare fixes
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Ifs
  common/custom_gui/magic_menu.txt
Due: none

Deletion of test events
  events/AHHHHH.txt
Due: Events Encoding

Takta Lupulan 1
  common/great_projects/anb_monuments_rahen_haless.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/spirits_scripted_effects.txt
  decisions/TempleDecisions.txt
  events/HalessiSpirits.txt
  interface/anb_great_project.gfx
  localisation/anb_great_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

fix karakhanbar treant event
  events/Flavour_Karakhanbar_Z54.txt
Due: Events Encoding

K
  history/countries/B00 - Kaztubar.txt
Due: none

Preliminary Update.
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

Recreated the code.
  common/custom_gui/magic_menu.txt
Due: none

charkuchar tunnels
  common/event_modifiers/charkuchin_kobold_modifiers.txt
  history/provinces/6418 - PROV6418.txt
  history/provinces/6455 - PROV6455.txt
  history/provinces/6458 - PROV6458.txt
  localisation/anb_charkuchin_l_english.yml
  map/adjacencies.csv
Due: Localization Encoding

first_pass_trade_weight_insyaa
  common/tradegoods/00_tradegoods.txt
Due: none

fixes
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Bawa_Simpat_V30.txt
  localisation/Flavour_Bawa_Simpat_V30_l_english.yml
Due: Events Encoding, Localization Encoding

Takta Lupulan 2
  common/great_projects/anb_monuments_rahen_haless.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_haless.txt
  events/HalessiSpirits.txt
  localisation/anb_great_projects_l_english.yml
Due: Events Encoding, Localization Encoding

More
  localisation/anb_cultures_l_english.yml
Due: Localization Encoding

Takta Lupulan 3
  common/scripted_triggers/anb_scripted_triggers_haless.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  events/HalessiSpirits.txt
  localisation/anb_great_projects_l_english.yml
Due: Events Encoding, Localization Encoding

.
  common/buildings/00_buildings.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/anb_beikling_events.txt
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
Due: Events Encoding, Localization Encoding

...
  events/Flavour_Tsukqiao.txt
Due: Events Encoding

.
  missions/Tsukqiao_Missions.txt
Due: none

Takta Lupulan 4
  common/religions/00_anb_religion.txt
  decisions/TempleDecisions.txt
  events/HalessiSpirits.txt
  localisation/anb_great_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Deletion of Comments
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

Staging so I can delete things
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none

Deleting
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Bulwar outwards
  common/on_actions/00_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  customizable_localization/anb_customizable_localization.txt
  decisions/BulwarCoolDecisions.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
  localisation/Flavour_Naleni_F55_l_english.yml
  missions/Naleni_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Religion
  common/on_actions/00_on_actions.txt
Due: none

Tooltip Fun
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

One more flag
  common/on_actions/00_on_actions.txt
  decisions/BulwarCoolDecisions.txt
Due: Decisions Encoding

Fixed Tooltips and Tooltip positioning
  common/custom_gui/magic_menu.txt
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

More Work
  common/government_reforms/03_government_reforms_theocracies.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Bawa_Simpat_V30.txt
  localisation/Flavour_Bawa_Simpat_V30_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
