Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

[Steam] Make Sedentarization more robust to bypasses of the system, eg. from MTs
  common/scripted_effects/forbidden_land_scripted_effects.txt
Due: none

New trigger: check if province is sedentarizing
  common/scripted_triggers/anb_scripted_triggers_sedentarization.txt
Due: none

Luciande cav
  common/ideas/CoT_country_ideas.txt
Due: none

Looting buff
  common/defines.lua
Due: none

make Stand as One less overtuned
  common/event_modifiers/anb_toarnaire_modifiers.txt
  events/Flavour_Toarnaire_Z68.txt
  missions/Toarnaire_Missions.txt
Due: Events Encoding

Fix new t7 reform applying to adventurers
  common/government_reforms/06_government_reforms_common.txt
Due: none

Ara fixes and loc
  common/government_reforms/07_government_reforms_COT.txt
  history/countries/A53 - Aramari Temple.txt
  localisation/CoT_gov_reforms_l_english.yml
Due: Localization Encoding

DOUBLE SPIRE!
  common/scripted_effects/konolkhatap_scripted_effects.txt
  events/Flavour_Duwarkani_F62.txt
  events/estate_ahati.txt
  localisation/Flavour_khatalashya_S81_l_english.yml
  map/ambient_object.txt
Due: Events Encoding, Localization Encoding

yep
  missions/Khatalashya_Missions.txt
Due: none

fix
  common/great_projects/anb_monuments_sarhal.txt
Due: none

fixes
  events/Flavour_Ameion_G52.txt
  missions/Ameion_Missions.txt
Due: Events Encoding

Verne MT fix
  missions/Verne_Missions.txt
Due: none

fix fr fr
  events/Flavour_Ameion_G52.txt
  missions/Ameion_Missions.txt
Due: Events Encoding

[Steam] Konolkhatep script leftover cleanup
  common/scripted_effects/konolkhatap_scripted_effects.txt
Due: none

one more adjustment for funsies
  common/cb_types/anb_cb_ameion.txt
Due: none

discourage conversion
  common/religions/00_anb_religion.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  localisation/Flavour_Uesrennu_J78_l_english.yml
Due: Localization Encoding

Urionmar
  common/countries/Urionmar.txt
  common/country_tags/anb_countries.txt
  common/event_modifiers/CoT_excavation_modifiers.txt
  events/CoT_excavate_rewards.txt
  gfx/flags/X22.tga
  history/countries/X22 - Urionmar.txt
  history/provinces/828 - Ar_Urion.txt
  localisation/CoT_excavations_l_english.yml
  localisation/CoT_i_nations_l_english.yml
Due: Events Encoding, Localization Encoding

Urionmar, Castellyr, Adenica ideas
  common/ideas/CoT_country_ideas.txt
  common/scripted_effects/CoT_ideas_effects.txt
  decisions/1EscannFormables.txt
  decisions/CoT_Frostheart_Formables.txt
  events/CoT_ideas_upgrade_events.txt
  localisation/cot_nation_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

lots of deranne stuff
  common/buildings/00_buildings.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_triggers/00_scripted_triggers.txt
  decisions/DeranneDecisions.txt
  events/Flavour_Deranne_A02.txt
  events/TradeGoodsPrice.txt
  missions/Derannic_Missions.txt
  missions/Rosande_Missions.txt
Due: Decisions Encoding, Events Encoding

.
  missions/01_Generic_European_Missions.txt
Due: none

Lil fix
  common/countries/Urionmar.txt
  history/countries/X22 - Urionmar.txt
  localisation/CoT_i_nations_l_english.yml
Due: Localization Encoding

units for Urionmar
  gfx/sprite_packs/Anbennar_sprites.txt
Due: none

and castellyr
  gfx/sprite_packs/Anbennar_sprites.txt
Due: none

Excavation changes
  events/CoT_excavate_rewards.txt
Due: Events Encoding

Sum fixes
  common/event_modifiers/anb_event_modifiers.txt
  events/Flavour_Grombar_Z50.txt
  missions/00_Generic_missions.txt
Due: Events Encoding

changing vizier in the middle of a promotion war is bad
  events/RahenRajEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

reset current senapti on refounding of raj
  decisions/RajDecisions.txt
  events/CentaurNomadism.txt
Due: Decisions Encoding, Events Encoding

Fix
  missions/00_Generic_missions.txt
Due: none

should work
  common/on_actions/00_on_actions.txt
  events/Flavour_LJH_Jiangdu_war.txt
  history/countries/Y05 - Lanjinhui.txt
  history/countries/Y13 - Jiangdu.txt
  history/wars/Lanjinhui_Revolutionary_War.txt
  localisation/Flavour_LJH_Jiangdu_war.yml
Due: Events Encoding, Localization Encoding

It's a surprise tool that will help us later
  localisation/yama_1_36_l_english.yml
Due: Localization Encoding

bop
  events/Flavour_LJH_Jiangdu_war.txt
  localisation/Flavour_LJH_Jiangdu_war_l_english.yml
Due: Events Encoding, Localization Encoding

hide variables
  events/Magic_Study_Events.txt
Due: Events Encoding

random bugfix
  missions/Sanghariyar_Missions.txt
Due: none

startup not exploitable
  events/Flavour_Danggun_Y93.txt
Due: Events Encoding

conquest war startup
  history/wars/ShuvuushStartingWar.txt
Due: none

shuvuush missions generic
  decisions/HalessiFormables.txt
  missions/01_Shuvuush_Missions.txt
  missions/Daxugo_Missions.txt
Due: Decisions Encoding

magical fortress better tooltips
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

xiaken missions framework
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  localisation/01_Xiaken_l_english.yml
  missions/01_Xiaken_Missions.txt
Due: Localization Encoding

xiaken mission tree
  common/buildings/00_buildings.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/transmutative_path_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_TheCommand_R62.txt
  events/Flavour_Xiaken.txt
  events/Transmutative_Path_events.txt
  localisation/01_Xiaken_l_english.yml
  missions/01_Generic_Rahen_Missions.txt
  missions/01_Xiaken_Missions.txt
Due: Events Encoding, Localization Encoding

file rename
  missions/01_Generic_Shuvuush_Missions.txt
Due: none
