Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Lothane is cruel
  history/countries/A30 - Wex.txt
Due: none

Carlos province nudge erratic
  map/positions.txt
Due: none

Garbair Province loc erratic
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Warjoy Deepwoods nudge erratic
  map/positions.txt
Due: none

Bloodied Legion Vision Erratic
  history/countries/X11 - BloodiedLegion.txt
Due: none

FP nudging erratic
  map/positions.txt
Due: none

fp vision erratic
  common/scripted_effects/anb_setup_effects.txt
Due: none

Remove Rotten Borough when shuffling Vaengheim seats
  common/parliament_issues/anb_vaengheim.txt
Due: none

Fix loc for vaengheim.17
  localisation/Flavour_Vaengheim_Z88_l_english.yml
Due: Localization Encoding

Fix siege check for bridgeburners company
  events/Flavour_Castanor_B32.txt
Due: Events Encoding

Fix pashaine loc
  localisation/Flavour_Pashaine_B59_l_english.yml
  localisation/anb_mages_estate_events_l_english.yml
Due: Localization Encoding

Insecure Homeland fix
  missions/Unguldavori_Missions.txt
Due: none

Hiding Effect
  missions/Unguldavori_Missions.txt
Due: none

Fix
  missions/Unguldavori_Missions.txt
Due: none

Ditto
  missions/Unguldavori_Missions.txt
Due: none

Fixes
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_sri_baginda.txt
  localisation/Flavour_Magharma_I90_l_english.yml
  localisation/anb_lupulan_events_l_english.yml
  missions/Pashaine_Missions.txt
Due: Localization Encoding

Shuuvush adjustment
  common/scripted_effects/anb_setup_effects.txt
Due: none

Tag adjustment in event
  events/AnbennarSetup.txt
Due: Events Encoding

loc
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Localization Encoding

bugfix + historical units
  common/countries/Ashag Kuulgo.txt
  common/countries/Hus Bhal.txt
  common/countries/Nuugdan Tsarai.txt
  common/countries/Rung Igedch.txt
  common/countries/Tsuista Khul.txt
  common/countries/Zunk Kuulgo.txt
  missions/Daxugo_Missions.txt
Due: none

Stuff
  common/scripted_effects/anb_setup_effects.txt
Due: none

Pashaine fix
  common/government_reforms/06_government_reforms_common.txt
Due: none

Age Obj crash fix
  common/ages/00_default.txt
Due: none

Fix
  localisation/anb_lupulan_events_l_english.yml
Due: Localization Encoding

small fix
  localisation/beast_memory_l_english.yml
Due: Localization Encoding

Removed extraneous effect in fahvanosy.10
  events/Fahvanosy.txt
Due: Events Encoding

Hidden effect
  events/Fahvanosy.txt
Due: Events Encoding

Veykodan Migration and Loading Screen Fix
  common/on_actions/00_on_actions.txt
  events/AdventurerSpawnables.txt
  events/YnnEvents.txt
  events/anb_beikling_events.txt
  gfx/loadingscreens/load_13.dds
  localisation/anb_flavor_beiklings_l_english.yml
  localisation/ynn_loc_l_english.yml
Due: Events Encoding, Localization Encoding

subject should not demand colonies
  events/SubjectInteractionEvents.txt
Due: Events Encoding

typo and strange sentences made less strange
  localisation/anb_racial_pop_l_english.yml
Due: Localization Encoding

more sht
  events/YnnEvents.txt
  events/anb_beikling_events.txt
  localisation/ynn_loc_l_english.yml
Due: Events Encoding, Localization Encoding

this being the strange sentences part oops
  localisation/anb_racial_pop_l_english.yml
Due: Localization Encoding

panthion to pantheon
  localisation/Flavour_OvdalazAn_I19_l_english.yml
Due: Localization Encoding

spacing
  localisation/Flavour_Vaengheim_Z88_l_english.yml
Due: Localization Encoding

Check for existence of event targets in istralore.30
  events/Flavour_Istralore_A45.txt
Due: Events Encoding

Minor Fixes for Counts League and Farranean
  localisation/Flavour_CountsLeague_B55_l_english.yml
  missions/FarraneanMissions.txt
Due: Localization Encoding

ptm
  common/province_triggered_modifiers/anb_modifiers.txt
  decisions/RajDecisions.txt
  events/RahenRajEvents.txt
Due: Decisions Encoding, Events Encoding

WIP
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

Ensuring consistency between the two events
  events/ideagroups.txt
Due: Events Encoding

[Steam] Bunch of Konolkhatep fixes and tweaks
  common/event_modifiers/anb_konolkhatep_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/konolkhatap_scripted_effects.txt
  events/Flavour_Konolkhatep_F66.txt
  events/TradeGoodsPrice.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  missions/Konolkhatep_Missions.txt
  missions/Rosande_Missions.txt
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
