Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

1
  common/custom_gui/provinceview.txt
Due: none

aaa
  common/custom_gui/provinceview.txt
Due: none

Busilar event and Judas bonk
  common/static_modifiers/00_static_modifiers.txt
  localisation/goose_1_35_l_english.yml
  localisation/tmm_l_english.yml
  session3.txt
Due: Localization Encoding, Brackets Syntax

final?
  common/estate_privileges/anb_privileges.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  missions/Hisost_Yamok_Missions.txt
Due: none

Adventurer agenda against nations that purge you
  common/estate_agendas/anb_adventurers_agendas.txt
  common/estates/98_adventurers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_triggers/00_scripted_triggers_estates.txt
  common/scripted_triggers/anb_scripted_triggers_for_estates.txt
  localisation/anb_estates_l_english.yml
  localisation/anb_opinion_modifiers_l_english.yml
Due: Localization Encoding

Purge agenda writing review
  localisation/anb_estates_l_english.yml
  localisation/anb_opinion_modifiers_l_english.yml
Due: Localization Encoding

[steam] when conceding to goblinsbane, no longer fire goblinsbane is dead event
  events/Flavour_Chaingrasper_H74.txt
Due: Events Encoding

Gnome flavour
  session3.txt
Due: Brackets Syntax

Edit Flavour_Chaingrasper_H74.txt
  events/Flavour_Chaingrasper_H74.txt
Due: Events Encoding

Minor fix
  missions/Rezankand_Missions.txt
Due: none

more stuff
  common/buildings/00_buildings.txt
  common/church_aspects/anb_drozma_tur_aspects.txt
  common/event_modifiers/anb_drozma_tur.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/drozma_tur_scripted_effects.txt
  events/drozma_tur_events.txt
Due: Events Encoding

fix
  localisation/Flavour_Kherka_G48_l_english.yml
Due: Localization Encoding

more fixes
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Rezankand_H67.txt
  localisation/Flavour_Rezankand_H67_l_english.yml
  missions/Rezankand_Missions.txt
Due: Events Encoding, Localization Encoding

Fix No font with name errors
  interface/provinceview.gui
Due: none

small haraz fix
  missions/Haraz_Orldhum_Missions.txt
Due: none

gray/grey orc typo
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

scepter -> sceptre typo fix
  localisation/Escann_Adventurers_Intro_l_english.yml
Due: Localization Encoding

gray/grey typo (gray orc context)
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Lizardfolk Demonsterization Events
  common/event_modifiers/anb_misc_modifiers.txt
  common/event_modifiers/anb_monstrous_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_scripted_effects.txt
  decisions/MonstrousDecisions.txt
  events/MonstrousEvents.txt
  localisation/anb_monstrous_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

moar fixes
  common/estate_privileges/02_noble_privileges.txt
  missions/Haraz_Orldhum_Missions.txt
Due: none

Script and clean monstrous effects
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/kalsyto_scripted_effects.txt
  events/Flavour_Allclan_I98.txt
  events/Flavour_Grombar_Z50.txt
  events/Flavour_Jaddari_F46.txt
  events/Flavour_Kalsyto_J33.txt
  events/Flavour_LotDekkhang_Y58.txt
  events/Flavour_Spiderwretch_H90.txt
  events/Group_Flavour_UndergrowthGoblins.txt
  events/MonstrousEvents.txt
  events/kvangahga_events.txt
  missions/Allclan_Missions.txt
  missions/Clouded_Eye_Missions.txt
  missions/Khadisrapur_Missions.txt
  missions/Ovdal_Lodhum_Missions.txt
  missions/SkeweredDrake_Missions.txt
  missions/Tluukt_Missions.txt
Due: Events Encoding

[Steam] Small bugfixes
  localisation/accretive_path_l_english.yml
  localisation/infernal_court_l_english.yml
Due: Localization Encoding

halessi tribute
  common/event_modifiers/anb_spirit_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  customizable_localization/anb_halessi_spirits_localization.txt
  events/HalessiSpirits.txt
  events/RajEvents.txt
  localisation/Flavour_Rahen_l_english.yml
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

Fix 1
  localisation/Flavour_Varaine_A99_l_english.yml
Due: Localization Encoding

balgabaric -> argezennic typos
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Updating piety button alert
  gfx/interface/alerticons.dds
Due: none

Error
  events/HalessiSpirits.txt
Due: Events Encoding

Arosha now switches people to Regent Court
  common/personal_deities/anb_cannorian_deities.txt
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding

Nerf Seed of Corinism
  common/event_modifiers/anb_clouded_eye_modifiers.txt
Due: none

Half-orcs now happen 20 years after events
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding

Added tooltips to events
  events/Flavour_Clouded_Eye_B24.txt
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
  missions/Clouded_Eye_Missions.txt
Due: Events Encoding, Localization Encoding

Fixing Religious CE events and tooltips
  events/Flavour_Clouded_Eye_B24.txt
  events/RegentCourtEvents.txt
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
  missions/Clouded_Eye_Missions.txt
Due: Events Encoding, Localization Encoding

updated event triggers.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

removed if statement
  events/EstateOrganization.txt
Due: Events Encoding

removed if so if Magisterium does not exist it wont show.
  events/EstateOrganization.txt
Due: Events Encoding

Most of other stuff hopefully
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Rayaz_L95.txt
  events/Group_Flavour_Lizardfolk.txt
  localisation/Flavor_Rayaz_R95_l_english.yml
  missions/Rayaz_Missions.txt
Due: Events Encoding, Localization Encoding

Yassa MT
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_yassa_modifiers.txt
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/YassaDecisions.txt
  events/Flavour_Seghdihr_H78.txt
  events/Flavour_Yassa_L81.txt
  localisation/Flavour_Yassa_L81_l_english.yml
  map/provincegroup.txt
  missions/Yassa_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

gubfixes first series
  events/Flavour_Rayaz_L95.txt
  events/Group_Flavour_Lizardfolk.txt
  localisation/Flavor_Rayaz_R95_l_english.yml
  missions/Rayaz_Missions.txt
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
