Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Beiklings hate life extencion and necromancy
  common/church_aspects/anb_devouring_path.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

Pachpalka event fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  events/anb_generic_insyaa_events.txt
  localisation/anb_generic_insyaa_l_english.yml
Due: Events Encoding, Localization Encoding

Re-use vault icon for infrastructure province modifier
  common/event_modifiers/anb_dwarovar_modifiers.txt
  gfx/interface/ideas_EU4/vault_icon.dds
Due: none

Root.Dynasty.GetName no good
  common/estate_privileges/anb_privileges.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Irrliam_F37.txt
  localisation/Flavour_Allclan_I98_l_english.yml
  localisation/Flavour_Brambleskinner_I35_l_english.yml
  localisation/Flavour_Caergaraen_J74_l_english.yml
  localisation/Flavour_Irrliam_F37_l_english.yml
  localisation/Flavour_Luna_River_Minors_l_english.yml
  localisation/Flavour_Royakottar_G67_l_english.yml
  localisation/Flavour_Sthanan_G81_l_english.yml
  localisation/anb_ruler_l_english.yml
  localisation/domination_l_english.yml
  localisation/goblinic_shamanism_l_english.yml
  missions/Irrliam_Missions.txt
Due: Events Encoding, Localization Encoding

how the f search and replace botch this badly
  localisation/Flavour_Luna_River_Minors_l_english.yml
  localisation/Flavour_Royakottar_G67_l_english.yml
  localisation/Flavour_Sthanan_G81_l_english.yml
  localisation/goblinic_shamanism_l_english.yml
Due: Localization Encoding

ffs
  localisation/Flavour_Luna_River_Minors_l_english.yml
Due: Localization Encoding

Sarhaly Ogres
  common/event_modifiers/sarhaly_ogre_modifier.txt
  events/sarhaly_ogre_events.txt
Due: Events Encoding

Enable the ogres
  common/on_actions/00_on_actions.txt
  events/sarhaly_ogre_events.txt
Due: Events Encoding

merc enterprise tooltip time
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_huugeta_modifiers.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_huugeta_scripted_effects.txt
  customizable_localization/anb_custom_huugeta_localization.txt
  events/Flavour_Huugeta_S45.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
  missions/Huugeta_Missions.txt
Due: Events Encoding, Localization Encoding

edge case fix
  events/Magic_Project_Events.txt
Due: Events Encoding

fix
  common/scripted_effects/anb_setup_effects.txt
Due: none

edits
  common/on_actions/00_on_actions.txt
  events/Flavour_salt_silence_incident.txt
Due: Events Encoding

fix loc
  localisation/anb_salt_and_silence_l_english.yml
Due: Localization Encoding

Encoding fix
  localisation/haless_l_english.yml
Due: Localization Encoding

Pachpalka script simplification
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

grammar
  localisation/Flavour_Hytiranyalen_F81_l_english.yml
Due: Localization Encoding

2 Mt fixes
  events/RahenEvents.txt
  missions/Venomtooth_Missions.txt
Due: Events Encoding

ordered racial mil loc and adjusted tt for female chances by glatux
  common/event_modifiers/racial_admin_military.txt
  localisation/anb_racial_l_english.yml
Due: Localization Encoding

Setting the project as a school for bonuses
  common/custom_gui/magic_unique_projects.txt
Due: none

.
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Tsukqiao.txt
  history/countries/Z60 - Tsukqiao.txt
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
Due: Events Encoding, Localization Encoding

.
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Post-soft-reset-fix
  common/countries/Ruinsail.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/great_projects/anb_monuments_aelantir.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  customizable_localization/anb_custom_loca.txt
  decisions/NorthAelantirFormables.txt
  events/anb_piracy_events.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_custom_tooltips_l_english.yml
  localisation/anb_government_names_l_english.yml
  localisation/anb_great_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Pachpalka more code streamlining
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

hmm
  common/on_actions/00_on_actions.txt
  decisions/NorthAelantirFormables.txt
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_piracy_l_english.yml
Due: Decisions Encoding, Localization Encoding

Fixes
  decisions/EastSarhalFormables.txt
  decisions/EscannFormables.txt
  decisions/HalessFormables.txt
  decisions/RahenFormables.txt
  decisions/SouthAelantirFormables.txt
  events/Flavour_Blademarches_B33.txt
  events/Kobold_Traps.txt
  localisation/anb_devandi_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

more triggers and effects
  missions/Nansalen_Missions.txt
Due: none

.
  common/custom_gui/countrygovernmentview.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  gfx/interface/empty_pic.dds
  interface/countrygovernmentview.gui
Due: none

fixs
  events/Flavour_Cangji_V05.txt
  missions/Cangji_Missions.txt
Due: Events Encoding

kanolowele_events
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  events/anb_generic_insyaa_events.txt
  localisation/anb_generic_insyaa_l_english.yml
Due: Events Encoding, Localization Encoding

with BOM
  localisation/anb_generic_insyaa_l_english.yml
Due: Localization Encoding

undead centaurs
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_project.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/Flavour_TheCommand_R62.txt
  events/Magic_Project_Events.txt
  events/Magic_Spell_Events.txt
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  missions/Black_Herd_Missions.txt
Due: Events Encoding, Localization Encoding

magic projects completed var is different now
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  events/Flavour_Black_Herd_I55.txt
  events/Flavour_Great_Storm_I80.txt
  events/Flavour_Salla_Drennen_I28.txt
  events/Magic_Project_Events.txt
Due: Events Encoding

Hide the flag check
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

hole loc
  decisions/MagicDecisions.txt
  localisation/anb_magic_projects_l_english.yml
Due: Decisions Encoding, Localization Encoding

Zena MT Draft 2.01
  events/Flavour_Zena_L06.txt
Due: Events Encoding

event_insyaa
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/anb_generic_insyaa_events.txt
  localisation/anb_generic_insyaa_l_english.yml
Due: Events Encoding, Localization Encoding

small_last_minute_fix
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

fix for centaur undead
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

more
  common/custom_gui/countrygovernmentview.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/04_government_reforms_tribes.txt
  interface/countrygovernmentview.gui
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
Due: Localization Encoding
