Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

custdip number update
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
Due: none

fuckin encoding
  dlc_metadata/dlc_info/00_dlc_info.txt
Due: none

Lotta Fixes
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/parliament_issues/anb_orenvalyam.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_achievements.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  events/Flavour_Orenvalyam_U39.txt
  events/Magic_Ruler_Events.txt
  events/taychend_flavour_events.txt
  history/countries/U39 - Orenvalyam.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding, Localization Encoding

magic bar color change
  gfx/interface/custom_gui/magic/magic_progressbar_marine_144x45.dds
  gfx/interface/custom_gui/magic/magic_progressbar_teal_144x45.dds
  interface/magic_menu.gfx
  interface/topbar.gui
Due: none

PR changes
  common/custom_gui/provinceview.txt
  common/scripted_triggers/anb_scripted_triggers_transmutative_path.txt
  customizable_localization/anb_transmutative_path.txt
  localisation/transmutative_path_l_english.yml
Due: Localization Encoding

Quick merge rectification
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
Due: none

Code review changes
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Star_Rider_I69.txt
  localisation/Flavour_Star_Rider_I69_l_english.yml
Due: Events Encoding, Localization Encoding

A bunch of writing reviewed loc
  localisation/Flavour_Star_Rider_I69_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

work
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

fixes
  common/event_modifiers/anb_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/XhazobkultEvents.txt
  localisation/xhazobkult_l_english.yml
  missions/Gnollakaz_Missions.txt
Due: Events Encoding, Localization Encoding

fix
  events/Flavour_Gnollakaz_U09.txt
Due: Events Encoding

remove debug event
  events/XhazobkultEvents.txt
  localisation/xhazobkult_l_english.yml
Due: Events Encoding, Localization Encoding

deleting the "not producing" tooltips
  localisation/transmutative_path_l_english.yml
Due: Localization Encoding

PR changes
  common/custom_gui/provinceview.txt
  common/scripted_triggers/anb_scripted_triggers_for_province_ui.txt
  common/scripted_triggers/anb_scripted_triggers_for_xia.txt
  common/scripted_triggers/anb_scripted_triggers_transmutative_path.txt
  customizable_localization/anb_transmutative_path.txt
  interface/provinceview.gui
  localisation/anb_religions_l_english.yml
  localisation/transmutative_path_l_english.yml
  localisation/xianjie_flavour_l_english.yml
Due: Localization Encoding

Region reviewed Loc
  events/Flavour_Star_Rider_I69.txt
  history/countries/I69 - Star Rider.txt
  localisation/Flavour_Star_Rider_I69_l_english.yml
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Events Encoding, Localization Encoding

The greatest change ever
  localisation/Flavour_Star_Rider_I69_l_english.yml
Due: Localization Encoding

gor'auri NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

deprecated variable
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Loc fixing
  localisation/Flavour_Star_Rider_I69_l_english.yml
Due: Localization Encoding

colors
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Hidden event
  common/scripted_triggers/anb_scripted_triggers_centaurs.txt
  events/Flavour_Star_Rider_I69.txt
Due: Events Encoding

Tooltip fun
  localisation/Flavour_Star_Rider_I69_l_english.yml
Due: Localization Encoding

tooltipping
  localisation/Flavour_Harpylen_l_english.yml
  localisation/anb_harpy_gov_bar_l_english.yml
  map/provincegroup.txt
  missions/Harpylen_Missions.txt
Due: Localization Encoding

work
  events/Flavour_Gnollakaz_U09.txt
  missions/Gnollakaz_Missions.txt
Due: Events Encoding

Eighard MT 0.112
  common/custom_gui/magic_spell_lists.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_spells_custom_l_english.yml
Due: Localization Encoding

other inventions upgrades
  common/estate_privileges/estate_artifice_privileges.txt
  common/event_modifiers/anb_harpylen_modifiers.txt
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Harpylen_l_english.yml
  missions/Harpylen_Missions.txt
Due: Localization Encoding

Code review 2
  common/church_aspects/anb_irdaeos_worship_aspects.txt
  common/custom_gui/countrydiplomacyview.txt
  common/estate_privileges/estate_mages_privileges.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_centaurs.txt
  events/Flavour_Star_Rider_I69.txt
  localisation/Flavour_Star_Rider_I69_l_english.yml
  missions/Star_Rider_Missions.txt
Due: Events Encoding, Localization Encoding

Amendments
  common/estate_privileges/estate_mages_privileges.txt
Due: none

Fix aux button trigger and annex edge case
  common/on_actions/00_on_actions.txt
  common/scripted_effects/mangrove_republic_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_mangrove_republic.txt
Due: none

Salla Cenag is gay
  history/countries/I29 - Salla Cenag.txt
Due: none

Fix zokka spec map texture size
  gfx/models/anbennar/monuments/Zokka_Portal/Frame_Spec.dds
Due: none

bloodbringer is gay
  history/countries/I74 - Bloodbringer.txt
Due: none

Fix for Yria button.
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
Due: none

wrong rogier
  events/Flavour_Rogieria_B37.txt
  history/countries/B07 - Sons of Dameria.txt
Due: Events Encoding

Jilin can be gay, if trans
  events/OneXia.txt
Due: Events Encoding

Adding back trade power for T3 Yria roost to show on map
  common/event_modifiers/anb_harpylen_modifiers.txt
Due: none

themarenn loc fixes
  events/Flavour_Themarenn_A95.txt
  localisation/Flavour_Themarenn_A95_l_english.yml
Due: Events Encoding, Localization Encoding

pready
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
  events/Flavour_Harpylen_F98.txt
  localisation/Flavour_Harpylen_l_english.yml
  localisation/Group_Flavour_Harpies_l_english.yml
  localisation/triggers_and_effects_l_english.yml
  missions/Harpylen_Missions.txt
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
