Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Tooltips
  localisation/Flavour_Great_Storm_I80_l_english.yml
Due: Localization Encoding

Fix grudgebearer expedition spawn
  events/DiggyDiggySpawnable.txt
Due: Events Encoding

Fix typos "Ryalan"
  localisation/Flavour_Konwell_A35_l_english.yml
Due: Localization Encoding

Fix unremovable artificery inventions
  common/custom_gui/countrydecisionsview.txt
Due: none

Merging Mistake
  customizable_localization/anb_magic_menus_localization.txt
Due: none

.
  common/scripted_effects/anb_scripted_effects_for_xia.txt
Due: none

.
  common/scripted_effects/anb_scripted_effects_for_xia.txt
  localisation/xianjie_flavour_l_english.yml
Due: Localization Encoding

Singing glyphs relic
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  events/Flavour_GorVazumbrog_I14.txt
Due: Events Encoding

Relic algorithm + duskgold work
  events/Flavour_GorVazumbrog_I14.txt
Due: Events Encoding

Clear unused flag
  events/Flavour_GorVazumbrog_I14.txt
Due: Events Encoding

Event pictures + simplify tooltip
  events/Flavour_GorVazumbrog_I14.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
  missions/Gor_Vazumbrog_Missions.txt
Due: Events Encoding, Localization Encoding

Add Golem reward for GV to Rizvambrethar
  common/great_projects/anb_dwarovar_dungeons.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
  missions/Gor_Vazumbrog_Missions.txt
Due: Localization Encoding

Gor Vazumbrog shadowweave scouts hunts
  common/scripted_effects/anb_scripted_effects_for_vazumbrog.txt
  common/scripted_triggers/anb_scripted_triggers_gor_vazumbrog.txt
  decisions/GorVazumbrogDecisions.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Decisions Encoding, Localization Encoding

Fix encoding
  missions/Gor_Vazumbrog_Missions.txt
Due: none

Fix blorc conquest tooltip
  events/DiggyDiggyBlorc.txt
Due: Events Encoding

Hunt menu tooltip
  common/scripted_triggers/anb_scripted_triggers_gor_vazumbrog.txt
  decisions/GorVazumbrogDecisions.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Decisions Encoding, Localization Encoding

Vault museum artificer mod
  common/event_modifiers/anb_dwarovar_modifiers.txt
Due: none

Fix some scope and syntax bugs
  events/Flavour_GorVazumbrog_I14.txt
Due: Events Encoding

Add 3 epilogue citadels
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_vazumbrog.txt
  customizable_localization/anb_customizable_localization.txt
  decisions/GorVazumbrogDecisions.txt
  events/Flavour_GorVazumbrog_I14.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
  missions/Gor_Vazumbrog_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Pick existing non-ai event/mission images
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  events/Flavour_GorVazumbrog_I14.txt
  gfx/event_pictures/DRAKONS_eventPicture.dds
  gfx/event_pictures/DWARF_COUNCIL_SMALL_eventPicture.dds
  gfx/event_pictures/DWARF_COUNCIL_eventPicture.dds
  gfx/event_pictures/DWARF_IN_RUINS_eventPicture.dds
  gfx/event_pictures/DWARF_MUSHROOMS_eventPicture.dds
  gfx/event_pictures/DWARVES_IN_MOUNTAINS_eventPicture.dds
  gfx/event_pictures/RUINED_HOLD_eventPicture.dds
  gfx/interface/government_reform_icons/dwarf_general.dds
  gfx/interface/government_reform_icons/dwarven_council.dds
  gfx/interface/icon_vault_relic_in_text - Copy.dds
  gfx/interface/missions/dwarovar/mission_broken_vault.dds
  gfx/interface/missions/dwarovar/mission_castle_desert.dds
  gfx/interface/missions/dwarovar/mission_castle_woods.dds
  gfx/interface/missions/dwarovar/mission_drakons.dds
  gfx/interface/missions/dwarovar/mission_dwarf_ancestors.dds
  gfx/interface/missions/dwarovar/mission_dwarf_explorer.dds
  gfx/interface/missions/dwarovar/mission_dwarf_rifleman.dds
  gfx/interface/missions/dwarovar/mission_glorious_dwarf.dds
  gfx/interface/missions/dwarovar/mission_golem_army.dds
  gfx/interface/missions/dwarovar/mission_golem_cleanup.dds
  gfx/interface/missions/dwarovar/mission_golem_crafting.dds
  gfx/interface/missions/dwarovar/mission_map_tunnels.dds
  gfx/interface/missions/dwarovar/mission_oni_korashi.dds
  gfx/interface/missions/dwarovar/mission_rune_and_mask.dds
  gfx/interface/missions/dwarovar/mission_secure_hall.dds
  gfx/interface/missions/dwarovar/mission_underground_bastion.dds
  gfx/interface/missions/dwarovar/mission_underground_castle.dds
  gfx/interface/missions/dwarovar/mission_underground_citadel.dds
  gfx/interface/missions/dwarovar/mission_underground_fort.dds
  gfx/interface/missions/dwarovar/mission_vault.dds
  gfx/interface/missions/dwarovar/mission_vault_repairs.dds
  interface/anb_eventpictures.gfx
  interface/governmentreformicons.gfx
  interface/missionicons_anb.gfx
  missions/Gor_Vazumbrog_Missions.txt
Due: Events Encoding

Adjust tooltip
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Localization Encoding

GorVazumbrog playtest adjustments
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
  missions/Gor_Vazumbrog_Missions.txt
Due: Localization Encoding

Remove more ai mission icons
  gfx/interface/missions/dwarovar/mission_dwarf_celebration.dds
  gfx/interface/missions/dwarovar/mission_dwarf_courier.dds
  gfx/interface/missions/dwarovar/mission_dwarf_fighting_orc.dds
  gfx/interface/missions/dwarovar/mission_dwarf_quarrel.dds
  gfx/interface/missions/dwarovar/mission_dwarf_scholar.dds
  interface/missionicons_anb.gfx
  missions/Gor_Vazumbrog_Missions.txt
Due: none

Fix bugs with reclaim hold cb
  common/government_reforms/01_government_reforms_monarchies.txt
  common/scripted_effects/anb_scripted_effects_for_vazumbrog.txt
Due: none

Fix vault infrastructure bug
  events/DiggyGreatProjectEvents.txt
Due: Events Encoding

Use new event pictures
  events/Flavour_GorVazumbrog_I14.txt
Due: Events Encoding

Add decision to remove Dragon's Wound for others
  decisions/GorVazumbrogDecisions.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Decisions Encoding, Localization Encoding

Fix ctd, scripted_effect+else_if+add_casus_belli
  common/scripted_effects/anb_scripted_effects_for_vazumbrog.txt
Due: none

Fix adventurer name loc
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
  localisation/emperor_content_l_english.yml
Due: Localization Encoding

Gor Vazumbrog Credits
  missions/Gor_Vazumbrog_Missions.txt
Due: none

Fix transfer_dwarovkron_fragments for GV
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_reclaim_hold.txt
  common/scripted_effects/anb_digging_effects.txt
Due: none

Remove color from decision names
  decisions/GorVazumbrogDecisions.txt
Due: Decisions Encoding

Clean up disabled flag if you lost a colony
  common/on_actions/00_on_actions.txt
Due: none

Balance changes
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/scripted_effects/anb_digging_effects.txt
Due: none

Gor Vazumbrog Relics review rework
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_vazumbrog.txt
  decisions/GorVazumbrogDecisions.txt
  events/Flavour_GorVazumbrog_I14.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Hunt decision highlight/allow
  common/scripted_triggers/anb_scripted_triggers_gor_vazumbrog.txt
  decisions/GorVazumbrogDecisions.txt
  events/Flavour_GorVazumbrog_I14.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
  missions/Gor_Vazumbrog_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Fix hold reclamation cb bugs
  common/scripted_effects/anb_scripted_effects_for_vazumbrog.txt
Due: none

Fix golde age mission trigger
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
  missions/Gor_Vazumbrog_Missions.txt
Due: Localization Encoding

Relic hearthstone engine
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_GorVazumbrog_I14.txt
Due: Events Encoding
