Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

color and mana
  events/Magic_Spell_Events.txt
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Events Encoding, Localization Encoding

art
  gfx/interface/alerticons.dds
  gfx/interface/cb_hre_attacked.dds
  gfx/interface/floating_hre.dds
  gfx/interface/hre_bg.dds
  gfx/interface/hre_indicators.dds
  gfx/interface/hre_member.dds
  gfx/interface/hre_strip_glow.dds
  gfx/interface/icon_diplomacy_HRE.dds
  gfx/interface/icon_hre.dds
  gfx/interface/ideas_EU4/imperial_authority.dds
  gfx/interface/ideas_EU4/imperial_authority_opposite.dds
  gfx/interface/ideas_EU4/imperial_authority_value.dds
  gfx/interface/imperial_incident_popup_bg.dds
  gfx/interface/macro_diplomacy_tab_hre.dds
  gfx/interface/mapmode_empire_blue.dds
  gfx/interface/menubar_floating_strip.dds
  gfx/interface/shield_hre.dds
Due: none

fixes for Freeflower Vanguard
  decisions/1EscannFormables.txt
  events/EscanniWars.txt
  missions/WoodElves_Missions.txt
Due: Decisions Encoding, Events Encoding

Tribal Land Code Change
  history/countries/H23 - Kaeorg.txt
  history/countries/H28 - Durasyar.txt
  history/countries/H29 - Tsidarok.txt
  history/provinces/2582 - Traerraden.txt
  history/provinces/2583 - Donniraden.txt
  history/provinces/2584 - Sadzhybin.txt
  history/provinces/2585 - Gaednaebul.txt
  history/provinces/2586 - Nopanais.txt
  history/provinces/2587 - Ovcaxap.txt
  history/provinces/2589 - Zaernouh.txt
  history/provinces/2590 - Hussarnbyst.txt
  history/provinces/2591 - Samidon.txt
  history/provinces/2592 - Caegarbbin.txt
  history/provinces/2593 - Bulkalyn.txt
  history/provinces/2594 - Caxap.txt
  history/provinces/2601 - Auradensami.txt
  history/provinces/2602 - Gyccylbul.txt
  history/provinces/2603 - Vaerdaegaezbulfaeziund.txt
  history/provinces/2604 - Difendzaeg.txt
  history/provinces/2605 - Dzaegbyst.txt
  history/provinces/2610 - Nyguylai.txt
  history/provinces/2611 - Budar_Gaednae.txt
  history/provinces/2612 - Xartraelas.txt
  history/provinces/2613 - Hussarn.txt
  history/provinces/2652 - Faeziundzaern.txt
  history/provinces/2653 - Syggyccyl.txt
  history/provinces/2654 - Gaednaemoxbin.txt
  history/provinces/2655 - Bacaeuaes.txt
  history/provinces/2656 - Donbudar.txt
  history/provinces/2657 - Uxalkh.txt
Due: none

temple delves can reapply privilege
  common/scripted_effects/spirits_scripted_effects.txt
  events/HalessiSpirits.txt
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

missions and stuff
  common/event_modifiers/anb_istralore_modifiers.txt
  events/Flavour_Istralore_A45.txt
  localisation/Flavour_Istralore_A45_l_english.yml
Due: Events Encoding, Localization Encoding

art
  gfx/interface/hre_bg_extended.dds
Due: none

typo
  localisation/Flavour_Istralore_A45_l_english.yml
Due: Localization Encoding

halessi magic
  common/event_modifiers/anb_rahen_modifiers.txt
  common/government_mechanics/anb_command_korashi.txt
  customizable_localization/anb_custom_loca.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_TheCommand_R62_l_english.yml
  missions/TheCommand_Missions.txt
Due: Events Encoding, Localization Encoding

fix
  events/Flavour_Istralore_A45.txt
Due: Events Encoding

art approved 1/2
  gfx/interface/alerticons.dds
  gfx/interface/hre_bg.dds
  gfx/interface/hre_indicators.dds
  gfx/interface/hre_member.dds
  gfx/interface/ideas_EU4/imperial_authority.dds
  gfx/interface/ideas_EU4/imperial_authority_opposite.dds
  gfx/interface/ideas_EU4/imperial_authority_value.dds
  gfx/interface/macro_diplomacy_tab_hre.dds
  gfx/interface/menubar_floating_strip.dds
Due: none

calc true if reducing
  missions/Verne_Missions.txt
Due: none

Trumble Event Pictures
  events/OrenNayiruEvents.txt
  gfx/event_pictures/AAKHET_DRAGON_SMUG_eventPicture.dds
  gfx/event_pictures/DRAGON_ATTACK_eventPicture.dds
  gfx/event_pictures/DRAGON_FLY_eventPicture.dds
  gfx/event_pictures/LIZARDFOLK_NAGA_eventPicture.dds
  gfx/event_pictures/SARHEL_MENGI_TEMPLE_eventPicture.dds
  interface/anb_eventpictures.gfx
Due: Events Encoding

Uesrennu Change
  events/OrenNayiruEvents.txt
Due: Events Encoding

Hinphat Ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

testing bit removed
  events/HalessiSpirits.txt
Due: Events Encoding

remove ae from reforms
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/06_government_reforms_common.txt
Due: none

Flavour events
  common/estate_privileges/01_church_privileges.txt
  common/scripted_effects/anb_scripted_effects_brrtekuh.txt
  common/scripted_triggers/anb_scripted_triggers_brrtekuh.txt
  events/Flavour_Brrtekuh_U10.txt
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Events Encoding, Localization Encoding

Test Bug Fix
  events/LupulanEvents.txt
Due: Events Encoding

2003 fixes
  events/LupulanEvents.txt
Due: Events Encoding

More Fixes
  events/LupulanEvents.txt
Due: Events Encoding

2012-2015 firing fix
  common/event_modifiers/anb_lupulan_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/LupulanEvents.txt
Due: Events Encoding

deranne stuff
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/new_diplomatic_actions/anb_vampire_blood_invitation.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Deranne_A02.txt
  localisation/Flavour_Deranne_A02_l_english.yml
  missions/Derannic_Missions.txt
Due: Events Encoding, Localization Encoding

Escanni Orcs and Goblins events
  common/event_modifiers/EscanniOrcsandGoblins_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/EscanniOrcsandGoblinsEvents.txt
Due: Events Encoding

rez fix
  localisation/Flavour_Rezankand_H67_l_english.yml
Due: Localization Encoding

Escanni Orcs and Goblins events small fix
  events/EscanniOrcsandGoblinsEvents.txt
Due: Events Encoding

More Salla Cenag MT coding
  common/event_modifiers/anb_deepwoods_modifiers.txt
  missions/Salla_Cenag_Missions.txt
Due: none

tweaks
  common/event_modifiers/anb_zaradyrra_modifiers.txt
  common/ideas/anb_country_ideas.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/ZaradyrraEvents.txt
  localisation/anb_zaradyrra_events_l_english.yml
  missions/Zokka_Missions.txt
Due: Events Encoding, Localization Encoding

pr changes
  common/church_aspects/anb_levaajan_abilities.txt
  common/scripted_effects/anb_scripted_effects_for_levaajan.txt
  common/scripted_triggers/anb_scripted_triggers_levaajan.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  events/Levaajan.txt
Due: Events Encoding

Loc fix
  localisation/Flavour_Rezankand_H67_l_english.yml
Due: Localization Encoding

Green Orc Unit Rework Loc
  common/countries/Barumand.txt
  common/countries/Bladebreaker Clan.txt
  common/countries/Bloodgorger Clan.txt
  common/countries/Bonecarver Clan.txt
  common/countries/Broken Jaw.txt
  common/countries/Clouded Eye Clan.txt
  common/countries/Deadfang Clan.txt
  common/countries/Dogeater Clan.txt
  common/countries/Doombringer Clan.txt
  common/countries/Frozenmaw.txt
  common/countries/Heartgrinder Clan.txt
  common/countries/Kar-Ankash.txt
  common/countries/Karakhanbar.txt
  common/countries/Karashar.txt
  common/countries/Rotcleaver Clan.txt
  common/countries/Sapchopper.txt
  common/countries/Severed Ear Clan.txt
  common/countries/Shattered Crown.txt
  common/countries/Siegebreaker.txt
  common/countries/Unguldavor.txt
  common/units/orcish_30_ungulan_badartash.txt
  localisation/anb_units_l_english.yml
Due: Localization Encoding

missions
  missions/Khadisrapur_Missions.txt
Due: none

Infantry shock/fire rebalance
  common/ideas/CoT_country_ideas.txt
Due: none

more testing
  common/scripted_effects/ravelian_scripted_effects.txt
  events/ravelianism.txt
Due: Events Encoding

Grasshopper Muncher Starting Event
  common/event_modifiers/anb_goblin_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Grasshopper_Muncher_B46.txt
  localisation/Flavour_Grasshopper_Muncher_B46_l_english.yml
Due: Events Encoding, Localization Encoding

save
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
  events/Flavour_Celmaldor_Z22.txt
Due: Events Encoding

More coding on Salla Cenag events
  common/event_modifiers/anb_deepwoods_modifiers.txt
  events/Flavour_Salla_Cenag_I29.txt
  localisation/anb_deepwoods_l_english.yml
  missions/Salla_Cenag_Missions.txt
Due: Events Encoding, Localization Encoding

Minor syntax fixes
  common/event_modifiers/anb_deepwoods_modifiers.txt
  missions/Salla_Cenag_Missions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
