Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

lowered AT req, made culture swaps agnostic
  events/Flavour_Frozenmaw_Z18.txt
  missions/Frozenmaw_Missions.txt
Due: Events Encoding

Estates stuff
  common/disasters/estate_adventurers_disaster.txt
  common/disasters/estate_artificers_disaster.txt
  common/disasters/estate_burghers_disaster.txt
  common/disasters/estate_castonath_patricians_disaster.txt
  common/disasters/estate_church_disaster.txt
  common/disasters/estate_mages_disaster.txt
  common/disasters/estate_nobility_disaster.txt
  common/estate_crown_land/00_interactions.txt
Due: none

Ânumdihr province rename
  common/province_names/dwarven.txt
  common/province_names/iron_dwarf.txt
  common/province_names/stone_dwarf.txt
Due: none

Castellyr dynasty event
  events/AdventurerFormables.txt
  events/Flavour_Castellyr_B31.txt
  localisation/anb_events_l_english.yml
Due: Events Encoding, Localization Encoding

Cannor endgame tag changes
  common/scripted_triggers/00_scripted_triggers.txt
  decisions/1EscannFormables.txt
  decisions/DamerianNation.txt
  decisions/EsmariNation.txt
  decisions/OrcFormables.txt
  decisions/PashaineNation.txt
  decisions/VerneNation.txt
Due: Decisions Encoding

Unguldavor Event Pictures and Mission Icons
  events/Flavour_Unguldavor_Z52.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding

say no to infinite free mil power
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Fix interaction MI trigger and patron tt
  common/estate_crown_land/00_interactions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

westmoors first half
  common/estate_privileges/02_noble_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/parliament_issues/anb_westmoors.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Westmoors_A24.txt
  missions/Westmoors_missions.txt
Due: Events Encoding

unbreak char
  interface/countryreligionview.gui
Due: none

minor fixes
  missions/Salla_Fealgarn_Missions.txt
Due: none

zokka
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  decisions/XhazobkultDecisions.txt
  history/countries/F29 - Zokka.txt
  localisation/anb_governments_l_english.yml
Due: Decisions Encoding, Localization Encoding

encoding back to 1252
  interface/countryreligionview.gui
Due: none

redundant trigger removal
  common/church_aspects/anb_black_doctrine.txt
Due: none

alternate necromancy aspect mentioned in tooltip
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Rulers for capstone
  common/ruler_personalities/00_core.txt
Due: none

actual tt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Advisors
  events/ConsortEvents.txt
  events/CorruptionEvents.txt
  events/CultureandReligionEvents.txt
  events/RandomEvents.txt
Due: Events Encoding

small loc change
  localisation/Flavour_Farranean_B60_l_english.yml
Due: Localization Encoding

more thingies
  common/cb_types/anb_cb_verne_faith.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Verne_A33.txt
  missions/Verne_Missions.txt
Due: Events Encoding

fix
  common/on_actions/00_on_actions.txt
Due: none

shortening the time between events
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
Due: Events Encoding, Localization Encoding

updating the region selection thingy
  common/scripted_triggers/anb_scripted_triggers_settings.txt
Due: none

rc
  events/Flavour_Verne_A33.txt
Due: Events Encoding

zokka
  common/government_reforms/04_government_reforms_tribes.txt
  events/Flavour_Zokka_F29.txt
  missions/Zokka_Missions.txt
Due: Events Encoding

Tier 2 Ogre edit
  gfx/models/Units/Ogre/t2_ogre.mesh
  gfx/models/Units/Ogre/t2_ogrediffuse.dds
  gfx/models/Units/Ogre/t2_ogrespec.dds
Due: none

Ogre Animation Tweaks
  gfx/models/Units/Ogre/animations/ogre_1_idle.anim
  gfx/models/Units/Ogre/animations/ogre_1_retreat.anim
  gfx/models/Units/Ogre/animations/ogre_1_walk.anim
  gfx/models/Units/Ogre/animations/ogre_2_attack.anim
  gfx/models/Units/Ogre/animations/ogre_2_idle.anim
  gfx/models/Units/Ogre/animations/ogre_2_retreat.anim
  gfx/models/Units/Ogre/animations/ogre_2_walk.anim
  gfx/models/Units/Ogre/animations/ogre_3_attack.anim
  gfx/models/Units/Ogre/animations/ogre_3_idle.anim
  gfx/models/Units/Ogre/animations/ogre_3_retreat.anim
  gfx/models/Units/Ogre/animations/ogre_3_walk.anim
  gfx/models/Units/Ogre/animations/ogre_4_attack.anim
  gfx/models/Units/Ogre/animations/ogre_4_idle.anim
  gfx/models/Units/Ogre/animations/ogre_4_retreat.anim
  gfx/models/Units/Ogre/animations/ogre_4_walk.anim
  gfx/models/Units/Ogre/animations/ogre_animations.asset
  gfx/models/Units/Ogre/t4_ogre.mesh
  interface/assets/ogre.gfx
Due: none

Ogre .gfx edit
  interface/assets/ogre.gfx
Due: none

MT Complete
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Parahechend_J81.txt
  events/Flavour_Taychendi_Empire_J84.txt
  events/VampireRuler.txt
  history/countries/J84 - Taychend.txt
  localisation/Flavour_Parahechend_J81_l_english.yml
  localisation/Flavour_TaychendiEmpire_J84_l_english.yml
  missions/Parahechend_Missions.txt
  missions/Zz_Taychendi_Empire_Missions.txt
Due: Events Encoding, Localization Encoding

zokka
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  events/Flavour_ZokkaJaddariWar.txt
  events/Flavour_Zokka_F29.txt
  localisation/Flavour_Zokka_F29_l_english.yml
  missions/Zokka_Missions.txt
Due: Events Encoding, Localization Encoding

heir protection fix
  events/Flavour_Hisost_Yamok_S23.txt
Due: Events Encoding

Ogre Sprite Pack edit
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
Due: none

zokka
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

Mission Icons and Event Images
  events/Flavour_Parahechend_J81.txt
  missions/Parahechend_Missions.txt
Due: Events Encoding

TT Change
  localisation/anb_taychend_l_english.yml
Due: Localization Encoding

Balance
  decisions/SaerraegNation.txt
Due: Decisions Encoding

Some polish for deepwoods formables
  decisions/DeepwoodsFormables.txt
  events/DeepwoodsEvents.txt
Due: Decisions Encoding, Events Encoding

Okman Pass
  common/church_aspects/anb_sky_domain_abilities.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  events/Flavour_Shelokmengi_S57.txt
  history/countries/S57 - Shelokmengi.txt
  localisation/Flavour_Shelokmengi_S57_l_english.yml
  missions/Shelokmengi_Missions.txt
Due: Events Encoding, Localization Encoding
