Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

fixed effects of harpy killing
  events/Flavour_Huugeta_S45.txt
Due: Events Encoding

.
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

.
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

pulse event even target improvements
  events/Flavour_Huugeta_S45.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
Due: Events Encoding, Localization Encoding

no officer reward tooltip
  events/Flavour_Huugeta_S45.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
Due: Events Encoding, Localization Encoding

removed unneeded initialisation of variables
  history/countries/S45 - Huugeta.txt
Due: none

mission tweaks and fixes
  localisation/Flavour_Huugeta_S45_l_english.yml
  missions/Huugeta_Missions.txt
Due: Localization Encoding

more code review
  common/church_aspects/anb_seasonal_aspect.txt
  common/custom_gui/magic_unique_projects.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Flavour_Eighard_H14.txt
  events/Magic_Project_Events.txt
  localisation/Flavour_Eighard_H14_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_custom_l_english.yml
Due: Events Encoding, Localization Encoding

PS MT Loc Fix
  customizable_localization/anb_custom_raj_localization.txt
Due: none

Anbennar ancestor personalities
  gfx/interface/totemism/ancestor_earth_planetouched_personality.dds
  gfx/interface/totemism/ancestor_fire_planetouched_personality.dds
  gfx/interface/totemism/ancestor_fu_papal_puppetmaster_personality.dds
  gfx/interface/totemism/ancestor_great_conqueror_personality.dds
  gfx/interface/totemism/ancestor_great_engineer_personality.dds
  gfx/interface/totemism/ancestor_humane_personality.dds
  gfx/interface/totemism/ancestor_iron_crowned_personality.dds
  gfx/interface/totemism/ancestor_legendary_conqueror_personality.dds
  gfx/interface/totemism/ancestor_legendary_pirate_personality.dds
  gfx/interface/totemism/ancestor_life_planetouched_personality.dds
  gfx/interface/totemism/ancestor_mage_personality.dds
  gfx/interface/totemism/ancestor_mythical_conqueror_personality.dds
  gfx/interface/totemism/ancestor_patron_of_arts_personality.dds
  gfx/interface/totemism/ancestor_peasant_revolt_leader_personality.dds
  gfx/interface/totemism/ancestor_reaver_personality.dds
  gfx/interface/totemism/ancestor_reformist_personality.dds
  gfx/interface/totemism/ancestor_renowned_adventurer_personality.dds
  gfx/interface/totemism/ancestor_shadow_planetouched_personality.dds
  gfx/interface/totemism/ancestor_shapeshifter_personality.dds
  gfx/interface/totemism/ancestor_water_planetouched_personality.dds
  gfx/interface/totemism/ancestor_wind_planetouched_personality.dds
  gfx/interface/totemism/ancestor_xhazobs_chosen_personality.dds
  interface/countryreligionview.gfx
Due: none

Quartz Cothon spec patch for real this time
  gfx/models/anbennar/monuments/quartz_cothon_spec.dds
Due: none

Cooltip
  events/Flavour_Orenvalyam_U39.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
Due: Events Encoding, Localization Encoding

camp not target
  missions/Shadowdreamer_Missions.txt
Due: none

inception
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

More local
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
Due: Localization Encoding

loc
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
Due: Localization Encoding

require fort building instead of fort level for merc chapters
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  missions/Huugeta_Missions.txt
Due: none

moved first cycle warning to mission reward tooltip
  localisation/Flavour_Huugeta_S45_l_english.yml
  missions/Huugeta_Missions.txt
Due: Localization Encoding

removed obsolete custom loc
  customizable_localization/anb_custom_mengi_localization.txt
Due: none

.
  localisation/Flavour_Beikdugang_Y15_l_english.yml
Due: Localization Encoding

Konolkhatep small fixes
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

Bladeskeep modifier fix
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Manago-Poku lesson icons
  common/church_aspects/anb_manago_poku_aspects.txt
  gfx/interface/church_aspects/manago_poku/manago_poku_danger.dds
  gfx/interface/church_aspects/manago_poku/manago_poku_discovery.dds
  gfx/interface/church_aspects/manago_poku/manago_poku_greatness.dds
  gfx/interface/church_aspects/manago_poku/manago_poku_ourselves.dds
  gfx/interface/church_aspects/manago_poku/manago_poku_the_past.dds
  gfx/interface/church_aspects/manago_poku/manago_poku_the_unknown.dds
  gfx/interface/church_aspects/manago_poku/manago_poku_wonder.dds
  interface/anb_church_aspects.gfx
Due: none

comment fix
  events/Flavour_Esthil_B54.txt
Due: Events Encoding

copy-pasting okman comment
  events/Flavour_Esthil_B54.txt
Due: Events Encoding

changing saqraxat and harpy tolerance events to use unit change scripted effects
  events/Flavour_Saqraxat_L04.txt
  events/ToleranceHarpy.txt
Due: Events Encoding

bugfixes
  common/event_modifiers/anb_insyaa_modifiers.txt
  localisation/Flavour_Duwarkani_F62_l_english.yml
  localisation/Flavour_Istralore_A45_l_english.yml
  localisation/anb_rending_l_english.yml
Due: Localization Encoding

More code review
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Flavour_Eighard_H14.txt
  localisation/Flavour_Eighard_H14_l_english.yml
  localisation/seasonal_courts_l_english.yml
Due: Events Encoding, Localization Encoding

[new-master] Rending Fallback Bugfix
  common/on_actions/00_on_actions.txt
  events/HalessiSpirits.txt
Due: Events Encoding

Fixes
  common/ideas/00_basic_ideas.txt
  events/Charkuchin_Kobold_Events.txt
Due: Events Encoding

Adding loc for some harpylen magic events. Different loc now depending on how close you are to target. Still need some testing.
  customizable_localization/anb_custom_loca.txt
  events/Flavour_Harpylen_F98.txt
  localisation/Flavour_Harpylen_l_english.yml
Due: Events Encoding, Localization Encoding

Fixes
  events/Flavour_Shadowdreamer_H83.txt
  missions/Shadowdreamer_Missions.txt
Due: Events Encoding

asdvhghggggggggggggggg
  common/on_actions/00_on_actions.txt
  events/Flavour_Bonecarver_B27.txt
  localisation/Flavour_Bonecarver_B27_l_english.yml
  missions/Bonecarver_Missions.txt
Due: Events Encoding, Localization Encoding

minor huugeta fixes
  events/Flavour_Huugeta_S45.txt
Due: Events Encoding

fix my oopsie
  map/definition.csv
Due: none

broken characters and EO-loc "
  localisation/Flavour_Golden_Tremor_I57_l_english.yml
  localisation/Flavour_Great_Storm_I80_l_english.yml
  localisation/Flavour_Iochand_A80_l_english.yml
  localisation/Flavour_Karashar_Z57_l_english.yml
  localisation/Flavour_Umbral_Covenant_S90_l_english.yml
  localisation/Flavour_Undergrowth_Goblins_l_english.yml
  localisation/Flavour_Zena_L06_l_english.yml
  localisation/Flavour_Zuvavim_L09_l_english.yml
  localisation/accretive_path_l_english.yml
  localisation/anb_flavor_beiklings_l_english.yml
  localisation/anb_khetarchy_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/prov_names_adj_l_english.yml
Due: Localization Encoding

fix this namelist
  common/countries/Ardimya.txt
Due: none

no moving capitals at war - per AoK
  missions/Covenblad_Missions.txt
Due: none

this one already exists
  customizable_localization/anb_custom_loca.txt
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

codereview
  localisation/Flavour_Golden_Tremor_I57_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
