Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

embarass to embarrass
  events/ArtificerFactionEvents.txt
  events/Flavour_Feiten_Y20.txt
  localisation/Flavour_EOA_l_english.yml
  localisation/Flavour_Newshire_B50_l_english.yml
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  localisation/Group_Flavour_Harpies_l_english.yml
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

enviroment to environment
  localisation/Flavour_VerkalOzovar_Y63_l_english.yml
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

existance to existence
  common/event_modifiers/anb_mission_modifiers.txt
  events/anb_racial_pop_calculations.txt
  localisation/Flavour_Ameion_G52_l_english.yml
  localisation/Flavour_Beikdugang_Y15_l_english.yml
  localisation/Flavour_Mountainhugger_U14_l_english.yml
  localisation/Flavour_Orlghelovar_I12_l_english.yml
  localisation/Flavour_Pasiragha_R61_l_english.yml
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  localisation/Flavour_VerkalOzovar_Y63_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/anb_rending_l_english.yml
  missions/Ameion_Missions.txt
  missions/Mountainhugger_Missions.txt
  missions/VerkalOzovar_Missions.txt
Due: Events Encoding, Localization Encoding

foriegn to foreign
  common/disasters/barumand_sarkubkashr.txt
Due: none

fourty to forty
  localisation/Flavour_Azkare_Y86_l_english.yml
  localisation/Flavour_Mykx_G93_l_english.yml
Due: Localization Encoding

foward to forward
  localisation/Flavour_BrokenJaw_Z19_l_english.yml
  localisation/Flavour_Shazstundihr_I11_l_english.yml
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/BrokenJaw_Missions.txt
Due: Localization Encoding

futher understaning to further understanding
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Averilibet_S53.txt
  localisation/Flavour_Averilibet_S53_l_english.yml
Due: Events Encoding, Localization Encoding

goverment to government
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/event_modifiers/racial_admin_military.txt
  events/Flavour_Orlghelovar_I12.txt
  events/Flavour_ShatteredCrown_H72.txt
  events/estate_artificers.txt
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  localisation/Flavour_Moonhaven_A31_l_english.yml
  localisation/Flavour_Mykx_G93_l_english.yml
  localisation/Flavour_ShatteredCrown_H72_l_english.yml
Due: Events Encoding, Localization Encoding

gaurdian to guardian
  common/scripted_effects/feiten_scripted_effects.txt
  localisation/Flavour_Feiten_Y20_l_english.yml
Due: Localization Encoding

harrass to harass
  events/HalessiSpirits.txt
  localisation/Flavour_Gophira_G74_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

honourary to honorary
  localisation/Flavour_Malacnar_G32_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

humourous to humorous
  common/countries/Iochand.txt
  common/countries/Portnamm.txt
Due: none

immediatly to immediately
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/AgeOfGreentide.txt
  events/CrimsonDeluge.txt
Due: Events Encoding

independant to independent
  common/event_modifiers/anb_mission_modifiers.txt
  common/parliament_bribes/kalsyto_bribes.txt
  events/FederationIncidents_Qcity.txt
  events/Flavour_HonSai_Y66.txt
  localisation/Flavour_Aelnar_Z43_l_english.yml
  localisation/Flavour_Freemarches_H51_l_english.yml
  localisation/Flavour_HonSai_Y66_l_english.yml
  localisation/Flavour_Kalsyto_J33_l_english.yml
  localisation/Flavour_Naleni_F55_l_english.yml
  localisation/effelai_bloom_l_english.yml
  localisation/text_l_english.yml
  missions/Aelnar_Missions.txt
Due: Events Encoding, Localization Encoding

khet mandate
  common/decrees/00_china.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

irresistable to irresistible loc only
  localisation/Flavour_Naleni_F55_l_english.yml
Due: Localization Encoding

these got lost loc only
  localisation/Flavour_Azkabar_F35_l_english.yml
  localisation/Flavour_Cestirmark_H33_l_english.yml
  localisation/Flavour_Empkeios_G53_l_english.yml
  localisation/Flavour_Truedagger_H85_l_english.yml
  localisation/anb_adventurers_wanted_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Localization Encoding

devouring path improvement
  common/church_aspects/anb_devouring_path.txt
Due: none

millenium to millennium
  events/Flavour_Wesdam_A04.txt
  localisation/Flavour_Wesdam_A04_l_english.yml
  localisation/Flavour_Zongji_Y25_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_startup_screen_l_english.yml
  missions/Wesdam_Missions.txt
Due: Events Encoding, Localization Encoding

millenia to millennia refactor
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

neccessary to necessary loc only
  localisation/Flavour_Anisikheion_G59_l_english.yml
  localisation/Flavour_Luciande_B34_l_english.yml
Due: Localization Encoding

neccessary to necessary refactor
  localisation/Flavour_Luciande_B34_l_english.yml
  missions/Luciande_Missions.txt
Due: Localization Encoding

noticable to noticeable loc only
  localisation/Flavour_Blademarches_B33_l_english.yml
Due: Localization Encoding

occassion to occasion
  localisation/Flavour_Allclan_I98_l_english.yml
  localisation/Flavour_NuugdanTsarai_Y91_l_english.yml
  localisation/Flavour_OvdalTungr_F23_l_english.yml
  localisation/Flavour_Vandipha_L62_l_english.yml
  localisation/Flavour_VelsFadhecai_G38_l_english.yml
  localisation/anb_modifiers_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/origins_l_english.yml
Due: Localization Encoding

Pain
  events/Flavour_Konolkhatep_F66.txt
Due: Events Encoding

funny thing
  common/disasters/khatalashya_space_war.txt
Due: none

small yinquan bugfix
  common/custom_gui/countrymilitaryview.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  decisions/MagicDecisions.txt
  events/Flavour_Black_Demesne_Z99.txt
  events/Magic_Ruler_Events.txt
  events/Magic_System_Events.txt
Due: Decisions Encoding, Events Encoding

land-grant academies toning down
  common/estate_privileges/estate_mages_privileges.txt
Due: none

dzzzzz
  missions/Brrtekuh_Missions.txt
Due: none

scoping fix
  events/Flavour_Pashaine_B59.txt
Due: Events Encoding

taychend released vassals now join wars + scoping fixes
  common/estate_privileges/estate_artifice_privileges.txt
  common/parliament_bribes/scapegoat_bribe.txt
  common/scripted_effects/taychend_scripted_effects.txt
  events/Flavour_Iochand_A80.txt
  events/Flavour_Rezankand_H67.txt
  events/Flavour_Zokka_F29.txt
  events/Transmutative_Path_events.txt
  events/forbidden_lands_sedentarization.txt
  missions/Beikdugang_Missions.txt
Due: Events Encoding

Mokuakua Nis
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Mokuakua Ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fixing Mistakes
  events/Flavour_Unguldavor_Z52.txt
  localisation/Flavour_Unguldavor_Z52_l_english.yml
  missions/Unguldavori_Missions.txt
Due: Events Encoding, Localization Encoding

Fixing Effect
  missions/Unguldavori_Missions.txt
Due: none

Fixing Artificery Unlock
  events/Flavour_Unguldavor_Z52.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding

Ditto
  events/Flavour_Unguldavor_Z52.txt
Due: Events Encoding

Revert "Mokuakua Ideas"
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Reapply "Mokuakua Ideas"
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding
