Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

events part 2
  common/event_modifiers/CoT_Crowsharvest_eventrewards.txt
  decisions/CoT_CrowsharvestDecisions.txt
  localisation/CoT_crowsharvest_event_rewards_l_english.yml
Due: Decisions Encoding, Localization Encoding

integrated badooks event file into sess4.txt
  Sess4.txt
Due: Brackets Syntax

Bjarnrik MT fix 1
  missions/Bjarnrik_Missions.txt
Due: none

Bim Lau Ideas
  common/ideas/anb_country_ideas.txt
Due: none

Event Rewards n shit
  Sess4.txt
  TEST.txt
  common/event_modifiers/CoT_Crowsharvest_eventrewards.txt
  common/imperial_reforms/00_hre_emperor.txt
Due: Brackets Syntax

loc n done innit
  TEST.txt
  localisation/CoT_crowsharvest_event_rewards_l_english.yml
Due: Localization Encoding, Brackets Syntax

Rakkaz MT fix
  Sess5.txt
  missions/Rakkaz_Missions.txt
Due: Brackets Syntax

Karakhanbar MT fix
  missions/Karakhanbar_Missions.txt
Due: none

Eilisin MT UPDATE
  common/event_modifiers/CoT_Mission_Modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  decisions/MagicDecisions.txt
  missions/Eilisin_Missions.txt
Due: Decisions Encoding

EILISIN MT pt2
  missions/Eilisin_Missions.txt
Due: none

Loc + bugfixes to Eilisin MT
  common/event_modifiers/CoT_Mission_Modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  localisation/CoT_mission_modifiers_l_english.yml
  missions/Eilisin_Missions.txt
Due: Localization Encoding

Rulebreaks save edits
  Sess5.txt
Due: Brackets Syntax

Aristo bonus
  common/governments/00_governments.txt
  common/ideas/00_basic_ideas.txt
  common/ideas/CoT_group_ideas.txt
  common/on_actions/00_on_actions.txt
  localisation/powers_and_ideas_l_english.yml
Due: Localization Encoding

Piety + Progress
  common/event_modifiers/CoT_idea_groups_modifiers.txt
  common/ideas/CoT_group_ideas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/trading_policies/00_trading_policies.txt
  events/CoT_idea_groups_events.txt
  events/CoT_ideas_events.txt
  events/CoT_ideas_events_old.txt
  localisation/CoT_idea_groups_l_english.yml
  localisation/powers_and_ideas_l_english.yml
  localisation/scandinavia_l_english.yml
Due: Events Encoding, Localization Encoding

Religious + Espionage
  common/event_modifiers/CoT_idea_groups_modifiers.txt
  common/ideas/CoT_group_ideas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/CoT_scripted_triggers.txt
  events/CoT_idea_groups_events.txt
  localisation/CoT_idea_groups_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Absolutism + Offensive
  common/estate_crown_land/00_interactions.txt
  common/event_modifiers/CoT_idea_groups_modifiers.txt
  common/ideas/CoT_group_ideas.txt
  common/on_actions/00_on_actions.txt
  events/CoT_idea_groups_events.txt
  localisation/CoT_idea_groups_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Defensive + Mercantilism
  common/event_modifiers/CoT_idea_groups_modifiers.txt
  common/ideas/CoT_group_ideas.txt
  common/on_actions/00_on_actions.txt
  events/CoT_idea_groups_events.txt
  localisation/CoT_idea_groups_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Gobbo Formables
  common/countries/Kranesem.txt
  common/countries/Nobencestir.txt
  common/country_tags/anb_countries.txt
  common/government_reforms/07_government_reforms_COT.txt
  common/governments/00_governments.txt
  common/ideas/CoT_country_ideas.txt
  decisions/CoT_Crowsharvest_Formables.txt
  history/countries/X36 - Nobencestir.txt
  history/countries/X37 - Kranesem.txt
Due: Decisions Encoding

gobbo formable decision fix
  decisions/CoT_Crowsharvest_Formables.txt
Due: Decisions Encoding

Bugfix Elk name + Eilisin MT
  common/event_modifiers/CoT_Mission_Modifiers.txt
  localisation/CoT_mission_modifiers_l_english.yml
Due: Localization Encoding

Khozrugan MT Rework + Eilisin MT tweaks
  common/event_modifiers/CoT_Mission_Modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_triggers/00_scripted_triggers.txt
  events/Flavour_Khozrugan_Z51.txt
  localisation/CoT_mission_modifiers_l_english.yml
  missions/Eilisin_Missions.txt
  missions/Khozrugani_Missions.txt
Due: Events Encoding, Localization Encoding

U53 monument fix
  Sess5.txt
Due: Brackets Syntax

Explo + Eco
  common/event_modifiers/CoT_idea_groups_modifiers.txt
  common/on_actions/00_on_actions.txt
  decisions/CoT_idea_groups_decisions.txt
  events/CoT_idea_groups_events.txt
  localisation/CoT_idea_groups_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Quality
  common/event_modifiers/CoT_idea_groups_modifiers.txt
  common/scripted_effects/CoT_idea_groups_effects.txt
  decisions/CoT_idea_groups_decisions.txt
  events/CoT_idea_groups_events.txt
  localisation/CoT_idea_groups_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Magic + Logistics
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  events/CoT_idea_groups_events.txt
  localisation/CoT_idea_groups_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Empire
  common/event_modifiers/CoT_idea_groups_modifiers.txt
  common/on_actions/00_on_actions.txt
  localisation/CoT_idea_groups_l_english.yml
  localisation/powers_and_ideas_l_english.yml
Due: Localization Encoding

Save edits
  Sess5.txt
Due: Brackets Syntax

OA fixes
  common/event_modifiers/CoT_Mission_Modifiers.txt
  events/Magocracies.txt
  localisation/CoT_mission_modifiers_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding

Exelaire Save Edit
  Sess5.txt
Due: Brackets Syntax

Added new FP cultures to FP monument
  common/great_projects/anb_great_projects.txt
Due: none

Added CoT building Tiers to has_x_building triggers
  common/scripted_triggers/00_scripted_triggers.txt
Due: none

Added new CoT trade goods to Hold specialization Event
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

Base Sandsorch update 2
  common/country_tags/anb_countries.txt
  events/Flavour_ZokkaJaddariWar.txt
  history/countries/F79 - Sihrusam.txt
  history/countries/X50 - Baganargma.txt
  history/countries/X51 - Erubas.txt
Due: Events Encoding

Essdam and Mulen Save edit
  Sess5.txt
Due: Brackets Syntax

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
