Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

XDDDDDD
  common/countries/Vaengheim.txt
Due: none

Mana Privileges
  common/estate_privileges/0002_rajput_privileges.txt
  common/estate_privileges/001_brahmin_privileges.txt
  common/estate_privileges/002_maratha_privileges.txt
  common/estate_privileges/01_CoT_mana_privileges.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/07_jain_privileges.txt
  common/estate_privileges/10_qizilbash_privileges.txt
  common/estate_privileges/11_ghulams_privileges.txt
  common/estate_privileges/estate_eunuchs_anb_privileges.txt
  common/estate_privileges/estate_lion_command_privileges.txt
  common/estate_privileges/estate_lowercastes_privileges.txt
  common/estate_privileges/estate_middlecastes_privileges.txt
  common/estate_privileges/estate_patricians_privileges.txt
  common/estate_privileges/estate_shirgrii_privileges.txt
  common/estate_privileges/estate_uppercastes_privileges.txt
  common/estate_privileges/estate_wolf_command_privileges.txt
Due: none

Fixed broken events
  events/CoT_Blumm_Startup.txt
Due: Events Encoding

Toarnen mission fix
  missions/Toarnen_Missions.txt
Due: none

globalization of the gem market
  common/tradegoods/00_tradegoods.txt
Due: none

erratic court part 1
  decisions/CoT_Cannorwake_Formables.txt
  events/InfernalCourtEvents.txt
  history/provinces/2960 - Kings_Border.txt
  history/provinces/7947 - Hightown.txt
  missions/Ekha_Missions.txt
  missions/Lorentish_Missions.txt
  missions/Tugund-Darakh_Missions.txt
  missions/Vyzemby_missions.txt
  save-edits-1-2.txt
Due: Decisions Encoding, Events Encoding, Brackets Syntax

Twilight elves
  common/cultures/anb_cultures.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/DiggyDiggyHole.txt
  localisation/CoT_cultures_l_english.yml
  localisation/CoT_i_nations_l_english.yml
  save-edits-1-2-kakapo.txt
Due: Decisions Encoding, Localization Encoding, Brackets Syntax

Twilight elves generic MT
  save-edits-1-2-kakapo.txt
Due: Brackets Syntax

erratic court part 2
  common/countries/Meradzor.txt
  common/country_tags/anb_countries.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/subject_types/00_subject_types.txt
  decisions/CoT_Cannorwake_Formables.txt
  history/countries/W42 - Meradzor.txt
  localisation/CoT_i_nations_l_english.yml
  missions/Corvuria_Missions.txt
  missions/Tluukt_Missions.txt
  save-edits-1-2.txt
Due: Decisions Encoding, Localization Encoding, Brackets Syntax

Twilight elves oath of evolution
  save-edits-1-2-kakapo.txt
Due: Brackets Syntax

Some twilight elf flavour
  save-edits-1-2-kakapo.txt
Due: Brackets Syntax

Bale Hale
  gfx/sprite_packs/Anbennar_sprites.txt
Due: none

erratic court part 3
  common/disasters/war_of_the_black_trees.txt
  save-edits-1-2.txt
Due: Brackets Syntax

Twilight elf renaissance
  save-edits-1-2-kakapo.txt
Due: Brackets Syntax

alotofshit ( a lot of shit )
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/CoT_misc_modifiers.txt
  save-edits-1-2.txt
Due: Brackets Syntax

fix
  save-edits-1-2.txt
Due: Brackets Syntax

fixfix
  save-edits-1-2.txt
Due: Brackets Syntax

I want renaissance
  save-edits-1-2.txt
Due: Brackets Syntax

change_d some things
  save-edits-1-2.txt
Due: Brackets Syntax

Rakkaz Tluukt Deadfang
  common/event_modifiers/CoT_Event_Modifiers.txt
  events/CoT_RP_Events.txt
  save-edits-1-2.txt
Due: Events Encoding, Brackets Syntax

Luna Event
  common/event_modifiers/CoT_Event_Modifiers.txt
  save-edits-1-2.txt
Due: Brackets Syntax

Warjoy Event
  save-edits-1-2.txt
Due: Brackets Syntax

Thieving arrow Event
  save-edits-1-2.txt
Due: Brackets Syntax

Meradzor Event
  common/event_modifiers/CoT_Event_Modifiers.txt
  save-edits-1-2.txt
Due: Brackets Syntax

Happy Harpy Harem Event
  common/event_modifiers/CoT_Event_Modifiers.txt
  save-edits-1-2.txt
Due: Brackets Syntax

Samsumbat Event
  common/event_modifiers/CoT_Event_Modifiers.txt
  save-edits-1-2.txt
Due: Brackets Syntax

Did a forgor
  common/event_modifiers/CoT_Event_Modifiers.txt
Due: none

some more fixes for event rewards
  save-edits-1-2.txt
Due: Brackets Syntax

reveria church deletion
  save-edits-1-2.txt
Due: Brackets Syntax

forgot to remove test part
  save-edits-1-2.txt
Due: Brackets Syntax

Arg ordstun elven minorities, also made Busial PU cb last one session
  save-edits-1-2.txt
Due: Brackets Syntax

Gawed Event
  common/event_modifiers/CoT_Event_Modifiers.txt
  save-edits-1-2.txt
Due: Brackets Syntax

Fixin oopsies
  save-edits-1-2.txt
Due: Brackets Syntax

Encoding you greasy bastards
  save-edits-1-2.txt
Due: Brackets Syntax

Another lil fixi i saw
  common/event_modifiers/CoT_Event_Modifiers.txt
  save-edits-1-2.txt
Due: Brackets Syntax

Waaagh
  decisions/CoT_Current_Camp_Misc.txt
Due: Decisions Encoding

bugfix to erratic court edit
  save-edits-1-2.txt
Due: Brackets Syntax

forgor'd something else
  save-edits-1-2.txt
Due: Brackets Syntax

smol changes
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/scripted_triggers/00_scripted_triggers.txt
  decisions/CoT_Current_Camp_Misc.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  localisation/cot_nation_ideas_l_english.yml
  save-edits-1-2-kakapo.txt
  save-edits-1-2.txt
Due: Decisions Encoding, Localization Encoding, Brackets Syntax

blumjob
  gfx/sprite_packs/Anbennar_sprites.txt
  gfx/sprite_packs_order/00_sprite_pack_orders.txt
Due: none
