Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

.
  localisation/Flavour_Mykx_G93_l_english.yml
Due: Localization Encoding

.
  decisions/PhoenixEmpireDecisions.txt
Due: Decisions Encoding

.
  missions/Reveria_Missions.txt
Due: none

.
  localisation/Flavour_Reveria_A05_l_english.yml
  missions/Reveria_Missions.txt
Due: Localization Encoding

Revert New Magocracy Gov Reform, add option to Homunculus event instead
  common/event_modifiers/anb_magic_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  events/Magic_Project_Events.txt
  localisation/anb_governments_l_english.yml
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

bobi
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/FahvanosyDecisions.txt
  events/Flavour_Bibyobi_S98.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
  localisation/Flavour_Zuvavim_L09_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

taychend
  common/peace_treaties/anb_taychend_humiliate.txt
Due: none

.
  common/on_actions/00_on_actions.txt
Due: none

Minor spelling mistake
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

UI now shows where the capital will be changed to
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

d
  events/Flavour_Dogeater_B28.txt
  events/Group_Flavour_Orcs.txt
  events/NativeAmerican.txt
  localisation/flavour_dogeater_b28_l_english.yml
  missions/Dogeater_Missions.txt
Due: Events Encoding, Localization Encoding

d
  localisation/flavour_dogeater_b28_l_english.yml
Due: Localization Encoding

Zokka Tributary Subject Annexation Fix
  decisions/ZokkaDecisions.txt
Due: Decisions Encoding

Deleting a space
  decisions/ZokkaDecisions.txt
Due: Decisions Encoding

Test
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

Removes Religious Zeal on province change too
  common/on_actions/00_on_actions.txt
Due: none

Part 1 Mission Untested
  common/event_modifiers/anb_orenvalyam_modifiers.txt
  common/hegemons/2_military_hegemon.txt
  common/parliament_issues/anb_orenvalyam.txt
  common/scripted_effects/taychend_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_taychend.txt
  events/Flavour_Orenvalyam_U39.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding, Localization Encoding

Missing Reconquest Event loc added
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

loc dynamic name fix
  localisation/Flavour_TheCommand_R62_l_english.yml
Due: Localization Encoding

b
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
  missions/Dogeater_Missions.txt
Due: Localization Encoding

d
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

More Mykxes
  events/Flavour_Mykx_G93.txt
  localisation/anb_magic_system_l_english.yml
  missions/Mykx_Missions.txt
Due: Events Encoding, Localization Encoding

estate cleanup - courtly events - not finished
  events/NewCourtFlavorEvents.txt
Due: Events Encoding

.
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Reveria_A05_l_english.yml
  missions/Reveria_Missions.txt
Due: Localization Encoding

estate celanup - random events and checked courtly
  events/RandomEvents.txt
Due: Events Encoding

estate cleanup - forgot an OR
  events/RandomEvents.txt
Due: Events Encoding

.
  events/Flavour_Reveria_A05.txt
  missions/Reveria_Missions.txt
Due: Events Encoding

Vic League - Celmaldor patch: bunch of fixes
  common/estate_privileges/anb_privileges.txt
  common/government_mechanics/anb_vic_league.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
  common/scripted_triggers/anb_scripted_triggers_celmaldor.txt
  customizable_localization/anb_custom_celmaldor_localization.txt
  events/Flavour_Celmaldor_Z22.txt
  events/Vic_League.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  localisation/vic_league_l_english.yml
Due: Events Encoding, Localization Encoding

Oops
  common/estate_privileges/anb_privileges.txt
Due: none

Zurka Qarshtuluu individual missions
  common/event_modifiers/anb_lake_modifiers.txt
  common/on_actions/00_on_actions.txt
  decisions/LakeFederationDecisions.txt
  events/LakeFederationEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
  missions/LakeFederation_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

.
  localisation/Flavour_Reveria_A05_l_english.yml
Due: Localization Encoding

bop
  decisions/FahvanosyDecisions.txt
Due: Decisions Encoding

Work
  common/scripted_effects/taychend_scripted_effects.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
Due: Localization Encoding

Oops
  common/estate_privileges/estate_mages_privileges.txt
Due: none

Ooopses
  events/YudunyoviEvents.txt
Due: Events Encoding

To
  localisation/anb_religions_l_english.yml
  localisation/anb_yudunyovi_l_english.yml
Due: Localization Encoding

fix
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

Bypass
  events/YudunyoviEvents.txt
Due: Events Encoding
