Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

.
  gfx/flags/face_stealers_rebels.tga
Due: none

Wor
  common/buildings/00_buildings.txt
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  decisions/MechanimNation.txt
  events/ArtificeResearch.txt
  localisation/anb_generic_insyaa_l_english.yml
  localisation/anb_insyaa_artificery_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

New Art
  common/event_modifiers/charkuchin_kobold_modifiers.txt
  gfx/interface/ideas_EU4/citadel_modifier_icon.dds
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

fixed monument text backdrop
  gfx/interface/great_projects/great_project_narikala_fortress.dds
Due: none

shortened cyranmyna name
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

fp discovery fixes
  events/Flavour_Nansalen_F80.txt
Due: Events Encoding

Trade Goods of Citadels
  common/scripted_effects/anb_scripted_effects_for_citadels.txt
Due: none

using any_country less
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  missions/Nansalen_Missions.txt
Due: none

type_is_not_advancing_school
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

3 NA monuments for amber - also rework of plant growth spell modifier upgrade ilvandet
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_agendas/anb_mages_agendas.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/great_projects/anb_monuments_aelantir.txt
  common/great_projects/anb_monuments_cannor.txt
  common/on_actions/00_on_actions.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Marmorac_events.txt
  interface/anb_great_project.gfx
  localisation/anb_great_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_misc_l_english.yml
Due: Events Encoding, Localization Encoding

last fix ty Raist
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

fixing setting too many flags in fp discovery
  events/Flavour_Nansalen_F80.txt
Due: Events Encoding

proper scoping
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

monument fixes
  gfx/interface/great_projects/great_project_ebbusubtu.dds
  gfx/interface/great_projects/great_project_eduz_ginakku.dds
  gfx/interface/great_projects/great_project_eka_idulnazzar.dds
  gfx/interface/great_projects/great_project_iron_palace.dds
  gfx/interface/great_projects/great_project_lake_palace.dds
  gfx/interface/line_divider_icon.dds
  interface/anb_great_project.gfx
  interface/great_project.gfx
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

forgor one
  gfx/interface/great_projects/great_project_bladeskeep.dds
  interface/anb_great_project.gfx
Due: none

Local
  common/event_modifiers/charkuchin_kobold_modifiers.txt
Due: none

im terrible at my job
  gfx/interface/great_projects/great_project_bladeskeep.dds
Due: none

nansalen fix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

.
  gfx/flags/accretive_path_rebels.tga
  gfx/flags/aycha_alpa_rebels.tga
  gfx/flags/dunborgula_rebels.tga
  gfx/flags/endless_ocean_rebels.tga
  gfx/flags/face_stealers_rebels.tga
  gfx/flags/foundationism_rebels.tga
  gfx/flags/infinite_self_rebels.tga
  gfx/flags/kuriatema_rebels .tga
  gfx/flags/molten_eternity_rebels.tga
  gfx/flags/mumambarra_rebels.tga
  gfx/flags/speaking_memory_rebels.tga
  gfx/flags/transmutative_path_rebels.tga
  gfx/flags/volcanic_truth_rebels.tga
Due: none

.
  gfx/flags/manago_poku_rebels.tga
Due: none

typo and syntax unicorn knight
  localisation/Flavour_GreatOrding_A17_l_english.yml
Due: Localization Encoding

fix a pdx loc errors
  localisation/scandinavia_l_english.yml
Due: Localization Encoding

startup screen fixes
  customizable_localization/00_start_screen.txt
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

enviroment to environment - in code and loc
  common/event_modifiers/racial_event_modifiers.txt
  events/ToleranceOgre.txt
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

(re?)- add mechanim tolerance .1-3 loc
  localisation/mechanim_l_english.yml
Due: Localization Encoding

shatzundir tt marble building
  localisation/Flavour_Shazstundihr_I11_l_english.yml
  missions/Shazstundihr_Missions.txt
Due: Localization Encoding

no set opinion against self
  events/Flavour_Nispac_N78.txt
Due: Events Encoding

rezankand_slave_provinces better
  events/Flavour_Rezankand_H67.txt
Due: Events Encoding

fix gender of an escann ruler
  events/Escann_Adventurers_Intro.txt
Due: Events Encoding

konol typo
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

apikhoxi fixes
  localisation/Flavour_Apikhoxi_G57_l_english.yml
  missions/Apikhoxi_Missions.txt
Due: Localization Encoding

forward name to adjective for deepwood portal
  localisation/prov_names_adj_l_english.yml
Due: Localization Encoding

victorius to victorious - in so many things
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_triggers/anb_scripted_triggers_schools.txt
  customizable_localization/anb_custom_loca.txt
  decisions/AnzalkatsaDecisions.txt
  events/AnzalkatsaSchoolFightEvents.txt
  events/Flavour_Khatalashya_S81.txt
  events/SarhalEvents.txt
  gfx/interface/icon_lizard_school_being_sculptors_victorious.dds
  gfx/interface/icon_lizard_school_fate_sculptors_victorious.dds
  interface/countryreligionview.gfx
  localisation/anb_anzalkatsa_clash_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

2 monument scope fixes
  common/great_projects/anb_monuments_rahen_haless.txt
  common/great_projects/anb_monuments_sarhal.txt
Due: none

check for building slots mage tower
  common/estate_agendas/anb_mages_agendas.txt
Due: none

rezankand fixes
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Rezankand_H67.txt
  localisation/Flavour_Rezankand_H67_l_english.yml
  missions/Rezankand_Missions.txt
Due: Events Encoding, Localization Encoding

konol typo
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Localization Encoding

selfreview
  customizable_localization/00_start_screen.txt
  missions/Rezankand_Missions.txt
Due: none

what if venail conquers the serpentspine
  events/DiggyDiggyFallenDwarf.txt
Due: Events Encoding

Godess to Goddess - in loc and code
  common/event_modifiers/anb_effelai_worship_modifiers.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  localisation/effelai_worship_l_english.yml
  missions/Effelai_Missions.txt
Due: Localization Encoding
