Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

missing loca fixed
  localisation/Flavour_Gushuokguan_Y17_l_english.yml
Due: Localization Encoding

removed exclusivity checks for nonexistant gov reforms
  common/governments/00_governments.txt
Due: none

Values were too high
  common/church_aspects/anb_osc_aspect.txt
Due: none

Revert "Values were too high"
  common/church_aspects/anb_osc_aspect.txt
Due: none

removed escanni formation effects for anbenncost
  decisions/1EscannFormables.txt
Due: Decisions Encoding

trigger was checked twice
  events/EscanniWars.txt
Due: Events Encoding

xiaken azjakuma cant steal other xiaken anymore
  common/cb_types/00_cb_types.txt
Due: none

maybe I am an idiot
  missions/Celmaldor_Missions.txt
Due: none

made bad ruler message more halannish
  localisation/EU4_l_english.yml
Due: Localization Encoding

fixes
  events/Flavour_Salla_Drennen_I28.txt
  interface/topbar.gui
  localisation/Flavour_Salla_Drennen_I28_l_english.yml
  missions/Salla_Drennen_Missions.txt
Due: Events Encoding, Localization Encoding

Great Mage event number fix
  events/GreatMen.txt
  localisation/anb_events_l_english.yml
  missions/FarraneanMissions.txt
Due: Events Encoding, Localization Encoding

PR !2926 OSC Seasway Values too High
  common/church_aspects/anb_osc_aspect.txt
Due: none

PR !2881 Pachapuru NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

bf1
  decisions/ColonialFormables.txt
  history/countries/U50 - Leidhancost.txt
Due: Decisions Encoding

Bringing over a file from vanilla
  localisation/yama_1_36_l_english.yml
Due: Localization Encoding

Shadow Warriors
  common/defines.lua
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_mages_privileges.txt
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/95_monstrous_tribe.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/holy_orders/anb_holy_orders.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/shadow_pact_scripted_effects.txt
  common/static_modifiers/00_static_modifiers.txt
  events/SarhalEvents.txt
  localisation/anb_holy_orders_l_english.yml
  localisation/anb_sarhal_events_l_english.yml
  localisation/anb_shadow_pact_l_english.yml
Due: Events Encoding, Localization Encoding

[Steam] Konol script bugproofing
  common/scripted_effects/konolkhatap_scripted_effects.txt
Due: none

reverted for steam only
  common/scripted_effects/anb_scripted_effects_for_province_ui.txt
  events/YnnEvents.txt
Due: Events Encoding

Ruler stats increases capped for vampires
  common/scripted_effects/CoT_misc_effects.txt
Due: none

Vass edits and some more
  events/CoT_frostheart_winter.txt
  rewards_2_3.txt
Due: Events Encoding, Brackets Syntax

Cagodic and taric minorities fix
  common/event_modifiers/anb_gerudia_modifiers.txt
Due: none

code review
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_scripted_effects.txt
  events/DiggyDiggyHoleEvents.txt
  events/Flavour_MaskedButcher_H81.txt
  events/Flavour_Wineport_A16.txt
  events/ToleranceOgre.txt
  history/countries/U67 - Daughters of the Hills.txt
  history/countries/U68 - Kiohalen.txt
Due: Events Encoding

Centaur Releasables
  common/countries/Burning Frost.txt
  common/countries/Gladedancer.txt
  common/ideas/anb_country_ideas.txt
  gfx/flags/I68.tga
  gfx/flags/I77.tga
  gfx/flags/J57.tga
  gfx/flags/J58.tga
  history/countries/I77 - Mensbane.txt
  history/countries/J57 - Gladedancer.txt
  history/countries/J58 - Burning Frost.txt
  history/provinces/5121 - Hoadileach.txt
  history/provinces/5122 - Domnleag.txt
  history/provinces/5123 - Socharrain.txt
  history/provinces/5124 - Ageenubli.txt
  history/provinces/5125 - Risdharsunh.txt
  history/provinces/5126 - Tinhtoogh.txt
  history/provinces/5127 - Traghnaera.txt
  history/provinces/5141 - Oirghsegh.txt
  history/provinces/5142 - Godhegudh.txt
  history/provinces/5144 - Domnobu.txt
  history/provinces/5145 - Fathughobu.txt
  history/provinces/5146 - Imulotpaek.txt
  history/provinces/5149 - Faanhosegh.txt
  history/provinces/5196 - Armenzamh.txt
  history/provinces/5213 - Nachatai.txt
  history/provinces/5215 - Caubhomar.txt
  history/provinces/5216 - Godairbhoch.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

.
  common/country_tags/anb_countries.txt
Due: none

more code review
  common/estate_privileges/anb_privileges.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects.txt
Due: none

more code review
  common/estate_privileges/10_qizilbash_privileges.txt
  common/estate_privileges/11_ghulams_privileges.txt
Due: none

formatting
  common/scripted_effects/anb_scripted_effects.txt
Due: none

.
  history/provinces/5194 - Salrlochd.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Khetism Events 1-5
  common/on_actions/00_on_actions.txt
  events/KhetismEvents.txt
  localisation/KhetismEvents_l_english.yml
Due: Events Encoding, Localization Encoding

Shadow Warriors bugfix pt. 1
  common/holy_orders/anb_holy_orders.txt
  history/countries/F68 - Rombeni.txt
  history/countries/L66 - Simegasa.txt
  history/countries/S30 - Death_Bringing_Cobra.txt
  history/countries/S36 - Stealthy_Duiker.txt
  history/countries/U47 - Shyarayan.txt
  localisation/anb_sarhal_events_l_english.yml
Due: Localization Encoding

reverted for steam only
  common/estate_privileges/anb_privileges.txt
Due: none

Raist is amazing!
  common/disasters/konolkhatep_xhaz_disaster.txt
  missions/Khatalashya_Missions.txt
Due: none

loc and stuff
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/estate_mages_privileges.txt
  common/holy_orders/anb_holy_orders.txt
  localisation/anb_holy_orders_l_english.yml
  localisation/anb_sarhal_events_l_english.yml
Due: Localization Encoding

Fix loyalty threshold
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
Due: none

Shadow Warriors bugfix pt. 2
  common/on_actions/00_on_actions.txt
  localisation/anb_sarhal_events_l_english.yml
Due: Localization Encoding

magic balance patch
  common/custom_gui/magic_menu.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/powerprojection/00_static.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  events/Magic_Project_Events.txt
  events/Magic_Ruler_Events.txt
  events/Magic_Spell_Events.txt
  events/Magic_System_Events.txt
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_ruler_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Events Encoding, Localization Encoding

kalyin_worshippers isnt a religion_group that would be triunic_lake
  events/Kalyin_Harmonize.txt
Due: Events Encoding

added pro forma end dates to all starting wars - no effect
  history/wars/AsartaConquestOfKarrask.txt
  history/wars/KarshyrasRebellion.txt
  history/wars/NiratRebellionWar.txt
  history/wars/RulerOfTheEasternSands.txt
  history/wars/ShuvuushStartingWar.txt
Due: none

Horseman Histories
  history/countries/I51 - Battlesong.txt
  history/countries/I69 - Star Rider.txt
  history/countries/I85 - Stormsinger.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
