Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

[new-master] Zena MT 2.03331
  missions/Zena Missions.txt
Due: none

.
  gfx/interface/ideas_EU4/charkuchin_subglaciar_lake.dds
  gfx/interface/ideas_EU4/damestear_island.dds
  gfx/interface/ideas_EU4/holohana_in_province.dds
  gfx/interface/ideas_EU4/kiamoa_entrance_guard.dds
  gfx/interface/ideas_EU4/sole_forest.dds
Due: none

makes the storyline visible
  events/HalessiSpirits.txt
Due: Events Encoding

Add Tamariki NIs (3rd try)
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

swapping deposit divination and eye for talent around in the menu
  common/custom_gui/magic_menu.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  customizable_localization/anb_magic_menus_localization.txt
  gfx/interface/custom_gui/magic/magic_spell_icons_slot_2_60x60.dds
  gfx/interface/custom_gui/magic/magic_spell_icons_slot_3_60x60.dds
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

more triggers
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

custom spell
  common/custom_gui/magic_spell_lists.txt
  common/event_modifiers/anb_harpylen_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  gfx/flags/F98.tga
  interface/topbar.gui
  localisation/Flavour_Harpylen_l_english.yml
  localisation/anb_magic_spells_custom_l_english.yml
Due: Localization Encoding

hidden
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

Eighard MT 0.035
  customizable_localization/anb_magic_menus_localization.txt
  events/Flavour_Eighard_H14.txt
  localisation/anb_magic_spells_custom_l_english.yml
Due: Events Encoding, Localization Encoding

.
  common/event_modifiers/anb_cannor_monument_modifiers.txt
  common/great_projects/anb_monuments_aelantir.txt
  history/provinces/945 - Antir_Soara.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

ok fix 2
  common/scripted_effects/anb_scripted_effects_for_xia.txt
Due: none

code review fixes
  events/Flavour_Shuvuush.txt
  events/estate_castonath_patricians.txt
  localisation/Flavour_Gronstunad_I22_l_english.yml
  localisation/Flavour_Seghdihr_H78_l_english.yml
  localisation/anb_khet_mandate_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

.
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

more code review
  localisation/Flavour_Seghdihr_H78_l_english.yml
Due: Localization Encoding

finish
  decisions/HarpylenDecisions.txt
  events/Flavour_Harpylen_F98.txt
  localisation/Flavour_Harpylen_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

aaaa
  Users/cadenmathews/Documents/Paradox Interactive/Europa Universalis IV/mod/anbennar-eu4-dev-new-master/missions/Cangji_Missions.txt
  common/custom_gui/provinceview.txt
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/anb_cangji_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_Cangji_V05.txt
Due: Events Encoding

more expansive check for MI
  common/custom_gui/magic_menu.txt
Due: none

Fix for Gov Mech TT
  common/custom_gui/zz_mission_content.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/static_modifiers/00_static_modifiers.txt
  localisation/Flavour_Lelanan_L36_l_english.yml
Due: Localization Encoding

code reviewer changes
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  decisions/EastSarhalFormables.txt
  decisions/ForbiddenPlainsFormables.txt
  events/GreatConqueror.txt
Due: Decisions Encoding, Events Encoding

e
  events/GreatConqueror.txt
Due: Events Encoding

e
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

Stop harpy homunculus ruler from having heirs
  events/HarpyEvents.txt
Due: Events Encoding

add clarifying loc to verne port of adventure btn
  localisation/Flavour_Verne_A33_l_english.yml
Due: Localization Encoding

magic project
  common/custom_gui/magic_menu.txt
  common/custom_gui/magic_unique_projects.txt
  common/event_modifiers/anb_harpylen_modifiers.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Flavour_Harpylen_F98.txt
  events/Magic_Project_Events.txt
  events/Magic_System_Events.txt
  localisation/Flavour_Harpylen_l_english.yml
  localisation/anb_magic_spells_custom_l_english.yml
Due: Events Encoding, Localization Encoding

Starting on custom diplo actions. Still WIP.
  common/custom_gui/countrydiplomacyview.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  interface/countrydiplomacyview.gui
Due: none

Lupulan Rangers 1
  common/church_aspects/anb_mystic_accord_aspects.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/estates/98_adventurers.txt
  common/event_modifiers/anb_lupulan_modifiers.txt
  common/event_modifiers/anb_sri_baginda_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/anb_scripted_effects_sri_baginda.txt
  common/scripted_triggers/anb_scripted_triggers_sri_baginda.txt
  common/subject_types/00_subject_types.txt
  decisions/EstateActionsAdventurers.txt
  events/HalessiSpirits.txt
  events/LupulanEvents.txt
  history/countries/Y74 - Pelimkana.txt
  history/countries/Y75 - Tlagapatung.txt
  history/countries/Y76 - Jaya Raya.txt
  history/countries/Y77 - Kapaklawan.txt
  history/countries/Y78 - Bukit Bantay.txt
  history/countries/Y79 - Lelak.txt
  history/countries/Y80 - Menek Poko.txt
  history/countries/Y81 - Kuplukamba.txt
  history/countries/Y82 - Labanyak.txt
  history/countries/Y83 - Kuta.txt
  history/provinces/4710 - Candiraya.txt
  history/provinces/4713 - Peminong.txt
  history/provinces/4730 - Labanyak.txt
  history/provinces/4732 - Kuplukamba.txt
  history/provinces/4737 - Kasepubeng.txt
  history/provinces/4741 - Linkamtas.txt
  history/provinces/4765 - Tlagapatung.txt
  history/provinces/4770 - Kapabeng.txt
  history/provinces/4774 - Kuta.txt
  history/provinces/4965 - Kuwarmoh.txt
  localisation/anb_lupulan_events_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

lich tooltip
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Still need to finish gain_minorities_of_target_country_primary_race but the rest of custom diplo should be good
  common/custom_gui/countrydiplomacyview.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
Due: none

Day One Progress
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/karach_scripted_effects.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  decisions/EastSarhalFormables.txt
  decisions/Governments.txt
  events/Flavour_Karach_L77.txt
  localisation/Flavour_Karach_L77_l_english copy.yml
  missions/Karach_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

holy shit I think it is working?
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Localization Encoding

de-uwuified the tooltip
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Localization Encoding

tiny loc fix
  localisation/Flavour_Zulbur_L80_l_english.yml
Due: Localization Encoding

kharunyana quest 5 better tt
  customizable_localization/anb_rending_appeasement.txt
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

manago poku migrate scope fix
  common/scripted_effects/mechanim_scripted_effects.txt
Due: none

transmutative path aPUI parsing error fix
  common/custom_gui/provinceview.txt
Due: none

fixing renamed kobold regions in charkuchin kobold scripted effects/events
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  events/Charkuchin_Kobold_Events.txt
Due: Events Encoding

goblins encoding fix
  events/GroupFlavour_Exodus_Goblins.txt
Due: Events Encoding

dczcz
  common/on_actions/00_on_actions.txt
  localisation/flavour_dogeater_b28_l_english.yml
Due: Localization Encoding

chinaware
  localisation/anb_rending_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
