Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Error Log Fix
  events/Flavour_Eighard_H14.txt
Due: Events Encoding

Scream
  localisation/Flavour_Golden_Tremor_I57_l_english.yml
Due: Localization Encoding

Replace Flavour_Railskulker_H75_l_english.yml
  localisation/Flavour_Railskulker_H75_l_english.yml
Due: Localization Encoding

account for all war participants in firanyaleni revolt
  common/on_actions/00_on_actions.txt
Due: none

lelanan loc
  localisation/Flavour_Lelanan_L36_l_english.yml
Due: Localization Encoding

Fixing Khuraens Factions
  common/custom_gui/faction.txt
  common/factions/anb_factions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  customizable_localization/anb_custom_loca_centaurs.txt
  decisions/CentaurDecisions.txt
  events/CentaurEvents.txt
  interface/faction.gfx
  localisation/anb_forbidden_lands_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

.
  decisions/CentaurDecisions.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Decisions Encoding, Localization Encoding

.
  decisions/CentaurDecisions.txt
Due: Decisions Encoding

.
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

Genen Pillar xp effect fixes
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
Due: none

M15 Loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Samsumbat mission, steward reform, and gov reform localisation. Tweaked a few tooltips and removed all placeholder comments.
  localisation/Flavour_Samsumbat_F60_l_english.yml
Due: Localization Encoding

Final fixes?
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_take_children_of_fire.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  events/Yenbenmirra_events.txt
  localisation/anb_yenbenmirra_l_english.yml
Due: Events Encoding, Localization Encoding

remove ruinborn-yan rename
  events/Flavour_Beikdugang_Y15.txt
  localisation/Flavour_Beikdugang_Y15_l_english.yml
Due: Events Encoding, Localization Encoding

groundhawk fixes
  common/cb_types/00_cb_types.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_groundhawk.txt
  events/Flavour_GroundHawk_B42.txt
  localisation/Flavour_Groundhawk_B42_l_english.yml
  missions/GroundHawk_Missions.txt
Due: Events Encoding, Localization Encoding

A few updates to the dragon pillar events.
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
  common/scripted_triggers/anb_scripted_triggers_gene_pillars.txt
  events/GenePillarEvents.txt
Due: Events Encoding

Groundhawk event fix
  events/Flavour_GroundHawk_B42.txt
  localisation/Flavour_Groundhawk_B42_l_english.yml
  missions/GroundHawk_Missions.txt
Due: Events Encoding, Localization Encoding

Sri Baginda Art and Aelantir Formable Loc
  common/government_mechanics/anb_sri_baginda.txt
  customizable_localization/anb_formables_custom_localization.txt
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_bar_empty.dds
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_bar_filled.dds
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_bg.dds
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_button_1.dds
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_button_2.dds
  interface/countrygovernmentview.gfx
  interface/government_mechanics/sri_baginda.gui
  localisation/Flavour_Aelnar_Z43_l_english.yml
  localisation/Flavour_Amadia_group_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_kheionai_l_english.yml
  localisation/anb_taychend_l_english.yml
Due: Localization Encoding

Nevermind i dont have time to fix this
  common/government_mechanics/anb_sri_baginda.txt
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_bar_empty.dds
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_bar_filled.dds
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_bg.dds
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_button_1.dds
  gfx/interface/government_mechanics/sri_baginda_authority/sri_baginda_button_2.dds
  interface/countrygovernmentview.gfx
  interface/government_mechanics/sri_baginda.gui
Due: none

mechanim awakening safety
  decisions/MechanimNation.txt
  events/anb_mechanim_events.txt
Due: Decisions Encoding, Events Encoding

Yenbenmirra Art and Race Portrait Fix
  dlc_metadata/dlc_recommendations/08_race.txt
  gfx/flags/P18.tga
  gfx/interface/advisors/insyaan_mainlander_court_mage.dds
  gfx/interface/advisors/insyaan_mainlander_court_mage_female.dds
  interface/anb_advisors.gfx
Due: none

seperate out spawning and buffing
  common/scripted_effects/mechanim_scripted_effects.txt
  decisions/MechanimNation.txt
Due: Decisions Encoding

flavour_wild_hunt.7 targeting fix
  common/on_actions/00_on_actions.txt
Due: none

cant trib the EoC
  common/cb_types/00_cb_types.txt
Due: none

fix modif per glatux
  common/event_modifiers/seasonal_court_modifiers.txt
Due: none

limit haless.728 to yanshen
  events/HalessEvents.txt
Due: Events Encoding

2 typos
  localisation/Flavour_Zabutodask_J53_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

supreme_spirit group lacked loc
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

typo fix
  localisation/Flavour_Jiantsiang_Y16_l_english.yml
Due: Localization Encoding

FP nudges (also updates province names)
  map/positions.txt
Due: none

cangji advisor V05_shelter_from_sands fix
  localisation/Flavour_Cangji_V05_l_english.yml
  missions/Cangji_Missions.txt
Due: Localization Encoding

some targeting fixes for develop_x agendas
  common/estate_agendas/anb_mages_agendas.txt
  common/scripted_triggers/anb_scripted_triggers_for_estates.txt
Due: none

limit abuse with cangji
  events/Flavour_Shuvuush.txt
Due: Events Encoding

Crovis loc writing review changes
  localisation/Flavour_Frozenmaw_Z18_l_english.yml
Due: Localization Encoding

bb pr
  common/parliament_issues/anb_westmoors.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Westmoors_A24.txt
  missions/Westmoors_missions.txt
Due: Events Encoding

some final fixes, added tooltips and review implementation
  events/Flavour_Orenvalyam_U39.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  localisation/anb_startup_screen_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding, Localization Encoding

PS MT - Additional Bugfixes
  common/peace_treaties/anb_parusahan_saya_dominate_haless.txt
  common/peace_treaties/anb_parusahan_saya_rein_in_vizier.txt
  missions/ParusahanSaya_Missions.txt
Due: none

switched to change instead of add
  events/GenePillarEvents.txt
  localisation/anb_gene_pillars_l_english.yml
Due: Events Encoding, Localization Encoding

Commennting out dead if statement
  common/on_actions/00_on_actions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
