Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

remove gasabi
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Khatalashya_S81.txt
  localisation/Flavour_khatalashya_S81_l_english.yml
Due: Events Encoding, Localization Encoding

Thanatas
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Khatalashya_S81.txt
Due: Events Encoding

Scamp is god hero
  localisation/Flavour_khatalashya_S81_l_english.yml
  missions/Khatalashya_Missions.txt
Due: Localization Encoding

forts
  common/buildings/00_buildings.txt
  missions/Khatalashya_Missions.txt
Due: none

Fix
  events/drozma_tur_events.txt
Due: Events Encoding

lil things
  common/scripted_effects/konolkhatap_scripted_effects.txt
  events/Flavour_Konolkhatep_F66.txt
Due: Events Encoding

better 3 months
  events/Flavour_Konolkhatep_F66.txt
Due: Events Encoding

Fix to Satrapies not releasing their tributaries
  events/KhetMandateEvents.txt
Due: Events Encoding

Fix
  common/on_actions/00_on_actions.txt
  events/drozma_tur_events.txt
  localisation/anb_drozma_tur_l_english.yml
Due: Events Encoding, Localization Encoding

colonial names and jarvema
  common/personal_deities/anb_skaldhyrric_faith.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Localization Encoding

Review updates
  common/buildings/00_buildings.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/scripted_effects/anb_scripted_effects_bibyobi.txt
  events/Flavour_Bibyobi_S98.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
  missions/Bibyobi_Missions.txt
Due: Events Encoding, Localization Encoding

Apparently eaglecresters are humans
  common/scripted_triggers/anb_scripted_triggers_racial.txt
Due: none

review fixes
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

fixed mixed up event ids
  localisation/Flavour_Bibyobi_S98_l_english.yml
  missions/Bibyobi_Missions.txt
Due: Localization Encoding

More Farrani fixes
  decisions/1EscannFormables.txt
  decisions/CastonathPatricians.txt
  events/Flavour_Farranean_B60.txt
  localisation/Flavour_Farranean_B60_l_english.yml
  missions/FarraneanMissions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Disaster loc
  localisation/Flavour_khatalashya_S81_l_english.yml
Due: Localization Encoding

Flag Icons and Name Length Fixes
  customizable_localization/anb_custom_loca_lake_federation_tooltip.txt
  localisation/anb_forbidden_lands_standing_l_english.yml
Due: Localization Encoding

on_actions +other fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  decisions/TiboktsamoDecisions.txt
  events/Flavour_Tiboktsamo_L53.txt
Due: Decisions Encoding, Events Encoding

Bonbonny Changes
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/LupulanEvents.txt
  localisation/anb_lupulan_events_l_english.yml
Due: Events Encoding, Localization Encoding

Hidden Effect Cleanups
  events/LupulanEvents.txt
Due: Events Encoding

Missing loc
  localisation/anb_deepwoods_l_english.yml
Due: Localization Encoding

Bug fix and added Loc Reviewed
  events/Flavour_SallaFealgarn_I30.txt
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
Due: Events Encoding, Localization Encoding

loc fix and EOA favor fix
  events/Flavour_EOA.txt
  localisation/Flavour_EOA_l_english.yml
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
Due: Events Encoding, Localization Encoding

added
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
Due: Localization Encoding

get nudged damesear
  map/positions.txt
Due: none

Custom tt for ruler personality Fix L53_sunken_citadel trigger Minor loc changes Add on_action to re-add colony modifier Impenetrable shell barracks > manpower building
  common/on_actions/00_on_actions.txt
  events/Flavour_Tiboktsamo_L53.txt
  localisation/Flavour_Tiboktsamo_L53_l_english.yml
  missions/Tiboktsamo_Missions.txt
Due: Events Encoding, Localization Encoding

Minor revisions - Tiboktsamo Battles won check for NOT rebels - Loc fixes - Mission highlights
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Tiboktsamo_L53_l_english.yml
  missions/Tiboktsamo_Missions.txt
Due: Localization Encoding

Small opes
  common/on_actions/00_on_actions.txt
  events/Flavour_Tiboktsamo_L53.txt
  localisation/Flavour_Tiboktsamo_L53_l_english.yml
  missions/Tiboktsamo_Missions.txt
Due: Events Encoding, Localization Encoding

White peace
  missions/Tiboktsamo_Missions.txt
Due: none

fun with fonts
  events/Flavour_Khatalashya_S81.txt
  localisation/Flavour_khatalashya_S81_l_english.yml
Due: Events Encoding, Localization Encoding

Hmm fiux
  events/AdventurerSpawnables.txt
  events/Flavour_Rezankand_H67.txt
  localisation/Flavour_Rezankand_H67_l_english.yml
  missions/Rezankand_Missions.txt
Due: Events Encoding, Localization Encoding

tweak
  events/Flavour_Chaqway_G87.txt
  missions/Chaqway_Missions.txt
Due: Events Encoding

Some Clouded Eye and Unguldavor Fixes
  events/Flavour_Unguldavor_Z52.txt
  missions/Clouded_Eye_Missions.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding

Update Saqraxat_Missions.txt
  missions/Saqraxat_Missions.txt
Due: none

Making "The Ascension Rarer"
  common/event_modifiers/anb_lake_modifiers.txt
  events/LakeFederationEvents.txt
Due: Events Encoding

Some Clouded Eye Fixes to help take Ardent Keep
  events/Group_Flavour_Orcs.txt
  events/NativeAmerican.txt
  missions/Clouded_Eye_Missions.txt
Due: Events Encoding

Arosha the Ruler is a General again
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding

gubfixes
  common/estate_privileges/01_church_privileges.txt
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Rayaz_Missions.txt
Due: Localization Encoding
