Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

minor fixes for verne new verne mission
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Localization Encoding

Start on the improved artificer inventions.
  common/estate_privileges/estate_artifice_privileges.txt
  common/event_modifiers/artifice_modifiers.txt
  localisation/artifice_privileges_l_english.yml
  missions/Harpylen_Missions.txt
Due: Localization Encoding

PS MT
  common/buildings/00_buildings.txt
  common/custom_gui/countrygovernmentview.txt
  common/custom_gui/provinceview.txt
  common/estate_privileges/estate_raj_ministries_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/event_modifiers/anb_parusahan_saya_modifiers.txt
  common/government_mechanics/anb_parusahan_saya_tactical_maneuvers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Parusahan_Saya_R54.txt
  history/countries/R54 - Parusahan Saya.txt
  interface/provinceview.gui
  localisation/Flavour_ParusahanSaya_R54_l_english.yml
  missions/ParusahanSaya_Missions.txt
Due: Events Encoding, Localization Encoding

t3 reforms
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

typo bugs, reverse polarity
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
  missions/Overclan_Missions.txt
Due: Events Encoding, Localization Encoding

}
  events/Flavour_Overclan_F78.txt
Due: Events Encoding

more reform stuff
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/mechanim_scripted_effects.txt
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

oop
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

tweak grest a little
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

menUEver
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

add tt
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

oh
  missions/Overclan_Missions.txt
Due: none

gubxifes
  common/custom_gui/countrydiplomacyview.txt
  common/custom_gui/magic_unique_projects.txt
  events/Flavour_Swift_Legged_Bongo_S37.txt
  localisation/Flavour_Swift_Legged_Bongo_S37_l_english.yml
  localisation/anb_custom_diplomacy_ui_l_english.yml
  missions/Swift_Legged_Bongo_Missions.txt
Due: Events Encoding, Localization Encoding

limit hills to 1 large
  events/Flavour_Overclan_F78.txt
Due: Events Encoding

Localisation, and no pressing buttons that are active already
  common/government_mechanics/anb_shadowdreamer_dreamfire.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
Due: Localization Encoding

First Wave
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  customizable_localization/anb_dragon_turtle_localization.txt
  events/anb_dragon_turtles.txt
  localisation/anb_dragon_turtle_l_english.yml
  localisation/anb_speaking_memory_l_english.yml
  localisation/speaking_memory_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding

chi wellspring placement shift
  history/provinces/4378 - Tegaksa.txt
  history/provinces/4410 - Durdhinana.txt
Due: none

RSP #11
  common/custom_gui/countrydiplomacyview.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  events/Flavour_RSP.txt
  localisation/Flavour_Ruined_Sea_Pirates_l_english.yml
Due: Events Encoding, Localization Encoding

work
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  localisation/Flavour_Gnollakaz_U09_l_english.yml
Due: Localization Encoding

lil things
  common/on_actions/00_on_actions.txt
  missions/Harpylen_Missions.txt
Due: none

tt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  localisation/anb_racial_pop_l_english.yml
  localisation/emperor_l_english.yml
  missions/Harpylen_Missions.txt
Due: Localization Encoding

}
  missions/Harpylen_Missions.txt
Due: none

1808 is in insyaa
  map/continent.txt
Due: none

Insyaa wasteland part of NA
  common/natives/00_natives.txt
  map/continent.txt
Due: none

Fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Orenvalyam_U39.txt
  events/OrenNayiruEvents.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding, Localization Encoding

Light Up The Night Sky Loc
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  customizable_localization/anb_custom_loca.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

RSP Final?
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none

Fix harpylen_t3_roost_capacity
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
Due: none

Incident Icons
  common/event_modifiers/anb_rinta_seekers_modifiers.txt
  events/RintaSeekerEvents.txt
  gfx/interface/ideas_EU4/rinta_seeker_telescope_1.dds
  gfx/interface/ideas_EU4/rinta_seeker_telescope_2.dds
  gfx/interface/ideas_EU4/rinta_seeker_telescope_3.dds
  gfx/interface/ideas_EU4/rinta_seeker_telescope_4.dds
  gfx/interface/ideas_EU4/rinta_seeker_telescope_5.dds
  gfx/interface/ideas_EU4/telescope_investment_efficency.dds
Due: Events Encoding

sound file compression
  sound/claim_defender_faith_sky_domain.wav
  sound/diggy_diggy_pickaxe_sfx.wav
  sound/goblin_1.wav
  sound/goblin_2.wav
  sound/goblin_3.wav
  sound/goblin_4.wav
  sound/goblin_5.wav
  sound/start_conversion_irdaeos_worship.wav
  sound/start_conversion_sky_domain.wav
  sound/start_conversion_ynn_river_worship.wav
  sound/tab_religion_centaur.wav
  sound/tab_religion_devouring_path.wav
  sound/tab_religion_dwarven.wav
  sound/tab_religion_godlost.wav
  sound/tab_religion_righteous_paths.wav
  sound/tab_religion_sky_domain.wav
  sound/umbral_covenant_buttonpress.wav
  sound/umbral_covenant_ritualpress.wav
Due: none

missed one
  sound/tab_religion_ynn_river_worship.wav
Due: none

Rectifying a merge mistake, normal mistake
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  events/Flavour_Star_Rider_I69.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Events Encoding, Localization Encoding

farranean fix
  decisions/EscannFormables.txt
Due: Decisions Encoding

Eighard MT 0.1
  common/buildings/00_buildings.txt
  common/cb_types/anb_eighard_cb.txt
  common/church_aspects/anb_seasonal_aspect.txt
  common/custom_gui/magic_unique_projects.txt
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/holy_orders/anb_holy_orders.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/rebel_types/drozma_tur.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/seasonal_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  customizable_localization/anb_magic_menus_localization.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/EordellonReligion.txt
  events/Flavour_Eighard_H14.txt
  events/Magic_Project_Events.txt
  events/Magic_System_Events.txt
  interface/topbar.gui
  localisation/Flavour_Eighard_H14_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
  localisation/seasonal_courts_l_english.yml
  missions/Eighard_Missions.txt
Due: Events Encoding, Localization Encoding

Broke the loc file
  localisation/Flavour_Orenvalyam_U39_l_english.yml
Due: Localization Encoding

Eighard MT 0.11
  events/EordellonReligion.txt
  events/Flavour_Eighard_H14.txt
  localisation/Flavour_Eighard_H14_l_english.yml
  missions/Eighard_Missions.txt
Due: Events Encoding, Localization Encoding

More reforms
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  common/scripted_effects/mechanim_scripted_effects.txt
  events/ManagoPokuEvents.txt
  localisation/anb_governments_l_english.yml
  localisation/manago_poku_l_english.yml
Due: Events Encoding, Localization Encoding

ruined sea pirates indentation
  common/custom_gui/countrydiplomacyview.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
Due: none

Eighard MT 0.111
  common/custom_gui/magic_spell_lists.txt
Due: none

couple more fixes
  events/Flavour_Swift_Legged_Bongo_S37.txt
  events/SubjectInteractionEvents.txt
  localisation/Flavour_Swift_Legged_Bongo_S37_l_english.yml
  localisation/common_sense_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
