Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

more changes
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/umbral_covenant_scripted_effects.txt
  events/Flavour_Umbral_Covenant_S90.txt
  events/Magic_Project_Events.txt
Due: Events Encoding

All is well in the Great Storm
  common/advisortypes/00_advisortypes.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  common/on_actions/00_on_actions.txt
  decisions/CentaurDecisions.txt
  events/CentaurEvents.txt
  events/Flavour_Great_Storm_I80.txt
  localisation/Flavour_Great_Storm_I80_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  missions/Great_Storm_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Fixes
  common/on_actions/00_on_actions.txt
  events/AgeOfUnraveling.txt
  events/Flavour_Reveria_A05.txt
  events/anb_lilac_wars.txt
  localisation/Flavour_Reveria_A05_l_english.yml
  missions/Reveria_Missions.txt
Due: Events Encoding, Localization Encoding

Monument
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

.
  missions/Reveria_Missions.txt
Due: none

Anbennar Bypass Test
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/AHHHHH.txt
Due: Events Encoding

Bracket Fixing
  common/custom_gui/magic_menu.txt
Due: none

More
  events/Flavour_Reveria_A05.txt
  missions/Reveria_Missions.txt
Due: Events Encoding

.
  events/Flavour_Reveria_A05.txt
Due: Events Encoding

Modifier renaming
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

.
  events/anb_lilac_wars.txt
  localisation/Flavour_Reveria_A05_l_english.yml
  missions/Reveria_Missions.txt
Due: Events Encoding, Localization Encoding

.
  events/anb_lilac_wars.txt
Due: Events Encoding

[new-master] Harpy Tolerance Events Draft 2
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  events/ToleranceHarpy.txt
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

Nightmare NI
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

more karassk stuff
  missions/Karassk_Missions.txt
Due: none

Work
  common/countries/Bawa Simpat.txt
  common/country_tags/anb_countries.txt
  common/scripted_triggers/00_scripted_triggers.txt
  decisions/HalessiFormables.txt
  events/Flavour_Bawa_Simpat_V30.txt
  history/countries/V30 - Bawa Simpat.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

.
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

Other
  missions/Karassk_Missions.txt
Due: none

WIP on WorkBranch
  events/Flavour_Bawa_Simpat_V30.txt
Due: Events Encoding

Nightmare Starting Ruler and Heir
  history/countries/I73 - Nightmare.txt
Due: none

infinite hmm
  common/estate_privileges/01_church_privileges.txt
Due: none

One tweak to the custom loc to check for the lack of runeshop_3_diplomacy flag instead of runeshop_3_banish flag.
  customizable_localization/anb_diggy_localization.txt
Due: none

themarenn/giberd get ideas too
  events/Flavour_Giberd_A81.txt
  events/Flavour_Themarenn_A95.txt
Due: Events Encoding

fixes for fixes for karassk
  missions/Karassk_Missions.txt
Due: none

Slight tweaks
  events/Flavour_Great_Storm_I80.txt
Due: Events Encoding

aiaiai raj
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/peace_treaties/anb_raj_destabilize_the_raj.txt
  common/peace_treaties/anb_raj_maintain_order.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  gfx/interface/custom_gui/raj/raj_bg.dds
  gfx/interface/custom_gui/raj/raj_bg_extended.dds
  localisation/raj_l_english.yml
Due: Localization Encoding

more
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_haless_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  decisions/HalessiFormables.txt
  events/Flavour_Bawa_Simpat_V30.txt
  events/Ruler.txt
  history/countries/V30 - Bawa Simpat.txt
  localisation/Flavour_Bawa_Simpat_V30_l_english.yml
  localisation/anb_cultures_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

one more
  missions/Karassk_Missions.txt
Due: none

Fixing misnamed modifiers
  common/government_mechanics/anb_yezel_mora_misery.txt
Due: none

.
  decisions/HalessiFormables.txt
  events/Flavour_Bawa_Simpat_V30.txt
  localisation/Flavour_Bawa_Simpat_V30_l_english.yml
  localisation/anb_countries_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

more stuff
  common/custom_gui/magic_unique_projects.txt
  events/Magic_Project_Events.txt
  events/Magic_System_Events.txt
  events/Shadow_pact.txt
  interface/provinceview.gui
  localisation/Flavour_Umbral_Covenant_S90_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  missions/UmbralCovenant_Missions.txt
Due: Events Encoding, Localization Encoding

.
  common/government_names/00_0anbennar_unique_names.txt
  decisions/HalessiFormables.txt
  events/Flavour_Bawa_Simpat_V30.txt
  localisation/Flavour_Bawa_Simpat_V30_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

lorent flavor loc fixes
  localisation/Flavour_Lorent_A01_l_english.yml
Due: Localization Encoding

.
  common/government_names/00_0anbennar_unique_names.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/HalessiFormables.txt
  gfx/sprite_packs/Anbennar_sprites.txt
  localisation/Flavour_Bawa_Simpat_V30_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

7 of Jojo's flags + Insyaa bugfixes
  events/MoltenEternity.txt
  gfx/flags/N37.tga
  gfx/flags/N38.tga
  gfx/flags/N39.tga
  gfx/flags/N40.tga
  gfx/flags/N41.tga
  gfx/flags/N47.tga
  gfx/flags/N48.tga
  history/countries/N11 - Cuezaltol Heiau.txt
  history/countries/P12 - Gokogarrad.txt
  history/countries/P17 - Dhandhemoongerra.txt
  history/countries/P25 - Fave Tasaai.txt
  history/countries/P34 - Ganna Rassoo.txt
Due: Events Encoding

Jaddari Jaxis Jaher
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  decisions/JaddEmpireNation.txt
  events/Flavour_Bulwar.txt
  missions/Kumarkand_Missions.txt
Due: Decisions Encoding, Events Encoding
