Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Artificers for all, Mages for none
  events/CoT_Events.txt
Due: Events Encoding

Descriptor
  CoT.mod
  anbennar.png
Due: none

Damesbane Ideas Policies Events + Modifiers
  common/event_modifiers/cot_idea_group_modifiers.txt
  events/CoT_ideas_events.txt
Due: Events Encoding

Kill mages
  common/advisortypes/00_advisortypes.txt
  common/buildings/00_buildings.txt
  common/custom_gui/countrymilitaryview.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/01_scripted_effects_for_advisors.txt
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  common/scripted_effects/harpy_system_scripted_effects.txt
  decisions/MagicRuler.txt
  events/AdventurerSpawnables.txt
  events/AelantirSpawnables.txt
  events/Beast_Memory_Events.txt
  events/BlueScarfRebellion.txt
  events/ConsortEvents.txt
  events/DeepwoodsVegan.txt
  events/DiggyDiggySpawnable.txt
  events/EffelaiWorshipEvents.txt
  events/Eordand.txt
  events/Flavour_Aelnar_Z43.txt
  events/Flavour_Azkare_Y86.txt
  events/Flavour_Balrijin_Y85.txt
  events/Flavour_Beikdugang_Y15.txt
  events/Flavour_Bulwar.txt
  events/MagicRuler.txt
  events/adventurers.txt
Due: Decisions Encoding, Events Encoding

Kill mages P2
  events/Flavour_Elikhand_B38.txt
  events/Flavour_Esthil_B54.txt
  events/Flavour_HonSai_Y66.txt
  events/Flavour_Jiantsiang_Y16.txt
  events/Flavour_Kobildzan_Z38.txt
  events/Flavour_Magisterium_A85.txt
  events/Flavour_Moredhal_B62.txt
  events/Flavour_Newshire_B50.txt
  events/Flavour_ShatteredCrown_H72.txt
  events/Flavour_TheCommand_R62.txt
  events/Flavour_Vels_Fadhecai_G38.txt
  events/Flavour_VerkalDromak_I25.txt
  events/Flavour_Vertesk_A23.txt
  events/Flavour_Yinquan_Y26.txt
  events/GreatConqueror.txt
  events/MagicRuler.txt
  events/PatronsEvents.txt
  events/SunriseEmpire.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

Dev Edict Nuked
  common/state_edicts/encourage_development.txt
Due: none

Unhalved CoT ideas
  common/ideas/00_basic_ideas.txt
Due: none

Added generic tree exception to new ideas
  missions/Azkabar_missions.txt
  missions/Crathanor_Missions.txt
  missions/Deyeion_Missions.txt
  missions/Empkeios_missions.txt
  missions/Kuiika_Missions.txt
  missions/MireMaw_Missions.txt
  missions/Pirate_Missions.txt
  missions/Royakottar_Missions.txt
  missions/VelsFadhecai_Missions.txt
  missions/Viakkoc_Missions.txt
Due: none

Ending Orcish Discrimination
  events/CoT_misc_events.txt
Due: Events Encoding

Bugfix
  events/CoT_misc_events.txt
Due: Events Encoding

Generic Localisation
  localisation/CoT_Generic_mission_modifiers_l_english.yml
  localisation/CoT_i_Events_l_english.yml
Due: Localization Encoding

Ass Point system Migrate
  common/scripted_triggers/assTriggers.txt
  decisions/assStatus.txt
  events/assPoints.txt
  localisation/ass_status_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

GFX for generic MT
  gfx/interface/missions/conquest_1_icon.dds
  gfx/interface/missions/conquest_2_icon.dds
  gfx/interface/missions/conquest_3_icon.dds
  gfx/interface/missions/conquest_4_icon.dds
  gfx/interface/missions/conquest_5_icon.dds
  gfx/interface/missions/development_1_icon.dds
  gfx/interface/missions/development_2_icon.dds
  gfx/interface/missions/development_3_icon.dds
  gfx/interface/missions/development_4_icon.dds
  gfx/interface/missions/development_5_icon.dds
  gfx/interface/missions/governement_5_icon_x.dds
  gfx/interface/missions/government_1_icon.dds
  gfx/interface/missions/government_1_icon_x.dds
  gfx/interface/missions/government_2_icon.dds
  gfx/interface/missions/government_2_icon_x.dds
  gfx/interface/missions/government_3_icon.dds
  gfx/interface/missions/government_3_icon_x.dds
  gfx/interface/missions/government_4_icon.dds
  gfx/interface/missions/government_4_icon_x.dds
  gfx/interface/missions/government_5_icon.dds
  gfx/interface/missions/income_1_icon.dds
  gfx/interface/missions/income_2_icon.dds
  gfx/interface/missions/income_3_icon.dds
  gfx/interface/missions/income_4_icon.dds
  gfx/interface/missions/income_5_icon.dds
  interface/coticons.gfx
Due: none

War Defines
  common/defines/cot_defines.lua
Due: none

General No Army Prof
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Mission Tree Changes
  missions/Allclan_Missions.txt
Due: none

Amacist Upd
  missions/Amacimst_Missions.txt
Due: none

Whoops
  missions/Bulwar_Missions.txt
Due: none

Venail Fix
  missions/Venail_Missions.txt
Due: none

Generic MT swap bugfix
  missions/Nuugdan_Tsarai_Missions.txt
Due: none

Revert "War Defines"
  common/defines/cot_defines.lua
Due: none

Revert "Dev Edict Nuked"
  common/state_edicts/encourage_development.txt
Due: none

Badook' Fixes [1]
  common/defines.lua
  common/defines/cot_defines.lua
  common/state_edicts/encourage_development.txt
  gfx/interface/missions/strategum_1_icon.dds
  gfx/interface/missions/strategum_2_icon.dds
  gfx/interface/missions/strategum_3_icon.dds
  gfx/interface/missions/strategum_4_icon.dds
  gfx/interface/missions/strategum_5_icon.dds
  localisation/CoT_Generic_mission_modifiers_l_english.yml
  missions/Zansap_Missions.txt
Due: Localization Encoding

XD
  history/countries/A30 - Wex.txt
  history/countries/A93 - Estallen.txt
  history/countries/F29 - Zokka.txt
Due: none

Adding Generic Swap to MTs. Changing Idea Requirements
  missions/Adshaw_Missions.txt
  missions/ArgOrdstun_Missions.txt
  missions/Azkabar_missions.txt
  missions/Crathanor_Missions.txt
  missions/Dotimist_Generic_Missions.txt
  missions/EduzVacyn_Missions.txt
  missions/Magisterium_Missions.txt
  missions/Ravelian_State_Missions.txt
  missions/Vertesk_Missions.txt
  missions/Viakkoc_Missions.txt
  missions/WoodElves_Missions.txt
Due: none

Badook Bugfixes [2]
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/updateAssPoints.txt
  common/technologies/adm.txt
  decisions/CoT_decisions.txt
  localisation/CoT_i_misc_l_english.yml
  localisation/cot_ideas_l_english.yml
  missions/Venail_Missions.txt
Due: Decisions Encoding, Localization Encoding

Fixing Idea cost half bugs
  common/church_aspects/anb_elven_forebears.txt
  common/church_aspects/anb_irdaeos_worship_aspects.txt
  common/church_aspects/anb_kobold_dragon_cult_aspects.txt
  common/custom_ideas/00_adm_custom_ideas.txt
  common/estate_privileges/estate_acolytes_privileges.txt
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/event_modifiers/anb_kobold_dragon_cult_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/event_modifiers/anb_rahen_modifiers.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/event_modifiers/anb_rinta_seekers_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/ideas/anb_country_ideas.txt
  common/ideas/anb_group_ideas.txt
  common/imperial_reforms/01_china.txt
  common/isolationism/00_shinto.txt
Due: none

Same as below
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
Due: none

.1
  common/countries/Deadfang Clan.txt
  common/event_modifiers/racial_admin_military.txt
  common/ideas/anb_country_ideas.txt
  common/technology.txt
  history/countries/B29 - Deadfang CLan.txt
  history/countries/G05 - Kwineh.txt
  history/countries/G06 - Cheshoshoanta.txt
  history/countries/G42 - Inek.txt
Due: none

purity ideas fix
  common/ideas/00_basic_ideas.txt
Due: none

Cot generic nerf for long lived
  common/event_modifiers/CoT_Generic_MT.txt
  missions/00_Generic_missions.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
