Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Ai Citadel Changes
  events/Charkuchin_Kobold_Events.txt
Due: Events Encoding

Add a hidden bypass_regional_merc_requirements to replace the two country modifier checks in every merc company.
  common/event_modifiers/00_event_modifiers.txt
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
  common/mercenary_companies/0_anb_special_mercenaries.txt
  events/ideagroups.txt
Due: Events Encoding

infinite self religion description
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Formable Changes
  decisions/HalessFormables.txt
  decisions/RahenFormables.txt
Due: Decisions Encoding

mission changes
  events/Flavour_Cangji_V05.txt
  localisation/Flavour_Shuvuush_l_english.yml
Due: Events Encoding, Localization Encoding

Mhm
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

Player Nerf?
  common/event_modifiers/charkuchin_kobold_modifiers.txt
Due: none

oops
  events/Flavour_Cangji_V05.txt
Due: Events Encoding

Tales of Halann's Love Bugfix
  events/Flavour_Lelanan_L36.txt
  localisation/Flavour_Lelanan_L36_l_english.yml
  missions/Lelanan_Missions.txt
Due: Events Encoding, Localization Encoding

axing adm req for post-colonials
  decisions/ColonialFormables.txt
Due: Decisions Encoding

hiding a trigger in an event + small loc adjustment
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

Eighard MT 1.021
  common/buildings/00_buildings.txt
  common/on_actions/00_on_actions.txt
  common/state_edicts/warmth_rites_edict.txt
  events/Flavour_Eighard_H14.txt
  localisation/Flavour_Eighard_H14_l_english.yml
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

moving warmrock bazar in monuments scripted effect
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

fixing failed integration with golden highway scripted effect
  common/scripted_effects/anb_scripted_effects.txt
Due: none

moving roost cost away from the _free t2 roost scripted effect
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
Due: none

fp discovery cleanup
  events/Flavour_Nansalen_F80.txt
Due: Events Encoding

moving and merging scripted effects for deposit divination
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

better usage of racial scripted effects/triggers
  common/buildings/00_buildings.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
Due: none

misc small stuff
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  missions/Nansalen_Missions.txt
Due: none

whoops, warmrock bazar 2 electric boogaloo
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

awoo
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

loc fixes
  localisation/Flavour_Nansalen_B80_l_english.yml
Due: Localization Encoding

scripted trigger for owner being nansalen/akalses/subjects and usage
  common/great_projects/anb_great_projects.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  decisions/GoldenHighway.txt
  missions/Nansalen_Missions.txt
Due: Decisions Encoding

single-character loc fix
  localisation/Flavour_Esthil_B54_l_english.yml
Due: Localization Encoding

awooo
  common/province_names/utubodi.txt
  history/provinces/3701 - Dibari.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

idk why these were changed in the first place
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

see prev
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

flipping lower castonath to paper if it's a bad trade good
  missions/Esthil_Missions.txt
Due: none

loc
  localisation/Flavour_Nansalen_B80_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

event pictures
  events/Flavour_Nansalen_F80.txt
Due: Events Encoding

Round 2 Code Review
  common/church_aspects/anb_speaking_memory_aspects.txt
  common/custom_gui/countryreligionview.txt
  common/mercenary_companies/00_mercenaries.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  customizable_localization/anb_speaking_memory.txt
  events/Flavour_Speaking_Memory.txt
  interface/countryreligionview.gui
  localisation/anb_endless_ocean_l_english.yml
  localisation/anb_mercs_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/anb_speaking_memory_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding

small loc fix
  localisation/Flavour_Lelanan_L36_l_english.yml
Due: Localization Encoding

Insyaa Art
  common/incidents/00_isolationism.txt
  common/personal_deities/anb_infinite_virtues.txt
  gfx/interface/hindu_deities_strip.dds
  gfx/interface/incident_icons.dds
  gfx/interface/isolationism_icons.dds
  interface/countryreligionview.gfx
Due: none

straggler triggers
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_spells_l_english.yml
  missions/Endhuvi_Missions.txt
  missions/Golden_Tremor_Missions.txt
  missions/Great_Storm_Missions.txt
  missions/Star_Rider_Missions.txt
Due: Localization Encoding

round 5
  history/countries/S37 - Swift_Legged_Bongo.txt
  localisation/Flavour_Swift_Legged_Bongo_S37_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  missions/Swift_Legged_Bongo_Missions.txt
Due: Localization Encoding

work work
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estates/99_artificers.txt
  common/event_modifiers/artifice_modifiers.txt
  localisation/anb_insyaa_artificery_l_english.yml
Due: Localization Encoding

Oh
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

Charkuchin Kobold Citadels
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_citadels.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  gfx/interface/custom_gui/province_UI/citadel_strip.dds
  interface/provinceview.gfx
  interface/provinceview.gui
Due: none

Huh I made it already
  common/custom_gui/provinceview.txt
Due: none

This was also already done ;-;
  common/custom_gui/provinceview.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
