Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Hopefully made capitalization less scuffed
  localisation/Flavour_Tiboktsamo_L53_l_english.yml
Due: Localization Encoding

stuff
  common/new_diplomatic_actions/zz_autonomous_vassal.txt
  events/Flavour_Karassk_L68.txt
Due: Events Encoding

2 North TC province fix
  common/trade_companies/00_trade_companies.txt
Due: none

Lanhara will not let Alara be doof alone anymore.
  events/Flavour_Salla_Cenag_I29.txt
Due: Events Encoding

horuhoruhoru
  common/disasters/konolkhatep_xhaz_disaster.txt
  customizable_localization/anb_konolkhatep_custom_localization.txt
Due: none

Hotfix to make sure you only move capital if you control Ardent Keep
  missions/Clouded_Eye_Missions.txt
Due: none

Fixing Mission
  missions/Clouded_Eye_Missions.txt
Due: none

Ardent Keep needs your units
  missions/Clouded_Eye_Missions.txt
Due: none

zokka
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

bugfixing properly maybe. "code reviewer"
  common/scripted_effects/konolkhatap_scripted_effects.txt
Due: none

New bookmarks
  common/bookmarks/d_bulwar.txt
  common/bookmarks/j_west_sarhal.txt
  common/bookmarks/l_east_sarhal.txt
Due: none

Removed Bad is_tribal check
  missions/Clouded_Eye_Missions.txt
Due: none

Ditto
  missions/Clouded_Eye_Missions.txt
Due: none

cultureless province and gerudia vision fix
  common/scripted_effects/anb_setup_effects.txt
  history/provinces/7781 - Dogsforest.txt
Due: none

Fixes and such
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_Saqraxat_L04.txt
  localisation/Flavour_Saqraxat_L04_l_english.yml
  missions/Saqraxat_Missions.txt
Due: Events Encoding, Localization Encoding

bunny bug
  missions/Konolkhatep_Missions.txt
Due: none

2 North TN province fix
  common/tradenodes/00_tradenodes.txt
Due: none

Frostheart Cold Climate 1
  map/climate.txt
  map/terrain.txt
Due: none

Northern Bois vision on each other
  common/scripted_effects/anb_setup_effects.txt
Due: none

fix lil vision oopsie
  common/scripted_effects/anb_setup_effects.txt
Due: none

NP UI ART
  common/custom_gui/countryreligionview.txt
  gfx/interface/custom_gui/noukahi_gui_button_NP_pilgrimage_buttons_strip.dds
  gfx/interface/custom_gui/noukahi_gui_button_khet_pilgrimage_buttons_strip.dds
  gfx/interface/custom_gui/noukahi_gui_button_kheterat_big.dds
  gfx/interface/custom_gui/noukahi_gui_button_masks_strip.dds
  gfx/interface/custom_gui/noukahi_gui_button_pilgrimage_strip.dds
  gfx/interface/custom_gui/noukahi_gui_button_unique_pilgrimage_buttons_strip.dds
  gfx/interface/custom_gui/noukahi_gui_scroll_closed.dds
  gfx/interface/custom_gui/noukahi_gui_scroll_strip.dds
  gfx/interface/custom_gui/noukahi_pantheon_pilgrimage_background.dds
  gfx/interface/custom_gui/noukahi_pantheon_pilgrimage_furled.dds
  gfx/interface/custom_gui/noukahi_pantheon_pilgrimage_locked.dds
  gfx/interface/custom_gui/noukahi_pantheon_pilgrimage_main.dds
  gfx/interface/custom_gui/noukahi_pantheon_pilgrimage_unique_button_gilded.dds
  gfx/interface/custom_gui/noukahi_pantheon_pilgrimage_vertical_bar.dds
  gfx/interface/icon_satrapy2.dds
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
  interface/hre.gfx
Due: none

hmm
  common/government_reforms/04_government_reforms_tribes.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/deepwoods_scripted_effects.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  customizable_localization/anb_custom_loca.txt
  events/DeepwoodsEvents.txt
  events/Flavour_Salla_Ayeth_I33.txt
  localisation/Flavour_Salla_Ayeth_I33_l_english.yml
  missions/Salla_Ayeth_Missions.txt
Due: Events Encoding, Localization Encoding

various bugfixes
  common/church_aspects/anb_black_doctrine.txt
  common/scripted_effects/anb_scripted_effects_for_magic_project.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Dynastic.txt
  events/GreatConqueror.txt
  events/Magic_Project_Events.txt
  events/Magic_Ruler_Events.txt
  events/Magic_System_Events.txt
  events/Ruler.txt
  events/estate_castonath_patricians.txt
  localisation/Flavour_Wyvernheart_B39_l_english.yml
  localisation/anb_estate_vampires_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  missions/Wyvernheart_Missions.txt
Due: Events Encoding, Localization Encoding

hmmm2
  common/parliament_issues/anb_istralore.txt
  events/HolyRomanEmpire.txt
  localisation/Flavour_Istralore_A45_l_english.yml
  missions/Istralore_Missions.txt
  missions/Naleni_Missions.txt
Due: Events Encoding, Localization Encoding

typo
  localisation/anb_units_l_english.yml
Due: Localization Encoding

you stray bastard
  missions/Istralore_Missions.txt
Due: none

Buildings tax nerf
  common/buildings/04_buildings_tiered.txt
Due: none

More building tax nerf
  common/buildings/00_buildings.txt
Due: none

Buffed some excavation rewards
  events/CoT_excavate_rewards.txt
Due: Events Encoding

WIP Fix
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Karshyr_S15.txt
  gfx/interface/custom_gui/province_UI/forbid_add_parliament.dds
  interface/provinceview.gfx
  interface/provinceview.gui
  localisation/Flavour_Karshyr_S15_l_english.yml
  missions/Karshyr_Missions.txt
Due: Events Encoding, Localization Encoding

agenda tt
  common/estate_agendas/anb_ahati_agendas.txt
  localisation/anb_khet_mandate_l_english.yml
Due: Localization Encoding

Tanizu NI
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Rayaz_Missions.txt
Due: Localization Encoding

nearly forgor
  common/cultures/anb_cultures.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fix
  common/on_actions/00_on_actions.txt
  events/drozma_tur_events.txt
  localisation/anb_drozma_tur_l_english.yml
Due: Events Encoding, Localization Encoding

suprise to surprise loc only
  events/DiggyDiggyEncounters.txt
  events/Flavour_Reveria_A05.txt
  localisation/Flavour_Esthil_B54_l_english.yml
  localisation/Flavour_Frozenmaw_Z18_l_english.yml
Due: Events Encoding, Localization Encoding

therefor to therefore loc only
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

tommorow to tomorrow loc only
  localisation/Flavour_Eltikan_G60_l_english.yml
  localisation/Flavour_Zongji_Y25_l_english.yml
Due: Localization Encoding

tounge to tongue loc only
  events/Flavour_Balrijin_Y85.txt
Due: Events Encoding
