Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Fix giberd spawning ravelianism event
  events/Flavour_Giberd_A81.txt
Due: Events Encoding

Ideas loc
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

Fix typo in loc key
  localisation/anb_mercs_l_english.yml
Due: Localization Encoding

Fix typos
  localisation/Flavour_Bulwar_l_english.yml
  localisation/Flavour_Duwarkani_F62_l_english.yml
  localisation/Flavour_Vandipha_L62_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Fix sky domain tooltip
  localisation/Flavour_mengi_l_english.yml
Due: Localization Encoding

Fix highlight to match previous bugfix in trigger
  missions/Seghdihr_Missions.txt
Due: none

Fix game over when releasing cagodic/taric tag
  events/Gerudia.txt
Due: Events Encoding

ravioli
  common/defines.lua
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/ravelianism.txt
Due: Events Encoding

castanor fix
  events/EscanniWars.txt
Due: Events Encoding

Bunch of clean up for Cenag MT
  common/event_modifiers/anb_deepwoods_modifiers.txt
  events/Flavour_Salla_Cenag_I29.txt
  localisation/anb_deepwoods_l_english.yml
  missions/Salla_Cenag_Missions.txt
Due: Events Encoding, Localization Encoding

loc
  localisation/anb_estate_mages_l_english.yml
Due: Localization Encoding

Insight placeholders + todos marked
  localisation/anb_deepwoods_l_english.yml
Due: Localization Encoding

.
  missions/Salla_Cenag_Missions.txt
Due: none

Rezankand Pic + New Event
  common/on_actions/00_on_actions.txt
  events/Flavour_Rezankand_H67.txt
  localisation/Flavour_Rezankand_H67_l_english.yml
  missions/Rezankand_Missions.txt
Due: Events Encoding, Localization Encoding

Small change
  common/government_mechanics/anb_rezankand_exemplar.txt
  events/Flavour_Rezankand_H67.txt
Due: Events Encoding

Flavour events Added missing loc keys Deleted duplicate keys and fixed option loc for elections Bug fixes Final testing and fixes
  common/buildings/00_buildings.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_brrtekuh.txt
  decisions/BrrtekuhDecisions.txt
  events/Flavour_Brrtekuh_U10.txt
  history/countries/U10 - Brrtekuh.txt
  localisation/Flavour_Brrtekuh_U10_l_english.yml
  localisation/anb_estates_l_english.yml
  localisation/kvangahga_l_english.yml
  missions/Brrtekuh_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

space
  common/advisortypes/00_advisortypes.txt
Due: none

Blue Reachman System 1st batch
  common/event_modifiers/anb_event_modifiers.txt
  common/government_mechanics/anb_vic_league.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  common/scripted_effects/anb_scripted_effects.txt
  customizable_localization/anb_custom_loca.txt
  events/Vic_League.txt
  localisation/vic_league_l_english.yml
Due: Events Encoding, Localization Encoding

Escanni Orcs and Goblins events smalll fix
  events/EscanniOrcsandGoblinsEvents.txt
  localisation/anb_modifiers_l_english.yml
Due: Events Encoding, Localization Encoding

bugfix
  events/Magic_Project_Events.txt
Due: Events Encoding

tearfall notif event better
  events/Magic_Spell_Events.txt
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

loc fix
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

initial infinite self stuff
  common/personal_deities/anb_infinite_virtues.txt
  common/religions/00_anb_religion.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Minor Ahati AI disaster balance change
  events/estate_ahati.txt
Due: Events Encoding

Fix trigger tooltip and explained the use of exclude_from_progress
  common/estate_privileges/01_church_privileges.txt
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Localization Encoding

zokka
  common/cb_types/00_cb_types.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_zokka.txt
  events/Flavour_Zokka_F29.txt
  localisation/Flavour_Zokka_F29_l_english.yml
  missions/Zokka_Missions.txt
Due: Events Encoding, Localization Encoding

zokka
  events/Flavour_Zokka_F29.txt
Due: Events Encoding

zokka
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

Mushroom forest 3d models for South Aelantir
  gfx/models/Mapitems/Trees/mushroom_01.mesh
  gfx/models/Mapitems/Trees/mushroom_02.mesh
  gfx/models/Mapitems/Trees/mushroom_normal.dds
  gfx/models/Mapitems/Trees/mushroom_spec.dds
  gfx/models/Mapitems/Trees/mushrooms_texture.dds
  interface/assets/mapitems.gfx
  map/terrain.txt
  map/trees.bmp
Due: none

simulacrum fix
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  events/Magic_Project_Events.txt
Due: Events Encoding

theatre of simulacra final changes
  common/scripted_effects/anb_scripted_effects_for_magic_project.txt
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

Merfolk Fix
  common/scripted_effects/merfolk_scripted_effects.txt
Due: none

tame the frontier partial
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/estates/95_monstrous_tribe.txt
  common/event_modifiers/anb_estate_modifiers.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_custom_tooltips_l_english.yml
Due: Localization Encoding

hide the jank
  common/church_aspects/anb_black_doctrine.txt
  events/WitchKing.txt
Due: Events Encoding

zokka
  missions/Zokka_Missions.txt
Due: none

d
  common/defines.lua
Due: none

Almost all
  common/countries/Agradent.txt
  common/countries/Atamumba.txt
  common/countries/Rakh.txt
  common/countries/Romutha.txt
  common/countries/Shagatan.txt
  common/countries/Teinglios.txt
  common/countries/Zangea.txt
  common/countries/Zulkanez.txt
  common/country_tags/anb_countries.txt
  common/custom_gui/provinceview.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/khatalashya_scripted_effects.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_Khatalashya_S81.txt
  gfx/interface/custom_gui/province_UI/province_button_space_colony.dds
  history/countries/SS0 - Romutha.txt
  history/countries/SS1 - Agradent.txt
  history/countries/SS2 - Zulkanez.txt
  history/countries/SS3 - Shagatan.txt
  history/countries/SS4 - Teinglios.txt
  history/countries/SS5 - Zangea.txt
  history/countries/SS6 - Atamumba.txt
  history/countries/SS7 - Rakh.txt
  interface/provinceview.gfx
  interface/provinceview.gui
  localisation/Flavour_khatalashya_S81_l_english.yml
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_sarhal_events_l_english.yml
  localisation/anb_subject_type_l_english.yml
  missions/Khatalashya_Missions.txt
Due: Events Encoding, Localization Encoding

fix and loc
  localisation/Flavour_Istralore_A45_l_english.yml
  missions/Istralore_Missions.txt
Due: Localization Encoding

hm
  events/RintaSeekerEvents.txt
Due: Events Encoding

For save
  common/scripted_effects/anb_rinta_incidents_scripted_effects.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
