Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

done?
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estates/99_artificers.txt
  common/event_modifiers/artifice_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/ArtificeInventions.txt
  events/ArtificeResearch.txt
  interface/countrydecisionsview.gui
  localisation/artifice_l_english.yml
  localisation/artifice_privileges_l_english.yml
Due: Events Encoding, Localization Encoding

insyaaflags(jojo)
  gfx/flags/N71.tga
  gfx/flags/N72.tga
  gfx/flags/N84.tga
  gfx/flags/N86.tga
  gfx/flags/N88.tga
  gfx/flags/N90.tga
  gfx/flags/N92.tga
Due: none

Test
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
Due: none

added toarnaire need sarhal
  common/scripted_triggers/anb_scripted_triggers_settings.txt
Due: none

not done
  customizable_localization/anb_custom_artifice_localization.txt
Due: none

couple Elyn fix
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Salla_Elyn_missions.txt
Due: none

Misc fixes
  common/cultures/anb_cultures.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/anb_dormant_mechanim_scripted_effects.txt
  events/Accretive_Path_Events.txt
  events/Flavour_EOA.txt
  events/HolyRomanEmpire.txt
  events/Magic_Project_Events.txt
  events/NewSunCultEvents.txt
  events/Skaldhyrric.txt
  events/YnnEvents.txt
  events/YnnsmanEvents.txt
  events/disaster_InternalConflicts.txt
  events/disaster_estates.txt
  events/shadow_swamp_flavour.txt
  localisation/Flavour_Guwaamud_Y96_l_english.yml
  localisation/Flavour_Haraagtseda_F72_l_english.yml
  localisation/anb_estate_mages_l_english.yml
  localisation/anb_estates_l_english.yml
  localisation/anb_new_sun_cult_events_l_english.yml
  missions/Rayaz_Missions.txt
Due: Events Encoding, Localization Encoding

New_Kyliander_NI
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fix to Offer Protectorate AI acceptance
  common/new_diplomatic_actions/00_diplomatic_actions.txt
Due: none

Fix to Request Protectorate AI acceptance
  common/new_diplomatic_actions/00_diplomatic_actions.txt
Due: none

Missing modifications to Offer Protectorate
  common/new_diplomatic_actions/00_diplomatic_actions.txt
Due: none

deleted unused loc line
  localisation/Flavour_Ibekisedara_S61_l_english.yml
Due: Localization Encoding

Some changes
  common/church_aspects/anb_devouring_path.txt
  decisions/HalessiFormables.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: Decisions Encoding

small fix
  localisation/Flavour_Salla_Elyn_I26_l_english.yml
Due: Localization Encoding

buf
  common/scripted_effects/artifice_scripted_effects.txt
  localisation/Flavour_Hytiranyalen_F81_l_english.yml
Due: Localization Encoding

d
  events/Flavour_Hytiranyalen_F81.txt
Due: Events Encoding

myna fixes
  common/scripted_effects/deepwoods_scripted_effects.txt
  missions/Salla_Myna_Missions.txt
Due: none

various fixes and improvements from tester feedback
  common/event_modifiers/anb_yemotaferi_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  decisions/EastSarhalFormables.txt
  events/Flavour_Yemotaferi_S50.txt
  localisation/Flavour_Yemotaferi_S50_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Yemotaferi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

myna bug and typo fix
  missions/Salla_Myna_Missions.txt
Due: none

good call by SerZaltor
  missions/Salla_Myna_Missions.txt
Due: none

orda aldresia and corintar retexture
  common/country_colors/anb_country_colors.txt
  gfx/models/Units/theup_KNI_infantry_01_spec.dds
  gfx/models/Units/theup_LIV_infantry_01_spec.dds
  gfx/models/Units/theup_LIV_infantry_02_spec.dds
  gfx/sprite_packs/Anbennar_sprites.txt
Due: none

Colors for Jaddari holy orders and moving of mechanims
  common/event_modifiers/anb_holohana_modifiers.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/holy_orders/anb_holy_orders.txt
  common/ideas/anb_country_ideas.txt
  common/rebel_types/holohana_armorollo_rebels.txt
  common/rebel_types/holohana_chirping_locust_rebels.txt
  common/rebel_types/holohana_deceiving_spiked_turtle_flower_rebels.txt
  common/rebel_types/holohana_devouring_rain_rebels.txt
  common/rebel_types/holohana_forest_wide_and_dim_rebels.txt
  common/rebel_types/holohana_gods_distorting_rainbow_rebels.txt
  common/rebel_types/holohana_great_bone_taker_rebels.txt
  common/rebel_types/holohana_great_feathered_flower_rebels.txt
  common/rebel_types/holohana_great_wind_rebels.txt
  common/rebel_types/holohana_high_cretin_rebels.txt
  common/rebel_types/holohana_maliu_fanua.txt
  common/rebel_types/holohana_mawutt_rebels.txt
  common/rebel_types/holohana_mlakulon_rebels.txt
  common/rebel_types/holohana_nauhona_rebels.txt
  common/rebel_types/holohana_pilpala_rebels.txt
  common/rebel_types/holohana_raven_kraken_rebels.txt
  common/rebel_types/holohana_somnambulist_rebels.txt
  common/rebel_types/holohana_the_hopping_plateau_rebels.txt
  common/rebel_types/holohana_the_watcher.txt
  common/rebel_types/holohana_vibranox_rebels.txt
  common/units/holohana_1_holohana.txt
  history/provinces/3156 - Ino  Hiko.txt
  history/provinces/3165 - Wemohan.txt
  history/provinces/3167 - Anpuhemohan.txt
  history/provinces/3486 - Waota.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

Extend same fix to Ravelian State actions
  common/new_diplomatic_actions/anb_ravelian_state_actions.txt
Due: none

jojoflags taga'ala
  gfx/flags/N10.tga
  gfx/flags/N66.tga
  gfx/flags/P21.tga
  gfx/flags/P22.tga
  gfx/flags/P23.tga
  gfx/flags/P24.tga
  gfx/flags/P26.tga
Due: none

event picture change
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

Extend same fix to Kalsyto cultural sphere actions
  common/new_diplomatic_actions/anb_kalsyto_sphere.txt
Due: none

rail mods
  common/buildings/00_buildings.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

2nd round Coding feedback implementation
  localisation/anb_forbidden_lands_l_english.yml
  missions/LakeFederation_Missions.txt
Due: Localization Encoding

.
  decisions/AdventurerFormables.txt
  decisions/BlackCastanorNation.txt
  decisions/CarneterNation.txt
  decisions/CorintarNation.txt
  decisions/DamerianNation.txt
  decisions/DostanorNation.txt
  decisions/EscannFormables.txt
  decisions/EscanniGoblinFormables.txt
  decisions/EsmariNation.txt
  decisions/GawediNation.txt
  decisions/GerudianFormables.txt
  decisions/GnomishNation.txt
  decisions/HalflingNation.txt
  decisions/Kobold_Decisions.txt
  decisions/LorentishNation.txt
  decisions/OrcFormables.txt
  decisions/PashaineDecisions.txt
  decisions/PashaineNation.txt
  decisions/RoilsardNation.txt
  decisions/SalceranNation.txt
  decisions/SouthroyDecisions.txt
  decisions/VerneNation.txt
  decisions/ViswallNation.txt
  decisions/WescannFormables.txt
Due: Decisions Encoding

.
  localisation/anb_decisions_l_english.yml
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding

[new-master] NP loc bugfix
  localisation/noukahi_pantheon_l_english.yml
Due: Localization Encoding

Removing some ships adding some military
  events/AnbennarSetup.txt
  history/countries/M11 - Taurite.txt
  history/countries/M12 - Kaora To Tatau To.txt
  history/countries/M13 - Kamutu Taratu Mahikou Amatou.txt
Due: Events Encoding

Colors for Jaddari Holy Orders
  events/AnbennarSetup.txt
Due: Events Encoding

better lake fed election - more fixes
  common/on_actions/00_on_actions.txt
  events/LakeFederationEvents.txt
Due: Events Encoding

LOC fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

dam
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

country selection MT badge
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

DBC MT
  common/event_modifiers/anb_deathbringingcobra_modifiers.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/EastSarhalFormables.txt
  events/Flavour_DeathBringingCobra_S30.txt
  events/Shadow_pact.txt
  localisation/Flavour_DeathBringingCobra_U24_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/DeathBringingCobra_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

loc fixes
  localisation/Flavour_DeathBringingCobra_U24_l_english.yml
  missions/DeathBringingCobra_Missions.txt
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
