Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

hmm
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
Due: none

work
  localisation/Flavour_Irkorzik_F69_l_english.yml
  missions/Irkorzik_Missions.txt
Due: Localization Encoding

Changes
  common/estate_privileges/estate_adeen_privileges.txt
  common/estates/84_adeen.txt
  common/estates/97_mages.txt
  common/incidents/00_isolationism.txt
  common/rebel_types/adeen_rebelsv2.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

small tooltip fix
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

fix
  missions/Irkorzik_Missions.txt
Due: none

loc tweaks
  common/church_aspects/anb_black_doctrine.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

ai
  events/RintaSeekerEvents.txt
Due: Events Encoding

work
  common/estate_privileges/anb_privileges.txt
  common/on_actions/00_on_actions.txt
Due: none

advisor fix
  common/church_aspects/anb_black_doctrine.txt
  events/WitchKing.txt
Due: Events Encoding

Numerous fixes
  events/DevouringPath.txt
Due: Events Encoding

work
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
Due: none

work
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

work
  common/on_actions/00_on_actions.txt
Due: none

unbreaking loc
  localisation/Flavour_Frozenmaw_Z18_l_english.yml
Due: Localization Encoding

Kalsyto Icons
  common/estate_privileges/anb_privileges.txt
  gfx/interface/government_reform_icons/lake_bastion_democracy.dds
  gfx/interface/government_reform_icons/lake_emissary_liberty.dds
  gfx/interface/government_reform_icons/united_lake_federation.dds
  gfx/interface/privileges/privilege_onyxguard.dds
Due: none

added
  common/government_reforms/02_government_reforms_republics.txt
Due: none

More fixes.
  events/DevouringPath.txt
Due: Events Encoding

Before fixing localisation
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  localisation/Flavour_Bulwar_l_english.yml
  localisation/anb_great_projects_l_english.yml
  missions/Sareyand_Missions.txt
Due: Localization Encoding

test
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

I need to actually assign them lmao
  common/government_reforms/02_government_reforms_republics.txt
  gfx/interface/government_reform_icons/lake_bastion_democracy.dds
  gfx/interface/government_reform_icons/lake_emissary_liberty.dds
  gfx/interface/government_reform_icons/lake_united_federation.dds
  gfx/interface/government_reform_icons/united_lake_federation.dds
  interface/countryestatesview.gfx
  interface/governmentreformicons.gfx
Due: none

rohibonic place name replacements
  common/countries/Adenica.txt
  common/countries/Alenor.txt
  common/countries/Ancardia.txt
  common/countries/Araionn.txt
  common/countries/Black Castanor.txt
  common/countries/Cardest.txt
  common/countries/Castanor.txt
  common/countries/Counts League.txt
  common/countries/Covenblad.txt
  common/countries/Edhardrachon Breakaway.txt
  common/countries/Esthil.txt
  common/countries/Farranean.txt
  common/countries/Luciande.txt
  common/countries/Nurcestir.txt
  common/countries/Orda Aldresia.txt
  common/countries/Order of the Iron Sceptre.txt
  common/countries/Silvermere.txt
  common/countries/Sword Covenant.txt
  common/cultures/anb_cultures.txt
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  map/definition.csv
  map/positions.txt
Due: Localization Encoding

test 2
  events/Flavour_Bulwar.txt
Due: Events Encoding

#Bon appétit
  events/Flavour_Bulwar.txt
Due: Events Encoding

funny aaa thread
  events/Flavour_Cursed_Howl_I40.txt
  localisation/Flavour_Cursed_Howl_I40_l_english.yml
  missions/CursedHowlMissions.txt
Due: Events Encoding, Localization Encoding

hm?
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

province_religion and is_core fix
  events/DevouringPath.txt
Due: Events Encoding

Hmmmm
  common/estate_privileges/anb_privileges.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_ZokkaJaddariWar.txt
Due: Events Encoding

hm
  common/estate_privileges/anb_privileges.txt
Due: none

aaaah 2
  missions/CursedHowlMissions.txt
Due: none

aaa3
  missions/CursedHowlMissions.txt
Due: none

aaaa4
  events/Flavour_Cursed_Howl_I40.txt
  missions/CursedHowlMissions.txt
Due: Events Encoding

removing
  common/estate_privileges/anb_privileges.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

more fm tooltips, frida checking
  events/Flavour_Frozenmaw_Z18.txt
  localisation/Flavour_Frozenmaw_Z18_l_english.yml
  missions/Frozenmaw_Missions.txt
Due: Events Encoding, Localization Encoding

last bit before the adventures
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_verne.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

zokka
  common/estate_privileges/anb_privileges.txt
  common/estates/05_nomadic_tribes.txt
  common/estates/97_mages.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_zokka.txt
  events/Flavour_Zokka_F29.txt
Due: Events Encoding

l
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
