Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

lake federation decision parsing error fix
  decisions/LakeFederationDecisions.txt
Due: Decisions Encoding

encoding fixing (aldarian)
  common/on_actions/00_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
Due: none

temporarily adding back the behemoth modifier
  common/event_modifiers/LencoriBehemoth.txt
  decisions/LencoriBehemothDecisions.txt
  localisation/LencoriBehemothEvents_l_english.yml
Due: Decisions Encoding, Localization Encoding

DLC bypass PR parsing error fixes (extra bracket and cestirmarck)
  common/scripted_triggers/anb_scripted_triggers.txt
  missions/Cestirmark_Missions.txt
Due: none

qeyikul owner change optimisation and khugra fix
  common/on_actions/00_on_actions.txt
  missions/Khugra_Missions.txt
Due: none

For loop and new custom diplo ui changes
  common/custom_gui/countrydiplomacyview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  interface/countrydiplomacyview.gui
Due: none

.
  gfx/interface/ideas_EU4/damestear_island.dds
Due: none

work
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Flavour_Gnollakaz_U09.txt
  localisation/anb_tooltips_l_english.yml
  missions/Gnollakaz_Missions.txt
Due: Events Encoding, Localization Encoding

South Aelantir trade goods tweaks
  common/tradegoods/00_tradegoods.txt
Due: none

Small simplification for SA trade goods
  common/tradegoods/00_tradegoods.txt
Due: none

work
  common/event_modifiers/anb_event_modifiers.txt
  events/Flavour_Gnollakaz_U09.txt
  localisation/Flavour_Gnollakaz_U09_l_english.yml
  missions/Gnollakaz_Missions.txt
Due: Events Encoding, Localization Encoding

[new-master] Zena MT 2.045
  common/custom_gui/countryreligionview.txt
  common/custom_gui/provinceview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/zena_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_for_province_ui.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  decisions/ZenaDecisions.txt
  events/Flavour_Zena_L06.txt
  events/MedasiEvents.txt
  localisation/Flavour_Zena_L06_l_english.yml
  missions/Zena Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

work
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Gnollakaz_U09.txt
  localisation/Flavour_Gnollakaz_U09_l_english.yml
  missions/Gnollakaz_Missions.txt
Due: Events Encoding, Localization Encoding

[new-master] Zena MT 2.0451
  events/Flavour_Zena_L06.txt
Due: Events Encoding

work
  events/Flavour_Gnollakaz_U09.txt
  localisation/Flavour_Gnollakaz_U09_l_english.yml
Due: Events Encoding, Localization Encoding

work
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

why did I remove this?
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

RSP #8
  localisation/anb_piracy_l_english.yml
  missions/RSP_Missions.txt
Due: Localization Encoding

malacnar conquest balance and drozma tur bugfix
  common/government_reforms/01_government_reforms_monarchies.txt
  common/scripted_effects/drozma_tur_scripted_effects.txt
Due: none

one (1) mission
  common/ancestor_personalities/00_core.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/harpylen_scripted_effects.txt
  events/Flavour_Harpylen_F98.txt
  events/HarpyEvents.txt
  localisation/Flavour_Harpylen_l_english.yml
  localisation/winds_of_change_l_english.yml
  missions/Harpylen_Missions.txt
Due: Events Encoding, Localization Encoding

Rename variable to not start with a tag. Create a big series of ifs for the roost capacity compared to diplomatic relation slots. However, it doesn't seem to be working yet. WIP.
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
Due: none

Tooltip variable
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  customizable_localization/anb_custom_loca.txt
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

Mission icon fix. Slight tooltip tweak.
  localisation/Flavour_Samsumbat_F60_l_english.yml
  missions/Samsumbat_Missions.txt
Due: Localization Encoding

liv review
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Gnollakaz_U09.txt
  missions/Gnollakaz_Missions.txt
Due: Events Encoding

MORE RETI SLANDER
  common/event_modifiers/anb_cangji_modifiers.txt
  events/Flavour_Cangji_V05.txt
  localisation/Flavour_Cangji_V05_l_english.yml
  missions/Cangji_Missions.txt
Due: Events Encoding, Localization Encoding

adding loc
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  common/scripted_triggers/anb_scripted_triggers_overclan.txt
  decisions/BulwarFormables.txt
  decisions/OverclanNation.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
  map/provincegroup.txt
  missions/Overclan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

attribution
  localisation/Flavour_Overclan_F78_l_english.yml
Due: Localization Encoding

Border Tribes v4
  common/parliament_issues/anb_orenvalyam.txt
  common/scripted_effects/taychend_scripted_effects.txt
  events/OrenNayiruEvents.txt
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding

Variable Change
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  customizable_localization/anb_taychend_custom_localization.txt
  events/Flavour_Orenvalyam_U39.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
Due: Events Encoding, Localization Encoding

Custom Diplo Action Update
  common/custom_gui/countrydiplomacyview.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  interface/countrydiplomacyview.gui
Due: none

Custom Diplo Action Updates
  common/custom_gui/countrydiplomacyview.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  decisions/ZulburDecisions.txt
  interface/countrydiplomacyview.gui
Due: Decisions Encoding

improve tt
  localisation/foundationism_l_english.yml
Due: Localization Encoding

diplo action updates + THAT FUCKING TRIGGER
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  interface/countrydiplomacyview.gui
  missions/Swift_Legged_Bongo_Missions.txt
Due: none

Tooltip for Conditions
  common/great_projects/anb_monuments_aelantir.txt
  localisation/anb_great_projects_l_english.yml
  localisation/emperor_estates_l_english.yml
Due: Localization Encoding

loc fix
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
  missions/Overclan_Missions.txt
Due: Events Encoding, Localization Encoding

tweaks that almost killed me lol
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/scripted_effects/mechanim_scripted_effects.txt
  decisions/MechanimNation.txt
  events/ManagoPokuEvents.txt
  events/MechanimEvents.txt
  localisation/anb_generic_insyaa_l_english.yml
  localisation/anb_mechanim_l_english.yml
  localisation/manago_poku_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Consolidating tooltips in its own section in the loc
  localisation/Flavour_Nansalen_B80_l_english.yml
Due: Localization Encoding

work
  common/leader_personalities/00_core.txt
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
Due: none

yes this works
  common/on_actions/00_on_actions.txt
Due: none

fixing flag stuff for deposit divination MT effect
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none
