Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Agenda fixes
  common/estate_agendas/00_generic_agendas.txt
Due: none

New fix
  missions/Salla_Elyn_missions.txt
Due: none

Another fix
  events/Flavour_Salla_Elyn_I26.txt
Due: Events Encoding

Forgot a line
  events/Flavour_Salla_Elyn_I26.txt
Due: Events Encoding

Another one
  events/Flavour_Salla_Elyn_I26.txt
Due: Events Encoding

Vic League added missing gov attribute
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

ownership check adjustments
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
Due: none

work work
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Bulwar.txt
  events/Flavour_Naleni_L55.txt
  localisation/Flavour_Bulwar_l_english.yml
  localisation/Flavour_Naleni_F55_l_english.yml
  missions/Naleni_Missions.txt
Due: Events Encoding, Localization Encoding

Fixes of Ender!
  events/holohana_events.txt
Due: Events Encoding

actually redoing things for real
  events/Shadow_pact.txt
  localisation/anb_shadow_pact_l_english.yml
Due: Events Encoding, Localization Encoding

missed adeen rep trigger
  common/estates/84_adeen.txt
Due: none

Dont chirp gods
  events/holohana_events.txt
Due: Events Encoding

r
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
Due: none

New new fix
  common/estate_agendas/02_noble_agendas.txt
Due: none

event placeholders
  events/Flavour_Westmoors_A24.txt
  localisation/Flavour_Westmoors_A24_l_english.yml
Due: Events Encoding, Localization Encoding

Flag and spelling fixes
  common/custom_gui/countryreligionview.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_centaurs.txt
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
  localisation/Flavour_Golden_Tremor_I57_l_english.yml
  missions/Centaur_Missions.txt
  missions/Golden_Tremor_Missions.txt
Due: Localization Encoding

Ope
  events/Flavour_Golden_Tremor_I57.txt
Due: Events Encoding

Ope2
  gfx/interface/irdeaos_worship_ui_button.dds
  interface/countryreligionview.gui
Due: none

Karassk bugs again
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Karassk_L68_l_english.yml
  missions/Karassk_Missions.txt
Due: Localization Encoding

Fix
  history/countries/I26 - Salla Elyn.txt
  missions/Salla_Elyn_missions.txt
Due: none

generic harpy event localisation
  localisation/Group_Flavour_Harpies_l_english.yml
Due: Localization Encoding

Ender
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
Due: none

drennen slight adjustment and ayarallen racial system use adjustment
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/HarpylenFormable.txt
  events/DeepwoodsEvents.txt
  events/HarpyEvents.txt
  localisation/anb_deepwoods_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Vic League Actions
  common/buildings/00_buildings.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/vic_league_l_english.yml
Due: Localization Encoding

[Steam] Konolkhatep - Reapply accepted cultures for medasi
  events/MedasiEvents.txt
Due: Events Encoding

typo an holy to a holy
  localisation/Flavour_Bulwar_F39_l_english.yml
Due: Localization Encoding

Petition Archfey icon for Salla Drennen
  common/church_aspects/anb_fey_court.txt
  gfx/interface/church_aspects/fey_unique_drennen.dds
  interface/anb_church_aspects.gfx
Due: none

fixes and bricks
  common/government_reforms/03_government_reforms_theocracies.txt
  localisation/Flavour_Umbral_Covenant_S90_l_english.yml
  missions/UmbralCovenant_Missions.txt
Due: Localization Encoding

zamukaras fixes
  decisions/BulwariZamukaras.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Vic League loc tweak
  localisation/vic_league_l_english.yml
Due: Localization Encoding

[new-master] Mykx Flavor Events
  common/event_modifiers/anb_event_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Mykx_G93.txt
  localisation/Flavour_Mykx_G93_l_english.yml
Due: Events Encoding, Localization Encoding

[new-master] Mykx Flavor Events
  events/Flavour_Mykx_G93.txt
Due: Events Encoding

Small fixes - Set UI to S90 only - Put NOT inside custom trigger tooltip where it belongs
  common/custom_gui/countrygovernmentview.txt
  common/scripted_triggers/umbral_covenant_scripted_triggers.txt
Due: none

great engineer nerf
  common/ancestor_personalities/00_core.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/ruler_personalities/00_core.txt
Due: none

plant growth balance
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

homunculus stat nerf
  events/Magic_Project_Events.txt
Due: Events Encoding

manipulated fortune loc fix
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

divination loc update
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

correct sizes for conjuration merc t3
  common/mercenary_companies/0_anb_elite_mercenaries.txt
Due: none

removes papal puppeteer from homunculus roll
  events/Magic_Project_Events.txt
Due: Events Encoding
