Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

loc fixes
  events/Flavour_Ozgarom_H39.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
Due: Events Encoding, Localization Encoding

bal ouord fix for dostanor
  common/great_projects/anb_monuments_cannor.txt
Due: none

loc fix - bal ourd to bal ouord - today i learned
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Reworking Reworked verion of Rework
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  customizable_localization/anb_customizable_localization.txt
  decisions/BulwarCoolDecisions.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Bazuneisar work and Clockwork Republic
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/estates/98_adventurers.txt
  common/estates/99_artificers.txt
  common/government_names/00_anbennar_government_names.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/Elections.txt
  events/EstatePrivilegesAndAgendasEvents.txt
  history/countries/V03 - Khezkhagak.txt
  history/countries/V06 - Bazuneizar.txt
  localisation/artifice_l_english.yml
  localisation/haless_l_english.yml
Due: Events Encoding, Localization Encoding

fixed encoding
  common/countries/Asheniande.txt
  common/countries/Ravenhill.txt
Due: none

added OR and simplified custom loc
  common/imperial_incidents/anb_imperial_incidents.txt
  customizable_localization/anb_custom_salt_and_silence_localization.txt
  events/Flavour_salt_silence_incident.txt
  localisation/anb_salt_and_silence_l_english.yml
Due: Events Encoding, Localization Encoding

consolidated into pulse, simplified trigger, hid immediate effects
  common/on_actions/00_on_actions.txt
  events/Flavour_salt_silence_incident.txt
Due: Events Encoding

lowercase and ai chance fix
  events/Flavour_salt_silence_incident.txt
Due: Events Encoding

betterer
  common/scripted_effects/anb_scripted_effects.txt
  events/HarpyEvents.txt
Due: Events Encoding

Utubodi Unification Skeleton
  common/countries/Dopabari.txt
  common/countries/Serulumatay.txt
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_generic_insyaa_modifiers.txt
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/government_mechanics/anb_utubodi_unification.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/great_projects/anb_great_projects.txt
  common/great_projects/anb_monuments_insyaa.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  events/anb_insyaa_plateau_unification_events.txt
  history/countries/N76 - Dopabari.txt
  history/countries/N77 - Serulumatay.txt
  interface/provinceview.gui
  localisation/anb_utubodi_unification_l_english.yml
Due: Events Encoding, Localization Encoding

NIs for the formables
  common/great_projects/anb_monuments_insyaa.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  events/anb_insyaa_plateau_unification_events.txt
Due: Events Encoding

Who would guess
  common/scripted_effects/sarhal_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  customizable_localization/anb_customizable_localization.txt
  decisions/BulwarCoolDecisions.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Names of Region correction
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

Some minor localisation changes
  events/RintaSeekerEvents.txt
  localisation/Flavour_Asarta_L96_l_english.yml
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Area?
  decisions/BulwarCoolDecisions.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

religion = ROOT
  decisions/BulwarCoolDecisions.txt
Due: Decisions Encoding

Maybe like this?
  decisions/BulwarCoolDecisions.txt
Due: Decisions Encoding

Canji patch
  common/custom_gui/magic_unique_projects.txt
  common/custom_gui/provinceview.txt
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/anb_cangji_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/mercenary_companies/00_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  decisions/LakeFederationDecisions.txt
  events/Flavour_Cangji_V05.txt
  events/Magic_Project_Events.txt
  gfx/interface/custom_gui/province_UI/CangjiFireIcon.dds
  gfx/interface/custom_gui/province_UI/CangjiMonasteryIcon.dds
  interface/provinceview.gui
  interface/topbar.gui
  localisation/Flavour_Cangji_V05_l_english.yml
  localisation/anb_lupulan_events_l_english.yml
  missions/Cangji_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

codereview
  common/great_projects/anb_monuments_cannor.txt
  missions/Ourdi_Missions.txt
Due: none

hm
  events/RintaSeekerEvents.txt
Due: Events Encoding

Maybe also this
  events/RintaSeekerEvents.txt
Due: Events Encoding

changed "a alliance" to "an alliance".
  localisation/Flavour_Kumarkand_F30_l_english.yml
Due: Localization Encoding

Loc adaptation
  missions/Great_Storm_Missions.txt
Due: none

PR feedback fixes
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_yemotaferi.txt
  decisions/YemotaferiDecisions.txt
  events/Flavour_Yemotaferi_S50.txt
  events/SkyDomain.txt
  events/Theocracies.txt
  events/anb_mengi_flavor_events.txt
  localisation/Flavour_Yemotaferi_S50_l_english.yml
  missions/Yemotaferi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

hidden event explanation
  events/anb_cardesti_events.txt
  localisation/anb_cardesti_l_english.yml
Due: Events Encoding, Localization Encoding

end of loc oddities fixed
  localisation/noukahi_pantheon_l_english.yml
Due: Localization Encoding

Hus Bhal MT
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  customizable_localization/00_start_screen.txt
  decisions/HalessiSpirits.txt
  events/Flavour_Shuvuush.txt
  history/countries/V03 - Khezkhagak.txt
  history/countries/V06 - Bazuneizar.txt
  localisation/Flavour_Hus_Bhal_V25_l_english.yml
  localisation/Flavour_Shuvuush_l_english.yml
  localisation/anb_startup_screen_l_english.yml
  missions/Hus_Bhal_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

replaced own all provinces for performance
  missions/Yemotaferi_Missions.txt
Due: none

...
  events/Flavour_Shuvuush.txt
  localisation/Flavour_Hus_Bhal_V25_l_english.yml
Due: Events Encoding, Localization Encoding

event pictures
  events/Flavour_Yemotaferi_S50.txt
Due: Events Encoding

Takta Lupulan 6
  common/great_projects/anb_monuments_rahen_haless.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  decisions/TempleDecisions.txt
  events/HalessiSpirits.txt
  events/MysticAccordEvents.txt
  localisation/anb_great_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

error log fixes
  events/ToleranceHarpy.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

hide ranger reform without dlc
  missions/Yemotaferi_Missions.txt
Due: none

More Work
  customizable_localization/00_start_screen.txt
  events/Flavour_Shuvuush.txt
  history/countries/V03 - Khezkhagak.txt
  localisation/Flavour_Hus_Bhal_V25_l_english.yml
  localisation/Flavour_Shuvuush_l_english.yml
  localisation/anb_startup_screen_l_english.yml
  missions/Hus_Bhal_Missions.txt
Due: Events Encoding, Localization Encoding

.
  localisation/Flavour_Hus_Bhal_V25_l_english.yml
Due: Localization Encoding

Minor fix
  common/event_modifiers/anb_sarhal_modifiers.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

lol
  common/event_modifiers/anb_sarhal_modifiers.txt
Due: none

.
  missions/Hus_Bhal_Missions.txt
Due: none

Remove incorrectly added estate influence modifier to bread_and_circuses spell
  common/estate_crown_land/00_interactions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none
