Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

fix
  common/on_actions/00_on_actions.txt
  events/Flavour_Istralore_A45.txt
Due: Events Encoding

bonisthebest
  missions/Istralore_Missions.txt
Due: none

CTD and various other fixes
  common/estate_privileges/estate_mages_privileges.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  customizable_localization/anb_magic_menus_localization.txt
  localisation/Flavour_Gronstunad_I22_l_english.yml
  localisation/Flavour_Krakdhumvror_I02_l_english.yml
Due: Localization Encoding

code review 3
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_tributary.txt
Due: none

Fix
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
  common/great_projects/anb_monuments_sarhal.txt
  events/Flavour_Karshyr_S15.txt
  localisation/Flavour_Karshyr_S15_l_english.yml
  missions/Karshyr_Missions.txt
Due: Events Encoding, Localization Encoding

changdzes
  common/scripted_effects/anb_scripted_effects_brrtekuh.txt
  events/Flavour_Brrtekuh_U10.txt
  localisation/Flavour_Brrtekuh_U10_l_english.yml
  missions/Brrtekuh_Missions.txt
Due: Events Encoding, Localization Encoding

z
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Localization Encoding

adjustments and fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Vaengheim_Z88.txt
  events/Gerudia.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Events Encoding, Localization Encoding

Code review fixes
  common/estate_privileges/anb_privileges.txt
  common/peace_treaties/anb_break_the_empire.txt
  common/peace_treaties/anb_force_revolutionary_ravelian.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/RevolutionaryGuard.txt
  events/Flavour_Pashaine_B59.txt
  events/RahenEvents.txt
  localisation/Flavour_Pashaine_B59_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Vaengheim proper file
  common/scripted_triggers/anb_scripted_triggers_missions.txt
Due: none

it wasnt me, it was the loc
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Brrtekuh_U10.txt
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Events Encoding, Localization Encoding

fixes
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  events/Magic_Project_Events.txt
  events/Magic_System_Events.txt
Due: Events Encoding

parsing fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

1252
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Small Loc Tooltip Fix
  common/estate_agendas/anb_naga_agendas.txt
Due: none

triggers aren't modifiers
  common/estate_privileges/anb_privileges.txt
Due: none

Tiny Firanyalen bugfix
  localisation/Flavour_Ayarallen_F27_l_english.yml
Due: Localization Encoding

slavoj zizek
  common/scripted_effects/anb_scripted_effects_brrtekuh.txt
  missions/Brrtekuh_Missions.txt
Due: none

JUDGEMENT
  common/great_projects/anb_monuments_cannor.txt
  common/on_actions/00_on_actions.txt
  events/HolyRomanEmpire.txt
Due: Events Encoding

oope2
  events/Flavour_Salla_Ayeth_I33.txt
  localisation/Flavour_Salla_Ayeth_I33_l_english.yml
  missions/Salla_Ayeth_Missions.txt
Due: Events Encoding, Localization Encoding

Spirits.1003-loc-fix
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

Fix
  missions/Karshyr_Missions.txt
Due: none

scripted
  common/great_projects/anb_monuments_cannor.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
Due: none

aa
  events/RC_favored_by_the_gods.txt
Due: Events Encoding

code review 4
  common/estate_privileges/anb_privileges.txt
  common/on_actions/00_on_actions.txt
  events/MonstrousEvents.txt
  events/XhazobkultEvents.txt
  localisation/anb_governments_l_english.yml
  localisation/xhazobkult_l_english.yml
Due: Events Encoding, Localization Encoding

JUGDEMENT2
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
Due: none

I hath been judged
  common/great_projects/anb_monuments_cannor.txt
  events/Cannor_Monument_Flavour_Events.txt
  localisation/anb_cannor_monuments_l_english.yml
  localisation/anb_great_projects_l_english.yml
Due: Events Encoding, Localization Encoding

tiny tweak
  events/Flavour_Verne_A33.txt
Due: Events Encoding

code review 5
  common/estate_privileges/anb_privileges.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

code review 6
  common/estate_privileges/anb_privileges.txt
Due: none

event pictures more
  events/Flavour_Verne_A33.txt
Due: Events Encoding

special event pictures
  events/Flavour_Verne_A33.txt
Due: Events Encoding

upsies
  events/XhazobkultEvents.txt
Due: Events Encoding

code review 7
  common/estate_privileges/anb_privileges.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

kill all humans (loc fix)
  localisation/Flavour_Chaqway_G87_l_english.yml
Due: Localization Encoding

Some of pashaine loc
  localisation/Flavour_Pashaine_B59_l_english.yml
Due: Localization Encoding

more fixes
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Localization Encoding

Fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Clouded_Eye_B24.txt
  events/Flavour_Unguldavor_Z52.txt
  localisation/Flavour_Unguldavor_Z52_l_english.yml
  missions/Clouded_Eye_Missions.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding, Localization Encoding

fix
  common/estate_privileges/estate_artifice_privileges.txt
  events/Flavour_Pashaine_B59.txt
Due: Events Encoding
