Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

fixin merge
  common/subject_types/00_subject_types.txt
Due: none

averilibet fixes
  common/cb_types/00_cb_types.txt
  events/Flavour_Averilibet_S53.txt
  missions/Averilibet_Missions.txt
Due: Events Encoding

Change progress bars to buttons
  common/custom_gui/magic_menu.txt
  events/Magic_Project_Events.txt
Due: Events Encoding

Fixing Loc
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Localization Encoding

Grammar Fix
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Localization Encoding

Root.Monarch
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Localization Encoding

Spelling Fix
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Localization Encoding

Homophone Fix
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Localization Encoding

Fixing Event Targets
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
  missions/Clouded_Eye_Missions.txt
Due: Localization Encoding

uf
  missions/Averilibet_Missions.txt
Due: none

More event stuff, getting back into it.
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Tiboktsamo.txt
Due: Events Encoding

more progress
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_vaengheim_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_vaengheim.txt
  common/personal_deities/anb_skaldhyrric_faith.txt
  events/Flavour_Vaengheim_Z88.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Events Encoding, Localization Encoding

work
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/95_monstrous_tribe.txt
  common/event_modifiers/anb_xhazobkult_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/ruler_personalities/00_core.txt
  common/subject_types/00_subject_types.txt
  history/countries/A49 - Xanzerbexis.txt
  history/countries/F28 - Tluukt.txt
  history/countries/F29 - Zokka.txt
  history/countries/F54 - Koggraffa.txt
  history/countries/F55 - Kogzalla.txt
  history/countries/F65 - Tzilekal.txt
  history/countries/F71 - Rakkaz.txt
  history/countries/U07 - Viakkoc.txt
  history/countries/U09 - Gnollakaz.txt
  localisation/anb_governments_l_english.yml
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

work
  common/diplomatic_actions/00_diplomatic_actions.txt
Due: none

inventions
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estates/99_artificers.txt
  common/event_modifiers/artifice_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

changed crovis peace terms to reconquest
  common/cb_types/anb_cb_crovis_invasion.txt
  common/wargoal_types/00_wargoal_types.txt
  localisation/Flavour_Grombar_Z50_l_english.yml
Due: Localization Encoding

Wineport Fixes and Loc
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  customizable_localization/00_start_screen.txt
  customizable_localization/anb_custom_loca.txt
  events/Flavour_Wineport_A16.txt
  localisation/Flavour_Wineport_A16_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_startup_screen_l_english.yml
  missions/WineportMissions.txt
Due: Events Encoding, Localization Encoding

Advisor stuff
  gfx/interface/country_court_view_bg.dds
  interface/countrycourtview.gui
Due: none

Big idea GUI
  gfx/interface/choose_idea_bg.dds
  gfx/interface/country_ideas_view_bg.dds
  interface/countryideasview.gui
Due: none

hunt system implementation
  common/event_modifiers/anb_vaengheim_modifiers.txt
  decisions/VaengheimDecisions.txt
  events/Flavour_Vaengheim_Z88.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Historical Friendship for Parraj and Sarnavan
  history/countries/R09 - Parraj.txt
  history/countries/R10 - Sarnavan.txt
Due: none

work
  missions/Irkorzik_Missions.txt
Due: none

Sri Baginda Fixes + Additions + etc
  common/cb_types/00_cb_types.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/government_mechanics/anb_sri_baginda.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_tributary.txt
  common/scripted_effects/anb_scripted_effects_sri_baginda.txt
  decisions/SriBagindaDecisions.txt
  events/LupulanEvents.txt
  localisation/anb_lupulan_events_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

ag
  missions/Azka_Evran_Missions.txt
Due: none

ananoma tweak
  decisions/FahvanosyDecisions.txt
Due: Decisions Encoding

wood elf modifier fix
  common/ideas/anb_country_ideas.txt
Due: none

i forgor
  events/LupulanEvents.txt
  localisation/anb_lupulan_events_l_english.yml
Due: Events Encoding, Localization Encoding

1
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/new_diplomatic_actions/anb_istralore_levy.txt
  missions/Istralore_Missions.txt
Due: none

hunt system
  common/event_modifiers/anb_vaengheim_modifiers.txt
  common/scripted_effects/vaengheim_scripted_effects.txt
  decisions/VaengheimDecisions.txt
  events/Flavour_Vaengheim_Z88.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Roosts: Button visible everywhere.
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
Due: none

Roosts: Mulen t3 roosts stuff
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Monuments
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/great_projects/anb_monuments_cannor.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  decisions/GoldenHighway.txt
  events/PlanetouchedEvents.txt
  localisation/anb_great_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

zokka
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  events/Flavour_Zokka_F29.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

Holohana beginning, taking stuff from nilsoop
  common/countries/HolohanaCountry.txt
  common/country_tags/anb_countries.txt
  common/event_modifiers/anb_holohana_modifiers.txt
  common/ideas/anb_country_ideas.txt
  common/rebel_types/holohana_maliu_fanua.txt
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
  common/scripted_triggers/anb_scripted_triggers_holohana.txt
  common/technologies/mil.txt
  common/technology.txt
  common/units/holohana_1_holohana.txt
  events/holohana_events.txt
  gfx/interface/tech_group_strip.dds
  history/countries/P99 - HolohanaCountry.txt
  history/provinces/3466 - PROV3466.txt
  interface/countrygovernmentview.gfx
  localisation/anb_institutions_l_english.yml
Due: Events Encoding, Localization Encoding

improvement!
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  common/scripted_triggers/anb_scripted_triggers_rahen.txt
  decisions/RajDecisions.txt
  events/Flavour_Ghavaanaj_R72.txt
  events/GenericOnActionEvents.txt
  events/RahenRajEvents.txt
Due: Decisions Encoding, Events Encoding

Arawkelin Deforestation Rework
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/ArawkelinDeforestation.txt
  events/Flavour_Arawkelin_Y65.txt
  interface/provinceview.gui
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  missions/Arawkelin_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

banshee stuff
  common/event_modifiers/anb_istralore_modifiers.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  localisation/Flavour_Istralore_A45_l_english.yml
  missions/Istralore_Missions.txt
Due: Localization Encoding

zokka
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_zokka_modifiers.txt
Due: none

zokka
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding
