Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

clarity tweaks
  localisation/Flavour_Lelanan_L36_l_english.yml
Due: Localization Encoding

clarity
  localisation/Flavour_Lelanan_L36_l_english.yml
Due: Localization Encoding

preventing magocracy Lelanan
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

fixing todo I forgot
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

clarification
  localisation/Flavour_Esthil_B54_l_english.yml
Due: Localization Encoding

refactor: split similar modifiers for kobold and lizard
  common/event_modifiers/gene_pillar_modifiers.txt
  events/GenePillarEvents.txt
Due: Events Encoding

fix: add loc for dragon pillar modifiers
  localisation/anb_gene_pillars_l_english.yml
Due: Localization Encoding

I think this BD priv is wrong/missing
  events/Flavour_Black_Demesne_Acolytes_Interactions.txt
Due: Events Encoding

Check right priv and use right description.
  events/Flavour_Black_Demesne_Acolytes_Interactions.txt
Due: Events Encoding

iochand fiks
  common/peace_treaties/anb_iochand_concede_ruin_circle.txt
  decisions/WescannFormables.txt
  events/Flavour_Iochand_A80.txt
Due: Decisions Encoding, Events Encoding

[Steam] Non-Tribal Alt for Mission
  missions/Venomtooth_Missions.txt
Due: none

endhuvi fix
  events/Flavour_Endhuvi_R36.txt
Due: Events Encoding

excess space
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Zerat and Khasa fix
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Ekha_U08.txt
  events/Flavour_Zerat_L69.txt
  events/Group_Flavour_Akan.txt
Due: Events Encoding

Forgor tech
  events/Flavour_Ekha_U08.txt
Due: Events Encoding

Small fix
  missions/Zerat_Missions.txt
Due: none

Removed spaces before periods
  localisation/Flavour_Ameion_G52_l_english.yml
  localisation/Flavour_Deranne_A02_l_english.yml
  localisation/Flavour_Esthil_B54_l_english.yml
  localisation/Flavour_Great_Storm_I80_l_english.yml
  localisation/Flavour_Jiantsiang_Y16_l_english.yml
  localisation/Flavour_Mykx_G93_l_english.yml
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
  localisation/Flavour_Woodwell_A88_l_english.yml
  localisation/anb_deepwoods_l_english.yml
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
  localisation/anb_diggy_diggy_hole_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_startup_screen_l_english.yml
  localisation/anb_units_l_english.yml
  localisation/fangaula_pantheon_l_english.yml
Due: Localization Encoding

bongo fixes
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

PS MT Fixes
  common/event_modifiers/anb_parusahan_saya_modifiers.txt
  localisation/Flavour_ParusahanSaya_R54_l_english.yml
  missions/ParusahanSaya_Missions.txt
Due: Localization Encoding

PS MT Fix
  missions/ParusahanSaya_Missions.txt
Due: none

Tooltip Fix
  localisation/Flavour_Karach_L77_l_english.yml
Due: Localization Encoding

Other Tooltip fix I just found
  localisation/Flavour_Karach_L77_l_english.yml
  missions/Karach_Missions.txt
Due: Localization Encoding

Streamlining
  missions/Venomtooth_Missions.txt
Due: none

Inumbe Vandamlos Shelpherds PTM Fix
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

[Steam] Black Herd Fix
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

Revert Diplomacy UI button positions
  interface/countrydiplomacyview.gui
Due: none

mountainhugger fixes
  missions/Mountainhugger_Missions.txt
Due: none

ardimya bugfix
  events/Ardimya_Events.txt
Due: Events Encoding

Loc and Artifice
  common/event_modifiers/anb_shadowdreamer_modifiers.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
Due: Localization Encoding

Dookan's Crusade
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
Due: Localization Encoding

Save salt_and_silence_giant at start of event chain
  events/Flavour_salt_silence_incident.txt
Due: Events Encoding

Fix error log spam from RHS global event targets
  events/Flavour_salt_silence_incident.txt
Due: Events Encoding

Fix double NOT on damestear trigger
  events/GenePillarEvents.txt
Due: Events Encoding

Hide event scope in disable dragon matrix
  common/scripted_effects/anb_scripted_effects_for_gene_pillars.txt
Due: none

Remove duplicate loc and fix up some others for gene pillars
  localisation/anb_gene_pillars_l_english.yml
Due: Localization Encoding

Fix loc get monarch title
  localisation/anb_gene_pillars_l_english.yml
Due: Localization Encoding

rajii
  common/cb_types/anb_cb_raj.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/Flavour_Harpylen_l_english.yml
Due: Localization Encoding

harpy
  decisions/EstateActionsArtificers.txt
  localisation/Flavour_Harpylen_l_english.yml
  missions/Harpylen_Missions.txt
Due: Decisions Encoding, Localization Encoding

More post-update feedback(s)
  decisions/AYNDecisions.txt
  events/Flavour_AYN.txt
  localisation/Flavour_Ardimyan_Natives_l_english.yml
  missions/AYN_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

fix of mistake
  decisions/AYNDecisions.txt
  events/Flavour_AYN.txt
Due: Decisions Encoding, Events Encoding
