Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

2 tt for raj
  localisation/anb_estate_lower_castes_l_english.yml
  localisation/anb_estate_middle_castes_l_english.yml
Due: Localization Encoding

fix for an ozgarom tt
  localisation/Flavour_Ozgarom_H39_l_english.yml
Due: Localization Encoding

Gibunalan Modifier to Not Have to Fix Province in Map
  common/event_modifiers/anb_insyaa_modifiers.txt
  gfx/interface/ideas_EU4/desolated_by_the_stormwall.dds
  history/provinces/1173 - Gibunalan.txt
  localisation/anb_generic_insyaa_l_english.yml
Due: Localization Encoding

.
  localisation/anb_generic_insyaa_l_english.yml
Due: Localization Encoding

Raj Fix
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
Due: none

apparently the alliamce can breka
  common/opinion_modifiers/anb_opinion_modifiers.txt
Due: none

Code Review
  common/on_actions/00_on_actions.txt
  decisions/ShadowdreamerDecisions.txt
  events/Flavour_Shadowdreamer_H83.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
  missions/Shadowdreamer_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Windward 3d models
  gfx/entities/anb_monuments.asset
  gfx/models/anbennar/monuments/ambient_objects_animation_anbennar.asset
  gfx/models/anbennar/monuments/kheion_windward.anim
  gfx/models/anbennar/monuments/kheion_windward.mesh
  gfx/models/anbennar/monuments/windward_diffuse.dds
  gfx/models/anbennar/monuments/windward_diffuse2.dds
  gfx/models/anbennar/monuments/windward_normal2.dds
  gfx/models/anbennar/monuments/windward_spec2.dds
  interface/assets/anbennar_monuments.gfx
  map/ambient_object.txt
  map/positions.txt
Due: none

axed the admin tech requirement for post-colonial tagss
  decisions/ColonialFormables.txt
Due: Decisions Encoding

Wairuakore Encoding fix
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
  wdfrodo-anbennar-eu-4.mod
Due: Localization Encoding

flavour_nispac.3 - fixed/recoded
  events/Flavour_Nispac_N78.txt
  localisation/Flavour_Nispac_N78_l_english.yml
Due: Events Encoding, Localization Encoding

Groudhawk Corintar fix
  localisation/Flavour_Groundhawk_B42_l_english.yml
  missions/GroundHawk_Missions.txt
Due: Localization Encoding

slight fix up for flavor_arannen.1
  events/Flavour_Arannen_A72.txt
Due: Events Encoding

Minor coloring mistake
  localisation/Flavour_Groundhawk_B42_l_english.yml
Due: Localization Encoding

code review round 2
  common/custom_gui/countrydiplomacyview.txt
  events/Flavour_Swift_Legged_Bongo_S37.txt
  missions/Swift_Legged_Bongo_Missions.txt
Due: Events Encoding

Mystic Accords loc changes
  localisation/mystic_accord_l_english.yml
Due: Localization Encoding

small typo fix
  localisation/Flavour_Karassk_L68_l_english.yml
Due: Localization Encoding

magic_duel.0 gets a title
  events/Flavour_OrdaAldresia_A77.txt
  events/Flavour_Tluukt_F28.txt
  localisation/anb_magic_duel_l_english.yml
Due: Events Encoding, Localization Encoding

flavor_arannen.1 into a pulse event
  common/on_actions/00_on_actions.txt
  events/Flavour_Arannen_A72.txt
Due: Events Encoding

codereview
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Arannen_A72.txt
  events/Flavour_TheCommand_R62.txt
  localisation/Flavour_Averilibet_S53_l_english.yml
Due: Events Encoding, Localization Encoding

Missing capitalization
  localisation/Flavour_Karach_L77_l_english.yml
Due: Localization Encoding

Citadels
  common/buildings/00_buildings.txt
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  customizable_localization/anb_custom_loca.txt
  events/Charkuchin_Kobold_Events.txt
  localisation/anb_charkuchin_l_english.yml
Due: Events Encoding, Localization Encoding

Oops for Tsukqiao. Add on_invalid tooltips for privilege. Remove extranneous tooltip for gov reform. Remove ruinborn for monstrous.
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_privileges/01_church_privileges.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  events/Flavour_Samsumbat_F60.txt
  events/estate_ahati.txt
  localisation/Flavour_Samsumbat_F60_l_english.yml
Due: Events Encoding, Localization Encoding

Test version
  common/custom_gui/provinceview.txt
  common/event_modifiers/charkuchin_kobold_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

Okay I think its ready
  common/custom_gui/provinceview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  customizable_localization/anb_custom_loca.txt
  events/Charkuchin_Kobold_Events.txt
  localisation/anb_charkuchin_l_english.yml
Due: Events Encoding, Localization Encoding

Hm Hm Hm
  common/custom_gui/provinceview.txt
  events/Charkuchin_Kobold_Events.txt
Due: Events Encoding

small karassk modifer fix
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Almost
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  events/Charkuchin_Kobold_Events.txt
Due: Events Encoding

Now!
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  events/Charkuchin_Kobold_Events.txt
Due: Events Encoding

fux
  common/custom_gui/provinceview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Flavour_Cangji_V05.txt
  events/Magic_Spell_Events.txt
  localisation/Flavour_Cangji_V05_l_english.yml
  missions/Cangji_Missions.txt
Due: Events Encoding, Localization Encoding

RETI
  localisation/Flavour_Cangji_V05_l_english.yml
  missions/Cangji_Missions.txt
Due: Localization Encoding

Some Highlights
  localisation/Flavour_Karach_L77_l_english.yml
Due: Localization Encoding

Small Monument Localization fix
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

Charkuchin Citadel Ordinance Buttons by Shwigz
  gfx/interface/custom_gui/province_UI/citadel_education.dds
  gfx/interface/custom_gui/province_UI/citadel_food.dds
  gfx/interface/custom_gui/province_UI/citadel_foundations.dds
  gfx/interface/custom_gui/province_UI/citadel_safety.dds
  gfx/interface/custom_gui/province_UI/citadel_services.dds
  interface/provinceview.gfx
Due: none

encoding
  missions/Cangji_Missions.txt
Due: none

Scale Gene Pillars up
  map/ambient_object.txt
Due: none

some loc and tooltip changes
  common/event_modifiers/anb_cangji_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  localisation/Flavour_Cangji_V05_l_english.yml
Due: Localization Encoding

2 x OR
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
Due: none

fix
  events/Flavour_Umbral_Covenant_S90.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
