Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

help
  events/CoT_RP_Events.txt
Due: Events Encoding

heart of the cards
  events/CoT_RP_Events.txt
Due: Events Encoding

one of the fixes
  events/CoT_frostheart_event_rewards.txt
Due: Events Encoding

Revert "one of the fixes"
  events/CoT_frostheart_event_rewards.txt
Due: Events Encoding

fixing some things
  events/CoT_misc_events.txt
  events/CoT_whitescale_mission_events.txt
Due: Events Encoding

poetry events
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  customizable_localization/anb_custom_loca.txt
  events/HalessEvents.txt
  localisation/haless_l_english.yml
Due: Events Encoding, Localization Encoding

account for more war magics
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

done?
  common/custom_gui/zz_mission_content.txt
  common/event_modifiers/anb_ayarallen_modifiers.txt
  common/event_modifiers/anb_bulwari_modifiers.txt
  common/government_mechanics/anb_harpylen_queendom.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  decisions/HarpylenFormable.txt
  events/Flavour_Kumarkand_F30.txt
  events/HarpyEvents.txt
  events/flavour_Ayarallen_F27.txt
  localisation/Flavour_Ayarallen_F27_l_english.yml
  localisation/anb_harpy_gov_bar_l_english.yml
  missions/Ayarallen_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

fixes
  common/on_actions/00_on_actions.txt
  localisation/the_hunt_l_english.yml
Due: Localization Encoding

duration fixes
  missions/Ayarallen_Missions.txt
Due: none

cutting events
  events/flavour_Ayarallen_F27.txt
Due: Events Encoding

events 25-27
  common/event_modifiers/anb_haless_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  events/HalessEvents.txt
  localisation/haless_l_english.yml
Due: Events Encoding, Localization Encoding

vagaries not vagrancies
  localisation/Flavour_Castanor_B32_l_english.yml
  localisation/Flavour_Feiten_Y20_l_english.yml
  localisation/anb_age_of_witch_kings_l_english.yml
Due: Localization Encoding

more holohana combat
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
  common/scripted_triggers/anb_scripted_triggers_holohana.txt
  events/holohana_events.txt
Due: Events Encoding

Small loc fix for artificer generals
  localisation/artifice_privileges_l_english.yml
Due: Localization Encoding

The events don't work yet, but they should once I add the modifiers and stuff
  common/on_actions/00_on_actions.txt
  events/Group_Flavor_Gnolls.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

Add the rebel types and event modifiers for the events
  common/event_modifiers/anb_gnoll_modifiers.txt
  common/event_modifiers/anb_xhazobkult_modifiers.txt
  common/rebel_types/demons.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

event 30
  common/event_modifiers/anb_haless_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_advisors.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  common/scripted_effects/treasure_fleet_scripted_effects.txt
  events/HalessEvents.txt
  localisation/haless_l_english.yml
Due: Events Encoding, Localization Encoding

Part 2
  common/buildings/00_buildings.txt
  common/church_aspects/anb_fangaulan_pantheon_aspects.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  events/anb_MiscEvents.txt
  events/fangaulan_pantheon_events.txt
  interface/countryreligionview.gui
  localisation/anb_religions_l_english.yml
  localisation/anb_tooltips_l_english.yml
  localisation/fangaula_pantheon_l_english.yml
Due: Events Encoding, Localization Encoding

event 31
  common/event_modifiers/anb_haless_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  events/HalessEvents.txt
  localisation/haless_l_english.yml
Due: Events Encoding, Localization Encoding

merc color
  localisation/anb_mercs_l_english.yml
Due: Localization Encoding

J for mercs
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

events up to and including 38
  common/event_modifiers/anb_haless_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  events/HalessEvents.txt
  localisation/haless_l_english.yml
Due: Events Encoding, Localization Encoding

two more events
  common/church_aspects/anb_accretive_path.txt
  common/event_modifiers/anb_haless_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/HalessEvents.txt
  localisation/haless_l_english.yml
Due: Events Encoding, Localization Encoding

loc change
  localisation/haless_l_english.yml
Due: Localization Encoding

Better explanation
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Balance changes
  common/church_aspects/anb_fangaula_pantheon.txt
  common/church_aspects/anb_fangaulan_pantheon_aspects.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/fangaulan_pantheon_events.txt
  localisation/Flavour_Feiten_Y20_l_english.yml
  localisation/anb_tooltips_l_english.yml
  localisation/fangaula_pantheon_l_english.yml
Due: Events Encoding, Localization Encoding

minor thing
  events/fangaulan_pantheon_events.txt
  localisation/fangaula_pantheon_l_english.yml
Due: Events Encoding, Localization Encoding

Aelantir-Cannor fixes v2
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/government_mechanics/anb_cannorian_demands.txt
  common/government_reforms/06_government_reforms_common.txt
  common/scripted_effects/anb_scripted_effects.txt
  decisions/Aelantir-Cannor Decisions.txt
  events/Aelantir_Cannor_Interaction.txt
Due: Decisions Encoding, Events Encoding

Celmaldor Fixes
  common/government_reforms/02_government_reforms_republics.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Localization Encoding

Revert "Celmaldor Fixes"
  common/government_reforms/02_government_reforms_republics.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Localization Encoding

floodborn goverment reform
  common/government_reforms/01_government_reforms_monarchies.txt
  missions/Wyvernheart_Missions.txt
Due: none

spellbook tooltip
  common/custom_gui/magic_menu.txt
Due: none

removed 100 prestige block on bless ruler
  common/religions/00_anb_religion.txt
Due: none

Removal of duplicate scripts
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/02_scripted_effects_unlocks.txt
Due: none

Revert "Removal of duplicate scripts"
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/02_scripted_effects_unlocks.txt
Due: none

[Steam] Konol take into account region deletion in Haless
  events/Flavour_Konolkhatep_F66.txt
  missions/Konolkhatep_Missions.txt
Due: Events Encoding

study xp mod tooltip
  common/custom_gui/magic_menu.txt
  customizable_localization/anb_magic_menus_localization.txt
  localisation/anb_magic_study_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

better tooltips
  common/custom_gui/magic_menu.txt
  customizable_localization/anb_magic_menus_localization.txt
Due: none
