Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Eighard MT 0.201
  localisation/Flavour_Eighard_H14_l_english.yml
  missions/Eighard_Missions.txt
Due: Localization Encoding

mostly whitespace
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
Due: Events Encoding, Localization Encoding

owner
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

holds Acts fix
  events/Flavour_Overclan_F78.txt
Due: Events Encoding

owner
  events/Flavour_Overclan_F78.txt
Due: Events Encoding

PS MT Change
  missions/ParusahanSaya_Missions.txt
Due: none

A Little Highlight QoL Fix
  missions/Zena_Missions.txt
Due: none

more fixes
  common/ideas/anb_country_ideas.txt
Due: none

work
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

Custom Tooltip something
  localisation/Flavour_Zena_L06_l_english.yml
  missions/Zena_Missions.txt
Due: Localization Encoding

comment
  common/great_projects/anb_monuments_bulwar.txt
Due: none

scope
  common/great_projects/anb_monuments_bulwar.txt
Due: none

Add insyaa unit loc and starting mechanim rulers
  history/countries/M10 - Taokakurekohurukauaia.txt
  history/countries/M11 - Taurite.txt
  history/countries/M12 - Kaora To Tatau To.txt
  history/countries/M13 - Kamutu Taratu Mahikou Amatou.txt
  history/countries/M14 - Tohuhanga.txt
  history/countries/M15 - Konei Hei Awhina.txt
  history/countries/M16 - Matakirua.txt
  history/countries/M17 - Ru Ana A Halana.txt
  history/countries/M18 - Tamariki Poupou.txt
  history/countries/M19 - Sa'paomi.txt
  history/countries/M20 - Toa Tangaroa.txt
  history/countries/M21 - Kamatoi Haeraitou.txt
  localisation/anb_units_l_english.yml
Due: Localization Encoding

Howdy! This can be usefull! (Not A Scam)
  common/scripted_effects/mechanim_scripted_effects.txt
  events/ManagoPokuEvents.txt
Due: Events Encoding

PS MT Balance
  common/event_modifiers/anb_parusahan_saya_modifiers.txt
  events/Flavour_Parusahan_Saya_R54.txt
Due: Events Encoding

Change loc for stormwall dropping event
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

PS MT Changes
  localisation/Flavour_ParusahanSaya_R54_l_english.yml
  missions/ParusahanSaya_Missions.txt
Due: Localization Encoding

Zena MT QoL Fixes 4
  common/colonial_regions/00_colonial_regions.txt
  localisation/Flavour_Zena_L06_l_english.yml
  missions/Zena_Missions.txt
Due: Localization Encoding

round 3 code review - now with custom diplo
  common/buildings/00_buildings.txt
  common/custom_gui/countrydiplomacyview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Localization Encoding

mostly whitespace
  common/estate_privileges/01_church_privileges.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
Due: Events Encoding, Localization Encoding

move name
  events/Flavour_Overclan_F78.txt
Due: Events Encoding

huh
  common/great_projects/anb_monuments_bulwar.txt
Due: none

egt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_overclan.txt
  customizable_localization/anb_custom_artifice_localization.txt
  decisions/BulwarCoolDecisions.txt
  decisions/TheJadd.txt
  events/Flavour_Overclan_F78.txt
Due: Decisions Encoding, Events Encoding

claims ignore owner
  decisions/BulwarFormables.txt
Due: Decisions Encoding

more readable scripts part 1
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
Due: none

more readable scripts 2
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
Due: none

more readable scripts 3
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
Due: none

more readable scripts 4
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
Due: none

}
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
Due: none

F78_
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
Due: none

Star Rider Bugfix and slightest adjustment
  common/church_aspects/anb_irdaeos_worship_aspects.txt
  localisation/Flavour_Star_Rider_I69_l_english.yml
  missions/Star_Rider_Missions.txt
Due: Localization Encoding

dadadzfv
  common/on_actions/00_on_actions.txt
  decisions/BonecarverDecisions.txt
  events/Flavour_Bonecarver_B27.txt
  localisation/Flavour_Bonecarver_B27_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/flavour_dogeater_b28_l_english.yml
  missions/Bonecarver_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Zena MT Fixes Brought to you by okman
  common/colonial_regions/00_colonial_regions.txt
  missions/Zena_Missions.txt
Due: none

code review round 4: ooppsie edition
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Localization Encoding

forgor
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
Due: none

.
  common/event_modifiers/anb_cannor_monument_modifiers.txt
  common/great_projects/anb_monuments_aelantir.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  customizable_localization/anb_custom_new_sun_cult_localization.txt
  events/Aelantir_Monument_Flavour_Events.txt
  localisation/anb_great_projects_l_english.yml
Due: Events Encoding, Localization Encoding

.
  common/great_projects/anb_monuments_aelantir.txt
  decisions/Aelantir-Cannor Decisions.txt
  events/Aelantir_Monument_Flavour_Events.txt
  localisation/anb_great_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

fixup! Global flag to not occupy blank/invalid spot in event handler
  events/ToleranceMechanim.txt
Due: Events Encoding

delay end of cycle to avoid simultaneous events
  events/Flavour_Huugeta_S45.txt
Due: Events Encoding

made religous victory flag reusable
  common/on_actions/00_on_actions.txt
  history/countries/S45 - Huugeta.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
