Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

okay
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

,
  common/great_projects/anb_monuments_sarhal.txt
  customizable_localization/anb_merfolk.txt
Due: none

encounter success calc bugfix
  common/scripted_effects/anb_digging_effects.txt
Due: none

mhm
  events/RintaSeekerEvents.txt
Due: Events Encoding

Bulwar
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

arpi skeleton
  localisation/Flavour_Hytiranyalen_F81_l_english.yml
  missions/Hytiranyalen_Missions.txt
Due: Localization Encoding

miradeth expedition loc fix
  events/Dwarven_Pantheon.txt
Due: Events Encoding

Hiding hidden event
  common/scripted_effects/seasonal_scripted_effects.txt
Due: none

whoops
  common/scripted_effects/seasonal_scripted_effects.txt
Due: none

code review again
  common/scripted_effects/sarhal_scripted_effects.txt
  common/scripted_effects/umbral_covenant_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  common/scripted_triggers/umbral_covenant_scripted_triggers.txt
  decisions/EastSarhalFormables.txt
  decisions/UmbralCovenantDecisions.txt
  events/Flavour_Umbral_Covenant_S90.txt
  localisation/anb_tooltips_l_english.yml
  missions/UmbralCovenant_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

ope
  events/YudunyoviEvents.txt
Due: Events Encoding

Myriad fixes
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  customizable_localization/00_customizable_localization.txt
  events/Flavour_Ibekisedara_S61.txt
  events/SkyDomain.txt
  localisation/Flavour_Ibekisedara_S61_l_english.yml
  localisation/Flavour_mengi_l_english.yml
  missions/Ibekisedara_Missions.txt
Due: Events Encoding, Localization Encoding

Gaming
  events/Flavour_Great_Storm_I80.txt
  localisation/Flavour_Great_Storm_I80_l_english.yml
Due: Events Encoding, Localization Encoding

Integrating Balance
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Tsukqiao.txt
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
Due: Events Encoding, Localization Encoding

.
  common/custom_gui/zz_mission_content.txt
  gfx/interface/government_mechanics/tsukqiao_of_might_and_right/tsukqiao_banner.dds
  interface/countrygovernmentview.gfx
  interface/countrygovernmentview.gui
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
Due: Localization Encoding

...
  common/cultures/anb_cultures.txt
Due: none

az an bugfixes
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Flavour_OvdalAzAn_I19.txt
  localisation/Flavor_Rayaz_R95_l_english.yml
  localisation/Flavour_Asarta_L96_l_english.yml
  localisation/Flavour_Duwarkani_F62_l_english.yml
  localisation/Flavour_Hisost_Yamok_S23_l_english.yml
  localisation/Flavour_Isagumze_L03_l_english.yml
  localisation/Flavour_OvdalazAn_I19_l_english.yml
  localisation/Flavour_PhoenixEmpire_F38_l_english.yml
  localisation/Flavour_Seghdihr_H78_l_english.yml
  localisation/anb_tooltips_l_english.yml
  missions/Asarta_Missions.txt
  missions/Duwarkani_missions.txt
  missions/Hisost_Yamok_Missions.txt
  missions/Isagumze_Missions.txt
  missions/Konolkhatep_Missions.txt
  missions/Ovdal_az_An_Missions.txt
  missions/Rayaz_Missions.txt
  missions/Seghdihr_Missions.txt
  missions/Zz_Phoenix_Empire_Missions.txt
Due: Events Encoding, Localization Encoding

killing a non triggered cb
  common/cb_types/anb_castanor_cbs.txt
  events/Flavour_Castanor_B32.txt
Due: Events Encoding

Path Of Rinta
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/incidents/00_isolationism.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_rinta_incidents_scripted_effects.txt
  customizable_localization/anb_customizable_localization.txt
  events/RintaSeekerEvents.txt
  localisation/anb_cultures_l_english.yml
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

ack
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Flavour_OvdalAzAn_I19.txt
Due: Events Encoding

.
  common/custom_gui/zz_mission_content.txt
  customizable_localization/anb_custom_tsukqiao_localization.txt
  gfx/interface/government_mechanics/tsukqiao_of_might_and_right/tsukqiao_banner.dds
  interface/countrygovernmentview.gui
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
  missions/Tsukqiao_Missions.txt
Due: Localization Encoding

add_yezel_mora_misery_gov_power uses just 1 input variable now to determine amount any type. Note about hardcoded + for variable amount. Stabilty check back to simple if, not binary tree.
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
Due: none

change values from global to province scope modifiers
  map/terrain.txt
Due: none

generate expeditions in owned provinces
  events/Flavour_Gronstunad_I22.txt
  events/Flavour_HulazKrakazol_I20.txt
  events/Flavour_Khugdihr_I07.txt
  events/Flavour_MaskedButcher_H81.txt
  events/Flavour_Skewered_Drake_H73.txt
  events/Flavour_VerkalDromak_I25.txt
  missions/Allclan_Missions.txt
  missions/Gronstunad_Missions.txt
  missions/HulazKrakazol_Missions.txt
  missions/MaskedButcher_Missions.txt
  missions/Sanghariyar_Missions.txt
  missions/SkeweredDrake_Missions.txt
Due: Events Encoding

Karassk Monument Fixes
  common/event_modifiers/anb_event_modifiers.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

encoding oops
  events/Flavour_Gronstunad_I22.txt
  events/Flavour_HulazKrakazol_I20.txt
  events/Flavour_VerkalDromak_I25.txt
  missions/HulazKrakazol_Missions.txt
  missions/Sanghariyar_Missions.txt
Due: Events Encoding

Krakazol regency fix
  events/DiggyDiggyHoleEvents.txt
Due: Events Encoding

.
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
  missions/Tsukqiao_Missions.txt
Due: Localization Encoding

elff
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Irrliam_F37.txt
  localisation/Flavour_Irrliam_F37_l_english.yml
  missions/Irrliam_Missions.txt
Due: Events Encoding, Localization Encoding

Rats
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  events/Flavour_Bulwar.txt
  events/fangaulan_pantheon_events.txt
  localisation/Flavour_Bulwar_l_english.yml
  localisation/anb_great_projects_l_english.yml
  localisation/fangaula_pantheon_l_english.yml
Due: Events Encoding, Localization Encoding

added mission banner
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

misc collection of typo fixes
  localisation/Flavour_Gemradcurt_H16_l_english.yml
  localisation/anb_adventurers_wanted_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/imperial_reforms_l_english.yml
Due: Localization Encoding

Hmm
  common/great_projects/anb_monuments_bulwar.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
Due: none

.
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

misc MT fixes
  common/church_aspects/anb_sky_domain_abilities.txt
  common/event_modifiers/anb_yemotaferi_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_yemotaferi.txt
  decisions/YemotaferiDecisions.txt
  events/Flavour_Yemotaferi_S50.txt
  events/anb_mengi_flavor_events.txt
  missions/Yemotaferi_Missions.txt
Due: Decisions Encoding, Events Encoding

[new-master] Harpy Tolerance Events + AP Events Bugfix
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/racial_event_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Accretive_Path_Events.txt
  events/ToleranceHarpy.txt
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

Esmaria ideas
  common/ideas/anb_country_ideas.txt
  decisions/EsmariNation.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Localization Encoding

Infinite Self v3
  common/estate_privileges/01_church_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_infinite_self_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/personal_deities/anb_infinite_virtues.txt
  events/InfiniteSelfEvents.txt
  events/holohana_events.txt
  localisation/anb_religions_l_english.yml
  localisation/infinite_self_l_english.yml
Due: Events Encoding, Localization Encoding

tooltips and placeholder loc
  common/buildings/00_buildings.txt
  events/Flavour_Yemotaferi_S50.txt
  localisation/Flavour_Yemotaferi_S50_l_english.yml
  missions/Yemotaferi_Missions.txt
Due: Events Encoding, Localization Encoding

Using great project level for custom loc in a single dungeon reward event. Cleaning up the unnecessary events. Changing the ID of the new one from 1234 to 8888 and moving it to the end.
  customizable_localization/anb_diggy_localization.txt
  events/DiggyDiggyDungeons.txt
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
