Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

VSC-less push
  common/event_modifiers/anb_istralore_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Istralore_A45.txt
  localisation/Flavour_Istralore_A45_l_english.yml
  missions/Istralore_Missions.txt
Due: Events Encoding, Localization Encoding

Moved CE flag out of hidden effect
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding

Moved flag to Coronation Day: CE
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding

Clouded Eye must go monarchy
  events/OrcFormables.txt
Due: Events Encoding

Hid Horc change
  localisation/Flavour_Unguldavor_Z52_l_english.yml
  missions/Unguldavori_Missions.txt
Due: Localization Encoding

Names update
  localisation/Flavour_Farranean_B60_l_english.yml
  missions/FarraneanMissions.txt
Due: Localization Encoding

maldor malding
  common/event_modifiers/anb_celmaldor_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
  common/scripted_triggers/anb_scripted_triggers_celmaldor.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Celmaldor_Z22.txt
  missions/Celmaldor_Missions.txt
Due: Events Encoding

Fixes
  events/Flavour_Cursed_Howl_I40.txt
  localisation/Flavour_Cursed_Howl_I40_l_english.yml
  missions/CursedHowlMissions.txt
Due: Events Encoding, Localization Encoding

erazed 2
  common/event_modifiers/anb_zokka_modifiers.txt
  common/ideas/anb_country_ideas.txt
  events/Flavour_Zokka_F29.txt
Due: Events Encoding

saving private zokka
  common/estate_privileges/anb_privileges.txt
Due: none

perfidious re'uyel
  missions/Zokka_Missions.txt
Due: none

Small fix
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Farranean_B60_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  missions/FarraneanMissions.txt
Due: Localization Encoding

Shadow Pact events fixed and edited
  Anbennar-PublicFork.mod
  common/event_modifiers/anb_sarhal_modifiers.txt
  events/SarhalEvents.txt
  events/Shadow_pact.txt
  localisation/anb_modifiers_l_english.yml
  localisation/anb_sarhal_events_l_english.yml
  localisation/anb_shadow_pact_l_english.yml
Due: Events Encoding, Localization Encoding

Pashaine Row 9 Done
  common/cb_types/anb_cb_imperial.txt
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estates/03_burghers.txt
  common/estates/99_artificers.txt
  common/event_modifiers/anb_event_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_pashaine.txt
  common/peace_treaties/anb_break_the_empire.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  common/wargoal_types/00_wargoal_types.txt
  events/Flavour_Pashaine_B59.txt
  events/HolyRomanEmpire.txt
  events/RahenEvents.txt
  interface/governmentreformicons.gfx
  localisation/Flavour_Pashaine_B59_l_english.yml
  localisation/anb_modifiers_l_english.yml
  localisation/anb_tooltips_l_english.yml
  missions/Pashaine_Missions.txt
Due: Events Encoding, Localization Encoding

Re:Shadow Pact events edited and fixed
  Anbennar-PublicFork.mod
Due: none

zokka
  common/estate_privileges/anb_privileges.txt
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

Clouded Eye Loc changes
  events/Flavour_Clouded_Eye_B24.txt
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Events Encoding, Localization Encoding

error hunting
  common/estate_privileges/anb_privileges.txt
  decisions/VerneDecisions.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Fixing CE and UNG issues in Missions
  events/Flavour_Clouded_Eye_B24.txt
  events/Flavour_Unguldavor_Z52.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding

Added alternate conditions for hostile Heartgrinder
  missions/Clouded_Eye_Missions.txt
Due: none

Changed blue tooltip to white
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Localization Encoding

typo
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Gave a custom tooltip to CE to explain mission
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
  localisation/Flavour_Unguldavor_Z52_l_english.yml
  missions/Clouded_Eye_Missions.txt
Due: Localization Encoding

work in progress
  common/event_modifiers/anb_konolkhatep_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

Maybe Jadd is friends we made along the way
  events/Flavour_ZokkaJaddariWar.txt
Due: Events Encoding

nsc banner fix
  localisation/anb_new_sun_cult_events_l_english.yml
Due: Localization Encoding

Fixing CE typos
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Localization Encoding

zokka
  events/Flavour_Zokka_F29.txt
Due: Events Encoding

Removed some unnecessary limits from Shadow Pact events
  events/Shadow_pact.txt
Due: Events Encoding

Balance
  common/event_modifiers/anb_devandi_modifiers.txt
  common/government_reforms/05_government_reforms_natives.txt
Due: none

Wineport Loc and Brenulan Shame Buff
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  localisation/Flavour_Wineport_A16_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_startup_screen_l_english.yml
  missions/Arawkelin_Missions.txt
Due: Localization Encoding

deleted runfile
  1.txt
Due: Brackets Syntax

oop
  missions/Xanzerbexis_Missions.txt
Due: none

Hmmmmm
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_chendhya_reclaim_land.txt
  common/peace_treaties/anb_tribal_raid.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/SaerraegNation.txt
  history/countries/H23 - Kaeorg.txt
  history/countries/H28 - Durasyar.txt
  history/countries/H29 - Tsidarok.txt
Due: Decisions Encoding

Degakheion_Missions
  common/event_modifiers/anb_mission_modifiers.txt
  missions/Degakheion_Missions.txt
Due: none

rite of conception
  common/custom_gui/countrymilitaryview.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/government_mechanics/anb_floodborn_council.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Flavour_Gisden_A75.txt
  events/Flavour_Seinathil_A90.txt
  events/MagicEstates.txt
  events/Magic_Spell_Events.txt
  events/Magic_System_Events.txt
  events/RighteousSummit.txt
  events/estate_mages.txt
  localisation/anb_estate_mages_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

claim
  events/Magic_Spell_Events.txt
Due: Events Encoding

Townhalls count for Reclaim Clan Land
  missions/Unguldavori_Missions.txt
Due: none

Degakheion_missions_loc
  localisation/Flavour_Degakheion_G46_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
