Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Hiding Flag
  missions/Clouded_Eye_Missions.txt
Due: none

more fixes
  events/Flavour_Rezankand_H67.txt
  missions/Rezankand_Missions.txt
Due: Events Encoding

Aranthil core
  history/provinces/299 - Westshields.txt
Due: none

clean log
  customizable_localization/00_start_screen.txt
  missions/Khao_Elnak_Missions.txt
Due: none

Localizing Clouded Eye Ideas
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fix
  events/drozma_tur_events.txt
Due: Events Encoding

Some loc fixes
  localisation/CoT_frostheart_l_english.yml
Due: Localization Encoding

AI mission workarounds
  missions/Frozenmaw_Missions.txt
Due: none

loc
  interface/hre.gfx
  localisation/Flavour_Beepeck_A12_l_english.yml
  localisation/Flavour_Magisterium_A85_l_english.yml
Due: Localization Encoding

awawawa
  events/Flavour_Salla_Ayeth_I33.txt
  localisation/Flavour_Salla_Ayeth_I33_l_english.yml
  missions/Salla_Ayeth_Missions.txt
Due: Events Encoding, Localization Encoding

Escann goblin start event loc (+ reorganization of tag-specific events)
  common/event_modifiers/anb_flying_hound_modifiers.txt
  common/event_modifiers/anb_goblin_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/AgeOfGreentide.txt
  events/Flavour_Flying_Hound_B43.txt
  localisation/Flavour_Escann_Goblin_l_english.yml
  localisation/Flavour_Grasshopper_Muncher_B46_l_english.yml
  localisation/anb_age_of_greentide_l_english.yml
  localisation/anb_modifiers_l_english.yml
Due: Events Encoding, Localization Encoding

flags
  gfx/flags/B87.tga
  gfx/flags/B91.tga
Due: none

aaaaa
  localisation/Flavour_Magisterium_A85_l_english.yml
Due: Localization Encoding

woodwell.2
  common/estate_privileges/01_church_privileges.txt
  common/estates/01_church.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_Woodwell_A88.txt
  localisation/Flavour_Woodwell_A88_l_english.yml
  localisation/anb_religions_l_english.yml
  missions/Woodwell_Missions.txt
Due: Events Encoding, Localization Encoding

fixed UTF8-Bom for Salla, fixed loc for EoA flavor, added extra loc for infernal temples last second
  localisation/Flavour_EOA_l_english.yml
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
  localisation/infernal_court_l_english.yml
Due: Localization Encoding

patch
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
Due: none

fixed and feedback fix to a previous edit to make it work
  common/province_triggered_modifiers/anb_modifiers.txt
  common/rebel_types/abberant.txt
  events/Flavour_SallaFealgarn_I30.txt
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
  missions/Salla_Fealgarn_Missions.txt
Due: Events Encoding, Localization Encoding

Space Tchokens for Everyone tt
  localisation/Flavour_khatalashya_S81_l_english.yml
  missions/Khatalashya_Missions.txt
Due: Localization Encoding

arawkelin localization
  common/ages/00_default.txt
  common/cultures/anb_cultures.txt
  common/scripted_effects/anb_scripted_effects_for_sunrise_empire.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  customizable_localization/00_start_screen.txt
  events/Flavour_Arawkelin_Y65.txt
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  localisation/anb_ruler_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Events Encoding, Localization Encoding

Scaling FL buildings restored
  common/scripted_effects/CoT_ideas_effects.txt
  decisions/CoT_Cannorwake_Formables.txt
  localisation/CoT_RP_Fix_l_english.yml
  localisation/CoT_misc_l_english.yml
Due: Decisions Encoding, Localization Encoding

renames
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  localisation/Flavor_Rayaz_R95_l_english.yml
  missions/Rayaz_Missions.txt
Due: Localization Encoding

Some more fixes
  common/buildings/04_buildings_tiered.txt
  common/scripted_triggers/00_scripted_triggers.txt
  localisation/CoT_excavations_l_english.yml
Due: Localization Encoding

oope
  missions/Salla_Ayeth_Missions.txt
Due: none

renames again
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/scripted_triggers/00_scripted_triggers_estates.txt
  localisation/Flavor_Rayaz_R95_l_english.yml
  missions/Rayaz_Missions.txt
Due: Localization Encoding

looooc
  localisation/Flavour_Verne_A33_l_english.yml
Due: Localization Encoding

slight tweak
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Localization Encoding

Patricians are Merchants
  common/parliament_issues/anb_farranean.txt
Due: none

forgot a thong
  missions/Khao_Elnak_Missions.txt
Due: none

Agendas fix
  common/estate_agendas/00_generic_agendas.txt
Due: none

code review fixes
  common/custom_gui/provinceview.txt
  common/government_reforms/06_government_reforms_common.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_bibyobi.txt
  decisions/BibyobiDecisions.txt
  events/Flavour_Bibyobi_S98.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
  missions/Bibyobi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Blood Court Core Systems - Early phase
  common/event_modifiers/blood_declarations.txt
  decisions/BloodCourtDecisions.txt
  events/BloodCourt.txt
  localisation/blood_court_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

WIP on new-master
  common/event_modifiers/anb_zaradyrra_modifiers.txt
  common/government_reforms/04_government_reforms_tribes.txt
  decisions/EastSarhalFormables.txt
  events/ZaradyrraEvents.txt
  missions/Asarta_Missions.txt
Due: Decisions Encoding, Events Encoding

I am a coding genius look at this scripted effect
  common/government_reforms/04_government_reforms_tribes.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/ZaradyrraEvents.txt
  localisation/Group_Flavour_Lizardfolk_l_english.yml
Due: Events Encoding, Localization Encoding

Removing dev note
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

woodwell carneter
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/CarneterNation.txt
  localisation/Flavour_Woodwell_A88_l_english.yml
  missions/Woodwell_Missions.txt
Due: Decisions Encoding, Localization Encoding

woodwell.3
  events/Flavour_Woodwell_A88.txt
Due: Events Encoding

On actions and seek_ghost_halfing chain
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/TiboktsamoDecisions.txt
  events/Flavour_Tiboktsamo_L53.txt
  history/countries/L53 - Tiboktsamo.txt
  localisation/Flavour_Tiboktsamo_L53_l_english.yml
  missions/Tiboktsamo_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

harpy war wizards female
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none

wyvernheart nerf
  common/estate_privileges/anb_privileges.txt
Due: none
