Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

reviewed loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fix scopes in on_actions
  common/on_actions/00_on_actions.txt
Due: none

Delete reference to vanilla papal state
  common/on_actions/00_on_actions.txt
Due: none

Fix old dwarovar dungeon typo
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
Due: Localization Encoding

leading double whitespace for paragraphs
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Zena MT QoL fix
  common/scripted_effects/zena_scripted_effects.txt
  localisation/Flavour_Zena_L06_l_english.yml
Due: Localization Encoding

Pre-Election Axta Speaker Fix
  events/Flavour_Karach_L77.txt
Due: Events Encoding

PR !4013 Cilapaktu NIs and Loc by state_song_xprt (squashed)
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

x
  localisation/Flavour_Overclan_F78_l_english.yml
  missions/Overclan_Missions.txt
Due: Localization Encoding

highlight tweak
  events/Flavour_Overclan_F78.txt
  missions/Overclan_Missions.txt
Due: Events Encoding

i hate encoding
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

code review
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/XhazobkultEvents.txt
Due: Events Encoding

code review
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/00_customizable_localization.txt
  history/countries/A49 - Xanzerbexis.txt
  history/countries/F28 - Tluukt.txt
  history/countries/F29 - Zokka.txt
  history/countries/F54 - Koggraffa.txt
  history/countries/F55 - Kogzalla.txt
  history/countries/F65 - Tzilekal.txt
  history/countries/F71 - Rakkaz.txt
  history/countries/U07 - Viakkoc.txt
  history/countries/U09 - Gnollakaz.txt
  localisation/anb_magic_spells_custom_l_english.yml
Due: Localization Encoding

Add country flags to mangrove influence decision
  localisation/mangrove_republic_l_english.yml
Due: Localization Encoding

Disable new mangrove leader event during unification
  events/MangroveRepublicEvents.txt
Due: Events Encoding

conjuration merc bugs
  common/mercenary_companies/00_mercenaries.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Magic_Project_Events.txt
  events/Magic_Spell_Events.txt
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

extraplanar contact tt fix
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

mass enlarge notif
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  events/Magic_Spell_Events.txt
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

extraplanar tooltips
  common/scripted_effects/anb_scripted_effects_for_magic_project.txt
  customizable_localization/anb_magic_other_custom_loca.txt
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

trigger fix and warning
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

better aotd tooltip
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

fix under/overcapping tooltips
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none

red text
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Add loc to mangrove button upgrades
  common/custom_gui/provinceview.txt
  localisation/mangrove_republic_l_english.yml
Due: Localization Encoding

vanrahar revisions
  customizable_localization/anb_custom_loca.txt
  missions/Vanrahar_Missions.txt
Due: none

better early vanrahar trigger
  missions/Vanrahar_Missions.txt
Due: none

Kiamoa fixes
  events/anb_generic_insyaa_events.txt
  localisation/anb_generic_insyaa_l_english.yml
Due: Events Encoding, Localization Encoding

Global Into Local Bug
  common/event_modifiers/anb_sarhal_modifiers.txt
Due: none

zulbur tweaks continued
  common/on_actions/00_on_actions.txt
  customizable_localization/anb_custom_zulbur_localization.txt
  decisions/ZulburDecisions.txt
Due: Decisions Encoding

tweaks
  events/InvestmentEvents.txt
  localisation/Flavour_Overclan_F78_l_english.yml
  missions/Overclan_Missions.txt
Due: Events Encoding, Localization Encoding

move for consistency
  decisions/MechanimNation.txt
  events/anb_generic_insyaa_events.txt
Due: Decisions Encoding, Events Encoding

gold/statehouse highlight
  missions/Overclan_Missions.txt
Due: none

Change
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/taychendi_events.txt
Due: Events Encoding

1
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_iochand_concede_ruin_circle.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_EoA_reforms.txt
  events/Flavour_Iochand_A80.txt
  localisation/Flavour_Iochand_A80_l_english.yml
  missions/Iochand_Missions.txt
Due: Events Encoding, Localization Encoding

2
  events/Flavour_Iochand_A80.txt
  localisation/Flavour_Iochand_A80_l_english.yml
  missions/Iochand_Missions.txt
Due: Events Encoding, Localization Encoding

loca
  events/Flavour_Iochand_A80.txt
  localisation/Flavour_Iochand_A80_l_english.yml
  missions/Iochand_Missions.txt
Due: Events Encoding, Localization Encoding

rest of the gnames + loca
  common/government_reforms/01_government_reforms_monarchies.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Iochand_A80.txt
  events/HolyRomanEmpire.txt
  localisation/Flavour_Iochand_A80_l_english.yml
  missions/Iochand_Missions.txt
Due: Events Encoding, Localization Encoding

tester feedback
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_iochand_concede_ruin_circle.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  common/subject_types/00_subject_types.txt
  decisions/EffelaiBloomDecisions.txt
  decisions/IochandDecisions.txt
  decisions/WescannFormables.txt
  events/Flavour_Iochand_A80.txt
  events/ideagroups.txt
  localisation/Flavour_Iochand_A80_l_english.yml
  localisation/anb_subject_type_l_english.yml
  localisation/effelai_bloom_l_english.yml
  missions/Iochand_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding
