Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

anglican
  common/church_aspects/anb_black_doctrine.txt
  common/religions/00_anb_religion.txt
  interface/countryreligionview.gui
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Test artifact, gerudia dev cost debuff
  common/event_modifiers/CoT_frostheart_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/CoT_excavate_rewards.txt
  events/CoT_frostheart_events.txt
  localisation/CoT_excavations_l_english.yml
  localisation/CoT_frostheart_l_english.yml
Due: Events Encoding, Localization Encoding

fixed moskaran modifier upgrade
  common/on_actions/00_on_actions.txt
Due: none

work
  common/estate_privileges/anb_privileges.txt
  common/scripted_triggers/anb_scripted_triggers_for_xhazobkult.txt
Due: none

zokka
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

fix so mt is not broken
  missions/Shelokmengi_Missions.txt
Due: none

zokka
  localisation/Flavour_Zokka_F29_l_english.yml
  missions/Zokka_Missions.txt
Due: Localization Encoding

make loc fit gui
  common/church_aspects/anb_black_doctrine.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Progress
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/100_vampire.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  decisions/TaychendDecisions.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_Parahechend_J81.txt
  events/Flavour_Taychendi_Empire_J84.txt
  history/countries/J81 - Parahechend.txt
  localisation/Flavour_Parahechend_J81_l_english.yml
  localisation/anb_government_names_l_english.yml
  missions/Parahechend_Missions.txt
  missions/Zz_Taychendi_Empire_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

replace placeholder loc, hide necromancy aspect
  common/church_aspects/anb_black_doctrine.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

trabajo para el argentino
  common/cb_types/00_cb_types.txt
  common/cb_types/anb_cb_raj.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_agendas/0002_rajput_agendas.txt
  common/estate_agendas/002_maratha_agendas.txt
  common/estate_agendas/02_noble_agendas.txt
  common/estate_agendas/anb_adventurers_agendas.txt
  common/estate_agendas/anb_dauloph_agendas.txt
  common/estate_agendas/anb_eunuchs_anb_agendas.txt
  common/estate_agendas/anb_uppercastes_agendas.txt
  common/estates/94_raj_ministries.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/ideas/anb_group_ideas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  common/wargoal_types/00_wargoal_types.txt
  decisions/RajDecisions.txt
  events/LupulanEvents.txt
  events/RahenRajEvents.txt
  missions/Tiltaghar_Missions.txt
  missions/Undergrowth_Missions.txt
Due: Decisions Encoding, Events Encoding

tt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/scripted_triggers/anb_scripted_triggers_rahen.txt
  localisation/raj_l_english.yml
  missions/Undergrowth_Missions.txt
Due: Localization Encoding

Stuff
  common/cultures/anb_cultures.txt
  common/estate_agendas/anb_naga_agendas.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/khatalashya_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  decisions/EastSarhalFormables.txt
  events/Flavour_Khatalashya_S81.txt
  localisation/Flavour_khatalashya_S81_l_english.yml
  localisation/anb_cultures_l_english.yml
  missions/Khatalashya_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

change of target
  events/Flavour_ZokkaJaddariWar.txt
Due: Events Encoding

averilibet loc oops
  localisation/Flavour_Averilibet_S53_l_english.yml
Due: Localization Encoding

Mote Ideas and Some Fixes
  common/event_modifiers/anb_mission_modifiers.txt
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Arawkelin_Missions.txt
  missions/WineportMissions.txt
Due: Localization Encoding

cool bug
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/RahenRajEvents.txt
Due: Events Encoding

WIP on new-master
  localisation/Flavour_Averilibet_S53_l_english.yml
Due: Localization Encoding

eltikan taychend mission
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/Flavour_Eltikan_G60.txt
  localisation/Flavour_Eltikan_G60_l_english.yml
  localisation/anb_cultures_l_english.yml
  missions/Eltikan_Missions.txt
Due: Events Encoding, Localization Encoding

work
  common/estate_privileges/anb_privileges.txt
  common/peace_treaties/anb_tributary.txt
  common/subject_types/00_subject_types.txt
  decisions/XhazobkultDecisions.txt
Due: Decisions Encoding

minor
  decisions/RendingDecisions.txt
  localisation/Flavour_Eltikan_G60_l_english.yml
  localisation/Flavour_Yinquan_Y26_l_english.yml
Due: Decisions Encoding, Localization Encoding

loc
  localisation/anb_mengi_events_l_english.yml
Due: Localization Encoding

Beikling Titles
  common/government_names/00_0anbennar_unique_names.txt
  localisation/anb_flavor_beiklings_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

hmmm
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

Stuff 2
  common/disasters/estate_church_disaster.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  events/Flavour_Khatalashya_S81.txt
  localisation/Flavour_khatalashya_S81_l_english.yml
  missions/Khatalashya_Missions.txt
Due: Events Encoding, Localization Encoding

Xanzerbexis bugfixes
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Xanzerbexis_A49.txt
  localisation/Flavour_Xanzerbexis_A49_l_english.yml
  missions/Xanzerbexis_Missions.txt
Due: Events Encoding, Localization Encoding

erm
  events/drozma_tur_events.txt
Due: Events Encoding

Titles
  localisation/rinta_seekers_l_english.yml
Due: Localization Encoding

rara
  events/OrenNayiruEvents.txt
Due: Events Encoding

Bugfixes
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  missions/Tiboktsamo_Missions.txt
Due: none

zokka
  common/event_modifiers/anb_zokka_modifiers.txt
  events/Flavour_Zokka_F29.txt
  localisation/Flavour_Zokka_F29_l_english.yml
  missions/Zokka_Missions.txt
Due: Events Encoding, Localization Encoding

zokka
  missions/Zokka_Missions.txt
Due: none

musc
  events/OrenNayiruEvents.txt
Due: Events Encoding

zokka
  events/Flavour_Zokka_F29.txt
Due: Events Encoding

fix1
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Eltikan_G60.txt
  missions/Eltikan_Missions.txt
Due: Events Encoding

rajajaj
  common/custom_gui/countrygovernmentview.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_raj_promotion_raja.txt
Due: none

balance part2
  common/event_modifiers/anb_mission_modifiers.txt
  common/flagship_modifications/anb_flagship_modifications.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

stop the vizier event from stripping you of the title of raja
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/RahenRajEvents.txt
  localisation/raj_l_english.yml
Due: Events Encoding, Localization Encoding
