Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

hawatli_wizti_tali jadd fix
  common/great_projects/anb_monuments_sarhal.txt
Due: none

opinion_sent_gift - used more to fix
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/Flavour_HulazKrakazol_I20_l_english.yml
  localisation/anb_tooltips_l_english.yml
  missions/AYN_Missions.txt
  missions/HulazKrakazol_Missions.txt
  missions/Vuls_Tenvach_Missions.txt
Due: Localization Encoding

landshark_drastic_training_montage - modifier fix
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

harpy son fix
  customizable_localization/anb_custom_loca.txt
  localisation/generic_events_l_english.yml
Due: Localization Encoding

limit shamanhome buff
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

fix for daxugo NI rework
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

primary cult double stab fix
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
Due: none

spacing fixes
  localisation/Flavour_Rakkabuttai_J75_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_yudunyovi_l_english.yml
Due: Localization Encoding

eduz_ginakku gov cost fix
  common/great_projects/anb_monuments_bulwar.txt
Due: none

some holy order colours by druplesnubb
  common/holy_orders/anb_holy_orders.txt
Due: none

some holy order colours by jeck
  common/holy_orders/anb_holy_orders.txt
Due: none

karakhanbar rename artificery flag - I fixed this wrong initially
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  events/Flavour_Karakhanbar_Z54.txt
  missions/Karakhanbar_Missions.txt
Due: Events Encoding

typo fix invisbility to invisibility
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

church fix karakhanbar
  missions/Karakhanbar_Missions.txt
Due: none

2 random fixes
  events/Flavour_EoA_reforms.txt
  missions/Keyolion_Missions.txt
Due: Events Encoding

istralore home front province pre set
  common/parliament_issues/anb_istralore.txt
  missions/Istralore_Missions.txt
Due: none

lizard_spires_khaga_yatsa_2_tt fix
  localisation/anb_sarhal_events_l_english.yml
Due: Localization Encoding

no more pope rebels
  common/revolt_triggers/anb_revolt_triggers.txt
Due: none

saqraxat fixes for formables
  common/on_actions/00_on_actions.txt
  missions/Saqraxat_Missions.txt
Due: none

mostly whitespace
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/estate_eunuchs_anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  decisions/OverclanDecisions.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
  missions/Overclan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

codereview
  common/great_projects/anb_monuments_sarhal.txt
  common/parliament_issues/anb_istralore.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/ToleranceHalfling.txt
  missions/Istralore_Missions.txt
Due: Events Encoding

Improve tooltip
  events/ToleranceMechanim.txt
  localisation/mechanim_l_english.yml
Due: Events Encoding, Localization Encoding

Foundation I-Numbe events by Sushi and Ragingrage
  common/event_modifiers/anb_insyaa_modifiers.txt
  events/ToleranceMechanim.txt
  localisation/mechanim_l_english.yml
Due: Events Encoding, Localization Encoding

Improve modifier names
  localisation/mechanim_l_english.yml
Due: Localization Encoding

Global flag to not occupy blank/invalid spot in event handler
  events/ToleranceMechanim.txt
Due: Events Encoding

Edits to anb_country_ideas.txt and anb_powers_and_ideas_I_english.yml
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

serulumatay missing quote
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

aelantir cultural union effect usage typo
  common/great_projects/anb_monuments_aelantir.txt
Due: none

parliament tweak
  common/event_modifiers/anb_mission_modifiers.txt
  common/parliament_issues/anb_overclan.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yml
Due: Events Encoding, Localization Encoding

work work
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

bomowoka ni loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Eighard MT 0.143?
  events/Flavour_Eighard_H14.txt
  localisation/Flavour_Eighard_H14_l_english.yml
Due: Events Encoding, Localization Encoding

eunuch unlock/reform is attribute
  common/estates/90_eunuchs_anb.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  decisions/EunuchAnbDecisions.txt
Due: Decisions Encoding

Artificery additional localisation
  common/scripted_effects/artifice_scripted_effects.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/ArtificeResearch.txt
  localisation/artifice_l_english.yml
Due: Events Encoding, Localization Encoding

split enables/no-suppress attributes
  common/estates/90_eunuchs_anb.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
Due: none

Quick mission fix
  missions/GroundHawk_Missions.txt
Due: none

loc
  localisation/Flavour_Overclan_F78_l_english.yml
Due: Localization Encoding

encoding
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

work in province scope too
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

Eighard MT 0.2
  localisation/Flavour_Eighard_H14_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_custom_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
  missions/Eighard_Missions.txt
Due: Localization Encoding
