Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

fixes
  common/on_actions/00_on_actions.txt
  events/AdventurerFormables.txt
Due: Events Encoding

more fixes
  common/scripted_triggers/anb_scripted_triggers.txt
  events/AdventurerFormables.txt
  events/kheionai_flavour_events.txt
Due: Events Encoding

small fix
  common/scripted_effects/anb_scripted_effects_sri_baginda.txt
  decisions/SriBagindaDecisions.txt
Due: Decisions Encoding

leftover lhp fix
  localisation/Flavour_Bianfang_Y09_l_english.yml
Due: Localization Encoding

stuff
  common/event_modifiers/anb_cannor_monument_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Cannor_Monument_Flavour_Events.txt
  localisation/anb_cannor_monuments_I_english.yml
Due: Events Encoding, Localization Encoding

loc push
  localisation/aaaaajothellmagic_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

fixed loc
  localisation/aaaaajothellmagic_l_english.yml
Due: Localization Encoding

before
  common/estate_privileges/anb_privileges.txt
Due: none

birb
  common/estate_privileges/anb_privileges.txt
  common/estates/97_mages.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  decisions/ChaqwaiDecisions.txt
  events/Flavour_Chaqway_G87.txt
  events/estate_mages.txt
  localisation/Flavour_Chaqway_G87_l_english.yml
  missions/Chaqway_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

after
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
Due: none

Ready?
  events/Group_Flavour_Lizardfolk.txt
  missions/Rayaz_Missions.txt
Due: Events Encoding

Bug fix for a mengi event
  events/anb_mengi_flavor_events.txt
Due: Events Encoding

No lol
  missions/Rayaz_Missions.txt
Due: none

birb1.0
  localisation/Flavour_Chaqway_G87_l_english.yml
  missions/Chaqway_Missions.txt
Due: Localization Encoding

um
  events/Flavour_Rayaz_L95.txt
  missions/Rayaz_Missions.txt
Due: Events Encoding

End
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  missions/Rayaz_Missions.txt
Due: none

ok
  common/estate_privileges/anb_privileges.txt
Due: none

oops
  events/anb_mengi_flavor_events.txt
Due: Events Encoding

lizard the river
  events/SarhalEvents.txt
Due: Events Encoding

Shyarayan formation fix
  decisions/EastSarhalFormables.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

Minor changes
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  interface/countrydecisionsview.gui
Due: none

wrong modifier cult of uelos
  common/event_modifiers/anb_religion_modifiers.txt
Due: none

hm
  common/government_reforms/04_government_reforms_tribes.txt
  common/parliament_issues/00_adm_parliament_issues.txt
  common/parliament_issues/00_dip_parliament_issues.txt
  common/parliament_issues/00_mil_parliament_issues.txt
  common/parliament_issues/anb_mteibhar.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  events/Elections.txt
  localisation/anb_opinion_modifiers_l_english.yml
Due: Events Encoding, Localization Encoding

out
  common/parliament_issues/00_adm_parliament_issues.txt
Due: none

mh
  common/government_reforms/04_government_reforms_tribes.txt
Due: none

fixed ai chances.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

updated time on first failure redo.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

hmhm
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_mteibhar.txt
  events/Elections.txt
  events/MteibharaEvents.txt
  localisation/Mteibhara.yml
  localisation/anb_events_l_english.yml
Due: Events Encoding, Localization Encoding

consolidate loc
  localisation/Mteibhara.yml
  localisation/anb_misc_l_english.yml
  localisation/anb_modifiers_l_english.yml
Due: Localization Encoding

simplified factors.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

better not
  common/parliament_issues/anb_mteibhar.txt
Due: none

ack
  common/parliament_issues/anb_mteibhar.txt
Due: none

Event pictures.
  events/shadow_swamp_flavour.txt
Due: Events Encoding

hisostfixes
  common/estate_privileges/anb_privileges.txt
  events/Flavour_Hisost_Yamok_S23.txt
  localisation/Flavour_Hisost_Yamok_S23_l_english.yml
  missions/Hisost_Yamok_Missions.txt
Due: Events Encoding, Localization Encoding

Yassa Fixes + Some improved Loc
  common/event_modifiers/anb_yassa_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Yassa_L81.txt
  localisation/Flavour_Yassa_L81_l_english.yml
  missions/Yassa_Missions.txt
Due: Events Encoding, Localization Encoding

Textbox and tooltip changes
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  interface/countrydecisionsview.gui
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Adjustments to Halessi Tribute
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/HalessiSpirits.txt
Due: Events Encoding

tweak
  events/HalessiSpirits.txt
Due: Events Encoding

1
  common/custom_gui/countryreligionview.txt
  gfx/interface/dof_blocker.dds
  gfx/interface/religion_green_banner_block.dds
  gfx/interface/taychend_window_bg.dds
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
  localisation/anb_taychend_l_english.yml
Due: Localization Encoding

added option to hide
  events/SriBaginda.txt
  localisation/anb_sri_baginda_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
