Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

fixing bugs related to ruler revival
  common/event_modifiers/anb_magic_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Magic_Project_Events.txt
Due: Events Encoding

magic balance patch
  common/custom_gui/magic_menu.txt
  common/custom_gui/siege.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Magic_System_Events.txt
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

Remove redundant on_action, fix province id
  common/on_actions/00_on_actions.txt
  missions/Tiboktsamo_Missions.txt
Due: none

bf
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  common/scripted_effects/artifice_scripted_effects.txt
  events/ArtificeResearch.txt
  events/CentaurEvents.txt
  events/Flavour_Azjakuma_Y01.txt
  events/Flavour_Ravelian_State_Z97.txt
  localisation/anb_forbidden_lands_l_english.yml
  missions/Azjakuma_Missions.txt
  missions/Ravelian_State_Missions.txt
Due: Events Encoding, Localization Encoding

more rez fix
  events/Flavour_Rezankand_H67.txt
  missions/Rezankand_Missions.txt
Due: Events Encoding

changing "deforestate"
  localisation/Flavour_Arawkelin_Y65_l_english.yml
Due: Localization Encoding

Removed Unnecessary Loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Buffs to disaster
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/khatalashya_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_khatalashya.txt
  events/Flavour_Khatalashya_S81.txt
  localisation/Flavour_khatalashya_S81_l_english.yml
  missions/Khatalashya_Missions.txt
Due: Events Encoding, Localization Encoding

namelists namelists namelists
  common/countries/Arawkelin.txt
  common/countries/Brenulan.txt
  common/cultures/anb_cultures.txt
Due: none

Woodwelll
  localisation/Flavour_Woodwell_A88_l_english.yml
  missions/Woodwell_Missions.txt
Due: Localization Encoding

woodwell resurgence
  common/estate_agendas/01_church_agendas.txt
Due: none

Becoming a monarchy will settle every province
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding

woodwell privilege
  common/estate_privileges/01_church_privileges.txt
Due: none

well
  events/Flavour_Woodwell_A88.txt
  missions/Woodwell_Missions.txt
Due: Events Encoding

single colonist only
  common/estate_privileges/anb_privileges.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  localisation/anb_custom_tooltips_l_english.yml
  localisation/anb_gerudia_l_english.yml
Due: Localization Encoding

tropical wood
  missions/Woodwell_Missions.txt
Due: none

woodwellll
  missions/Woodwell_Missions.txt
Due: none

Allow Clouded Eye to interact with Corintar
  common/scripted_triggers/anb_scripted_triggers_early_escann.txt
Due: none

eib
  history/countries/H10 - Einnsag.txt
Due: none

slave fix
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/OrcSlavery.txt
  events/AdventurerSpawnables.txt
Due: Decisions Encoding, Events Encoding

Added 1 comment
  common/estates/97_mages.txt
Due: none

Special mutations without privi
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/khatalashya_scripted_effects.txt
  events/Flavour_Khatalashya_S81.txt
Due: Events Encoding

Disaster fix + Gunpowder Xhaz
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

Fix
  common/on_actions/00_on_actions.txt
  events/RunefatherWorship.txt
Due: Events Encoding

And privi
  common/estate_privileges/anb_privileges.txt
  common/scripted_effects/khatalashya_scripted_effects.txt
Due: none

Fixing loc
  localisation/Group_Flavour_Lizardfolk_l_english.yml
Due: Localization Encoding

Adzalan formation
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

buggos
  common/event_modifiers/anb_istralore_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_EoA_reforms.txt
  events/Flavour_Istralore_A45.txt
  localisation/Flavour_Istralore_A45_l_english.yml
Due: Events Encoding, Localization Encoding

ROOT
  decisions/EastSarhalFormables.txt
Due: Decisions Encoding

On-start modifier tweaking
  common/event_modifiers/CoT_misc_modifiers.txt
  history/countries/W78 - Rogardhavn.txt
  history/countries/W79 - ReaversHost.txt
  history/countries/W80 - Plattrijk.txt
  history/countries/X16 - Wyvernborn.txt
  history/countries/X19 - Houndborn.txt
Due: none

Province history file fix
  history/provinces/7783 - EkuzSpike.txt
Due: none

Akasik becomes Elikhetist
  history/countries/U06 - Deshak.txt
  history/countries/U08 - Ekha.txt
  history/provinces/381 - Krodamat.txt
  history/provinces/382 - Deshak.txt
  history/provinces/383 - Desh-Al-Deshak.txt
  history/provinces/384 - Adseenu.txt
  history/provinces/386 - Akasat.txt
  history/provinces/387 - Sensha.txt
  history/provinces/388 - Tipspit.txt
  history/provinces/389 - Benirkes.txt
  history/provinces/391 - Habnits.txt
  history/provinces/397 - Hapak.txt
  history/provinces/399 - Unrawu.txt
  history/provinces/400 - Khasa.txt
  history/provinces/402 - Ekha.txt
  history/provinces/403 - Rhamsopot.txt
  history/provinces/404 - Mushesh.txt
  history/provinces/405 - Khalur.txt
  history/provinces/407 - Bhetu.txt
  history/provinces/453 - Orispot.txt
  history/provinces/458 - Akast_Oris.txt
  history/provinces/7787 - NewEkha.txt
Due: none

gataw culture group back to kelino
  common/ages/00_default.txt
  common/cultures/anb_cultures.txt
  common/scripted_effects/anb_scripted_effects_for_sunrise_empire.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  localisation/anb_ruler_l_english.yml
Due: Localization Encoding

Tooltip
  localisation/Flavour_Farranean_B60_l_english.yml
  missions/FarraneanMissions.txt
Due: Localization Encoding

Eoridcois fix
  common/government_reforms/07_government_reforms_COT.txt
  common/governments/00_governments.txt
  events/Flavour_Camdrean_V30.txt
Due: Events Encoding

anb adventure group ideas no longer colonial
  common/ideas/anb_group_ideas.txt
Due: none

more loc
  customizable_localization/anb_custom_verne_localization.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
Due: Events Encoding, Localization Encoding

bugfix and a small tweak
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Localization Encoding

extras
  localisation/Flavour_Istralore_A45_l_english.yml
  missions/Istralore_Missions.txt
Due: Localization Encoding

updates to bibyobi mt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_bibyobi.txt
  events/Flavour_Bibyobi_S98.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
  missions/Bibyobi_Missions.txt
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
