Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Fix
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Karshyr_S15.txt
  localisation/Flavour_Karshyr_S15_l_english.yml
  missions/Karshyr_Missions.txt
Due: Events Encoding, Localization Encoding

Fix
  missions/Karshyr_Missions.txt
Due: none

Capitilisation of Province Modifiers
  common/event_modifiers/anb_sarhal_modifiers.txt
  localisation/anb_planetouched_l_english.yml
Due: Localization Encoding

other stuff fixes
  localisation/raj_l_english.yml
  missions/Chaqway_Missions.txt
Due: Localization Encoding

's
  localisation/raj_l_english.yml
Due: Localization Encoding

oopsie
  common/custom_gui/provinceview.txt
Due: none

[Steam] Bunch of Brambleskinner fixes
  localisation/Flavour_Brambleskinner_I35_l_english.yml
  missions/Brambleskinner_Missions.txt
Due: Localization Encoding

fix bypass
  missions/Salla_Fealgarn_Missions.txt
Due: none

oak monarch button fix
  common/custom_gui/provinceview.txt
Due: none

i hallucinated with the numbers for some odd reason when i made this, fixed to fit design doc. idk what happened lmao
  events/Flavour_EOA.txt
Due: Events Encoding

added missing ranger modifier to great salla
  common/government_reforms/02_government_reforms_republics.txt
Due: none

finally fixed this trigger tooltip, RAH
  missions/Orda_Aldresia_Missions.txt
Due: none

oopsie
  common/on_actions/00_on_actions.txt
Due: none

added mod to oak monarchy
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

Clouded Eye Fixes
  events/Flavour_Clouded_Eye_B24.txt
  localisation/Flavour_Unguldavor_Z52_l_english.yml
  missions/Clouded_Eye_Missions.txt
Due: Events Encoding, Localization Encoding

Colonization of the Frozen North
  common/event_modifiers/CoT_misc_modifiers.txt
  common/personal_deities/anb_skaldhyrric_faith.txt
  history/countries/W81 - Esadmaldor.txt
  history/countries/W82 - Norinibar.txt
  history/countries/W83 - Icewindal.txt
  history/countries/W84 - SallaMoitsa.txt
  history/countries/W85 - SallaVytak.txt
  history/countries/W86 - Sabretoof.txt
  history/countries/W87 - Deadgaze.txt
  history/countries/W94 - TreeSneaker.txt
  history/countries/W95 - Ikksterak.txt
  history/countries/W96 - Tungasskins.txt
  history/countries/W97 - Sapdrinker.txt
  history/countries/W99 - Frostheart.txt
  history/countries/X01 - Sinekmi.txt
  history/countries/X02 - Sunoekmi.txt
  history/countries/X03 - Vosaamuo.txt
  history/countries/X04 - Insekimi.txt
  history/countries/X05 - Karjakaup.txt
  history/countries/X13 - Dethrida.txt
  history/countries/Z89 - Digoveda.txt
  localisation/CoT_misc_l_english.yml
Due: Localization Encoding

333 loc fix
  localisation/Flavour_khatalashya_S81_l_english.yml
Due: Localization Encoding

e
  events/Flavour_EoA_reforms.txt
Due: Events Encoding

ee
  common/on_actions/00_on_actions.txt
  events/AelantirSpawnables.txt
  events/Flavour_Corinsfield_H35.txt
  events/Flavour_EoA_reforms.txt
  localisation/imperial_reforms_l_english.yml
Due: Events Encoding, Localization Encoding

eee
  localisation/imperial_reforms_l_english.yml
Due: Localization Encoding

dadzc
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Localization Encoding

spaced out {{ and }}
  events/PlanetouchedEvents.txt
Due: Events Encoding

Updates from feedback
  events/PlanetouchedEvents.txt
Due: Events Encoding

yanification fix
  events/Flavour_Bianfang_Y09.txt
Due: Events Encoding

Fix spelling error in brand of servitude mission requirements
  localisation/Flavour_Wyvernheart_B39_l_english.yml
Due: Localization Encoding

remove gitignore
  .gitignore
Due: none

Anb Naga Agenda, Feedback Fix
  common/estate_agendas/anb_naga_agendas.txt
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

Forgot this
  common/estate_agendas/anb_naga_agendas.txt
Due: none

Colonizing the north buff
  common/event_modifiers/CoT_misc_modifiers.txt
Due: none

crash bugfix - it was taychend again
  common/scripted_effects/taychend_scripted_effects.txt
Due: none

Digovedan Full MT + Loc
  common/countries/Forbidden Grove.txt
  common/country_tags/anb_countries.txt
  common/event_modifiers/CoT_Mission_Modifiers.txt
  common/government_reforms/07_government_reforms_COT.txt
  common/governments/00_governments.txt
  common/province_triggered_modifiers/CoT_province_triggered_modifiers.txt
  events/CoT_digovedan_mission_events.txt
  gfx/flags/U99.tga
  history/countries/U99 - Forbidden Grove.txt
  history/provinces/2835 - Vegrbani.txt
  history/provinces/6281 - PROV6281.txt
  localisation/CoT_i_nations_l_english.yml
  localisation/CoT_mission_modifiers_l_english.yml
  missions/Digovedan_Missions.txt
Due: Events Encoding, Localization Encoding

accretive path rework
  common/buildings/00_buildings.txt
  common/church_aspects/anb_accretive_path.txt
  common/custom_gui/countryreligionview.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/accretive_path_modifiers.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/ideas/00_basic_ideas.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/accretive_path_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  common/scripted_triggers/anb_scripted_triggers_accretive_path.txt
  customizable_localization/anb_accretive_path.txt
  events/Accretive_Path_Events.txt
  events/Flavour_Balrijin_Y85.txt
  events/MonopolyPrivileges.txt
  events/OneXia.txt
  gfx/flags/righteous_path_rebels.tga
  localisation/Flavour_Balrijin_Y91_l_english.yml
  localisation/accretive_path_l_english.yml
  localisation/anb_religions_l_english.yml
  missions/Azkare_Missions.txt
  missions/Balrijin_Missions.txt
Due: Events Encoding, Localization Encoding

religious unity privilege
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  history/countries/Y05 - Lanjinhui.txt
  localisation/anb_estates_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

icon improvement
  common/church_aspects/anb_accretive_path.txt
  localisation/accretive_path_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

Range Thing
  common/estate_agendas/anb_naga_agendas.txt
Due: none

Border Thing Correct
  common/estate_agendas/anb_naga_agendas.txt
Due: none

dazc
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Localization Encoding

[Steam] Custom Tooltip
  events/Flavour_Unguldavor_Z52.txt
  localisation/Flavour_Unguldavor_Z52_l_english.yml
Due: Events Encoding, Localization Encoding

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
