Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Lohan loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

More lohan
  common/government_names/00_0anbennar_unique_names.txt
  decisions/LohanparayanDecisions.txt
  localisation/anb_government_names_l_english.yml
Due: Decisions Encoding, Localization Encoding

Palace
  common/great_projects/anb_monuments_missions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/Flavour_Pashaine_B59_l_english.yml
  missions/Pashaine_Missions.txt
Due: Localization Encoding

ediy
  decisions/LohanparayanDecisions.txt
Due: Decisions Encoding

Gallant Friends Loc, Effect and Picture
  events/Escann_Adventurers_Intro.txt
  localisation/Escann_Adventurers_Intro_l_english.yml
Due: Events Encoding, Localization Encoding

Fuxes
  common/government_names/00_0anbennar_unique_names.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding

fixed some events and increased chance to fire
  common/on_actions/00_on_actions.txt
  events/PlanetouchedEvents.txt
Due: Events Encoding

woodwellwoodwell
  events/Flavour_Woodwell_A88.txt
  localisation/Flavour_Woodwell_A88_l_english.yml
  missions/Woodwell_Missions.txt
Due: Events Encoding, Localization Encoding

phokhao 4th quest fix
  customizable_localization/anb_rending_appeasement.txt
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

bugfix
  events/Escanni_refugees_settlement.txt
  localisation/anb_escanni_refugees_l_english.yml
Due: Events Encoding, Localization Encoding

Delete Sideways.tga
  gfx/flags/Sideways.tga
Due: none

Delete upright-snake.tga
  gfx/flags/upright-snake.tga
Due: none

Delete upright.tga
  gfx/flags/upright.tga
Due: none

colour
  localisation/Flavour_Verne_A33_l_english.yml
Due: Localization Encoding

code review 2
  common/estate_privileges/anb_privileges.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/06_government_reforms_common.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
  common/scripted_triggers/anb_scripted_triggers_celmaldor.txt
  events/Flavour_Celmaldor_Z22.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Events Encoding, Localization Encoding

beast mem
  events/Beast_Memory_Events.txt
  localisation/beast_memory_l_english.yml
Due: Events Encoding, Localization Encoding

bug fixes
  common/buildings/00_buildings.txt
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/06_government_reforms_common.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Bibyobi_S98.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
  missions/Bibyobi_Missions.txt
Due: Events Encoding, Localization Encoding

el bugfixu
  common/disasters/internal_conflicts.txt
  common/event_modifiers/anb_celmaldor_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_celmaldor.txt
  decisions/CelmaldorDecisions.txt
  events/Flavour_Celmaldor_Z22.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

vaengheim loc
  localisation/Flavour_Vaengheim_Z88_l_english.yml
Due: Localization Encoding

fix
  missions/Vaengheim_Missions.txt
Due: none

loc
  localisation/Flavour_Vaengheim_Z88_l_english.yml
Due: Localization Encoding

encoding
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Localization Encoding

code review 2.1
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
Due: none

fixed variable logic
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_bibyobi.txt
  events/Flavour_Bibyobi_S98.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
Due: Events Encoding, Localization Encoding

more encoding
  localisation/Flavour_EOA_l_english.yml
Due: Localization Encoding

clear eyes see better
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Localization Encoding

bugfixes
  localisation/Flavour_Bibyobi_S98_l_english.yml
  missions/Bibyobi_Missions.txt
Due: Localization Encoding

added back removed code from merge
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

fixed bug in scope for variable check
  common/scripted_effects/anb_scripted_effects_bibyobi.txt
Due: none

fixes and additions
  common/estate_agendas/anb_mages_agendas.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/anb_scripted_effects_for_magic_project.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  events/Magic_Project_Events.txt
  events/Magic_Study_Events.txt
  events/Magic_System_Events.txt
  localisation/Flavour_AzkaEvran_F34_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_magic_study_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Events Encoding, Localization Encoding

Hmm Has Come To
  common/custom_gui/countrydecisionsview.txt
  common/estate_agendas/01_church_agendas.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/great_projects/anb_monuments_missions.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_pashaine.txt
  common/peace_treaties/anb_break_the_empire.txt
  common/peace_treaties/anb_force_revolutionary_ravelian.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_luna_river.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Pashaine_B59.txt
  events/Mercantilism.txt
  localisation/anb_tooltips_l_english.yml
  missions/Pashaine_Missions.txt
Due: Events Encoding, Localization Encoding

some fixes
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/RintaSeekerEvents.txt
Due: Events Encoding

Removing map_setup_random
  missions/Amacimst_Missions.txt
  missions/Arverynn_Missions.txt
  missions/Boek_Mission.txt
  missions/Bosancovac_Missions.txt
  missions/Escann_Goblin_Missions.txt
  missions/Exwes_Missions.txt
  missions/Khozrugani_Missions.txt
  missions/Pirate_Missions.txt
  missions/Reuyel_Missions.txt
  missions/Roadwarrior_Missions.txt
Due: none

Degakheion fixes
  common/scripted_triggers/anb_scripted_triggers_kheionai.txt
  common/state_edicts/advancement_effort.txt
  interface/provinceview.gfx
Due: none

Degakheion Rebel fixes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Random Events - Needs loc
  common/event_modifiers/anb_rinta_seekers_modifiers.txt
  decisions/RIntaSeekerDecisions.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

minor balance adjustment
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Fix
  events/Flavour_Pashaine_B59.txt
  localisation/Flavour_Pashaine_B59_l_english.yml
Due: Events Encoding, Localization Encoding

d
  common/ideas/anb_country_ideas.txt
Due: none

updated events bugfixes
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  events/Flavour_Bibyobi_S98.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
  missions/Bibyobi_Missions.txt
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
