Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

[Steam] Bunch of Fixes
  common/countries/Aramoole.txt
  common/countries/Duwarkani.txt
  common/countries/Muhaqaar.txt
  common/countries/Munzeri.txt
  common/countries/Prakheta.txt
  common/countries/Samsumbat.txt
  localisation/Flavour_Magharma_I90_l_english.yml
  localisation/anb_sarhal_events_l_english.yml
  missions/Duwarkani_missions.txt
  missions/Maghargma_Missions.txt
Due: Localization Encoding

Hmmd
  missions/Duwarkani_missions.txt
Due: none

[Steam] Maghargma better tt
  localisation/Flavour_Magharma_I90_l_english.yml
  missions/Maghargma_Missions.txt
Due: Localization Encoding

OR
  missions/Maghargma_Missions.txt
Due: none

FIXES
  common/event_modifiers/corinsfield_modifiers.txt
  common/government_mechanics/anb_corinsfield_paranoia.txt
  common/great_projects/anb_great_projects.txt
  common/great_projects/anb_monuments_aelantir.txt
  events/Flavour_Corinsfield_H35.txt
  localisation/Flavour_Corinsfield_H35_l_english.yml
  missions/Corinsfield_Missions.txt
Due: Events Encoding, Localization Encoding

Pukamana NI
  common/ideas/anb_country_ideas.txt
Due: none

Ogre loc fix
  localisation/anb_racial_pop_l_english.yml
Due: Localization Encoding

icy flavour for simulacrum
  events/MagicProjectSimulacrum.txt
  localisation/anb_magic_project_l_english.yml
Due: Events Encoding, Localization Encoding

Adding Wex-Istralore opinion modifier
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/Flavour_Wex_A30.txt
  localisation/Flavour_Wex_A30_l_english.yml
Due: Events Encoding, Localization Encoding

Updating some Obrtrol loc
  localisation/Flavour_Obrtrol_Z17_l_english.yml
Due: Localization Encoding

Adjusting early obrtrol mission
  missions/Obrtrol_Missions.txt
Due: none

rahen caste priv loc rewrite
  localisation/anb_estate_lower_castes_l_english.yml
  localisation/anb_estate_middle_castes_l_english.yml
  localisation/anb_estate_upper_castes_l_english.yml
Due: Localization Encoding

ideas.txt fix
  common/ideas/anb_country_ideas.txt
Due: none

Fixes
  common/estate_privileges/02_noble_privileges.txt
  missions/Maghargma_Missions.txt
Due: none

New anti-Wex insult
  common/insults/00_insults.txt
  localisation/insults_l_english.yml
Due: Localization Encoding

Make this modifier at all relevant
  common/event_modifiers/anb_ogre_modifiers.txt
Due: none

Adjust per civi/oxtrooo
  common/event_modifiers/anb_ogre_modifiers.txt
Due: none

Raj vizier fix
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/RajEvents.txt
Due: Events Encoding

Pls be fixed omg
  common/ideas/anb_country_ideas.txt
Due: none

Small Country "Prosperity" Mission update
  missions/Small_Country_Missions.txt
Due: none

[steam] small change to taychend vassal po
  common/peace_treaties/anb_taychend_vassalize.txt
  localisation/anb_taychend_l_english.yml
Due: Localization Encoding

[steam]fix bulwari hussars
  common/estate_privileges/anb_privileges.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Localization Encoding

[steam]small stuff
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  events/Flavour_VerkalDromak_I25.txt
  events/taychend_flavour_events.txt
Due: Events Encoding

fixes
  common/great_projects/anb_great_projects.txt
  common/great_projects/anb_monuments_aelantir.txt
  events/Flavour_Corinsfield_H35.txt
  missions/Corinsfield_Missions.txt
Due: Events Encoding

Fix checking for purge incorrectly
  common/scripted_triggers/anb_scripted_triggers_sedentarization.txt
Due: none

removing xhaz pyre
  common/buildings/00_buildings.txt
Due: none

Line breaks for readablility
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Localization Encoding

Implement Jadd suggestion
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Small Bugfix
  common/parliament_issues/00_adm_parliament_issues.txt
Due: none

Refactoring, adding sanity checks, loc for invalidation, minor edits
  common/event_modifiers/forbidden_lands_sedentarization_modifiers.txt
  common/scripted_effects/forbidden_land_scripted_effects.txt
  common/scripted_functions/00_scripted_functions.txt
  events/forbidden_lands_sedentarization.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

fixes
  common/great_projects/anb_great_projects.txt
  common/great_projects/anb_monuments_aelantir.txt
Due: none

aaa
  history/provinces/177 - Oddansbay.txt
Due: none

Added Turnwell to the "joins the Small Country Events" of flavor_smallcountry.6
  events/Flavour_SmallCountry_A97.txt
Due: Events Encoding

tt fix
  localisation/goblinic_shamanism_l_english.yml
Due: Localization Encoding

Bugfixes and loc fixes
  common/great_projects/anb_monuments_cannor.txt
  localisation/Escann_Adventurers_Intro_l_english.yml
  localisation/Flavour_Moonhaven_A31_l_english.yml
  localisation/anb_cardesti_l_english.yml
  localisation/anb_lilac_wars_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

[steam?] verkal dromak additional event
  events/Flavour_VerkalDromak_I25.txt
  localisation/Flavour_VerkalDromak_I25_l_english.yml
Due: Events Encoding, Localization Encoding

forgot the writing review changes
  localisation/Flavour_VerkalDromak_I25_l_english.yml
Due: Localization Encoding
