Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

tur
  common/event_modifiers/anb_brelar_modifiers.txt
  common/ideas/anb_country_ideas.txt
  common/religions/00_anb_religion.txt
Due: none

skurkoli tweak
  common/event_modifiers/anb_ogre_modifiers.txt
  missions/Skurkokli_Missions.txt
Due: none

oops
  localisation/Flavour_mengi_l_english.yml
Due: Localization Encoding

tired_elf
  common/on_actions/00_on_actions.txt
Due: none

oop
  common/scripted_effects/merfolk_scripted_effects.txt
  events/Transmutative_Path_events.txt
  localisation/anb_merfolk_l_english.yml
Due: Events Encoding, Localization Encoding

Allow Pasiragha post-MT to form Harimraj
  decisions/RaheniFormables.txt
Due: Decisions Encoding

Let Pasiragha know they can form
  localisation/Flavour_Pasiragha_R61_l_english.yml
  missions/Pasiragha_Missions.txt
Due: Localization Encoding

fangaula schmangaula
  common/cb_types/anb_cb_monsters.txt
  common/countries/Bibyobi.txt
  common/countries/Damisi.txt
  common/countries/Jarafarin.txt
  common/countries/Maymunah.txt
  decisions/WestSarhalFormables.txt
  history/provinces/5722 - Banji.txt
Due: Decisions Encoding

I think this worked?
  common/countries/Bibyobi.txt
  common/countries/Damisi.txt
  common/countries/Jarafarin.txt
  common/countries/Maymunah.txt
Due: none

weeeeeeee encoding
  common/countries/Kuraoko.txt
Due: none

Map adjustments
  common/tradenodes/00_tradenodes.txt
  map/provincegroup.txt
Due: none

Misc stuff
  common/tradenodes/00_tradenodes.txt
  decisions/CoT_Sungarden_Formables.txt
  history/diplomacy/bulwar.txt
Due: Decisions Encoding

Bulwar generic setup final
  common/event_modifiers/CoT_misc_modifiers.txt
  common/government_mechanics/cot_phoenix_servile.txt
  common/government_reforms/07_government_reforms_COT.txt
  events/Flavour_Zansap_F43.txt
  history/countries/F26 - Gelkalis.txt
  history/countries/F30 - Kumarkand.txt
  history/countries/F33 - Akalses.txt
  history/countries/F35 - Azkabar.txt
  history/countries/F36 - Harklum.txt
  history/countries/F40 - Anzabad.txt
  history/countries/F41 - Zanbar.txt
  history/countries/F43 - Zansap.txt
  history/countries/F44 - Kalib.txt
  history/countries/F74 - Anzarzax.txt
  history/countries/F75 - Avamezan.txt
  history/countries/F76 - Medurubar.txt
  history/countries/F77 - Kuzaram.txt
  history/countries/U19 - Aqatbahar.txt
  history/countries/W52 - Zezizatl.txt
  history/countries/W53 - Xurwix.txt
  history/provinces/2925 - Daqalm.txt
  history/provinces/566 - Ergulagnu.txt
  history/provinces/6103 - Harrabad.txt
  history/provinces/7923 - VaXuriwix.txt
  history/provinces/7924 - XuXuriwix.txt
  history/provinces/7928 - Havrak.txt
  history/provinces/7929 - GarpixGarhaahz.txt
  history/provinces/7930 - Zezizatl.txt
  history/provinces/7937 - PaxetMaq.txt
  history/provinces/7990 - SinGaer.txt
  localisation/CoT_gov_reforms_l_english.yml
  missions/Zansap_Missions.txt
Due: Events Encoding, Localization Encoding

Wexonard Racial Tolerances & Province Modifier Changes
  events/anb_racial_pop_calculations.txt
  history/provinces/294 - Magdalaire.txt
  history/provinces/300 - Bisan.txt
  history/provinces/306 - Wexkeep.txt
  history/provinces/307 - Ottocam.txt
  history/provinces/317 - Ruppellion.txt
  history/provinces/318 - Stumpwood.txt
  history/provinces/332 - Corseton.txt
  history/provinces/579 - Hiltsford.txt
  history/provinces/903 - Indlebury.txt
  history/provinces/923 - Aelthil.txt
Due: Events Encoding

Sidmargbal
  common/countries/Sidmargbal.txt
  common/country_tags/anb_countries.txt
  common/ideas/anb_country_ideas.txt
  history/countries/U46 - Sidmargbal.txt
  history/provinces/2030 - Gannag.txt
  history/provinces/2041 - Sidmargbal.txt
  history/provinces/2045 - Serakriok.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Harpy egg loc typo fix
  localisation/the_hunt_l_english.yml
Due: Localization Encoding

Cheshsho
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Keladora pronoun fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

fix loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Desc and arannen decision removal
  decisions/ArannenNation.txt
  localisation/anb_decisions_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Localization Encoding

fix
  localisation/anb_decisions_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding

fix2
  common/ideas/anb_country_ideas.txt
Due: none

fix4
  decisions/SalceranNation.txt
Due: Decisions Encoding

fix5
  common/ideas/anb_country_ideas.txt
  localisation/anb_decisions_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding

fix6
  decisions/SalceranNation.txt
Due: Decisions Encoding

oop
  events/Transmutative_Path_events.txt
Due: Events Encoding

Sidmargbal fix
  history/countries/U46 - Sidmargbal.txt
Due: none

oop
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  events/Transmutative_Path_events.txt
Due: Events Encoding

lore fix
  localisation/Flavour_Jaddari_F46_l_english.yml
  localisation/jadd_nobility_l_english.yml
  missions/Jaddari_Missions.txt
Due: Localization Encoding

fix7
  decisions/SalceranNation.txt
Due: Decisions Encoding

one last fix
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/scripted_effects/merfolk_scripted_effects.txt
Due: none

Loc tweaks, including MUCH shorter system explainer
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

Delay event handlers instead of each individual event
  common/scripted_effects/forbidden_land_scripted_effects.txt
  events/forbidden_lands_sedentarization.txt
Due: Events Encoding

Completion effect propagates via single event now
  common/scripted_effects/forbidden_land_scripted_effects.txt
  events/forbidden_lands_sedentarization.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Events Encoding, Localization Encoding

No need to doublecheck these triggers now
  events/forbidden_lands_sedentarization.txt
Due: Events Encoding

HUGE refactoring: policy event first; no more queuing; lotsa simplifying
  common/on_actions/00_on_actions.txt
  common/scripted_effects/forbidden_land_scripted_effects.txt
  customizable_localization/anb_custom_loc_sedentarization.txt
  events/forbidden_lands_sedentarization.txt
Due: Events Encoding

forgot to commit this: also no more delay, moved to handlers
  events/forbidden_lands_sedentarization.txt
Due: Events Encoding

New custom loc; deleted unneeded loc keys; minor edits
  common/event_modifiers/forbidden_lands_sedentarization_modifiers.txt
  customizable_localization/anb_custom_loc_sedentarization.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

Weight First Contact higher if within a year of hitting threshold
  common/scripted_effects/forbidden_land_scripted_effects.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
