Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

GV bypass for empty Ovdal Kanzad
  missions/Gor_Vazumbrog_Missions.txt
Due: none

GV hint silk need
  events/Flavour_GorVazumbrog_I14.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Events Encoding, Localization Encoding

.
  common/on_actions/00_on_actions.txt
Due: none

tooltip
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

mandates for everyone
  common/on_actions/00_on_actions.txt
  events/RahenRajEvents.txt
Due: Events Encoding

GV hint mission insight about reclaim hold cb
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Localization Encoding

Fix GV loc wrong flag
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Localization Encoding

Add goto to GV event
  events/Flavour_GorVazumbrog_I14.txt
Due: Events Encoding

GV decision add tooltip
  decisions/GorVazumbrogDecisions.txt
  localisation/Flavour_GorVazumbrog_I14_l_english.yml
Due: Decisions Encoding, Localization Encoding

Domandrod climate fix
  map/climate.txt
Due: none

more
  decisions/HalessFormables.txt
  gfx/interface/ideas_EU4/large_facestealer_infestation.dds
  gfx/interface/ideas_EU4/permanent_facestealer_infestation.dds
  gfx/interface/ideas_EU4/small_facestealer_infestation.dds
Due: Decisions Encoding

6.1 review fix
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/rebel_types/qeyikul.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/AYNDecisions.txt
  events/Flavour_AYN.txt
  localisation/Flavour_Ardimyan_Natives_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

adding a single tab
  common/on_actions/00_on_actions.txt
Due: none

.
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

progress
  common/ages/00_default.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  missions/Nansalen_Missions.txt
Due: none

fix
  common/scripted_effects/02_scripted_effects_unlocks.txt
Due: none

.
  events/Flavour_Tsukqiao.txt
Due: Events Encoding

spellcounting tt fix
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  customizable_localization/anb_magic_other_custom_loca.txt
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

Kimanis MT
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_kimanis_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/rebel_types/kimanis_wine_cultists.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  customizable_localization/anb_customizable_localization.txt
  events/Elections.txt
  events/Flavour_Kimanis_G61.txt
  events/RandomEvents.txt
  gfx/interface/ideas_EU4/kimanis_wine_cup.dds
  history/countries/G61 - Kimanis.txt
  interface/provinceview.gfx
  localisation/Flavour_Kimanis_G61_l_english.yml
  missions/Kimanis_Missions.txt
Due: Events Encoding, Localization Encoding

prevent silverforge rectorate 2.0
  common/scripted_effects/ravelian_scripted_effects.txt
  events/ravelianism.txt
Due: Events Encoding

Fix one_xia.5 setting dupe prov flags
  events/OneXia.txt
Due: Events Encoding

Add PUI for trans path
  common/church_aspects/anb_transmutative_path.txt
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_province_ui.txt
  common/scripted_effects/anb_scripted_effects_for_xia.txt
  common/scripted_effects/transmutative_path_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_for_xia.txt
  common/scripted_triggers/anb_scripted_triggers_transmutative_path.txt
  customizable_localization/anb_transmutative_path.txt
  events/OneXia.txt
  gfx/interface/custom_gui/province_UI/chi_wellspring_huge_button.dds
  gfx/interface/custom_gui/province_UI/infuse_huge_sheet.dds
  gfx/interface/custom_gui/province_UI/trade_good_huge_button.dds
  gfx/interface/custom_gui/province_UI/warrior_monk_huge_button.dds
  interface/provinceview.gfx
  interface/provinceview.gui
  localisation/transmutative_path_l_english.yml
Due: Events Encoding, Localization Encoding

Remove obselete events and loc
  common/custom_gui/provinceview.txt
  events/Transmutative_Path_events.txt
  localisation/transmutative_path_l_english.yml
Due: Events Encoding, Localization Encoding

Fix enlightenment event not firing when using trigger_switch
  common/scripted_effects/anb_scripted_effects_for_xia.txt
  events/OneXia.txt
Due: Events Encoding

Add Gon culture church aspect
  common/church_aspects/anb_transmutative_path.txt
  common/custom_gui/provinceview.txt
  common/event_modifiers/transmutative_path_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/transmutative_path_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_transmutative_path.txt
  customizable_localization/anb_transmutative_path.txt
  localisation/anb_religions_l_english.yml
  localisation/transmutative_path_l_english.yml
Due: Localization Encoding

Add documentation for new church aspects
  common/church_aspects/anb_transmutative_path.txt
  common/scripted_effects/transmutative_path_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_transmutative_path.txt
Due: none

5 Centaur NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Ope, the creator's got it
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

stuff
  common/custom_gui/countrydecisionsview.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/estate_artifice_privileges.txt
  common/estate_privileges/estate_eunuchs_anb_privileges.txt
  common/estates/90_eunuchs_anb.txt
  common/estates/99_artificers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/parliament_issues/anb_overclan.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  common/scripted_triggers/anb_scripted_triggers_artifice.txt
  common/scripted_triggers/anb_scripted_triggers_overclan.txt
  customizable_localization/anb_custom_artifice_localization.txt
  decisions/OverclanDecisions.txt
  decisions/OverclanNation.txt
  events/Flavour_Overclan_F78.txt
  events/GroupFlavour_Exodus_Goblins.txt
  localisation/Flavour_Exodus_Goblins_l_english.yml
  localisation/Flavour_Overclan_F78_l_english.yaml
  localisation/anb_estates_l_english.yml
  map/provincegroup.txt
  missions/Aqatbar_Missions.txt
  missions/Overclan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

stuff
  common/estate_privileges/estate_eunuchs_anb_privileges.txt
  common/estates/90_eunuchs_anb.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  common/scripted_triggers/anb_scripted_triggers_overclan.txt
  decisions/OverclanDecisions.txt
  events/Flavour_Overclan_F78.txt
  localisation/Flavour_Overclan_F78_l_english.yaml
  localisation/Flavour_Overclan_F78_l_english.yml
  localisation/anb_estates_l_english.yml
  missions/Overclan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Hopilina NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Hopilina NIs fix
  common/ideas/anb_country_ideas.txt
Due: none

A start on one Harpylen mission.
  localisation/Flavour_Harpylen_l_english.yml
  missions/Harpylen_Missions.txt
Due: Localization Encoding

capital_scope = { superregion = kanolowele_superregion }
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

Rogeria is gay
  events/Flavour_Rogieria_B37.txt
Due: Events Encoding

vf is gay
  events/Flavour_Vels_Fadhecai_G38.txt
Due: Events Encoding

stuff
  common/estate_privileges/estate_eunuchs_anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/parliament_issues/anb_overclan.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  decisions/OverclanDecisions.txt
  events/Flavour_Overclan_F78.txt
  missions/Overclan_Missions.txt
Due: Decisions Encoding, Events Encoding

add loc
  events/Flavour_Westmoors_A24.txt
  localisation/Flavour_Westmoors_A24_l_english.yml
Due: Events Encoding, Localization Encoding

moor lords hurt less
  events/Flavour_Westmoors_A24.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
