Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

peasant revolt simulacra buff
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

iron crowned simulacra nerf
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

protected journey balance
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

conjure supplies balance
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

fixes golden child ritual of conception stats
  events/Magic_Spell_Events.txt
Due: Events Encoding

[new-master] Mykx Flavor Events (Typo Fix)
  events/Flavour_Mykx_G93.txt
Due: Events Encoding

[Steam] Loc tweak
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Localization Encoding

First attempt at a new Swamp Troll tolerance event
  events/ToleranceTroll.txt
Due: Events Encoding

Test with Troll majority. Notes about peasant rebel loc. Fixed OWNED
  events/ToleranceTroll.txt
Due: Events Encoding

Tooltip fix
  localisation/Flavour_Salla_Elyn_I26_l_english.yml
Due: Localization Encoding

Influence fix
  missions/Salla_Elyn_missions.txt
Due: none

eastern groves fix
  common/estate_agendas/02_noble_agendas.txt
Due: none

rebel fix
  missions/Salla_Elyn_missions.txt
Due: none

Fixing moonlit modifier
  common/on_actions/00_on_actions.txt
  missions/Salla_Elyn_missions.txt
Due: none

vendant crown fix
  missions/Salla_Elyn_missions.txt
Due: none

fix
  events/DeepwoodsEvents.txt
Due: Events Encoding

dynamic magical infamy estate modifiers
  common/estates/97_mages.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  customizable_localization/anb_magic_menus_localization.txt
  localisation/anb_estate_mages_l_english.yml
  localisation/anb_magic_ruler_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

adds estate privilege to expel corrupt mages
  common/estate_privileges/estate_mages_privileges.txt
  common/estates/97_mages.txt
  localisation/anb_estate_mages_l_english.yml
Due: Localization Encoding

Karassk loc fixes
  localisation/Flavour_Karassk_L68_l_english.yml
  localisation/anb_subject_type_l_english.yml
Due: Localization Encoding

update magical infamy calculator
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none

paragon modifier fix
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

adds magical infamy calculations to magic startup
  events/AnbennarSetup.txt
Due: Events Encoding

Credits
  interface/credits.txt
Due: none

golden child rite of conception tooltip
  events/Magic_Spell_Events.txt
Due: Events Encoding

magical fortress loc fixes
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

golden child improvement
  events/Magic_Spell_Events.txt
Due: Events Encoding

Golden Tremor Bugfixes
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Golden_Tremor_I57.txt
  localisation/Flavour_Golden_Tremor_I57_l_english.yml
  missions/Golden_Tremor_Missions.txt
Due: Events Encoding, Localization Encoding

Oren Nayiru Fix
  events/Flavour_Uesrennu_J78.txt
Due: Events Encoding

gov reform loc fix
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

orb of omniscience loc fix
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

manipulated fortune orb rebalance
  common/event_modifiers/anb_magic_modifiers.txt
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

Apikhoxi fixes and changes
  localisation/Flavour_Apikhoxi_G57_l_english.yml
  missions/Apikhoxi_Missions.txt
Due: Localization Encoding

ope
  interface/credits.txt
Due: none

magical fortress rebalance
  common/event_modifiers/anb_magic_modifiers.txt
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

fear and loathing balance
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

tt fix
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

enchantment balance
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

summon elementals animals fix
  common/mercenary_companies/00_mercenaries.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none

Round 2 Venomtooth Fixes
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_escann_destroy_monster.txt
  events/CorinsCircle.txt
  events/Flavour_Venomtooth_B22.txt
  localisation/Flavour_Venomtooth_B22_l_english.yml
  missions/Venomtooth_Missions.txt
Due: Events Encoding, Localization Encoding

Rinta Seekers adjustments
  common/isolationism/00_shinto.txt
  events/RintaSeekerEvents.txt
  localisation/Group_Flavour_Baashidi_l_english.yml
Due: Events Encoding, Localization Encoding
