Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

eordand island changes
  common/colonial_regions/00_colonial_regions.txt
  common/scripted_effects/anb_setup_effects.txt
  common/tradenodes/00_tradenodes.txt
  map/region.txt
Due: none

more loc fixes
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

even more
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Ope
  common/government_reforms/03_government_reforms_theocracies.txt
  common/scripted_effects/taychend_scripted_effects.txt
  events/Flavour_Orenvalyam_U39.txt
  events/Theocracies.txt
  interface/countryreligionview.gui
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  localisation/Flavour_TaychendiEmpire_J84_l_english.yml
  localisation/anb_racial_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding, Localization Encoding

Resolving Formable decision conflicts
  decisions/SaerraegNation.txt
  decisions/SouthAelantirFormables.txt
  decisions/TaychendDecisions.txt
Due: Decisions Encoding

Bulwar Magic Tweaks
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/Flavour_Bulwar_l_english.yml
  localisation/anb_magic_spells_custom_l_english.yml
Due: Localization Encoding

Forgor
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Finished_maybe
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/tradegoods/00_tradegoods.txt
  events/DamestearEvent.txt
  events/Yenbenmirra_events.txt
  history/provinces/3158 - Aitatamohan.txt
  history/provinces/3164 - Temamaromohan.txt
  history/provinces/3165 - Wemohan.txt
  history/provinces/3166 - Aelpahimohan.txt
  history/provinces/3167 - Anpuhemohan.txt
  history/provinces/3321 - Tumutuku.txt
  history/provinces/3389 - PROV3389.txt
  history/provinces/3412 - PROV3412.txt
  history/provinces/3414 - PROV3414.txt
  history/provinces/3443 - PROV3443.txt
  history/provinces/3525 - PROV3525.txt
  history/provinces/3667 - Daoka'pe.txt
  history/provinces/6378 - PROV6378.txt
  history/provinces/6397 - PROV6397.txt
  history/provinces/6440 - PROV6440.txt
  history/provinces/6946 - PROV6946.txt
  history/provinces/6975 - PROV6975.txt
  localisation/anb_generic_insyaa_l_english.yml
  localisation/anb_yenbenmirra_l_english.yml
  map/positions.txt
  map/provincegroup.txt
  map/terrain.txt
Due: Events Encoding, Localization Encoding

Another go at faulty loc
  localisation/Flavour_Great_Storm_I80_l_english.yml
Due: Localization Encoding

Insyaa Flags
  gfx/flags/N49.tga
  gfx/flags/N50.tga
  gfx/flags/N98.tga
Due: none

.
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

.
  common/on_actions/00_on_actions.txt
Due: none

.
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Flying_Hound_B43.txt
Due: Events Encoding

fix typos on Luzhang Baota
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/haless_l_english.yml
Due: Localization Encoding

.
  common/scripted_effects/anb_scripted_effects.txt
  decisions/EscannFormables.txt
Due: Decisions Encoding

.
  decisions/EscannFormables.txt
  events/Flavour_Blademarches_B33.txt
Due: Decisions Encoding, Events Encoding

.
  decisions/EscannFormables.txt
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

More Work
  common/scripted_effects/anb_scripted_effects.txt
  decisions/DeepwoodsFormables.txt
  decisions/EastSarhalFormables.txt
  decisions/EscannFormables.txt
  decisions/GerudianFormables.txt
  decisions/HalessFormables.txt
  decisions/RahenFormables.txt
  decisions/WescannFormables.txt
  decisions/WestSarhalFormables.txt
  events/Kobold_Traps.txt
  history/countries/Z56 - Kuxhezte.txt
  history/countries/Z66 - Dahui.txt
  history/countries/Z67 - Lianzhou.txt
  localisation/anb_formable_countries_l_english.yml
  missions/Kobildzan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

.
  decisions/RahenFormables.txt
Due: Decisions Encoding

More Work
  common/scripted_effects/anb_scripted_effects.txt
  decisions/BulwarFormables.txt
  decisions/EastSarhalFormables.txt
  decisions/ForbiddenPlainsFormables.txt
  decisions/HalessFormables.txt
  decisions/MechanimNation.txt
  decisions/RahenFormables.txt
  events/LakeFederationEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

mission loc
  localisation/Flavour_Hytiranyalen_F81_l_english.yml
Due: Localization Encoding

.
  common/scripted_effects/anb_scripted_effects.txt
  decisions/NorthAelantirFormables.txt
Due: Decisions Encoding

vanilla eunuchs removed
  common/estate_agendas/09_eunuchs_agendas.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/09_eunuchs_privileges.txt
  common/estates/09_eunuchs.txt
  common/estates_preload/00_estate_modifiers.txt
  common/event_modifiers/01_mission_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_triggers/00_scripted_triggers_estates.txt
  customizable_localization/00_customizable_localization.txt
  customizable_localization/anb_rending_appeasement.txt
  events/disaster_estates.txt
Due: Events Encoding

merc enterprise per action tracking
  common/buildings/00_buildings.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_huugeta_scripted_effects.txt
  events/Flavour_Huugeta_S45.txt
  history/countries/S45 - Huugeta.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
Due: Events Encoding, Localization Encoding

blood spur merc company
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
Due: none

nansalen skeleton mt + easy parts of incident section
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  missions/Nansalen_Missions.txt
Due: none

merc momentum breakdown
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_huugeta_scripted_effects.txt
  events/Flavour_Huugeta_S45.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
  missions/Huugeta_Missions.txt
Due: Events Encoding, Localization Encoding

more work
  decisions/ColonialFormables.txt
  decisions/EastSarhalFormables.txt
  decisions/EscannFormables.txt
  decisions/ForbiddenPlainsFormables.txt
  decisions/InsyaaFormables.txt
  decisions/NorthAelantirFormables.txt
  decisions/SouthAelantirFormables.txt
  decisions/WescannFormables.txt
  decisions/WestSarhalFormables.txt
  localisation/anb_custom_tooltips_l_english.yml
  localisation/anb_decisions_l_english.yml
  localisation/anb_devandi_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Decisions Encoding, Localization Encoding

.
  localisation/anb_forbidden_lands_standing_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Localization Encoding

Last_last
  common/tradegoods/00_tradegoods.txt
  events/Great_Plateau_Colonization.txt
Due: Events Encoding

First pass at first two columns of main MT
  events/MonstrousEvents.txt
  missions/Nansalen_Missions.txt
Due: Events Encoding

Tsukqiao Fixes
  common/church_aspects/anb_devouring_path.txt
  common/custom_gui/countrygovernmentview.txt
  common/great_projects/anb_dwarovar_dungeons.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/subject_types/00_subject_types.txt
  customizable_localization/anb_beikling_wonders_system.txt
  decisions/BeiklingDecisions.txt
  events/Flavour_Tsukqiao.txt
  events/Flavour_Zokka_F29.txt
  events/anb_beikling_events.txt
  gfx/interface/empty_pic.dds
  interface/countrygovernmentview.gui
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
  localisation/anb_flavor_beiklings_l_english.yml
  missions/SkeweredDrake_Missions.txt
  missions/Tsukqiao_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

loc
  events/Flavour_Hytiranyalen_F81.txt
  localisation/Flavour_Hytiranyalen_F81_l_english.yml
Due: Events Encoding, Localization Encoding

undead mil changes, balance review
  common/event_modifiers/racial_admin_military.txt
  localisation/anb_racial_l_english.yml
  localisation/anb_units_l_english.yml
Due: Localization Encoding

undead mil bug fix
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

loc fixes
  localisation/anb_magic_spells_custom_l_english.yml
Due: Localization Encoding

oops, why was scry bugged?
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

mage armor tooltip fix
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

Ruinsail Confederacy
  common/countries/Ruinsail.txt
  common/country_tags/anb_countries.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  customizable_localization/anb_custom_loca.txt
  decisions/NorthAelantirFormables.txt
  events/anb_piracy_events.txt
  gfx/flags/G10.tga
  history/countries/G10 - Ruinsail Confederacy.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_government_names_l_english.yml
  localisation/anb_piracy_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
