Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

[Insyaa] Wao Nakahea Ideas + name fix + ideas file fixes
  common/ideas/anb_country_ideas.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Personality fix
  history/countries/I57 - Golden Tremor.txt
Due: none

genie coast rename
  common/trade_companies/00_trade_companies.txt
  common/tradenodes/00_tradenodes.txt
  decisions/WestSarhalFormables.txt
  localisation/anb_trade_companies_l_english.yml
  localisation/anb_trade_l_english.yml
Due: Decisions Encoding, Localization Encoding

Still coding
  decisions/TiboktsamoDecisions.txt
  missions/Tiboktsamo_Missions.txt
Due: Decisions Encoding

.
  events/Flavour_Uesrennu_J78.txt
Due: Events Encoding

..
  common/cultures/anb_cultures.txt
Due: none

uf
  events/Flavour_Uesrennu_J78.txt
Due: Events Encoding

zokka
  events/Flavour_Zokka_F29.txt
Due: Events Encoding

hisost balance and hunt fix
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_hisost_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  localisation/Flavour_Hisost_Yamok_S23_l_english.yml
Due: Localization Encoding

zokka
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

birbbb
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Chaqway_G87.txt
  localisation/Flavour_Chaqway_G87_l_english.yml
  missions/Chaqway_Missions.txt
Due: Events Encoding, Localization Encoding

.
  localisation/Flavour_Chaqway_G87_l_english.yml
Due: Localization Encoding

v
  missions/Chaqway_Missions.txt
Due: none

claims
  events/Flavour_Hisost_Yamok_S23.txt
Due: Events Encoding

some more changes
  history/countries/F73 - Mokatanga.txt
  history/provinces/4929 - Anbennar4929.txt
  history/provinces/5803 - Turro.txt
  localisation/prov_names_l_english.yml
Due: Localization Encoding

even more
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_verne.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

more bougfix
  localisation/Flavour_Wyvernheart_B39_l_english.yml
  missions/Wyvernheart_Missions.txt
Due: Localization Encoding

EA
  localisation/Flavor_Rayaz_R95_l_english.yml
  missions/Rayaz_Missions.txt
Due: Localization Encoding

A Diplomatic Alternative to Seinathil Mission Usurping Istralore's Stage
  events/Flavour_Seinathil_A90.txt
  localisation/Flavour_Seinathil_A90_l_english.yml
  missions/Seinathil_Missions.txt
Due: Events Encoding, Localization Encoding

zokka
  events/Flavour_Zokka_F29.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Events Encoding, Localization Encoding

zokka
  missions/Zokka_Missions.txt
Due: none

PR !2007 fix: VAT Removal
  localisation/Flavour_Seinathil_A90_l_english.yml
  missions/Seinathil_Missions.txt
Due: Localization Encoding

PR !2007 fix: Clearer Closing Brackets
  missions/Seinathil_Missions.txt
Due: none

PR !2007 fix: Clearer Closing Brackets & Indentations
  missions/Seinathil_Missions.txt
Due: none

the cult of uniform nomenclature
  common/custom_gui/magic_menu.txt
  common/event_modifiers/anb_spell_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_effects/magic_project_effects.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  events/MagicRuler.txt
  events/MagicStudy.txt
  events/Magic_Project_Events.txt
  interface/countrydecisionsview.gfx
  interface/countrydecisionsview.gui
  interface/magic_ui_from_bonny.gui
  localisation/aaaaajothellmagic_l_english.yml
  localisation/anb_magic_ruler_l_english.yml
  localisation/anb_magic_study_l_english.yml
  localisation/anb_magic_system_l_english.yml
  localisation/magic_project_events_l_english.yml
Due: Events Encoding, Localization Encoding

PR !2007 Fix: Reconverted Localisation File to UTF-8 BOM (actual)
  localisation/Flavour_Seinathil_A90_l_english.yml
Due: Localization Encoding

more more more fixes
  missions/Toarnaire_Missions.txt
Due: none

Test LOC
  events/Flavour_Tiboktsamo.txt
  localisation/Flavour_Tiboktsamo_L53_l_english.yml
  missions/Tiboktsamo_Missions.txt
Due: Events Encoding, Localization Encoding

Test
  localisation/infernal_court_l_english.yml
Due: Localization Encoding

Commit Test
  localisation/infernal_court_l_english.yml
Due: Localization Encoding

Commit message
  localisation/infernal_court_l_english.yml
Due: Localization Encoding

Wowee
  localisation/infernal_court_l_english.yml
Due: Localization Encoding

Got it
  localisation/infernal_court_l_english.yml
Due: Localization Encoding

fix1
  common/church_aspects/anb_beast_memory_aspects.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_triggers/anb_scripted_triggers_religions.txt
  customizable_localization/anb_customizable_localization.txt
  events/Beast_Memory_Events.txt
  missions/Mihitarab_Missions.txt
Due: Events Encoding

Infernal Court Loc Commit
  events/InfernalCourtEvents.txt
  localisation/infernal_court_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
