Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

PS MT Bugfix
  decisions/RajDecisions.txt
  events/Flavour_Parusahan_Saya_R54.txt
Due: Decisions Encoding, Events Encoding

yinquan/abort bugfix
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

More Work
  common/church_aspects/anb_devouring_path.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/disasters/estate_eunuchs_anb_disaster.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  gfx/interface/church_aspects/mask_of_might.dds
  localisation/anb_estates_l_english.yml
  missions/Tsukqiao_Missions.txt
Due: Localization Encoding

magic loc
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_units_l_english.yml
Due: Localization Encoding

initial loc
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Missed some invalid characters
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

fixing duplicate ideas
  common/ideas/anb_country_ideas.txt
Due: none

rite of harpy conception
  events/Magic_Spell_Events.txt
Due: Events Encoding

okman feedback 1
  common/great_projects/anb_monuments_aelantir.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  decisions/Aelantir-Cannor Decisions.txt
  events/Aelantir_Monument_Flavour_Events.txt
  events/Cannor_Monument_Flavour_Events.txt
  localisation/anb_cannor_monuments_l_english.yml
  localisation/anb_great_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

paragraph breaks and minor changes
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Gasha Mission Tree
  common/countries/Shyarayan.txt
  common/cultures/anb_cultures.txt
  common/disasters/ashhana_the_agony_of_expression.txt
  common/event_modifiers/anb_pirates_modifiers.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/government_reforms/04_government_reforms_tribes.txt
  common/governments/00_governments.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/scripted_functions/00_scripted_functions.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  decisions/EastSarhalFormables.txt
  events/Flavour_Gasha_L76.txt
  history/countries/L76 - Gasha.txt
  history/countries/L80 - Zulbur.txt
  localisation/Flavour_Gasha_L76_l_english.yml
  missions/Gasha_Missions.txt
  missions/RSP_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Changing Vizier Country Title
  common/government_names/00_anbennar_government_names.txt
  localisation/anb_government_names_l_english.yml
Due: Localization Encoding

Karach Raist les go
  common/buildings/00_buildings.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estates/02_nobility.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Karach_L77.txt
  events/MonopolyPrivileges.txt
  localisation/Flavour_Karach_L77_l_english.yml
  missions/Karach_Missions.txt
Due: Events Encoding, Localization Encoding

Bugfix
  common/countries/Gasha.txt
  common/cultures/anb_cultures.txt
  events/Flavour_Gasha_L76.txt
  history/countries/L76 - Gasha.txt
  localisation/anb_areas_l_english.yml
  localisation/anb_countries_l_english.yml
  localisation/prov_names_adj_l_english.yml
  missions/Gasha_Missions.txt
Due: Events Encoding, Localization Encoding

balance changes
  common/event_modifiers/anb_magic_modifiers.txt
  common/mercenary_companies/00_mercenaries.txt
  common/powerprojection/00_static.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  customizable_localization/anb_magic_other_custom_loca.txt
  events/Magic_Project_Events.txt
  events/Magic_Spell_Events.txt
  events/Magic_Study_Events.txt
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_magic_study_l_english.yml
Due: Events Encoding, Localization Encoding

loc improvements
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

better homunculus tooltip
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Raist stuff 3
  events/Flavour_Karach_L77.txt
  missions/Karach_Missions.txt
Due: Events Encoding

homunculus more alliterative
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

verbiage change
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

hide! hiiiide!
  common/scripted_effects/01_scripted_effects_for_rulers_heirs_consorts.txt
Due: none

better homunc lookahead
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

PS MT Bugfixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Parusahan_Saya_R54.txt
  localisation/Flavour_ParusahanSaya_R54_l_english.yml
  missions/ParusahanSaya_Missions.txt
Due: Events Encoding, Localization Encoding

Dragon_turtle_10
  common/estate_privileges/03_burgher_privileges.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  events/anb_dragon_turtles.txt
Due: Events Encoding

vanrahar loc
  localisation/Flavour_Vanrahar_R77_l_english.yml
Due: Localization Encoding

typo
  localisation/anb_estate_mages_l_english.yml
Due: Localization Encoding

PS MT Enhancements/Fixes
  events/Flavour_Parusahan_Saya_R54.txt
  localisation/Flavour_ParusahanSaya_R54_l_english.yml
  missions/ParusahanSaya_Missions.txt
Due: Events Encoding, Localization Encoding

dragon_turtle 11
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

crierless typo fix
  events/ArtificeResearch.txt
  localisation/artifice_l_english.yml
Due: Events Encoding, Localization Encoding

PS MT Province Highlights
  common/on_actions/00_on_actions.txt
  missions/ParusahanSaya_Missions.txt
Due: none

better loc
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

Adding event pictures. Update MT description for start screen.
  events/Flavour_Samsumbat_F60.txt
  events/estate_ahati.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Events Encoding, Localization Encoding

PS MT More Province Highlights
  missions/ParusahanSaya_Missions.txt
Due: none

ward scope change
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

no double-warding
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

slight tooltip change
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

various loc fixes
  localisation/Flavour_Deranne_A02_l_english.yml
  localisation/anb_khetist_l_english.yml
  localisation/effelai_bloom_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

po_break_the_empire fix
  common/peace_treaties/anb_break_the_empire.txt
  localisation/Flavour_Pashaine_B59_l_english.yml
Due: Localization Encoding

Portents shortening
  localisation/anb_shadow_pact_l_english.yml
Due: Localization Encoding
