Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Phoenix Legions names
  common/countries/Phoenix Empire.txt
Due: none

Revert "Phoenix Legions names"
  common/countries/Phoenix Empire.txt
Due: none

phoenix legion try 2
  common/countries/Phoenix Empire.txt
Due: none

.
  common/scripted_effects/02_scripted_effects_unlocks.txt
  localisation/Flavour_Hus_Bhal_V25_l_english.yml
Due: Localization Encoding

More
  Anbennar-PublicFork.mod
  common/estate_privileges/01_church_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/00_shadowdreamer_modifiers.txt
  common/government_mechanics/anb_shadowdreamer_dreamfire.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  decisions/00_ShadowdreamerDecisions.txt
  events/00_Flavour_Shadowdreamer_H83.txt
  events/anb_racial_pop_events_dwarven.txt
  localisation/00_Shadowdreamer_l_english.yml
  missions/00_Shadowdreamer_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

NOT logic fix
  common/scripted_effects/ravelian_scripted_effects.txt
Due: none

fix each_estate_effect
  common/scripted_effects/01_scripted_effects_for_estates.txt
Due: none

dhimmi removed
  common/disasters/estate_dhimmi_disaster.txt
  common/estate_agendas/06_dhimmi_agendas.txt
  common/estate_privileges/0002_rajput_privileges.txt
  common/estate_privileges/002_maratha_privileges.txt
  common/estate_privileges/003_vaisya_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/04_cossack_privileges.txt
  common/estate_privileges/05_nomadic_tribe_privileges.txt
  common/estate_privileges/06_dhimmi_privileges.txt
  common/estate_privileges/07_jain_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_eunuchs_anb_privileges.txt
  common/estate_privileges/estate_patricians_privileges.txt
  common/estate_privileges/estate_raj_ministries_privileges.txt
  common/estates/06_dhimmi.txt
  common/estates_preload/00_estate_modifiers.txt
  common/event_modifiers/00_event_modifiers.txt
  common/event_modifiers/01_mission_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_triggers/00_scripted_triggers_estates.txt
  customizable_localization/00_customizable_localization.txt
  events/EstatePrivilegesAndAgendasEvents.txt
  events/Flavour_Salla_Elyn_I26.txt
  events/disaster_estates.txt
Due: Events Encoding

various fixes
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/region_colors/00_region_colors.txt
  events/Flavour_Verne_A33.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

block transmute gold during treasure fleet
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

fixed 2 typos
  localisation/anb_achievements_l_english.yml
  localisation/anb_forbidden_plains_startup_l_english.yml
Due: Localization Encoding

sarhal fix company tradenode overlaps
  common/trade_companies/00_trade_companies.txt
  common/tradenodes/00_tradenodes.txt
Due: none

not_has_adventurer_reform added to every place it matters (in numbers 2)
  common/scripted_triggers/anb_scripted_triggers.txt
  decisions/CastonathPatricians.txt
  localisation/anb_tooltips_l_english.yml
  missions/Orc_Missions.txt
Due: Decisions Encoding, Localization Encoding

fix modifier for Temple of Ruby and Bronze
  common/event_modifiers/anb_sarhal_modifiers.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

typo fixes
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_achievements.txt
  localisation/anb_raghamidesh_flavour_l_english.yml
Due: Localization Encoding

endless expedition fix by WR and Jothell
  events/DiggyDiggyEncounters.txt
Due: Events Encoding

misspelling fixes
  common/ideas/anb_country_ideas.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  localisation/Flavour_Zuvavim_L09_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

Fix
  common/event_modifiers/anb_gozengun_modifiers.txt
  common/peace_treaties/anb_tributary.txt
  common/scripted_effects/02_scripted_effects_unlocks.txt
  common/subject_types/00_subject_types.txt
  history/countries/Y09 - Bianfang.txt
Due: none

.
  events/Flavour_Tsukqiao.txt
Due: Events Encoding

Zena MT 2.02
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/zena_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  events/Flavour_Zena_L06.txt
  localisation/Flavour_Zena_L06_l_english.yml
  missions/Zena Missions.txt
Due: Events Encoding, Localization Encoding

Badakhan government gfx
  common/custom_gui/countrygovernmentview.txt
  common/custom_gui/zz_mission_content.txt
  common/government_mechanics/badakhan_orcish_soul.txt
  gfx/interface/alerticons_government_mechanics.dds
  gfx/interface/government_mechanics/badakhan_orcish_soul/orcish_soul_bar_empty.dds
  gfx/interface/government_mechanics/badakhan_orcish_soul/orcish_soul_bar_frame.dds
  gfx/interface/government_mechanics/badakhan_orcish_soul/orcish_soul_bar_full.dds
  gfx/interface/government_mechanics/badakhan_orcish_soul/orcish_soul_bg.dds
  gfx/interface/government_mechanics/badakhan_orcish_soul/orcish_soul_ethos.dds
  gfx/interface/government_mechanics/badakhan_orcish_soul/orcish_soul_followers.dds
  gfx/interface/government_mechanics/badakhan_orcish_soul/orcish_soul_reality.dds
  interface/alerts.gfx
  interface/countrygovernmentview.gui
  interface/government_mechanics/anb_government_mechanics.gfx
  interface/government_mechanics/badakhan_orcish_soul.gui
Due: none

endhuvi fixes
  common/custom_gui/provinceview.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Localization Encoding

Fix
  events/Flavour_Star_Rider_I69.txt
Due: Events Encoding

hyti patch
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Hytiranyalen_F81.txt
  localisation/Flavour_Hytiranyalen_F81_l_english.yml
  missions/Hytiranyalen_Missions.txt
Due: Events Encoding, Localization Encoding

Xhurekal bulwari spells+half elf lifespan fix
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/BulwarFormables.txt
  history/countries/F96 - Xhurekal.txt
Due: Decisions Encoding

Update file 01_government_reforms_monarchies.txt
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

Code Review 1
  common/church_aspects/anb_irdaeos_worship_aspects.txt
  common/scripted_effects/anb_scripted_effects.txt
  localisation/Flavour_Star_Rider_I69_l_english.yml
Due: Localization Encoding

Readding Cafana
  common/on_actions/00_on_actions.txt
Due: none

Missing effects
  common/church_aspects/anb_irdaeos_worship_aspects.txt
  common/on_actions/00_on_actions.txt
Due: none

Events
  events/Flavour_Star_Rider_I69.txt
Due: Events Encoding

Update file 00_governments.txt
  common/governments/00_governments.txt
Due: none

huugeta mt refinement
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_huugeta_modifiers.txt
  common/mercenary_companies/0_anb_sarhal_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/anb_huugeta_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects.txt
  customizable_localization/anb_custom_huugeta_localization.txt
  events/Flavour_Huugeta_S45.txt
  history/countries/S45 - Huugeta.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Huugeta_Missions.txt
Due: Events Encoding, Localization Encoding

Comments
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

Code Review
  common/custom_gui/provinceview.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Star_Rider_I69.txt
Due: Events Encoding

Update file Flavour_Skurkokli_J47_l_english.yml
  localisation/Flavour_Skurkokli_J47_l_english.yml
Due: Localization Encoding

Lichdom Project Setup
  common/custom_gui/magic_menu.txt
  common/custom_gui/magic_unique_projects.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  customizable_localization/anb_magic_menus_localization.txt
  decisions/MagicDecisions.txt
  events/Flavour_Black_Herd_I55.txt
  events/Magic_System_Events.txt
  interface/topbar.gui
  localisation/Flavour_Black_Herd_I55_l_english.yml
  localisation/anb_magic_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Fixes
  common/custom_gui/magic_unique_projects.txt
  interface/topbar.gui
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
