Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

commit
  common/event_modifiers/anb_vaengheim_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/parliament_issues/anb_vaengheim.txt
  common/scripted_effects/vaengheim_scripted_effects.txt
  decisions/VaengheimDecisions.txt
  events/Flavour_Vaengheim_Z88.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Cheshosoni starting rulers
  history/countries/G07 - Dokanto.txt
  history/countries/G08 - Shofa.txt
  history/countries/G09 - Soru.txt
Due: none

New harpy loc
  localisation/anb_racial_pop_l_english.yml
Due: Localization Encoding

parliamentsystem
  common/event_modifiers/anb_vaengheim_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_vaengheim.txt
  events/Flavour_Vaengheim_Z88.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
Due: Events Encoding, Localization Encoding

starting hegemonic magic reorg
  common/custom_gui/magic_menu.txt
  common/estate_agendas/anb_mages_agendas.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/99_artificers.txt
  common/event_modifiers/anb_spell_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_effects/anb_scripted_effects_magic_duel.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_custom_loca.txt
  customizable_localization/anb_magic_menus_localization.txt
  decisions/Magic.txt
  events/Flavour_Aelnar_Z43.txt
  events/Flavour_Black_Demesne_Z99.txt
  events/MagicMiscEvents.txt
  events/MagicOnAction.txt
  events/MagicStudy.txt
  events/Magic_Project_Events.txt
  events/Magic_Spell_Events.txt
  events/Magic_System_Events.txt
  localisation/Flavour_Aelnar_Z43_l_english.yml
  localisation/Flavour_BlackDemesne_Z99_l_english.yml
  localisation/anb_magic_misc_events_l_english.yml
  localisation/anb_magic_on_action_l_english.yml
  localisation/anb_magic_ruler_l_english.yml
  localisation/anb_magic_study_l_english.yml
  localisation/anb_magic_system_l_english.yml
  localisation/magic_spell_events_l_english.yml
  localisation/magic_system_events_l_english.yml
  magictextgen.sh
  missions/Esthil_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

bulwar ting
  common/on_actions/00_on_actions.txt
  events/Flavour_Bulwar.txt
Due: Events Encoding

fixing merge
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Black Doctrine Rework
  common/church_aspects/anb_black_doctrine.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/religions/00_anb_religion.txt
  events/WitchKing.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

beast memory work
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  customizable_localization/anb_beast_memory_custom_loc.txt
  events/Beast_Memory_Events.txt
  localisation/beast_memory_l_english.yml
Due: Events Encoding, Localization Encoding

command stuff
  common/estates/102_wolf_command.txt
  common/estates/103_boar_command.txt
  common/estates/104_lion_command.txt
  common/estates/105_dragon_command.txt
  common/estates/106_elephant_command.txt
  common/estates/107_tiger_command.txt
  common/event_modifiers/anb_rahen_modifiers.txt
Due: none

Fix spellbook bug and rework big graphic
  common/custom_gui/magic_menu.txt
  interface/countrydecisionsview.gfx
  interface/countrydecisionsview.gui
Due: none

Make UI always accessible
  common/custom_gui/magic_menu.txt
Due: none

work
  common/cb_types/00_cb_types.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/estates/95_monstrous_tribe.txt
  common/scripted_triggers/anb_scripted_triggers_for_xhazobkult.txt
  common/subject_types/00_subject_types.txt
  history/countries/A49 - Xanzerbexis.txt
  history/countries/F28 - Tluukt.txt
  history/countries/F29 - Zokka.txt
  history/countries/F54 - Koggraffa.txt
  history/countries/F55 - Kogzalla.txt
  history/countries/F65 - Tzilekal.txt
  history/countries/F71 - Rakkaz.txt
  history/countries/U07 - Viakkoc.txt
  history/countries/U09 - Gnollakaz.txt
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

frame and tooltip fix
  common/custom_gui/magic_menu.txt
  magictextgen.sh
Due: none

fixes
  decisions/ArawkelinDeforestation.txt
  events/Flavour_Arawkelin_Y65.txt
Due: Decisions Encoding, Events Encoding

disable some spirit events for supernaturally bound faith
  events/HalessiSpirits.txt
Due: Events Encoding

many bugfix
  events/estate_mages.txt
  history/countries/G24 - Gomosengha.txt
  localisation/Flavour_Rahen_l_english.yml
  missions/Elikhand_Missions.txt
Due: Events Encoding, Localization Encoding

fix
  common/on_actions/00_on_actions.txt
Due: none

forgive me my sins
  localisation/Flavour_Arawkelin_Y65_l_english.yml
Due: Localization Encoding

Cleanup redundant magic proficiency flags, fix frames
  common/custom_gui/magic_menu.txt
  history/countries/A30 - Wex.txt
  history/countries/A53 - Aramari Temple.txt
  history/countries/A85 - Magisterium.txt
  history/countries/A93 - Estallen.txt
  history/countries/A94 - Gabmorionn.txt
  history/countries/F27 - Ayarallen.txt
  history/countries/F28 - Tluukt.txt
  history/countries/F29 - Zokka.txt
  history/countries/F42 - Varamhar.txt
  history/countries/F50 - Mulen.txt
  history/countries/F61 - Muhaqaar.txt
  history/countries/F63 - Aramoole.txt
  history/countries/G15 - Sel'parura.txt
  history/countries/G51 - Arpedifer.txt
  history/countries/G82 - Nagar Vyechei.txt
  history/countries/H01 - Arakeprun.txt
  history/countries/H02 - Murdkather.txt
  history/countries/H10 - Einnsag.txt
  history/countries/H16 - Gemradcurt.txt
  history/countries/H82 - Greedy grin.txt
  history/countries/I28 - Salla Drennen.txt
  history/countries/I42 - Blackmoon Clan.txt
  history/countries/J18 - Narkel.txt
  history/countries/J46 - Frosthide.txt
  history/countries/J83 - Airoa Naditari.txt
  history/countries/L25 - Sakul.txt
  history/countries/R05 - Tughayasa.txt
  history/countries/R26 - Khiraspid.txt
  history/countries/S28 - Inshibonde.txt
  history/countries/S30 - Death_Bringing_Cobra.txt
  history/countries/S37 - Swift_Legged_Bongo.txt
  history/countries/S59 - Wezingoa.txt
  history/countries/U37 - Behzmukijabu.txt
  history/countries/V12 - Kuenan Nirokyu.txt
  history/countries/Y26 - Yinquan.txt
  history/countries/Y75 - Tlagapatung.txt
Due: none

province button UI part 2
  decisions/XanzerbexisDecisions.txt
  interface/provinceview.gui
  localisation/Flavour_Xanzerbexis_A49_l_english.yml
  missions/Xanzerbexis_Missions.txt
Due: Decisions Encoding, Localization Encoding

Weeping Mother
  common/fervor/anb_weepingmother_fervor.txt
  common/religions/00_anb_religion.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

pure zuggin
  common/event_modifiers/anb_istralore_modifiers.txt
  events/Flavour_Istralore_A45.txt
  missions/Istralore_Missions.txt
Due: Events Encoding

name change in my folder
  anbennar-eu4-dev.mod
Due: none

implementing fahes bugfixes
  decisions/RajDecisions.txt
  events/RahenRajEvents.txt
Due: Decisions Encoding, Events Encoding

asdg
  events/RahenRajEvents.txt
Due: Events Encoding

more work
  common/event_modifiers/anb_vaengheim_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_vaengheim.txt
  decisions/SkaldhyrricDecisions.txt
  events/Flavour_Vaengheim_Z88.txt
  events/Skaldhyrric.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Vaengheim_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Update old wyvern farm
  decisions/XanzerbexisDecisions.txt
  localisation/Flavour_Xanzerbexis_A49_l_english.yml
Due: Decisions Encoding, Localization Encoding

more stuff
  common/estate_privileges/03_burgher_privileges.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
  missions/Hisost_Yamok_Missions.txt
  missions/Vaengheim_Missions.txt
Due: Localization Encoding

bypassfix
  missions/Hisost_Yamok_Missions.txt
Due: none

reenabling event chain, tweaks
  common/government_reforms/01_government_reforms_monarchies.txt
  events/RahenRajEvents.txt
  localisation/anb_governments_l_english.yml
  localisation/raj_l_english.yml
Due: Events Encoding, Localization Encoding

the on_action
  common/on_actions/00_on_actions.txt
Due: none

Fixes to past commits
  common/estate_privileges/03_burgher_privileges.txt
  common/great_projects/anb_monuments_cannor.txt
Due: none

Where is my "Fix indentation" button?
  common/estate_privileges/03_burgher_privileges.txt
  common/great_projects/anb_monuments_cannor.txt
Due: none

xp bug fix
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none
