Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

added a copy autocracy reform to give SF cawa when they turn dictator. Suggested by Tritone
  common/government_reforms/01_government_reforms_monarchies.txt
  events/Flavour_SallaFealgarn_I30.txt
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
Due: Events Encoding, Localization Encoding

Serpentgard NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Pashaine fixes
  events/Flavour_Pashaine_B59.txt
  localisation/Flavour_Pashaine_B59_l_english.yml
  missions/Pashaine_Missions.txt
Due: Events Encoding, Localization Encoding

Reform changes
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/anb_kheionai_l_english.yml
Due: Localization Encoding

Small loc fix
  localisation/Flavour_Pashaine_B59_l_english.yml
Due: Localization Encoding

fix
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
Due: none

More Discord Updates "hmm" thread
  events/PlanetouchedEvents.txt
  localisation/anb_planetouched_l_english.yml
Due: Events Encoding, Localization Encoding

[steam] Yuanszi and Gushuokguan bugfixes
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Yuanszi_Y89_l_english.yml
  localisation/anb_religions_l_english.yml
  missions/Gushuokguan_Missions.txt
Due: Localization Encoding

Final Balance for Digovedan
  common/ideas/CoT_country_ideas.txt
  localisation/CoT_mission_modifiers_l_english.yml
Due: Localization Encoding

Fix typo in lizard agenda
  common/estate_agendas/anb_naga_agendas.txt
Due: none

Fix 333 disaster end not removing collapsed faith
  events/Flavour_Khatalashya_S81.txt
Due: Events Encoding

Fix typo in Alashakan privilege
  common/estate_privileges/anb_privileges.txt
Due: none

Fix 333 missions
  missions/Khatalashya_Missions.txt
Due: none

Fix naga agenda failure causing multiplayer desync
  common/estate_agendas/anb_naga_agendas.txt
Due: none

Fix
  events/Flavour_Karshyr_S15.txt
  localisation/Flavour_Karshyr_S15_l_english.yml
  missions/Karshyr_Missions.txt
Due: Events Encoding, Localization Encoding

Fix Khatalashya loc typo
  events/Flavour_Khatalashya_S81.txt
  localisation/Flavour_khatalashya_S81_l_english.yml
Due: Events Encoding, Localization Encoding

retooled chi gain methods
  common/buildings/00_buildings.txt
  common/church_aspects/anb_accretive_path.txt
  common/estate_crown_land/00_interactions.txt
  common/event_modifiers/accretive_path_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  customizable_localization/anb_accretive_path.txt
  localisation/accretive_path_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

mage effect update
  events/Flavour_Khatalashya_S81.txt
  events/Flavour_Verne_A33.txt
  events/RintaSeekerEvents.txt
Due: Events Encoding

Province History Update
  history/provinces/281 - Plumwall.txt
  history/provinces/284 - Thanallen.txt
  history/provinces/306 - Wexkeep.txt
  history/provinces/311 - Ashfield.txt
  history/provinces/320 - Livergrave.txt
  history/provinces/327 - Cestaire.txt
  history/provinces/328 - Silvelar.txt
  history/provinces/329 - Bluehart.txt
  history/provinces/510 - Bal_Ouord.txt
  history/provinces/587 - Bellacaire.txt
  history/provinces/7994 - ZProvSeven.txt
  history/provinces/7996 - ZProvFive.txt
  history/provinces/8 - Anbenncost.txt
  history/provinces/898 - Aranthil.txt
  history/provinces/902 - Embergarden.txt
  history/provinces/907 - Vinerick.txt
  map/area.txt
  map/region.txt
  map/terrain.txt
Due: none

wyvern-riders 6 shock
  events/Flavour_Verne_A33.txt
Due: Events Encoding

Making numbers nicer to sate my ocd
  common/ideas/CoT_country_ideas.txt
Due: none

small adjustments
  common/church_aspects/anb_transmutative_path.txt
  localisation/accretive_path_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

tooltip improvements
  common/scripted_triggers/anb_scripted_triggers_transmutative_path.txt
  customizable_localization/anb_transmutative_path.txt
  localisation/transmutative_path_l_english.yml
Due: Localization Encoding

Dartax Fix and Roilsard change
  localisation/Flavour_Dartaxagerdim_F22_l_english.yml
  missions/Roilsard_missions.txt
Due: Localization Encoding

gubfixes
  events/SarhalEvents.txt
  history/countries/L95 - Rayaz.txt
  missions/Rayaz_Missions.txt
Due: Events Encoding

Wex and Lorent Mission misc
  Z.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/triggered_modifiers/COT_triggered_modifiers.txt
  decisions/WexDecisions.txt
  events/Flavour_Wex_A30.txt
  localisation/CoT_mission_modifiers_l_english.yml
  localisation/Flavour_Lorent_A01_l_english.yml
  localisation/Flavour_Wex_A30_l_english.yml
  missions/Wex_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Altorzamh NIs
  common/ideas/anb_country_ideas.txt
  decisions/CentaurDecisions.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Localization Encoding

Fix
  missions/Roilsard_missions.txt
Due: none

Imported everything with farranean in its name
  common/disasters/estate_adventurers_disaster.txt
  common/disasters/estate_artificers_disaster.txt
  common/disasters/estate_burghers_disaster.txt
  common/disasters/estate_castonath_patricians_disaster.txt
  common/disasters/estate_church_disaster.txt
  common/disasters/estate_mages_disaster.txt
  common/disasters/estate_nobility_disaster.txt
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/03_burgher_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_farranean.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  decisions/1EscannFormables.txt
  events/AdventurerFormables.txt
  events/ConsortEvents.txt
  events/CorruptionEvents.txt
  events/CultureandReligionEvents.txt
  events/EscanniWars.txt
  events/Flavour_Farranean_B60.txt
  events/RandomEvents.txt
  localisation/Flavour_Farranean_B60_l_english.yml
  missions/FarraneanMissions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Adding missions row by row - row 1
  missions/FarraneanMissions.txt
Due: none

sacking transmuter's gold gives more
  events/Magic_Spell_Events.txt
Due: Events Encoding

Pashaine + loc fix
  common/estate_crown_land/00_interactions.txt
  localisation/anb_magic_projects_l_english.yml
  missions/Pashaine_Missions.txt
Due: Localization Encoding

Fix
  localisation/Flavour_Karshyr_S15_l_english.yml
Due: Localization Encoding

updates
  events/Flavour_Konolkhatep_F66.txt
  events/OneXia.txt
  missions/Xia_Missions.txt
Due: Events Encoding

[Steam] Round Two Ung Fixes
  events/Flavour_Unguldavor_Z52.txt
  localisation/anb_countries_l_english.yml
  missions/Unguldavori_Missions.txt
Due: Events Encoding, Localization Encoding

Failsafe
  missions/Unguldavori_Missions.txt
Due: none

Fixing Tax Modifier
  common/estate_privileges/anb_privileges.txt
Due: none

AI chance update
  decisions/MagicDecisions.txt
Due: Decisions Encoding

Brambleskinner - full coop with Landshark
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Brambleskinner_I35.txt
  localisation/Flavour_Brambleskinner_I35_l_english.yml
  missions/Brambleskinner_Missions.txt
Due: Events Encoding, Localization Encoding

pashaine fixes
  events/Flavour_Pashaine_B59.txt
  missions/Pashaine_Missions.txt
Due: Events Encoding
