Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

draft made it in along final loc
  localisation/Flavour_Luna_River_Minors_l_english.yml
Due: Localization Encoding

typo
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

cant embargo your own subject
  common/estate_agendas/03_burgher_agendas.txt
Due: none

Colour code closing `!` (all but `covenblad_arbiter_event_tooltip_tt` due to merge conflict)
  localisation/Flavour_DurVazhatun_I03_l_english.yml
  localisation/Flavour_Gawed_A13_l_english.yml
  localisation/Flavour_Karakhanbar_Z54_l_english.yml
  localisation/Flavour_Kobildzan_Z38_l_english.yml
  localisation/Flavour_Lorent_A01_l_english.yml
  localisation/Flavour_Newshire_B50_l_english.yml
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
  localisation/anb_drozma_tur_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
  localisation/anb_vyzemby_l_english.yml
  localisation/artifice_l_english.yml
Due: Localization Encoding

[Steam] Konol add Edict of Appeasment to culture conversion button
  common/scripted_effects/konolkhatap_scripted_effects.txt
Due: none

Ope
  customizable_localization/anb_custom_loca_centaurs.txt
Due: none

Ope
  common/custom_gui/countryreligionview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
Due: none

typo
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Localization Encoding

match tt to effect
  localisation/Flavour_Pashaine_B59_l_english.yml
Due: Localization Encoding

seven ate nine
  localisation/Flavour_khatalashya_S81_l_english.yml
Due: Localization Encoding

error log fixes
  common/peace_treaties/anb_farrani_revolt.txt
  events/Flavour_Moredhal_B62.txt
  events/Flavour_Salla_Drennen_I28.txt
  localisation/Flavour_Moredhal_B62_l_english.yml
Due: Events Encoding, Localization Encoding

allow the upgraded prov mod as well
  missions/Gronstunad_Missions.txt
Due: none

Auto stash before merge of "new-master" and "anbpubfork/new-master"
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/HarpyEvents.txt
  localisation/Group_Flavour_Harpies_l_english.yml
Due: Events Encoding, Localization Encoding

event picture missing
  events/estate_vampires.txt
Due: Events Encoding

Vic League - Code optimisation
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Last Round Fixes
  common/on_actions/00_on_actions.txt
  events/Flavour_Venomtooth_B22.txt
  localisation/Flavour_Venomtooth_B22_l_english.yml
Due: Events Encoding, Localization Encoding

Generic harpy events
  common/event_modifiers/anb_event_modifiers.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/HarpyEvents.txt
  localisation/Group_Flavour_Harpies_l_english.yml
Due: Events Encoding, Localization Encoding

speeding up event 1
  missions/Salla_Elyn_missions.txt
Due: none

Last minute event images
  events/Flavour_Golden_Tremor_I57.txt
Due: Events Encoding

fixes
  common/buildings/00_buildings.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Deranne_A02.txt
  localisation/Flavour_Deranne_A02_l_english.yml
  localisation/Flavour_Rosande_Z35_l_english.yml
Due: Events Encoding, Localization Encoding

typo actively collusion to active collusion
  localisation/Flavour_Pashaine_B59_l_english.yml
Due: Localization Encoding

sanity check for LRM agenda
  common/estate_agendas/02_noble_agendas.txt
Due: none

[new-master] Mykx Flavor Events
  common/on_actions/00_on_actions.txt
  events/Flavour_Mykx_G93.txt
  localisation/Flavour_Mykx_G93_l_english.yml
Due: Events Encoding, Localization Encoding

clear the magic ban on forming the mage country
  missions/Effelai_Missions.txt
Due: none

typo in modif name
  localisation/kobold_traps_l_english.yml
Due: Localization Encoding

magical fortress eco mod
  common/buildings/00_buildings.txt
  common/event_modifiers/anb_magic_modifiers.txt
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

events done
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Bulwar.txt
  localisation/Flavour_Bulwar_l_english.yml
Due: Events Encoding, Localization Encoding

generic harpy event fixes
  common/on_actions/00_on_actions.txt
  events/HarpyEvents.txt
Due: Events Encoding

Spiked Log batch of fixes
  customizable_localization/anb_custom_loca.txt
  events/Flavour_Spiked_Log_I36.txt
  localisation/Flavour_Spiked_Log_I36_l_english.yml
  missions/Spiked_Log_Missions.txt
Due: Events Encoding, Localization Encoding

reverted - this isnt it
  missions/Effelai_Missions.txt
Due: none

Spiked Log Event pictures + mission icon
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_Spiked_Log_I36.txt
Due: Events Encoding

removed duplicated area
  localisation/anb_areas_l_english.yml
  map/area.txt
  map/region.txt
Due: Localization Encoding

harpy roost or fix
  events/HarpyEvents.txt
Due: Events Encoding

This is getting too massive
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Bulwar.txt
Due: Events Encoding

loc fix stone forts
  localisation/Flavour_Gushuokguan_Y17_l_english.yml
Due: Localization Encoding

fixed typo in loc name
  localisation/Flavour_TaychendiEmpire_J84_l_english.yml
Due: Localization Encoding

Golden Tremor Changes
  common/custom_gui/provinceview.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/rebel_types/pretender.txt
  events/Flavour_Golden_Tremor_I57.txt
  history/countries/I57 - Golden Tremor.txt
  localisation/Flavour_Golden_Tremor_I57_l_english.yml
Due: Events Encoding, Localization Encoding

Temple of undying fale scope fix
  events/HalessiSpirits.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
