Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Fix Aelnar mission allow moving capital
  missions/Aelnar_Missions.txt
Due: none

Adjust Cyranvar MT to hide inactive path
  events/Flavour_Cyranvar_I45.txt
  missions/Cyranvar_Missions.txt
Due: Events Encoding

wao nakahea ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

event
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/drozma_tur_scripted_effects.txt
  interface/countryreligionview.gui
Due: none

Roosts: Queen's Throne
  common/great_projects/anb_monuments_bulwar.txt
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

Roosts: Flourishing Roost construction
  common/event_modifiers/anb_harpy_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
  events/HarpyEvents.txt
Due: Events Encoding

Roosts: Misc loc
  localisation/Group_Flavour_Harpies_l_english.yml
Due: Localization Encoding

Stuff + MagicalInfrastructure upgrade triggers
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Fix conflicting loc name
  events/InfernalCourtEvents.txt
  localisation/infernal_court_l_english.yml
Due: Events Encoding, Localization Encoding

Yidablaerun fix
  events/DiggyDiggyDungeons.txt
  localisation/anb_diggy_diggy_hole_dungeon_l_english.yml
Due: Events Encoding, Localization Encoding

Roosts: tier 3 + Mulen migration
  common/buildings/00_buildings.txt
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
  decisions/MulenDecisions.txt
  interface/provinceview.gui
  localisation/Group_Flavour_Harpies_l_english.yml
  missions/Mulen_Missions.txt
Due: Decisions Encoding, Localization Encoding

zokka
  events/Flavour_Zokka_F29.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Events Encoding, Localization Encoding

uhhhh
  events/Flavour_Rayaz_L95.txt
  localisation/Flavor_Rayaz_R95_l_english.yml
  missions/Rayaz_Missions.txt
Due: Events Encoding, Localization Encoding

UI tooltips, started estate privileges
  common/custom_gui/magic_menu.txt
  common/estate_privileges/estate_mages.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_estate_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

zokka
  common/government_names/00_0anbennar_unique_names.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

Fix allow Truedagger priv after formable
  common/estate_privileges/anb_privileges.txt
Due: none

fixes for Asarta
  events/Flavour_Asarta_L96.txt
  localisation/Flavour_Asarta_L96_l_english.yml
  missions/Asarta_Missions.txt
Due: Events Encoding, Localization Encoding

wineport
  common/event_modifiers/anb_mission_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Wineport_A16.txt
  localisation/Flavour_Wineport_A16_l_english.yml
  missions/WineportMissions.txt
Due: Events Encoding, Localization Encoding

Roosts: Fixes
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
  localisation/Group_Flavour_Harpies_l_english.yml
Due: Localization Encoding

Fix bug when reloading save from 1444
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

The Bladeskeep
  common/great_projects/anb_monuments_cannor.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_Rosande_Z35.txt
  events/Flavour_Stalbor_B47.txt
  history/provinces/817 - Bladeskeep.txt
  interface/anb_great_project.gfx
  localisation/anb_great_projects_l_english.yml
Due: Events Encoding, Localization Encoding

hmnoblock
  common/custom_gui/countryreligionview.txt
  common/on_actions/00_on_actions.txt
  customizable_localization/anb_customizable_localization.txt
  events/Flavour_Uesrennu_J78.txt
  events/OrenNayiruEvents.txt
  gfx/interface/religion_block_convert_button.dds
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
  localisation/Flavour_Uesrennu_J78_l_english.yml
  localisation/anb_mercs_l_english.yml
  missions/Uesrennu_Missions.txt
Due: Events Encoding, Localization Encoding

Roosts: Alert for roost available
  common/government_mechanics/anb_dummy_roost.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/04_government_reforms_tribes.txt
  interface/government_mechanics/dummy_roosts_mech.gui
  localisation/Group_Flavour_Harpies_l_english.yml
Due: Localization Encoding

Revert "Roosts: Alert for roost available"
  common/government_mechanics/anb_dummy_roost.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/04_government_reforms_tribes.txt
  interface/government_mechanics/dummy_roosts_mech.gui
  localisation/Group_Flavour_Harpies_l_english.yml
Due: Localization Encoding

Roosts: Axing the old decision
  decisions/HarpyDecisions.txt
Due: Decisions Encoding

Bladeskeep fix
  common/event_modifiers/anb_mission_modifiers.txt
  common/great_projects/anb_monuments_cannor.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_Blademarches_B33.txt
  events/Flavour_Rosande_Z35.txt
  events/Flavour_Stalbor_B47.txt
  history/provinces/817 - Bladeskeep.txt
  localisation/anb_great_projects_l_english.yml
Due: Events Encoding, Localization Encoding

Keep unique artificer name on tagswitch
  common/estates/99_artificers.txt
Due: none

bladeskeep fix
  common/great_projects/anb_monuments_cannor.txt
  common/on_actions/00_on_actions.txt
Due: none

New racial event options for expeditions
  events/DiggyDiggyEncounters.txt
  localisation/anb_diggy_diggy_hole_encounters_l_english.yml
Due: Events Encoding, Localization Encoding

test
  interface/countryreligionview.gfx
Due: none

crlflfcrlflfcrlflfcrlflfcrlflf
  common/on_actions/00_on_actions.txt
  customizable_localization/anb_customizable_localization.txt
  events/OrenNayiruEvents.txt
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
Due: Events Encoding

linessssssss
  common/custom_gui/countryreligionview.txt
  interface/countryreligionview.gui
Due: none

ahhhh
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
Due: none

fix
  common/event_modifiers/anb_hisost_modifiers.txt
Due: none

Toarnaire MT
  common/estate_privileges/anb_privileges.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_toarnaire_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_custom_corveldcity.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/CorveldCity.txt
  events/Flavour_Toarnaire_Z68.txt
  events/MagicEstates.txt
  localisation/anb_toarnaire_l_english.yml
Due: Events Encoding, Localization Encoding

Toarnaire MT (2)
  missions/Toarnaire_Missions.txt
Due: none

Patrician tolerance privilege trigger fix
  common/estate_privileges/estate_patricians_privileges.txt
Due: none

loca
  localisation/Flavour_Corvuria_A59_l_english.yml
Due: Localization Encoding

Lizardfolk Admin and Military changes
  common/event_modifiers/racial_admin_military.txt
Due: none

Spire monument change
  common/great_projects/anb_monuments_sarhal.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
