Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Minor loc change
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Another loc change
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Work
  events/Gerudia.txt
Due: Events Encoding

c
  common/on_actions/00_on_actions.txt
  localisation/flavour_dogeater_b28_l_english.yml
  missions/Dogeater_Missions.txt
Due: Localization Encoding

some wrong loc magic
  localisation/anb_racial_l_english.yml
Due: Localization Encoding

false amount
  history/provinces/6678 - Qasri_Maroodiqya.txt
Due: none

d
  missions/Dogeater_Missions.txt
Due: none

Aelantir Trade Good new setup
  common/tradegoods/00_tradegoods.txt
Due: none

Loc for 2 remaining Kheterata releasebles with small fix
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

more work
  common/church_aspects/anb_devouring_path.txt
  common/cultures/anb_cultures.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/disasters/bim_lau_spirit_disaster.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estates/02_nobility.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_racial_election_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/BeiklingDecisions.txt
  events/Flavour_Tsukqiao.txt
  interface/countryview.gfx
  localisation/Flavour_Tsukqiao_Z60_l_english.yml
  localisation/anb_cultures_l_english.yml
  localisation/anb_decisions_l_english.yml
  missions/Tsukqiao_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

updated tooltip to include free cores
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

added free territorial core for sedentarizers
  common/scripted_effects/forbidden_land_scripted_effects.txt
Due: none

2 Haless Formables and a New Culture
  common/church_aspects/anb_accretive_path.txt
  common/church_aspects/anb_devouring_path.txt
  common/countries/Nirunkhupen.txt
  common/country_tags/anb_countries.txt
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_dormant_mechanim_scripted_effects.txt
  common/scripted_effects/anb_racial_election_scripted_effects.txt
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_haless.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/HalessiFormables.txt
  events/Flavour_Azkare_Y86.txt
  events/Flavour_LotDekkhang_Y58.txt
  events/ToleranceHarpy.txt
  events/anb_racial_admin_mil.txt
  events/anb_racial_pop_calculations.txt
  history/countries/R83 - Semifírë.txt
  history/countries/V29 - Nirunkhupen.txt
  history/provinces/6300 - Pu Wichan.txt
  localisation/Flavour_LotDekkhang_Y58_l_english.yml
  localisation/anb_countries_l_english.yml
  localisation/anb_cultures_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/anb_ruler_l_english.yml
  localisation/anb_spirit_forts_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Salla Myna Change
  missions/Salla_Myna_Missions.txt
Due: none

Some Fixes
  common/church_aspects/anb_devouring_path.txt
  common/ideas/anb_country_ideas.txt
  events/Flavour_Azkare_Y86.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_formable_countries_l_english.yml
Due: Events Encoding, Localization Encoding

Update!
  common/countries/HolohanaCountry.txt
  common/ideas/anb_country_ideas.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_holohana.txt
  common/scripted_triggers/anb_scripted_triggers_holohana.txt
  events/anb_settings.txt
  events/holohana_events.txt
  run.txt
Due: Events Encoding, Brackets Syntax

Hopefully thats all
  common/church_aspects/anb_devouring_path.txt
  common/countries/Nirunkhupen.txt
  common/religions/00_anb_religion.txt
  decisions/HalessiFormables.txt
  localisation/anb_religions_l_english.yml
Due: Decisions Encoding, Localization Encoding

fix
  events/Flavour_Deranne_A02.txt
  localisation/Flavour_Deranne_A02_l_english.yml
Due: Events Encoding, Localization Encoding

Bit more
  common/event_modifiers/anb_mission_modifiers.txt
  history/countries/Z08 - Bjarnrik.txt
  localisation/Flavour_Bjarnrik_Z08_l_english.yml
Due: Localization Encoding

a
  localisation/Flavour_Deranne_A02_l_english.yml
Due: Localization Encoding

.
  common/church_aspects/anb_devouring_path.txt
Due: none

consolidating on_dev_exploited on actions
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Hisost_Yamok_S23.txt
  history/countries/A45 - Istralore.txt
  history/countries/I36 - Spiked Log.txt
  history/countries/Z18 - Frozenmaw.txt
  localisation/Flavour_Hisost_Yamok_S23_l_english.yml
  localisation/anb_tooltips_l_english.yml
  missions/Frozenmaw_Missions.txt
  missions/Hisost_Yamok_Missions.txt
  missions/Istralore_Missions.txt
  missions/Spiked_Log_Missions.txt
Due: Events Encoding, Localization Encoding

mo
  common/church_aspects/anb_devouring_path.txt
  decisions/HalessiFormables.txt
  gfx/flags/V29.tga
Due: Decisions Encoding

Wrong flag
  gfx/flags/V29.tga
Due: none

elved
  missions/Irrliam_Missions.txt
Due: none

Loc error fix
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

hidden construction bug
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

1st
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_Endhuvi_R36.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Events Encoding, Localization Encoding

oops
  events/Flavour_Endhuvi_R36.txt
Due: Events Encoding

2nd
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Endhuvi_R36.txt
Due: Events Encoding

3rd + mission icon
  events/Flavour_Endhuvi_R36.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Events Encoding, Localization Encoding

more changes
  common/estate_privileges/estate_lowercastes_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/event_modifiers/anb_spirit_modifiers.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  decisions/EndhuviDecision.txt
  decisions/TempleDecisions.txt
  events/Flavour_Endhuvi_R36.txt
  events/HalessiSpirits.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

some changes
  customizable_localization/00_customizable_localization.txt
  decisions/EndhuviDecision.txt
  events/Flavour_Endhuvi_R36.txt
  history/countries/R36 - Endhuvi.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

fix 4
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/rebel_types/elephant_stampedes.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/Flavour_Endhuvi_R36.txt
  events/Magic_Ruler_Events.txt
  events/RahenRajEvents.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
Due: Events Encoding, Localization Encoding

reform icon + change temp claim to perm
  common/government_reforms/01_government_reforms_monarchies.txt
  missions/Endhuvi_Missions.txt
Due: none

formable changes
  decisions/EndhuviDecision.txt
  decisions/RaheniFormables.txt
  events/Flavour_Endhuvi_R36.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

fix 5
  common/custom_gui/provinceview.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_haless.txt
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  decisions/EndhuviDecision.txt
  decisions/TempleDecisions.txt
  events/Flavour_Endhuvi_R36.txt
  events/HalessiSpirits.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

6th
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/spirits_scripted_effects.txt
  decisions/EndhuviDecision.txt
  events/Flavour_Endhuvi_R36.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

6.5
  common/event_modifiers/anb_mission_modifiers.txt
  decisions/RahenBloodLotus.txt
  events/Flavour_Endhuvi_R36.txt
  events/RahenBloodLotus.txt
  localisation/Flavour_Endhuvi_R36_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding
