Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

daaadddddddd
  localisation/Flavour_Brrtekuh_U10_l_english.yml
Due: Localization Encoding

transmutative paths rework
  common/church_aspects/anb_transmutative_path.txt
  common/custom_gui/provinceview.txt
  common/event_modifiers/transmutative_path_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/transmutative_path_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_transmutative_path.txt
  customizable_localization/anb_transmutative_path.txt
  events/Transmutative_Path_events.txt
  localisation/Flavour_VerkalOzovar_Y63_l_english.yml
  localisation/accretive_path_l_english.yml
  localisation/anb_diggy_diggy_hole_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/transmutative_path_l_english.yml
  missions/Zz_Thangoya_Missions.txt
Due: Events Encoding, Localization Encoding

loc fix
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

loc consistency
  localisation/accretive_path_l_english.yml
Due: Localization Encoding

E
  common/on_actions/00_on_actions.txt
  events/AelantirSpawnables.txt
  events/Flavour_Corinsfield_H35.txt
  missions/Corinsfield_Missions.txt
Due: Events Encoding

r
  missions/Corinsfield_Missions.txt
Due: none

bugfix suite
  common/estate_agendas/01_church_agendas.txt
  common/estate_agendas/02_noble_agendas.txt
  common/estate_agendas/03_burgher_agendas.txt
  common/estate_agendas/anb_adventurers_agendas.txt
  common/estate_agendas/anb_mages_agendas.txt
  common/estate_privileges/estate_mages_privileges.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/HarpyEvents.txt
  events/PersonalityEvents.txt
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

[Steam] Pashaine DLC exclusivity fix
  missions/Pashaine_Missions.txt
Due: none

celebration removes aspects now
  common/religions/00_anb_religion.txt
Due: none

bugfix
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

[Steam] Konol quick fix
  missions/Konolkhatep_Missions.txt
Due: none

never disable mandate reform, because pdx
  common/imperial_reforms/01_china.txt
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

konol first balancing act
  common/scripted_effects/konolkhatap_scripted_effects.txt
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
Due: Events Encoding, Localization Encoding

project misalignment
  events/Magic_Project_Events.txt
Due: Events Encoding

Fix use tabs consistently in khugradecisions.txt
  decisions/KhugraDecisions.txt
Due: Decisions Encoding

bugfix
  common/cb_types/00_cb_types.txt
  common/scripted_triggers/anb_scripted_triggers_early_escann.txt
  events/Flavour_ArgOrdstun_H76.txt
  events/Flavour_Gronstunad_I22.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_Luna_River_Minors_l_english.yml
  localisation/goblinic_shamanism_l_english.yml
  localisation/text_l_english.yml
  missions/Asarta_Missions.txt
  missions/HulazKrakazol_Missions.txt
  missions/Rayaz_Missions.txt
Due: Events Encoding, Localization Encoding

Fix
  missions/Karshyr_Missions.txt
Due: none

Fix
  localisation/Flavour_Karshyr_S15_l_english.yml
  missions/Karshyr_Missions.txt
Due: Localization Encoding

Tiboktsamo - Simplified PTM - Changed triggers to is_or_was_tag for tiboktsamo event options in vyzemby_flavour events and on_actions - Prevented unintentional duplication of kolodavoy modifier
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  events/Flavour_Tiboktsamo_L53.txt
  events/Flavour_Vyzemby.txt
Due: Events Encoding

QOL for MT
  common/event_modifiers/CoT_Mission_Modifiers.txt
  common/government_reforms/07_government_reforms_COT.txt
  common/ideas/CoT_country_ideas.txt
  events/CoT_digovedan_mission_events.txt
  events/CoT_market_events.txt
  missions/Digovedan_Missions.txt
Due: Events Encoding

Z89 ideas
  common/ideas/CoT_country_ideas.txt
Due: none

e
  events/AelantirSpawnables.txt
  missions/Corinsfield_Missions.txt
Due: Events Encoding

Dartax Event Fix
  events/Flavour_Dartaxagerdim_F22.txt
Due: Events Encoding

istralore fixes and vaengheim stuff
  common/parliament_issues/anb_istralore.txt
  events/Flavour_EoA_reforms.txt
  events/Flavour_Istralore_A45.txt
  localisation/anb_religions_l_english.yml
  missions/Istralore_Missions.txt
  missions/Vaengheim_Missions.txt
Due: Events Encoding, Localization Encoding

Add claims to 333 MT
  missions/Khatalashya_Missions.txt
Due: none

Fix typos
  localisation/Escann_Adventurers_Intro_l_english.yml
  localisation/Flavour_Unguldavor_Z52_l_english.yml
  localisation/Flavour_khatalashya_S81_l_english.yml
Due: Localization Encoding

Fix 333rd tooltip clarity
  missions/Khatalashya_Missions.txt
Due: none

Enable 333rd disaster icon
  interface/khatalashya_hivemind.gfx
Due: none

Fix event looking for exactly abjuration level 2
  events/FragmentOfThePrecursor.txt
Due: Events Encoding

Consolidate 333rd formable decisions
  decisions/EastSarhalFormables.txt
  decisions/KhugraDecisions.txt
Due: Decisions Encoding

Fix hide flag setting
  events/Group_Flavour_Lizardfolk.txt
Due: Events Encoding

highlights
  missions/Istralore_Missions.txt
Due: none

OR
  missions/Istralore_Missions.txt
Due: none

Adjust hide Khugra MT after forming 333
  missions/Khugra_Missions.txt
Due: none

EE
  common/imperial_reforms/00_hre_emperor.txt
  localisation/imperial_reforms_l_english.yml
Due: Localization Encoding

bypass not or
  missions/Istralore_Missions.txt
Due: none

Ameion fix
  events/Flavour_Ameion_G52.txt
Due: Events Encoding

minor loc fixes
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
Due: Localization Encoding

hmmm fixes
  events/Flavour_EOA.txt
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
