Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Levaajan Loc
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

.
  common/scripted_triggers/anb_scripted_triggers.txt
Due: none

orb of omniscience event chain
  common/custom_gui/magic_menu.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_other_custom_loca.txt
  events/Magic_Project_Events.txt
  events/Magic_System_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

Ovdal-az-An more fixes
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_OvdalAzAn_I19.txt
  localisation/Flavour_OvdalazAn_I19_l_english.yml
Due: Events Encoding, Localization Encoding

one more loc
  localisation/Flavour_OvdalazAn_I19_l_english.yml
Due: Localization Encoding

Raj Vizier Rework - Initial Implementation (#1)
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/RahenRajEvents.txt
Due: Events Encoding

Bal Dostan map model
  gfx/entities/anb_monuments.asset
  gfx/models/anbennar/monuments/ambient_objects_animation_anbennar.asset
  gfx/models/anbennar/monuments/bal_dostan.mesh
  gfx/models/anbennar/monuments/bal_dostan_diffuse.dds
  gfx/models/anbennar/monuments/bal_dostan_idle.anim
  gfx/models/anbennar/monuments/bal_dostan_normal.dds
  gfx/models/anbennar/monuments/bal_dostan_spec.dds
  interface/assets/anbennar_monuments.gfx
  map/ambient_object.txt
Due: none

fixes
  events/Flavour_OvdalAzAn_I19.txt
  missions/Ovdal_az_An_Missions.txt
Due: Events Encoding

dev
  common/scripted_effects/01_scripted_effects_for_estates.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

hehe jelly I stole ur comment
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

this
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
Due: none

OA fix
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
Due: Events Encoding, Localization Encoding

error log fixes
  localisation/Flavour_Degakheion_G46_l_english.yml
  localisation/anb_estates_l_english.yml
  missions/Averilibet_Missions.txt
  missions/Zokka_Missions.txt
Due: Localization Encoding

mhm
  common/custom_gui/countrydecisionsview.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

fix
  events/Flavour_OvdalAzAn_I19.txt
  missions/Ovdal_az_An_Missions.txt
Due: Events Encoding

Commented Out Eltikan Releasables
  common/countries/Gomairenu.txt
  common/countries/Tirboilte.txt
  common/country_tags/anb_countries.txt
  common/ideas/anb_country_ideas.txt
  history/countries/J68 - Tirboilte.txt
  history/countries/J69 - Gomairenu.txt
  history/provinces/2746 - Basothoam.txt
  history/provinces/2748 - Otzaluisghe.txt
  history/provinces/2751 - Urartola.txt
  history/provinces/2754 - Urargora.txt
  history/provinces/2755 - Tinideoro.txt
  history/provinces/2756 - Sereostina.txt
  history/provinces/2758 - Althungoti.txt
  history/provinces/2760 - Stausa.txt
  history/provinces/2766 - Sarkiona.txt
  history/provinces/2779 - Gotikana.txt
  history/provinces/2780 - Saluistinghe.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

hm
  common/great_projects/anb_monuments_sarhal.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

lull
  common/scripted_effects/artifice_scripted_effects.txt
Due: none

mhm
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
Due: none

in case
  missions/Celmaldor_Missions.txt
Due: none

from
  localisation/Flavour_Vaengheim_Z88_l_english.yml
Due: Localization Encoding

mitrenya bans necromancy
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  events/Flavour_Vels_Fadhecai_G38.txt
Due: Events Encoding

missions
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

That should be enough right?
  events/RendingMA.txt
Due: Events Encoding

encoding
  localisation/Flavour_EOA_l_english.yml
Due: Localization Encoding

improved theatre tooltips
  decisions/MagicDecisions.txt
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

pr changes
  localisation/anb_estates_l_english.yml
  missions/Averilibet_Missions.txt
Due: Localization Encoding

taychend empire encoding fix
  events/Flavour_Taychendi_Empire_J84.txt
Due: Events Encoding

karshyr fixes
  common/estates/02_nobility.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  localisation/Flavour_Karshyr_S15_l_english.yml
Due: Localization Encoding

tooltip coloring
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

Error Log Fix
  decisions/TaychendDecisions.txt
Due: Decisions Encoding

priv fix
  common/estate_privileges/estate_mages_privileges.txt
Due: none

konol fixes
  events/Flavour_Konolkhatep_F66.txt
Due: Events Encoding

Scope fix
  events/Flavour_Konolkhatep_F66.txt
Due: Events Encoding

5 added flags, one flag resolution fix
  gfx/flags/U47.tga
  gfx/flags/V23.tga
  gfx/flags/V24.tga
  gfx/flags/V25.tga
  gfx/flags/V26.tga
  gfx/flags/V28.tga
Due: none

Tiny fix
  common/scripted_effects/konolkhatap_scripted_effects.txt
Due: none

verinus fix
  common/great_projects/anb_monuments_cannor.txt
Due: none

Revert "please work"
  .gitignore
  Anbennar-PublicFork.mod
Due: none

Pictures
  events/RunefatherWorship.txt
Due: Events Encoding

Fixing Typos
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
  localisation/Flavour_Unguldavor_Z52_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
