Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

revolt nerf
  common/on_actions/00_on_actions.txt
Due: none

Saqraxat L04 MT
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/06_government_reforms_common.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Saqraxat_L04.txt
  history/countries/L04 - Saqraxat.txt
  localisation/Flavour_Saqraxat_L04_l_english.yml
  localisation/anb_regions_l_english.yml
  map/provincegroup.txt
  missions/Saqraxat_Missions.txt
Due: Events Encoding, Localization Encoding

Ope
  localisation/Flavour_Parahechend_J81_l_english.yml
Due: Localization Encoding

conquering gold is now temporary
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Code Review fixes.
  common/event_modifiers/anb_deepwoods_modifiers.txt
  common/on_actions/00_on_actions.txt
  decisions/DeepwoodsFormables.txt
  events/Flavour_Salla_Cenag_I29.txt
  localisation/anb_deepwoods_l_english.yml
  missions/Salla_Cenag_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Degakheion devreview fixes
  anbennar-eu4-dev.mod
  common/government_reforms/02_government_reforms_republics.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

mage privileges localised + new age privileges
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_mages_privileges.txt
  common/estates/97_mages.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  interface/countryestatesview.gfx
  localisation/anb_estate_mages_l_english.yml
  localisation/artifice_l_english.yml
Due: Localization Encoding

modifier key changes
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_mages_privileges.txt
  common/estates_preload/anb_estate_modifiers.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  common/static_modifiers/00_static_modifiers.txt
  events/Magic_System_Events.txt
  localisation/anb_magic_system_l_english.yml
Due: Events Encoding, Localization Encoding

a
  common/on_actions/00_on_actions.txt
Due: none

aa
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

making sure the images show up
  common/estate_privileges/estate_mages_privileges.txt
  gfx/interface/ideas_EU4/mages_monthly_experience.dds
  gfx/interface/ideas_EU4/max_estate_spell_levels.dds
Due: none

scope fix
  events/Flavour_Pashaine_B59.txt
Due: Events Encoding

oope1
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Salla_Ayeth_I33.txt
  localisation/Flavour_Salla_Ayeth_I33_l_english.yml
Due: Events Encoding, Localization Encoding

Unfix
  localisation/Flavour_Karshyr_S15_l_english.yml
Due: Localization Encoding

for magnive
  common/estate_privileges/anb_privileges.txt
Due: none

Salla Myna minor fixes and adjustments
  events/Flavour_SallaMyna_I27.txt
  localisation/Flavour_SallaMyna_I27_l_english.yml
  missions/SallaMyna_Missions.txt
Due: Events Encoding, Localization Encoding

Salla Myna hawkrider fixes
  common/custom_gui/provinceview.txt
  common/estate_privileges/anb_privileges.txt
  customizable_localization/anb_custom_loca.txt
Due: none

the last missions - and stuff
  common/event_modifiers/anb_konolkhatep_modifiers.txt
  common/institutions/00_Core.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/konolkhatap_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_konolkhatep.txt
  events/Flavour_Konolkhatep_F66.txt
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  missions/Konolkhatep_Missions.txt
Due: Events Encoding, Localization Encoding

.
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  missions/Konolkhatep_Missions.txt
Due: Localization Encoding

event pictures P1
  events/Flavour_Verne_A33.txt
Due: Events Encoding

fixes
  events/Flavour_Pashaine_B59.txt
Due: Events Encoding

north haless horde ideas
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

fixin bunny code
  common/scripted_effects/konolkhatap_scripted_effects.txt
  missions/Konolkhatep_Missions.txt
Due: none

Myna fix
  events/Flavour_SallaMyna_I27.txt
Due: Events Encoding

Bahambuug
  Anbennar-PublicFork.mod
Due: none

Salla Myna MT icons
  missions/SallaMyna_Missions.txt
Due: none

Disabling generic missions
  missions/01_Generic_European_Missions.txt
Due: none

Salla Myna event pictures
  events/Flavour_SallaMyna_I27.txt
Due: Events Encoding

chaq
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

fifix
  events/Flavour_Konolkhatep_F66.txt
  missions/Konolkhatep_Missions.txt
Due: Events Encoding

kodinkobold doing that already, and better
  missions/Konolkhatep_Missions.txt
Due: none

I still don't think it should be in the tooltip
  common/great_projects/anb_monuments_rahen_haless.txt
Due: none

Highlights and fixes
  localisation/Flavour_Konolkhatep_F66_l_english.yml
  missions/Konolkhatep_Missions.txt
Due: Localization Encoding

Woodwell MT
  common/estate_agendas/01_church_agendas.txt
  common/estates/01_church.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Woodwell_A88.txt
  localisation/Flavour_Woodwell_A88_l_english.yml
  missions/Woodwell_Missions.txt
Due: Events Encoding, Localization Encoding

some fixes for karassk
  common/estate_privileges/anb_privileges.txt
  common/great_projects/anb_monuments_sarhal.txt
  events/Flavour_Karassk_L68.txt
  missions/Karassk_Missions.txt
Due: Events Encoding

Code review fixes.
  events/Flavour_Salla_Cenag_I29.txt
  localisation/anb_deepwoods_l_english.yml
  missions/Salla_Cenag_Missions.txt
Due: Events Encoding, Localization Encoding

fix and more loc stuff
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Vaengheim_Z88.txt
  localisation/Flavour_Vaengheim_Z88_l_english.yml
Due: Events Encoding, Localization Encoding

stupid pdx
  missions/Konolkhatep_Missions.txt
Due: none

HP events (missing locs)
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/HighPhilosophy.txt
  localisation/high_philosophy_l_english.yml
Due: Events Encoding, Localization Encoding

Fixing Clouded Eye Ideas
  common/ideas/anb_country_ideas.txt
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding
