Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

And hell is comming with him
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/anb_rinta_incidents_scripted_effects.txt
  events/RintaSeekerEvents.txt
  gfx/flags/S93.tga
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

First Smol Farranean fixes
  events/Escanni_refugees_settlement.txt
  localisation/Flavour_Farranean_B60_l_english.yml
  missions/FarraneanMissions.txt
Due: Events Encoding, Localization Encoding

Small fix
  missions/FarraneanMissions.txt
Due: none

eoa rework fixes
  common/estate_privileges/anb_privileges.txt
  common/imperial_reforms/00_hre_emperor.txt
  common/on_actions/00_on_actions.txt
  common/ruler_personalities/00_core.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/state_edicts/magisterium_governance_eoa.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/Flavour_EoA_reforms.txt
  localisation/imperial_reforms_l_english.yml
  localisation/text_l_english.yml
Due: Events Encoding, Localization Encoding

order of magnitude
  common/ideas/anb_country_ideas.txt
Due: none

small fixes
  common/event_modifiers/anb_religion_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

Fix
  common/estates/99_artificers.txt
  decisions/Karshyr_Decisions.txt
  events/Flavour_Karshyr_S15.txt
  localisation/Flavour_Karshyr_S15_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Rise of the Adeen minor event change
  events/RintaSeekerEvents.txt
Due: Events Encoding

small fix to province group
  map/provincegroup.txt
Due: none

Clash of Schools Loc
  events/AnzalkatsaSchoolFightEvents.txt
  localisation/anb_anzalkatsa_clash_l_english.yml
Due: Events Encoding, Localization Encoding

raj
  common/cb_types/anb_cb_raj.txt
Due: none

more small fixes
  events/EscanniWars.txt
  missions/FarraneanMissions.txt
Due: Events Encoding

Kalsyto no longer requires mage-only priv
  missions/Kalsyto_Missions.txt
Due: none

Small extra fix
  missions/FarraneanMissions.txt
Due: none

fixed mistakes
  localisation/Flavour_Arawkelin_Y65_l_english.yml
  localisation/Flavour_Asarta_L96_l_english.yml
  localisation/anb_deepwoods_l_english.yml
  localisation/noukahi_pantheon_l_english.yml
Due: Localization Encoding

Fix noukahi_pantheon ui blocking others
  common/custom_gui/countryreligionview.txt
  interface/countryreligionview.gui
Due: none

shamefur dispray
  common/cb_types/anb_cb_raj.txt
Due: none

Eoridcois no need adventurer reform
  decisions/EoridicoisDecisions.txt
Due: Decisions Encoding

Fix MT loc overflowing
  localisation/Flavour_Ghavaanaj_R72_l_english.yml
Due: Localization Encoding

Fix typos
  localisation/Flavour_Ekha_U08_l_english.yml
Due: Localization Encoding

..
  common/cb_types/anb_cb_raj.txt
Due: none

Fix encode "" correctly
  common/ideas/anb_country_ideas.txt
Due: none

Fix wrong version of modifier in NI
  common/ideas/anb_country_ideas.txt
Due: none

Fix country mod should use non-local modifier
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
Due: none

Fix loc
  localisation/Flavour_Bhuvauri_R38_l_english.yml
Due: Localization Encoding

also this one
  events/Elections.txt
Due: Events Encoding

Yassa Niche Case Fix
  missions/Yassa_Missions.txt
Due: none

Typo in loc
  localisation/Flavour_Farranean_B60_l_english.yml
Due: Localization Encoding

TT
  localisation/Flavour_Farranean_B60_l_english.yml
Due: Localization Encoding

Fix
  localisation/Flavour_Karshyr_S15_l_english.yml
  missions/Karshyr_Missions.txt
Due: Localization Encoding

Fix
  decisions/Karshyr_Decisions.txt
Due: Decisions Encoding

one
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Don't need to insult vassals
  missions/Unguldavori_Missions.txt
Due: none

slight improvements/adjustments
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  events/Magic_Project_Events.txt
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

more fixes
  common/estate_agendas/02_noble_agendas.txt
  common/estate_agendas/03_burgher_agendas.txt
  common/estate_agendas/anb_adventurers_agendas.txt
  events/Flavour_EoA_reforms.txt
  missions/Istralore_Missions.txt
  missions/Wex_Missions.txt
Due: Events Encoding

pr addition request
  common/government_reforms/01_government_reforms_monarchies.txt
  common/scripted_triggers/anb_scripted_triggers_eoa.txt
Due: none

Yassa Changes
  common/event_modifiers/anb_yassa_modifiers.txt
  localisation/Flavour_Yassa_L81_l_english.yml
  missions/Yassa_Missions.txt
Due: Localization Encoding

few more compatibility changes
  common/on_actions/00_on_actions.txt
  events/Flavour_EoA_reforms.txt
  events/Flavour_Gisden_A75.txt
  events/Flavour_Magisterium_A85.txt
  events/Flavour_Vaengheim_Z88.txt
  events/Magic_Project_Events.txt
  events/Noukahi_Pantheon.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

decisions UI
  common/custom_gui/magic_menu.txt
  customizable_localization/anb_magic_menus_localization.txt
  gfx/interface/custom_gui/magic_artificery_information.dds
  interface/countrydecisionsview.gfx
  interface/countrydecisionsview.gui
  interface/magic_menu.gfx
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

Minor loc fix
  localisation/genie_cult_l_english.yml
Due: Localization Encoding
