Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Setup Vision 5
  common/scripted_effects/anb_setup_effects.txt
  history/countries/F29 - Zokka.txt
  history/countries/F54 - Koggraffa.txt
  history/countries/F56 - Maqet.txt
  history/countries/F79 - Sihrusam.txt
Due: none

Northernpass and 7708 hold
  map/continent.txt
Due: none

Silverforge Idea Reqs fix
  common/government_reforms/06_government_reforms_common.txt
  localisation/Flavour_Silverforge_A73_l_english.yml
  missions/Silverforge_Missions.txt
Due: Localization Encoding

Sugamber MT fix
  missions/Sugamber_Missions.txt
Due: none

named Prov 7918
  localisation/CoT_regions_n_above.yml
Due: Localization Encoding

Wesdam Dameria adjust
  common/ideas/CoT_country_ideas.txt
  decisions/CoT_Cannorwake_Formables.txt
  gfx/flags/W13.tga
  localisation/imperial_reforms_l_english.yml
Due: Decisions Encoding, Localization Encoding

Wesdam Dameria Adjust 2
  common/ideas/anb_country_ideas.txt
Due: none

Gov Reforms Require New Idea Groups
  common/government_reforms/00_government_reforms.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/06_government_reforms_common.txt
Due: none

Salla Elyn fix 1
  common/custom_gui/provinceview.txt
  events/Flavour_Salla_Elyn_I26.txt
  missions/Salla_Elyn_missions.txt
Due: Events Encoding

Restore decisions gone
  decisions/CoT_Restore_Color.txt
  decisions/CoT_Restore_Name.txt
Due: Decisions Encoding

Added hold provinces to hold province group
  map/provincegroup.txt
Due: none

Wesdam can fren with Exwes owner
  missions/Wesdam_Missions.txt
  missions/Wex_Missions.txt
Due: none

Artificer Idea enabled
  common/estates/99_artificers.txt
  localisation/cot_ideas_l_english.yml
Due: Localization Encoding

return of deepwoods tm
  map/superregion.txt
  missions/Salla_Elyn_missions.txt
Due: none

Deepwoods 2
  map/superregion.txt
Due: none

Middle Dwarovar adjacency fix
  map/adjacencies.csv
Due: none

Blorc Buff
  common/event_modifiers/anb_dwarovar_blorc_modifiers.txt
  common/scripted_effects/anb_digging_effects.txt
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
  events/DiggyDiggyBlorc.txt
  events/DiggyDiggyHoleEvents.txt
  localisation/anb_diggy_diggy_hole_blorc_l_english.yml
Due: Events Encoding, Localization Encoding

Artificery 1550 with oath of progress
  common/estates/99_artificers.txt
  events/CoT_ideas_events.txt
  localisation/cot_ideas_l_english.yml
Due: Events Encoding, Localization Encoding

Revert magic cost
  common/custom_gui/magic_menu.txt
Due: none

Fixing starting tech for some new tags
  common/institutions/00_Core.txt
Due: none

Reveria Exploration mission fix
  missions/Reveria_Missions.txt
Due: none

Double Konolkhatep decision fix
  decisions/GnollDecisions.txt
Due: Decisions Encoding

Double adventurer formable decision fix
  decisions/AdventurerFormables.txt
Due: Decisions Encoding

Adventurers can nom Escanni provinces
  common/scripted_triggers/anb_scripted_triggers_early_escann.txt
Due: none

Adventurer CB description update
  localisation/anb_adventurers_l_english.yml
Due: Localization Encoding

Karakhanbar re-added
  common/custom_gui/countrydecisionsview.txt
  decisions/DeepwoodsFormables.txt
  events/DeepwoodsEvents.txt
  events/Flavour_Karakhanbar_Z54.txt
  events/Flavour_ShatteredCrown_H72.txt
  localisation/Flavour_Karakhanbar_Z54_l_english.yml
  missions/Karakhanbar_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Ovdal Tungr Mission fix
  missions/Ovdal_Tungr_Missions.txt
Due: none

Ancient map occurence nerf
  events/CoT_excavate_rewards.txt
Due: Events Encoding

Bjranrik MT Fix 1
  missions/Bjarnrik_Missions.txt
Due: none

Skaldhyrric Fix
  decisions/SkaldhyrricDecisions.txt
Due: Decisions Encoding

Viakkoc fix 1
  events/Flavour_Viakkoc_U07.txt
  missions/Viakkoc_Missions.txt
Due: Events Encoding

Bjarnrik 2
  common/event_modifiers/CoT_Mission_Modifiers.txt
  localisation/Flavour_Bjarnrik_Z08_l_english.yml
  missions/Bjarnrik_Missions.txt
Due: Localization Encoding

Davharral has water
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Nathalairey Present
  missions/Nathalaire_Missions.txt
Due: none

Nathalairey Present 2
  history/countries/A74 - Nathalaire.txt
Due: none

Reveria Ideas buff
  common/ideas/anb_country_ideas.txt
Due: none

Viakkoc loc fix
  localisation/Flavour_Viakkoc_U07_l_english.yml
Due: Localization Encoding

Oath of Power Ruler XP fix
  common/ideas/00_basic_ideas.txt
  localisation/cot_ideas_l_english.yml
Due: Localization Encoding

Windtower Wesdam area
  missions/Wesdam_Missions.txt
Due: none

Removed some duplicate/redundant decisions
  decisions/CoT_Cannorwake_Formables.txt
  decisions/EscannFormables.txt
  decisions/EscanniGoblinFormables.txt
  decisions/HarpyDecisions.txt
Due: Decisions Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
