Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Code Review
  events/Flavour_Shadowdreamer_H83.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
  missions/Shadowdreamer_Missions.txt
Due: Events Encoding, Localization Encoding

Fix for the Fix
  Anbennar-PublicFork.mod
  common/ideas/anb_country_ideas.txt
Due: none

Updatng TODO
  missions/GroundHawk_Missions.txt
Due: none

Oops, broke the MT!
  events/Flavour_Orenvalyam_U39.txt
Due: Events Encoding

Aycha Alpa aspect fix
  common/church_aspects/anb_aycha_alpa_aspects.txt
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

TE Change
  missions/Zz_Taychendi_Empire_Missions.txt
Due: none

Great Testers Great Results
  common/custom_gui/provinceview.txt
  common/event_modifiers/charkuchin_kobold_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

Tooltip
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

Ai changes
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

iochand fixes
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Iochand_A80.txt
  localisation/Flavour_Iochand_A80_l_english.yml
Due: Events Encoding, Localization Encoding

BH Fix
  missions/Black_Herd_Missions.txt
Due: none

First Wave of Fixes
  common/estate_privileges/03_burgher_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  events/Flavour_Karach_L77.txt
  localisation/Flavour_Karach_L77_l_english.yml
Due: Events Encoding, Localization Encoding

Removing KU Colored Mission Titles
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

Picture
  common/event_modifiers/anb_sarhal_modifiers.txt
Due: none

3rd wave
  common/governments/00_governments.txt
  events/Flavour_Karach_L77.txt
Due: Events Encoding

Patching Patches
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  localisation/anb_charkuchin_l_english.yml
  map/provincegroup.txt
Due: Localization Encoding

fuxes
  common/estates/01_church.txt
  common/event_modifiers/anb_cangji_modifiers.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Flavour_Cangji_V05.txt
  events/Flavour_Zongji_Y25.txt
  localisation/Flavour_Cangji_V05_l_english.yml
  localisation/Flavour_Zongji_Y25_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
  missions/Cangji_Missions.txt
Due: Events Encoding, Localization Encoding

Code Review Feedback
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  localisation/Flavour_Lelanan_L36_l_english.yml
  missions/Lelanan_Missions.txt
Due: Localization Encoding

a few fixes
  common/scripted_effects/mechanim_scripted_effects.txt
  events/anb_mechanim_events.txt
  localisation/manago_poku_l_english.yml
Due: Events Encoding, Localization Encoding

More Code Review
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  missions/Lelanan_Missions.txt
Due: none

Mechanim Automatory Art by AdamT
  gfx/interface/buildings/mechanim_factory.dds
  interface/building_icons.gfx
Due: none

4th wave
  localisation/Flavour_Karach_L77_l_english.yml
  missions/Karach_Missions.txt
Due: Localization Encoding

Karach Changes
  common/event_modifiers/anb_sarhal_modifiers.txt
  missions/Karach_Missions.txt
Due: none

round 2.5
  common/custom_gui/countrydiplomacyview.txt
  common/custom_gui/magic_unique_projects.txt
  missions/Swift_Legged_Bongo_Missions.txt
Due: none

Sending Code Review Love
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  events/Flavour_Lelanan_L36.txt
  events/Magic_Project_Events.txt
Due: Events Encoding

bug and fix
  common/event_modifiers/anb_cangji_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Magic_Project_Events.txt
  history/countries/V05 - Cangji.txt
  localisation/Flavour_Cangji_V05_l_english.yml
  localisation/Flavour_Zongji_Y25_l_english.yml
  missions/Cangji_Missions.txt
Due: Events Encoding, Localization Encoding

tool
  localisation/Flavour_Cangji_V05_l_english.yml
Due: Localization Encoding

ok
  common/parliament_issues/anb_overclan.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_overclan.txt
  common/scripted_triggers/anb_scripted_triggers_overclan.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/ExodusGoblinDecisions.txt
  events/Flavour_Overclan_F78.txt
  events/Golden_Highway.txt
  localisation/Flavour_Overclan_F78_l_english.yml
  map/provincegroup.txt
  missions/Overclan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

show unique button
  events/Flavour_Overclan_F78.txt
Due: Events Encoding

sedentarization ai fix
  common/scripted_effects/forbidden_land_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_sedentarization.txt
Due: none

stupid tooltip
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

code review
  common/event_modifiers/anb_mission_modifiers.txt
  localisation/Flavour_Nansalen_B80_l_english.yml
  missions/Nansalen_Missions.txt
Due: Localization Encoding

na monuments (soara, grove, alariandel)
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_cannor_monument_modifiers.txt
  common/great_projects/anb_monuments_aelantir.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  customizable_localization/anb_custom_new_sun_cult_localization.txt
  customizable_localization/anb_customizable_localization.txt
  decisions/Aelantir-Cannor Decisions.txt
  decisions/MonumentDecisions.txt
  events/Aelantir_Monument_Flavour_Events.txt
  events/Cannor_Monument_Flavour_Events.txt
  localisation/anb_great_projects_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Fix random incident crash when default option is set to non-existent event option.
  common/imperial_incidents/anb_imperial_incidents.txt
Due: none

9
  decisions/ExodusGoblinDecisions.txt
  localisation/Flavour_Overclan_F78_l_english.yml
Due: Decisions Encoding, Localization Encoding

Reorder frame triggers for T1, T2, T3 military/society/economic inventions
  common/custom_gui/countrydecisionsview.txt
Due: none

High Temple Age Objetive Icon
  gfx/interface/ages/obj_high_temples.dds
Due: none

settlement issue allow
  common/parliament_issues/anb_overclan.txt
Due: none

tweaks
  common/province_triggered_modifiers/anb_modifiers.txt
  decisions/ExodusGoblinDecisions.txt
  events/Flavour_Overclan_F78.txt
  map/provincegroup.txt
  missions/Overclan_Missions.txt
Due: Decisions Encoding, Events Encoding

Karach Stuff Morning
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/government_reforms/02_government_reforms_republics.txt
  events/Flavour_Karach_L77.txt
  localisation/Flavour_Karach_L77_l_english.yml
  missions/Karach_Missions.txt
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
