Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

default progress mod
  common/disasters/estate_mages_disaster.txt
Due: none

Forgot
  common/subject_types/00_subject_types.txt
Due: none

ayarallen bugfixes
  events/flavour_Ayarallen_F27.txt
  localisation/Flavour_Ayarallen_F27_l_english.yml
Due: Events Encoding, Localization Encoding

better triggers
  common/disasters/estate_mages_disaster.txt
  localisation/anb_estate_mages_l_english.yml
Due: Localization Encoding

leslinpar is gay
  history/countries/A92 - Leslinpar.txt
Due: none

Festivals of Irdaeos
  common/church_aspects/anb_irdaeos_worship_aspects.txt
  common/scripted_effects/anb_scripted_effects.txt
  localisation/Flavour_Star_Rider_I69_l_english.yml
Due: Localization Encoding

improvements to gay rep
  common/scripted_triggers/anb_scripted_triggers.txt
  events/ConsortEvents.txt
  events/Dynastic.txt
  events/Magic_Project_Events.txt
  events/RandomEvents.txt
  events/ToleranceHarpy.txt
  events/YnnEvents.txt
Due: Events Encoding

kimanis mission icons
  missions/Kimanis_Missions.txt
Due: none

is fine but errors in VSC and this file is clean otherwise and sorta important
  common/buildings/00_buildings.txt
Due: none

unused gov reform signoria removed
  common/government_reforms/00_government_reforms.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  events/Elections.txt
Due: Events Encoding

unused gov reform mamluk_government removed
  common/government_reforms/00_government_reforms.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/governments/00_governments.txt
  common/parliament_bribes/pay_government_power.txt
Due: none

better tooltip
  localisation/anb_estate_mages_l_english.yml
Due: Localization Encoding

add more flexible triggers to early verne MT
  missions/Verne_Missions.txt
Due: none

AI stops going into the mega-negatives
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none

mission placeholder loc plus tooltips for initial MT
  customizable_localization/anb_custom_loc_nansalen.txt
  localisation/Flavour_Nansalen_B80_l_english.yml
  missions/Nansalen_Missions.txt
Due: Localization Encoding

Yemotaferi MT localisation
  common/government_names/00_anbennar_government_names.txt
  customizable_localization/anb_custom_mengi_localization.txt
  events/Flavour_Yemotaferi_S50.txt
  localisation/Flavour_Yemotaferi_S50_l_english.yml
  localisation/Flavour_mengi_l_english.yml
Due: Events Encoding, Localization Encoding

more specific swamp warden gov name trigger
  common/government_names/00_anbennar_government_names.txt
Due: none

loc
  common/custom_gui/countrydecisionsview.txt
  events/ArtificeResearch.txt
  localisation/artifice_l_english.yml
  localisation/artifice_privileges_l_english.yml
Due: Events Encoding, Localization Encoding

cleanup custom loca - (minus fancy trade goods)
  customizable_localization/00_customizable_localization.txt
  localisation/emperor_missions_l_english.yml
Due: Localization Encoding

S
  localisation/artifice_privileges_l_english.yml
Due: Localization Encoding

huugeta mt refinement
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_huugeta_scripted_effects.txt
  events/Flavour_Huugeta_S45.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
  missions/Huugeta_Missions.txt
Due: Events Encoding, Localization Encoding

non-simple triggers and effects in columns 1 and 2
  common/great_projects/anb_monuments_bulwar.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  decisions/GoldenHighway.txt
  events/Golden_Highway.txt
  localisation/Flavour_Nansalen_B80_l_english.yml
  missions/Nansalen_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Gor Vazumbrog color change
  common/countries/Gor Vazumbrog.txt
Due: none

Samisalik Bolki starts as horde now
  events/Flavour_Oinukhudi_V01.txt
Due: Events Encoding

use the abort event a bit more
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/artifice_scripted_effects.txt
  events/Flavour_Jaddari_F46.txt
  events/Magic_Project_Events.txt
Due: Events Encoding

Taldakhudi releasables now start with positive mana
  events/Flavour_Oinukhudi_V01.txt
Due: Events Encoding

pulse event loc and handler
  common/on_actions/00_on_actions.txt
  events/Flavour_Huugeta_S45.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
  missions/Huugeta_Missions.txt
Due: Events Encoding, Localization Encoding

pulse event handler
  common/on_actions/00_on_actions.txt
  events/Flavour_Huugeta_S45.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
Due: Events Encoding, Localization Encoding

battle momentum limit
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Huugeta_S45_l_english.yml
Due: Localization Encoding

custom mt badge
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

Bunch of Planetouched changes, not all of them
  common/estate_agendas/anb_planetouched_agendas.txt
  common/estate_privileges/estate_planetouched_privileges.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/rebel_types/pretender.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_effects/sarhal_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_sarhal.txt
  events/Flavour_Khugra_L70.txt
  events/Flavour_SallaFealgarn_I30.txt
  events/Flavour_Simegasa_L66.txt
  events/Flavour_Umbral_Covenant_S90.txt
  events/Flavour_kulugiash_L08.txt
  events/MotherAkasikEvents.txt
  events/PlanetouchedEvents.txt
  events/The_Hunt_events.txt
  events/estate_nobles.txt
  events/shadow_swamp_flavour.txt
  localisation/anb_planetouched_l_english.yml
  missions/Kobildzan_Missions.txt
  missions/Rakkaz_Missions.txt
  missions/Shelokmengi_Missions.txt
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

stuff
  common/custom_gui/zz_mission_content.txt
  events/Flavour_Umbral_Covenant_S90.txt
  localisation/Flavour_Ayarallen_F27_l_english.yml
  localisation/Flavour_Umbral_Covenant_S90_l_english.yml
  localisation/anb_harpy_gov_bar_l_english.yml
  missions/Ayarallen_Missions.txt
  missions/UmbralCovenant_Missions.txt
Due: Events Encoding, Localization Encoding

some dbc fixes
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/EastSarhalFormables.txt
  localisation/Flavour_DeathBringingCobra_U24_l_english.yml
  missions/DeathBringingCobra_Missions.txt
Due: Decisions Encoding, Localization Encoding

Eighard MT 0.03
  common/custom_gui/magic_spell_lists.txt
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  decisions/NorthAelantirFormables.txt
  events/Flavour_Eighard_H14.txt
  interface/topbar.gui
  localisation/Flavour_Eighard_H14_l_english.yml
  localisation/anb_magic_spells_custom_l_english.yml
  missions/Eighard_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Eighard MT 0.031
  missions/Eighard_Missions.txt
Due: none

Eighard MT 0.032
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/Flavour_Eighard_H14_l_english.yml
  missions/Eighard_Missions.txt
Due: Localization Encoding

Eighard MT 0.033
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/Flavour_Eighard_H14_l_english.yml
  missions/Eighard_Missions.txt
Due: Localization Encoding

Eighard MT 0.0331
  common/event_modifiers/anb_mission_modifiers.txt
  history/countries/H14 - Eighard.txt
  localisation/Flavour_Eighard_H14_l_english.yml
Due: Localization Encoding

[new-master] Zena MT 2.022
  missions/Zena Missions.txt
Due: none

Eighard MT 0.0332
  common/estate_privileges/01_church_privileges.txt
  events/Flavour_Eighard_H14.txt
  localisation/Flavour_Eighard_H14_l_english.yml
  missions/Eighard_Missions.txt
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
