Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

Yonko
  common/event_modifiers/CoT_misc_modifiers.txt
  lmao.txt
  localisation/CoT_misc_l_english.yml
Due: Localization Encoding, Brackets Syntax

OAA minor thing
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

hale event
  common/event_modifiers/CoT_Event_Modifiers.txt
  localisation/CoT_i_Events_l_english.yml
  save-edits-3-4.txt
Due: Localization Encoding, Brackets Syntax

swedish event
  common/event_modifiers/CoT_Event_Modifiers.txt
  events/DiggyDiggyHoardcurse.txt
  localisation/CoT_i_Events_l_english.yml
  save-edits-3-4.txt
Due: Events Encoding, Localization Encoding, Brackets Syntax

the other things in swedish event
  save-edits-3-4.txt
Due: Brackets Syntax

Bladebreaker Fix
  common/event_modifiers/CoT_Event_Modifiers.txt
  events/CoT_RP_Events.txt
Due: Events Encoding

Allclan fix
  missions/Allclan_Missions.txt
Due: none

IC diety switch decision
  decisions/CoT_misc_decisions.txt
  events/InfernalCourtEvents.txt
Due: Decisions Encoding, Events Encoding

Sil Konwell
  common/cultures/anb_cultures.txt
  save-edits-3-4.txt
Due: Brackets Syntax

Ovdal az An part 1
  common/buildings/00_buildings.txt
  common/event_modifiers/anb_ovdalazan_modifiers.txt
  common/on_actions/00_on_actions.txt
  decisions/DiggyFormables.txt
  events/Flavour_OvdalazAn_I19.txt
  localisation/Flavour_OvdalazAn_I19_l_english.yml
  missions/Ovdal_az_An_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

vaass event
  common/event_modifiers/CoT_Event_Modifiers.txt
  localisation/CoT_i_Events_l_english.yml
  save-edits-3-4.txt
Due: Localization Encoding, Brackets Syntax

Reveria Event
  common/event_modifiers/CoT_Event_Modifiers.txt
  events/CoT_RP_Events.txt
  localisation/CoT_i_Events_l_english.yml
  save-edits-3-4.txt
Due: Events Encoding, Localization Encoding, Brackets Syntax

Steven Event, Orc dev redististibution add warjoy's event, generously donated by zael also the last one was luna
  common/event_modifiers/CoT_Event_Modifiers.txt
  save-edits-3-4.txt
Due: Brackets Syntax

added time to revaria's event
  save-edits-3-4.txt
Due: Brackets Syntax

I deserve a lil treat
  save-edits-3-4.txt
Due: Brackets Syntax

IC loc
  localisation/CoT_misc_l_english.yml
Due: Localization Encoding

Auto stash before merge of "Cannorwake" and "origin/Cannorwake"
  common/event_modifiers/CoT_Event_Modifiers.txt
  decisions/CoT_Current_Camp_Misc.txt
  events/CoT_RP_Events.txt
  save-edits-3-4.txt
Due: Decisions Encoding, Events Encoding, Brackets Syntax

Fixing stuff
  events/CoT_RP_Events.txt
  save-edits-3-4.txt
Due: Events Encoding, Brackets Syntax

Fixin stuff
  decisions/CoT_Current_Camp_Misc.txt
  events/CoT_RP_Events.txt
  save-edits-3-4.txt
Due: Decisions Encoding, Events Encoding, Brackets Syntax

Zael Loves you all :)
  save-edits-3-4.txt
Due: Brackets Syntax

bye bye naval ideas
  common/ideas/00_basic_ideas.txt
  save-edits-3-4.txt
Due: Brackets Syntax

OAA work
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_OvdalAzAn_I19.txt
  events/Flavour_OvdalazAn_I19.txt
  localisation/Flavour_OvdalazAn_I19_l_english.yml
  missions/Ovdal_az_An_Missions.txt
Due: Events Encoding, Localization Encoding

Deity shrines fix
  common/church_aspects/anb_dwarven_pantheon_aspects.txt
Due: none

OOA work
  common/event_modifiers/anb_mission_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_digging_effects.txt
  decisions/DiggyDiggyHole.txt
  events/Flavour_OvdalAzAn_I19.txt
  events/Flavour_OvdalazAn_I19.txt
  localisation/Flavour_OvdalazAn_I19_l_english.yml
  missions/Ovdal_az_An_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Gerudaghot colonist buff
  common/government_reforms/01_government_reforms_monarchies.txt
Due: none

my decision fixed, no touch >;(
  decisions/CoT_misc_decisions.txt
Due: Decisions Encoding

made weekly file and buffed non-cannorians
  common/event_modifiers/CoT_misc_modifiers.txt
  localisation/CoT_misc_l_english.yml
  save-edits-4-5.txt
Due: Localization Encoding, Brackets Syntax

OAA work
  common/event_modifiers/anb_mission_modifiers.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/OvdalAzAnDecisions.txt
  events/Flavour_OvdalAzAn_I19.txt
  events/Flavour_OvdalazAn_I19.txt
  localisation/Flavour_OvdalazAn_I19_l_english.yml
  missions/Ovdal_az_An_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Stopped Jaddari Verkal Gulan from expelling people
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_troll.txt
Due: Events Encoding

Chess tournament fix
  events/Flavour_Toarnen_A57.txt
  save-edits-4-5.txt
Due: Events Encoding, Brackets Syntax

Let all players participate
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

OAA work
  common/buildings/00_buildings.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/governments/00_governments.txt
  common/scripted_effects/anb_digging_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Dwarven_Pantheon.txt
  events/Flavour_OvdalAzAn_I19.txt
  events/Flavour_OvdalazAn_I19.txt
  localisation/Flavour_OvdalazAn_I19_l_english.yml
  missions/Ovdal_az_An_Missions.txt
Due: Events Encoding, Localization Encoding

Rezankand wip
  common/ages/00_default.txt
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/incidents/00_isolationism.txt
  common/on_actions/00_on_actions.txt
  common/province_names/dawn_elf.txt
  common/province_names/sun_elf.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_isolationism.txt
  decisions/AdventurerFormables.txt
  events/AdventurerFormables.txt
  events/Flavour_Rezankand_H67.txt
  events/anb_MiscEvents.txt
  localisation/Flavour_Rezankand_H67_l_english.yml
  missions/Rezankand_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Without this the game is literally unplayable
  common/insults/00_insults.txt
Due: none

Clean up
  save-edits-4-5.txt
Due: Brackets Syntax

erratic court done
  common/ages/00_default.txt
  common/countries/Corvuria.txt
  common/cultures/anb_cultures.txt
  common/event_modifiers/CoT_misc_modifiers.txt
  events/Flavour_Roilsard_A78.txt
  localisation/Flavour_Roilsard_A78_l_english.yml
  missions/Allclan_Missions.txt
  missions/Tluukt_Missions.txt
  missions/Zz_Phoenix_Empire_Missions.txt
  save-edits-3-4.txt
  save-edits-4-5.txt
Due: Events Encoding, Localization Encoding, Brackets Syntax

player marches :tick:
  common/defines.lua
  common/static_modifiers/00_static_modifiers.txt
  common/subject_types/00_subject_types.txt
Due: none

dostanor fixd
  save-edits-4-5.txt
Due: Brackets Syntax

last minute bug fix
  common/subject_types/00_subject_types.txt
Due: none

Sun Cult missionary strength balance
  common/estate_privileges/anb_privileges.txt
  common/government_reforms/01_government_reforms_monarchies.txt
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none
