Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

First ope of many
  missions/Ikogshaantus_Missions.txt
Due: none

Racial mil changes
  common/event_modifiers/racial_admin_military.txt
Due: none

Camp Map Setup 4
  history/diplomacy/Diveni_alliances.txt
  history/diplomacy/bulwar.txt
  history/wars/CoT_Khet_Gets_City.txt
Due: none

area n up localisation
  localisation/CoT_regions_n_above.yml
  localisation/anb_areas_l_english.yml
Due: Localization Encoding

Loc Edit
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Renaming Idea
  common/ideas/anb_country_ideas.txt
Due: none

Rulers Heirs and how to become a leader
  common/custom_gui/countrymilitaryview.txt
Due: none

Prayge BOM
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Aupulehu NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

DOOOM
  common/estate_privileges/anb_privileges.txt
  common/event_modifiers/anb_bulwari_modifiers.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/The_Hunt_events.txt
  localisation/the_hunt_l_english.yml
Due: Events Encoding, Localization Encoding

Khozrugan Modifier Rename
  localisation/Flavour_Khozrugan_Z51_l_english.yml
Due: Localization Encoding

rending reward fix
  events/RendingMA.txt
Due: Events Encoding

a bunch of minor loc fix
  localisation/anb_rending_l_english.yml
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

Fix respect local tradition privilege
  common/estate_privileges/anb_privileges.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
Due: none

Camp Map Setup
  common/government_reforms/03_government_reforms_theocracies.txt
  common/static_modifiers/00_static_modifiers.txt
  common/subject_types/00_subject_types.txt
  events/Kheterata_Civil_War.txt
  history/countries/F49 - Elaienna.txt
  history/countries/F79 - Sihrusam.txt
  history/countries/U01 - Kheterata.txt
  history/countries/W57 - Karhusabar.txt
  history/diplomacy/bulwar.txt
  history/provinces/2901 - Harpys_Gate.txt
  history/provinces/2905 - Trasenarbu.txt
  history/provinces/2907 - Shibahurran.txt
  history/provinces/2908 - Larfira.txt
  history/provinces/2909 - Ebbusubtu.txt
  history/provinces/2910 - Nurdazin.txt
  history/provinces/2911 - Zornkost.txt
  history/provinces/2929 - Ardulib.txt
  history/provinces/2930 - Edenlil.txt
  history/provinces/380 - Eborthil.txt
  history/provinces/545 - Forramaz.txt
  history/provinces/548 - Habqez.txt
  history/provinces/550 - Akal-Uak.txt
  history/provinces/552 - Kaboustraz.txt
  history/provinces/553 - Tunkalem.txt
  history/provinces/7826 - Erduzin.txt
  history/provinces/7828 - NurGaer.txt
  history/provinces/7940 - Ohzenzatl.txt
  history/provinces/7942 - Karhusebs.txt
  history/provinces/7943 - ElisIlsu.txt
  history/provinces/7944 - Akalsub.txt
  history/provinces/7983 - AnzaZaid.txt
  history/provinces/7984 - KalisMehran.txt
  history/provinces/7985 - Kurakdusimbar.txt
  history/provinces/7986 - Anzasamsi.txt
  history/provinces/7987 - Kankeru.txt
  history/provinces/7988 - AnzaAttalu.txt
Due: Events Encoding

governorship setup fix
  common/governments/00_governments.txt
  history/diplomacy/bulwar.txt
Due: none

spawned dwarovar claimer buff duration tweak
  events/DiggyDiggySpawnable.txt
  events/anb_MiscEvents.txt
Due: Events Encoding

Zanite + bahari
  common/ideas/CoT_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  history/countries/F22 - Dartaxagerdim.txt
  history/countries/F30 - Kumarkand.txt
  history/countries/F33 - Akalses.txt
  history/countries/F35 - Azkabar.txt
  history/countries/F36 - Harklum.txt
  history/countries/F39 - Bulwar.txt
  history/countries/F41 - Zanbar.txt
  history/countries/F44 - Kalib.txt
  history/countries/F75 - Avamezan.txt
  history/countries/U18 - Reuyel.txt
  history/countries/U19 - Aqatbahar.txt
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

remove a year
  events/DiggyDiggySpawnable.txt
Due: Events Encoding

Ope 2
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

Changes round 1
  common/event_modifiers/anb_lake_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  events/Flavour_Ikogshaantus_J52.txt
  localisation/Flavour_Ikogshaantus_J52_l_english.yml
  missions/Ikogshaantus_Missions.txt
Due: Events Encoding, Localization Encoding

yet another splinter tweak
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

MT change
  localisation/Flavour_Khadisrapur_R11_l_english.yml
  missions/Khadisrapur_Missions.txt
Due: Localization Encoding

Most human ideas, some still left
  common/ideas/CoT_country_ideas.txt
  common/scripted_effects/CoT_effects.txt
  history/countries/F24 - Brasan.txt
  history/countries/F32 - Drolakand.txt
  history/countries/F40 - Anzabad.txt
  history/countries/F43 - Zansap.txt
  history/countries/F74 - Anzarzax.txt
  history/countries/F76 - Medurubar.txt
  history/countries/F85 - Annail.txt
  history/countries/F95 - Iskurthid.txt
  history/countries/W45 - Dromazidem.txt
  history/countries/W47 - Musaskadem.txt
  history/countries/W48 - Idanas.txt
  history/countries/W52 - Zezizatl.txt
  history/countries/W53 - Xurwix.txt
  localisation/cot_nation_ideas_l_english.yml
Due: Localization Encoding

Cannor goblin fixes
  decisions/EscanniGoblinFormables.txt
  localisation/anb_deepwoods_l_english.yml
Due: Decisions Encoding, Localization Encoding

Yehatirha balancing
  common/ideas/anb_country_ideas.txt
  events/anb_mengi_flavor_events.txt
  localisation/Flavour_mengi_l_english.yml
Due: Events Encoding, Localization Encoding

Aupulehu NIs Again
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

PR mission tree
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  localisation/Flavour_Khadisrapur_R11_l_english.yml
  localisation/anb_racial_l_english.yml
  missions/Khadisrapur_Missions.txt
Due: Localization Encoding

UTF fix
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Fixing slashes
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Camp Map Setup 6
  common/scripted_effects/anb_setup_effects.txt
  history/countries/F43 - Zansap.txt
  history/provinces/494 - Rosutaaru.txt
  history/provinces/680 - Salahad_Gate.txt
  history/provinces/7787 - NewEkha.txt
  map/adjacencies.csv
  map/region.txt
Due: none

yanhe quest 4 desc and loc
  events/RendingMA.txt
  localisation/anb_rending_l_english.yml
Due: Events Encoding, Localization Encoding

simplified the privilege
  common/estate_privileges/anb_privileges.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
Due: none

capitalized military
  localisation/anb_rending_l_english.yml
Due: Localization Encoding

encoding
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

Ikogshaantus Part 3 Finished
  common/event_modifiers/anb_lake_modifiers.txt
  common/parliament_issues/anb_ikogshaantus.txt
  common/scripted_effects/01_scripted_effects_for_estates.txt
  events/Flavour_Ikogshaantus_J52.txt
  localisation/Flavour_Ikogshaantus_J52_l_english.yml
  missions/Ikogshaantus_Missions.txt
Due: Events Encoding, Localization Encoding
