Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

bugfix
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

tooltips, typos, loc
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/technologies/mil.txt
  common/units/undead_15_jarheads.txt
  customizable_localization/anb_customizable_localization.txt
  events/disaster_estates.txt
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_units_l_english.yml
Due: Events Encoding, Localization Encoding

ww tooltip
  localisation/anb_magic_spells_l_english.yml
Due: Localization Encoding

meteor swarm better tt, shows up on trade map
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

artificery consistency
  common/estate_privileges/estate_artifice_privileges.txt
  localisation/artifice_privileges_l_english.yml
Due: Localization Encoding

pictures and bugged modifier values
  common/event_modifiers/anb_magic_modifiers.txt
Due: none

plant growth formatting
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

PR changes
  customizable_localization/anb_customizable_localization.txt
  localisation/artifice_privileges_l_english.yml
Due: Localization Encoding

contingency for ai silliness
  missions/Nansalen_Missions.txt
Due: none

changing contingency a bit
  missions/Nansalen_Missions.txt
Due: none

Encoding Fixes
  common/province_names/anakue.txt
  common/province_names/jatukyu_kobold.txt
  common/province_names/unitsan_kobold.txt
  common/province_names/utubodi.txt
  common/province_names/yanacotle.txt
  common/province_names/yawasichya_kobold.txt
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

?
  common/province_names/utubodi.txt
Due: none

More PR feedback
  common/on_actions/00_on_actions.txt
  events/Flavour_Beikdugang_Y15.txt
  events/disaster_Revolution.txt
  localisation/Flavour_Beikdugang_Y15_l_english.yml
Due: Events Encoding, Localization Encoding

fixes for many bugs and pacing issues
  common/custom_gui/countryreligionview.txt
  common/event_modifiers/anb_harpylen_modifiers.txt
  common/government_mechanics/anb_harpylen_queendom.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_effects/harpylen_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  events/Flavour_Harpylen_F98.txt
  interface/countryreligionview.gui
  localisation/Flavour_Harpylen_l_english.yml
  missions/Harpylen_Missions.txt
Due: Events Encoding, Localization Encoding

i hate calc_true_if
  localisation/Flavour_Harpylen_l_english.yml
  missions/Harpylen_Missions.txt
Due: Localization Encoding

fixing for beik
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
Due: none

test
  events/AdventurerSpawnables.txt
Due: Events Encoding

change this to how magnive asked it to be
  common/on_actions/00_on_actions.txt
  decisions/YnnDecisions.txt
  events/drozma_tur_events.txt
Due: Decisions Encoding, Events Encoding

Wiggly e changed into straish e
  common/province_names/anakue.txt
  common/province_names/utubodi.txt
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
Due: Localization Encoding

fixes
  common/scripted_effects/mechanim_scripted_effects.txt
  localisation/manago_poku_l_english.yml
Due: Localization Encoding

bugfix for summon spells
  events/Magic_Spell_Events.txt
Due: Events Encoding

fixxx me
  common/religions/00_anb_religion.txt
  missions/Harpylen_Missions.txt
Due: none

extra
  missions/Harpylen_Missions.txt
Due: none

fix
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  events/Flavour_Harpylen_F98.txt
Due: Events Encoding

mage disaster peace tickup
  common/disasters/estate_mages_disaster.txt
  localisation/anb_estate_mages_l_english.yml
Due: Localization Encoding

Eighard MT 0.122
  common/event_modifiers/anb_mission_modifiers.txt
  common/holy_orders/anb_holy_orders.txt
  common/mercenary_companies/00_mercenaries.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Eighard_H14.txt
  events/Kheionism.txt
  events/MoltenEternity.txt
  gfx/interface/holy_orders/warmth_rites.dds
  interface/holy_orders_view.gfx
  localisation/Flavour_Eighard_H14_l_english.yml
  localisation/anb_holy_orders_l_english.yml
  missions/Eighard_Missions.txt
Due: Events Encoding, Localization Encoding

conjuration summon bugfixes
  common/mercenary_companies/00_mercenaries.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Magic_Spell_Events.txt
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

Eighard MT 0.1221
  missions/Eighard_Missions.txt
Due: none

errorspam removal
  common/great_projects/anb_monuments_bulwar.txt
Due: none

The
  localisation/emperor_estates_l_english.yml
Due: Localization Encoding

Hmmm
  common/parliament_issues/anb_orenvalyam.txt
  common/scripted_effects/00_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/taychend_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  common/scripted_triggers/anb_scripted_triggers_taychend.txt
  events/Flavour_Orenvalyam_U39.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding, Localization Encoding

Final Fix Hopefully
  common/government_names/00_0anbennar_unique_names.txt
  common/on_actions/00_on_actions.txt
  dlc_metadata/dlc_info/00_dlc_info.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  localisation/Flavour_Shadowdreamer_H83_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
Due: Localization Encoding

work
  a.txt
  common/rebel_types/demons_spell.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: Brackets Syntax

fix
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

localisation
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

Playtest review fix 1
  common/event_modifiers/anb_genie_cult_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  decisions/AYNDecisions.txt
  decisions/Genie_cult.txt
  localisation/Flavour_Ardimyan_Natives_l_english.yml
  localisation/anb_merfolk_l_english.yml
  localisation/genie_cult_l_english.yml
Due: Decisions Encoding, Localization Encoding

playtest review fix 1.1
  missions/AYN_Missions.txt
Due: none

playtest review fix 1.2
  missions/AYN_Missions.txt
Due: none

attempt to fix parsing error
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none

parsing error fix
  common/scripted_effects/anb_scripted_effects_for_missions.txt
Due: none
