Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Sarhal vision fixes and map polishing
  common/scripted_effects/anb_setup_effects.txt
  map/default.map
Due: none

work
  common/estate_privileges/anb_privileges.txt
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

last loc before starting PR
  localisation/Flavour_Frozenmaw_Z18_l_english.yml
  missions/Frozenmaw_Missions.txt
Due: Localization Encoding

slight more
  common/custom_gui/provinceview.txt
  events/Flavour_Verne_A33.txt
Due: Events Encoding

merfolk button art
  gfx/interface/custom_gui/province_UI/merfolk_button.dds
  interface/provinceview.gfx
  interface/provinceview.gui
Due: none

work
  localisation/xhazobkult_l_english.yml
Due: Localization Encoding

more adventures
  common/event_modifiers/anb_mission_modifiers.txt
  customizable_localization/anb_custom_verne_localization.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

aaaa
  gfx/interface/custom_gui/province_UI/merfolk_button.dds
Due: none

Monstrous syntax fix
  events/MonstrousEvents.txt
Due: Events Encoding

Salla Cenag MT Loc
  events/Flavour_Salla_Cenag_I29.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding

MORE
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
Due: Events Encoding, Localization Encoding

Fixed some stuff
  missions/Unguldavori_Missions.txt
Due: none

Polishing Loc
  events/Flavour_Salla_Cenag_I29.txt
  localisation/anb_deepwoods_l_english.yml
Due: Events Encoding, Localization Encoding

Adshaw Northern Crusade prompt
  events/Flavour_Adshaw_Z26.txt
  localisation/Flavour_Adshaw_Z26_l_english.yml
  missions/Adshaw_Missions.txt
Due: Events Encoding, Localization Encoding

zokka
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_zokka.txt
  decisions/ZokkaDecisions.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Decisions Encoding, Localization Encoding

typo
  localisation/Flavour_Adshaw_Z26_l_english.yml
Due: Localization Encoding

More fixes
  common/disasters/rahen_religious_turmoil.txt
  localisation/high_philosophy_l_english.yml
  missions/Gisden_Missions.txt
Due: Localization Encoding

demesne
  common/cb_types/anb_cb_black_demesne.txt
  common/countries/Black Demesne.txt
  common/country_tags/anb_countries.txt
  common/estates/97_mages.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/scripted_triggers/00_scripted_triggers.txt
  decisions/BlackDemesneNation.txt
  events/Theocracies.txt
  history/countries/Z99 - Black Demesne.txt
  localisation/anb_formable_countries_l_english.yml
  localisation/anb_government_names_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Le fix
  common/disasters/rahen_religious_turmoil.txt
  missions/Gisden_Missions.txt
Due: none

Okman First Stuff
  common/custom_gui/countryreligionview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  customizable_localization/anb_custom_loca.txt
  decisions/EastSarhalFormables.txt
  events/AnzalkatsaSchoolFightEvents.txt
  events/MonstrousEvents.txt
  interface/countryreligionview.gui
  localisation/anb_anzalkatsa_clash_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

scripted effects fix
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  localisation/anb_magic_system_l_english.yml
  localisation/magic_system_events_l_english.yml
Due: Localization Encoding

Salla Fealgarn MT
  common/cb_types/00_cb_types.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/02_nobility.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_names/00_anbennar_government_names.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_heart_of_darkness_war.txt
  common/rebel_types/abberant.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/wargoal_types/00_wargoal_types.txt
  customizable_localization/anb_custom_salla_fealgarn_localization.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/DeepwoodsEvents.txt
  events/Elections.txt
  events/Flavour_SallaFealgarn_I30.txt
  history/countries/I30 - Salla Fealgarn.txt
  localisation/anb_government_names_l_english.yml
  missions/01_Generic_European_Missions.txt
  missions/Orda_Aldresia_Missions.txt
  missions/Salla_Fealgarn_Missions.txt
  missions/WoodElves_Missions.txt
Due: Events Encoding, Localization Encoding

Loc
  localisation/Flavour_SallaFealgarn_I30_l_english.yml
Due: Localization Encoding

titles
  history/countries/G24 - Gomosengha.txt
Due: none

Commenting some obsolete pieces of old rending code
  common/scripted_effects/spirits_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_spirits.txt
  customizable_localization/anb_halessi_spirits_localization.txt
  events/HalessiSpirits.txt
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/anb_spirits_l_english.yml
Due: Events Encoding, Localization Encoding

loc update
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  localisation/aaaaajothellmagic_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

writing review
  localisation/Flavour_Adshaw_Z26_l_english.yml
Due: Localization Encoding

Salla Myna progress
  missions/SallaMyna_Missions.txt
Due: none

Salla Myna privileges
  common/buildings/00_buildings.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/estates/98_adventurers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

Salla Myna modifiers update and additions
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

Salla Myna PTM
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

Salla Myna monument rework
  common/great_projects/anb_monuments_cannor.txt
Due: none

Salla Myna events
  events/Flavour_SallaMyna_I27.txt
Due: Events Encoding

zokka
  common/government_names/00_0anbennar_unique_names.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_xhazobkult.txt
  common/scripted_effects/anb_scripted_effects_zokka.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  decisions/KhetMandateDecisions.txt
  decisions/XhazobkultDecisions.txt
  events/Elections.txt
Due: Decisions Encoding, Events Encoding

zokka
  missions/Zokka_Missions.txt
Due: none

Mission tree icons
  gfx/interface/missions/mission_dragon_coast.dds
  gfx/interface/missions/mission_lencenor.dds
  gfx/interface/missions/mission_theatre_masks.dds
  interface/missionicons_anb.gfx
Due: none

small change
  localisation/Flavour_Eltikan_G60_l_english.yml
  missions/Eltikan_Missions.txt
Due: Localization Encoding

bugfixxx
  events/Flavour_Ameion_G52.txt
  localisation/Flavour_Khugra_L70_l_english.yml
  missions/Ameion_Missions.txt
Due: Events Encoding, Localization Encoding

Adding missing debug province in debug continent
  map/continent.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
