Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

breadbasket fix
  common/on_actions/00_on_actions.txt
  events/Flavour_Shelokmengi_S57.txt
  missions/Shelokmengi_Missions.txt
Due: Events Encoding

Code review
  common/custom_gui/customgui_racial_interface.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_racial_interface.txt
  customizable_localization/anb_racial_localization.txt
  events/Flavour_Asarta_L96.txt
  events/anb_racial_admin_mil.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_mechanim.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  events/anb_racial_pop_misc.txt
  interface/topbar.gui
Due: Events Encoding

Loc3
  localisation/anb_racial_events_l_english.yml
  localisation/anb_racial_l_english.yml
  localisation/anb_racial_pop_l_english.yml
Due: Localization Encoding

some fixes
  common/cb_types/00_cb_types.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/government_mechanics/anb_sri_baginda.txt
  events/LupulanEvents.txt
  localisation/anb_lupulan_events_l_english.yml
Due: Events Encoding, Localization Encoding

zokka
  events/Flavour_Zokka_F29.txt
  map/ambient_object.txt
  missions/Zokka_Missions.txt
Due: Events Encoding

zokka
  events/Flavour_Zokka_F29.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Events Encoding, Localization Encoding

zokka
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Localization Encoding

Small fix
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

fix2
  common/church_aspects/anb_beast_memory_aspects.txt
  missions/Mihitarab_Missions.txt
Due: none

zokka
  events/Flavour_Zokka_F29.txt
Due: Events Encoding

jar
  common/custom_gui/countrygovernmentview.txt
  common/disasters/rahen_dissolution_of_the_raj.txt
Due: none

5
  common/disasters/rahen_dissolution_of_the_raj.txt
Due: none

add in sponsored adventurer starting events
  common/event_modifiers/anb_sponsored_adventurers_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_sponsored_adventurers.txt
  events/Flavour_Bibyobi_S98.txt
  events/Flavour_Dadubakha_S20.txt
  events/Flavour_Hisraad_S22.txt
  events/Flavour_Rayafo_L28.txt
  events/anb_sponsored_adventurers.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
  localisation/Flavour_Dadubakha_S20_l_english.yml
  localisation/Flavour_Hisraad_S22_l_english.yml
  localisation/Flavour_Rayafo_L28_l_english.yml
  localisation/anb_governments_l_english.yml
  localisation/anb_sponsored_adventurers_l_english.yml
Due: Events Encoding, Localization Encoding

more loc and Dartax Fixes
  common/ideas/anb_country_ideas.txt
  decisions/Musaskalam.txt
  decisions/Surakes.txt
  events/Flavour_Dartaxagerdim_F22.txt
  events/anb_beikling_events.txt
  interface/anb_great_project.gfx
  localisation/Flavour_Dartaxagerdim_F22_l_english.yml
  localisation/anb_flavor_beiklings_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  missions/Dartaxagerdim_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

sponsored adventurers startup events fire only once
  common/on_actions/00_on_actions.txt
  events/Flavour_Bibyobi_S98.txt
  events/Flavour_Dadubakha_S20.txt
  events/Flavour_Hisraad_S22.txt
  events/Flavour_Rayafo_L28.txt
Due: Events Encoding

arj
  common/custom_gui/countrygovernmentview.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  events/RahenRajEvents.txt
  localisation/raj_l_english.yml
Due: Events Encoding, Localization Encoding

Fix Lorent Mission cb -1 months
  missions/Lorentish_Missions.txt
Due: none

Sky Domain Construct a Great Temple tweak and fix
  common/church_aspects/anb_sky_domain_abilities.txt
  events/SkyDomain.txt
  localisation/Flavour_mengi_l_english.yml
  missions/Hisost_Yamok_Missions.txt
Due: Events Encoding, Localization Encoding

Another fix
  events/SkyDomain.txt
Due: Events Encoding

sponsored adventurers starting events
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Bibyobi_S98.txt
  events/Flavour_Dadubakha_S20.txt
  events/Flavour_Hisraad_S22.txt
  events/Flavour_Rayafo_L28.txt
  localisation/Flavour_Dadubakha_S20_l_english.yml
  localisation/Flavour_Rayafo_L28_l_english.yml
Due: Events Encoding, Localization Encoding

pictures
  common/buildings/00_buildings.txt
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

moooore
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_verne.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Events Encoding, Localization Encoding

Sky domain fix
  events/SkyDomain.txt
Due: Events Encoding

removed extraneous OR and extra modifier file
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/event_modifiers/anb_sponsored_adventurers_modifiers.txt
  common/government_reforms/03_government_reforms_theocracies.txt
Due: none

fixes per okman
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_sponsored_adventurers.txt
  events/Flavour_Bibyobi_S98.txt
  events/Flavour_Dadubakha_S20.txt
  events/Flavour_Hisraad_S22.txt
  events/Flavour_Rayafo_L28.txt
  events/anb_sponsored_adventurers.txt
Due: Events Encoding

changed else_if to if in scripted effect
  common/scripted_effects/anb_scripted_effects_sponsored_adventurers.txt
Due: none

day 1
  common/estate_privileges/estate_adeen_privileges.txt
  common/estates/84_adeen.txt
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/incidents/00_isolationism.txt
  common/on_actions/00_on_actions.txt
  common/rebel_types/adeen_rebelsv2.txt
  common/scripted_effects/anb_rinta_incidents_scripted_effects.txt
  events/RintaSeekerEvents.txt
  history/countries/S93 - Alefisol.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Clouded Eye Mission Loc
  localisation/Flavour_Clouded_Eye_B24_l_english.yml
Due: Localization Encoding

removed duplicated modifiers
  events/Flavour_Rayafo_L28.txt
  events/anb_sponsored_adventurers.txt
Due: Events Encoding

The relatively minor changes
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_racial_interface.txt
  events/anb_racial_pop_events_centaur.txt
  events/anb_racial_pop_events_dwarven.txt
  events/anb_racial_pop_events_elven.txt
  events/anb_racial_pop_events_gnollish.txt
  events/anb_racial_pop_events_gnomish.txt
  events/anb_racial_pop_events_goblin.txt
  events/anb_racial_pop_events_half_elven.txt
  events/anb_racial_pop_events_half_orcish.txt
  events/anb_racial_pop_events_halfling.txt
  events/anb_racial_pop_events_harimari.txt
  events/anb_racial_pop_events_harpy.txt
  events/anb_racial_pop_events_hobgoblin.txt
  events/anb_racial_pop_events_human.txt
  events/anb_racial_pop_events_kobold.txt
  events/anb_racial_pop_events_lizardfolk.txt
  events/anb_racial_pop_events_mechanim.txt
  events/anb_racial_pop_events_ogre.txt
  events/anb_racial_pop_events_orcish.txt
  events/anb_racial_pop_events_ruinborn.txt
  events/anb_racial_pop_events_troll.txt
  events/anb_racial_pop_misc.txt
  localisation/anb_racial_l_english.yml
Due: Events Encoding, Localization Encoding

Recoded round and percent
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
Due: none

magical projects
  common/custom_gui/magic_menu.txt
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/estate_mages.txt
  common/event_modifiers/anb_spell_modifiers.txt
  common/mercenary_companies/00_mercenaries.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_effects/magic_project_effects.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  customizable_localization/anb_magic_other_custom_loca.txt
  decisions/Mages.txt
  decisions/Magic.txt
  decisions/MagisteriumDecisions.txt
  events/Magic_Project_Events.txt
  gfx/interface/estate_interface/war_wizard_interaction.dds
  interface/countrydecisionsview.gui
  interface/countryestatesview.gfx
  localisation/anb_magic_system_l_english.yml
  localisation/anb_mercs_l_english.yml
  localisation/magic_project_events_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

merfolk changes
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_merfolk_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/merfolk_scripted_effects.txt
  customizable_localization/anb_merfolk.txt
  events/Flavour_Asarta_L96.txt
  events/Flavour_Yassa_L81.txt
  events/MerfolkEvents.txt
  localisation/anb_merfolk_l_english.yml
Due: Events Encoding, Localization Encoding

still show up
  common/event_modifiers/anb_merfolk_modifiers.txt
Due: none

loc change
  localisation/anb_merfolk_l_english.yml
Due: Localization Encoding

Did reconciled racial_modifiers.6, racial_mil_military_change_tech, has_unmatching_military_to_unit Will do reset_racial_military_via_administration later
  common/custom_gui/customgui_racial_interface.txt
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  events/anb_racial_admin_mil.txt
Due: Events Encoding

province buttons
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Chaqway_G87.txt
  gfx/interface/custom_gui/province_UI/trade_button.dds
  interface/provinceview.gfx
  interface/provinceview.gui
  localisation/Flavour_Chaqway_G87_l_english.yml
  missions/Chaqway_Missions.txt
Due: Events Encoding, Localization Encoding

a
  common/disasters/rahen_dissolution_of_the_raj.txt
  common/on_actions/00_on_actions.txt
Due: none

ajar ajar
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_expand_raj.txt
  common/peace_treaties/anb_expand_raj_vizier.txt
  common/peace_treaties/anb_raj_promotion_raja.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/RahenRajEvents.txt
  localisation/raj_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
