Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

doing pdx job
  localisation/leviathan_l_english.yml
Due: Localization Encoding

NSC Magi Incident WIP
  common/ages/00_default.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/97_mages.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/incidents/00_isolationism.txt
  common/scripted_effects/anb_scripted_effects_for_isolationism.txt
  decisions/BulwarCoolDecisions.txt
  decisions/NewSunCultDecisions.txt
  events/NewSunCultEvents.txt
  localisation/anb_new_sun_cult_events_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

remove tooltip
  common/scripted_triggers/anb_scripted_triggers_schools.txt
  localisation/anb_tooltips_l_english.yml
Due: Localization Encoding

.
  common/scripted_triggers/anb_scripted_triggers_schools.txt
Due: none

Review 4.1 fix
  common/on_actions/00_on_actions.txt
  dlc_metadata/dlc_info/00_dlc_info.txt
  dlc_metadata/dlc_recommendations/07_missions.txt
  events/Flavour_AYN.txt
  interface/anb_bookmarks.gfx
  localisation/Flavour_Ardimyan_Natives_l_english.yml
  localisation/anb_repurposed_dlc_buttons_l_english.yml
  missions/AYN_Missions.txt
Due: Events Encoding, Localization Encoding

Tsukqiao Fix
  missions/Tsukqiao_Missions.txt
Due: none

4.2 review fix
  common/on_actions/00_on_actions.txt
  localisation/Flavour_Ardimyan_Natives_l_english.yml
Due: Localization Encoding

Aelantir Formable Decision Update
  decisions/AdventurerFormables.txt
  decisions/AelnarDecisions.txt
  decisions/AmadiaDecisions.txt
  decisions/CataboekDecision.txt
  decisions/ColonialFormables.txt
  decisions/EordandDecisions.txt
  decisions/EordandNation.txt
  decisions/KheionaiNation.txt
  decisions/NorthAelantirFormables.txt
  decisions/SaerraegNation.txt
  decisions/SouthAelantirFormables.txt
  decisions/TaychendDecisions.txt
  decisions/TheinosNation.txt
  decisions/TriarchyNation.txt
  decisions/VrendzanNation.txt
  decisions/YnnDecisions.txt
Due: Decisions Encoding

.
  decisions/NorthAelantirFormables.txt
Due: Decisions Encoding

.
  decisions/ForbiddenPlainsFormables.txt
  decisions/LakeFederationStandingCohesion.txt
Due: Decisions Encoding

Add Na Kiai NIs
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

salla cenag bugfix
  missions/Salla_Cenag_Missions.txt
Due: none

Khuraen NI loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Typo fix
  common/ideas/anb_country_ideas.txt
Due: none

Fix
  interface/provinceview.gui
Due: none

Delet
  gfx/interface/custom_gui/province_UI/empty_35x35.dds
  interface/provinceview.gfx
Due: none

focussing exists
  localisation/Flavour_Plumstead_H61_l_english.yml
  localisation/Flavour_TheCommand_R62_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
  localisation/raj_l_english.yml
Due: Localization Encoding

.
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Ope
  common/peace_treaties/anb_apocalypse.txt
  common/scripted_effects/taychend_scripted_effects.txt
Due: none

NSC Magi Incident fixes
  decisions/NewSunCultDecisions.txt
  events/NewSunCultEvents.txt
  localisation/anb_new_sun_cult_events_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

last pass and loc
  events/anb_generic_insyaa_events.txt
  localisation/anb_generic_insyaa_l_english.yml
Due: Events Encoding, Localization Encoding

NSC Magi unreviewed loc
  events/NewSunCultEvents.txt
  localisation/anb_new_sun_cult_events_l_english.yml
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

rename
  common/opinion_modifiers/anb_opinion_modifiers.txt
  events/anb_generic_insyaa_events.txt
  localisation/anb_generic_insyaa_l_english.yml
Due: Events Encoding, Localization Encoding

update comment
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

Okman Fix 2
  common/custom_gui/countrydiplomacyview.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

pictures
  events/anb_generic_insyaa_events.txt
Due: Events Encoding

last necro patch
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_project.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_tooltips_l_english.yml
Due: Events Encoding, Localization Encoding

immortal ruler for speak with dead
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

reverting abjuration testing
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
Due: none

Oops
  common/custom_gui/provinceview.txt
  interface/provinceview.gui
Due: none

Foundationism of Rage
  common/church_aspects/anb_foundationism.txt
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_effects/artifice_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  customizable_localization/anb_custom_artifice_localization.txt
  events/anb_generic_insyaa_events.txt
  interface/countryreligionview.gui
  localisation/anb_cultures_l_english.yml
  localisation/anb_religions_l_english.yml
  localisation/foundationism_l_english.yml
Due: Events Encoding, Localization Encoding

Monuments Changes
  common/estate_privileges/anb_privileges.txt
  common/great_projects/anb_monuments_bulwar.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  localisation/anb_great_projects_l_english.yml
  localisation/foundationism_l_english.yml
Due: Localization Encoding

R.Rage Mango
  common/on_actions/00_on_actions.txt
  common/scripted_effects/mechanim_scripted_effects.txt
  events/ManagoPokuEvents.txt
  localisation/anb_yenbenmirra_l_english.yml
  localisation/manago_poku_l_english.yml
Due: Events Encoding, Localization Encoding

lichdom speedups added
  events/Magic_Project_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

Manago Poku Religion
  common/scripted_effects/mechanim_scripted_effects.txt
  events/MechanimEvents.txt
Due: Events Encoding

move event numbers and highlight
  common/on_actions/00_on_actions.txt
  events/anb_generic_insyaa_events.txt
  localisation/anb_generic_insyaa_l_english.yml
Due: Events Encoding, Localization Encoding

Fixes
  common/estate_privileges/anb_privileges.txt
  decisions/BulwarFormables.txt
  events/NewSunCultEvents.txt
  missions/EduzVacyn_Missions.txt
Due: Decisions Encoding, Events Encoding

Artificery capacity from modifier to tooltip
  common/church_aspects/anb_foundationism.txt
  common/event_modifiers/anb_insyaa_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_custom_artifice_localization.txt
  customizable_localization/anb_magic_menus_localization.txt
  events/anb_generic_insyaa_events.txt
  localisation/artifice_l_english.yml
  localisation/foundationism_l_english.yml
Due: Events Encoding, Localization Encoding

.
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

content and balance review
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_other_custom_loca.txt
  events/Magic_Spell_Events.txt
  events/Ruler.txt
  localisation/anb_magic_spells_l_english.yml
Due: Events Encoding, Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
