Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

test 2
  common/incidents/00_isolationism.txt
  common/on_actions/00_on_actions.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

fix
  missions/Hisost_Yamok_Missions.txt
Due: none

test 3
  common/countries/Alefisol.txt
  common/country_tags/anb_countries.txt
  common/on_actions/00_on_actions.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

test 4
  common/countries/Alefisol.txt
  common/ideas/anb_country_ideas.txt
  common/incidents/00_isolationism.txt
  common/on_actions/00_on_actions.txt
  events/RintaSeekerEvents.txt
  localisation/anb_countries_l_english.yml
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Column 4
  common/estate_privileges/01_church_privileges.txt
  common/estate_privileges/02_noble_privileges.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  missions/Khao_Elnak_Missions.txt
  missions/Rayaz_Missions.txt
Due: none

finishing touches, pls
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_OrdaAldresia_A77.txt
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  missions/Orda_Aldresia_Missions.txt
Due: Events Encoding, Localization Encoding

fixed broken character in harpy ship names
  common/countries/Ayarallen.txt
  common/countries/Daughters of the Hills.txt
  common/countries/Firanyalen.txt
  common/countries/Hytiranyalen.txt
  common/countries/Kiohalen.txt
  common/countries/Misarallen.txt
  common/countries/Nansalen.txt
Due: none

fix
  common/disasters/daxugo_rebellions.txt
  decisions/HalessiFormables.txt
  events/Flavour_NuugdanTsarai_Y91.txt
Due: Decisions Encoding, Events Encoding

Le fixes
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Rezankand_H67.txt
  localisation/Flavour_Rezankand_H67_l_english.yml
  missions/Rezankand_Missions.txt
Due: Events Encoding, Localization Encoding

Saving people a lot of time
  missions/Azkare_Missions.txt
Due: none

Jinnakah history file
  history/countries/S92 - Jinnakah.txt
Due: none

brasssan
  events/Flavour_Rezankand_H67.txt
Due: Events Encoding

barassani go away
  localisation/Flavour_AzkaSur_U20_l_english.yml
  localisation/Flavour_Surakes_F52_l_english.yml
  localisation/anb_startup_screen_l_english.yml
Due: Localization Encoding

1 minor bugfix
  events/ravelianism.txt
Due: Events Encoding

another bugfix
  interface/general_stuff.gfx
Due: none

Esedor fix 2
  TEST.txt
  common/event_modifiers/CoT_Event_Modifiers.txt
  common/government_reforms/07_government_reforms_COT.txt
  common/governments/00_governments.txt
Due: Brackets Syntax

removed bugged line from general_stuff.gfx
  interface/general_stuff.gfx
Due: none

Fixing bugs
  events/Flavour_Clouded_Eye_B24.txt
  localisation/anb_opinion_modifiers_l_english.yml
Due: Events Encoding, Localization Encoding

Gave Trigger to Intro event
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding

character fix
  common/countries/Kunolo.txt
Due: none

Monstrous Events Reorganization
  events/MonstrousEvents.txt
Due: Events Encoding

fixed indentation and removed gui thing
  events/Flavour_Khugra_L70.txt
  interface/countryreligionview.gui
Due: Events Encoding

Varaine Sarhal Mission, Vizier icon and code reorg and Arawkelin Change
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Varaine_A99.txt
  gfx/interface/icon_diplomacy_leadvizier.dds
  gfx/interface/icon_diplomacy_weakvizier.dds
  gfx/interface/icon_vizier.dds
  interface/countrydiplomacyview.gfx
  interface/general_stuff.gfx
  localisation/Flavour_Varaine_A99_l_english.yml
  localisation/anb_formable_countries_l_english.yml
  missions/Arawkelin_Missions.txt
  missions/Varaine_Missions.txt
Due: Events Encoding, Localization Encoding

art moooore
  gfx/interface/custom_gui/province_button_dummy2.dds
  interface/provinceview.gfx
  interface/provinceview.gui
Due: none

more fixies
  common/great_projects/anb_monuments_rahen_haless.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/hisost_yamok_scripted_effects.txt
  events/SkyDomain.txt
  localisation/Flavour_Hisost_Yamok_S23_l_english.yml
Due: Events Encoding, Localization Encoding

another fixie
  events/SkyDomain.txt
Due: Events Encoding

Loc Fix
  common/estate_agendas/anb_naga_agendas.txt
Due: none

Esedor host for republic
  common/governments/00_governments.txt
Due: none

Loc Fix 2
  common/estate_agendas/anb_naga_agendas.txt
Due: none

lil extra
  events/Flavour_Hisost_Yamok_S23.txt
  localisation/Flavour_Hisost_Yamok_S23_l_english.yml
Due: Events Encoding, Localization Encoding

LocFix
  localisation/anb_estates_l_english.yml
Due: Localization Encoding

rat flaggy
  dlc_metadata/dlc_recommendations/07_missions.txt
Due: none

moar
  common/church_aspects/anb_sky_domain_abilities.txt
  common/religions/00_anb_religion.txt
  localisation/Flavour_Hisost_Yamok_S23_l_english.yml
  missions/Hisost_Yamok_Missions.txt
Due: Localization Encoding

Column 5
  common/government_reforms/01_government_reforms_monarchies.txt
  missions/Rayaz_Missions.txt
Due: none

derat
  missions/Uesrennu_Missions.txt
Due: none

spawn buff take1
  common/event_modifiers/anb_event_modifiers.txt
Due: none

Artificer Estate Icons
  common/estate_privileges/estate_artifice_privileges.txt
  gfx/interface/privileges/privilege_artificers_development_tools.dds
  gfx/interface/privileges/privilege_artificers_draft_artificers.dds
  gfx/interface/privileges/privilege_artificers_focus_on_artificer_units.dds
  gfx/interface/privileges/privilege_artificers_focus_on_quantity.dds
  gfx/interface/privileges/privilege_artificers_gnommo_diplomacy.dds
  gfx/interface/privileges/privilege_artificers_grand_exhibition_hall.dds
  gfx/interface/privileges/privilege_artificers_grant_production_rights.dds
  gfx/interface/privileges/privilege_artificers_ivory_tools.dds
  gfx/interface/privileges/privilege_artificers_precursor_weapons.dds
  gfx/interface/privileges/privilege_artificers_ravelian_emissaries.dds
  gfx/interface/privileges/privilege_artificers_relic_fueled_artificery.dds
  gfx/interface/privileges/privilege_artificers_trained_mage_hunters.dds
  interface/countryestatesview.gfx
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
