Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

hide
  common/church_aspects/anb_drozma_tur_aspects.txt
Due: none

Before gushuo
  missions/Rayaz_Missions.txt
Due: none

bir
  localisation/Flavour_Chaqway_G87_l_english.yml
Due: Localization Encoding

Wineport Fixes
  common/estates/02_nobility.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_names/00_0anbennar_unique_names.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  events/Flavour_Wineport_A16.txt
  gfx/interface/ideas_EU4/settle_cost.dds
  gfx/interface/ideas_EU4/wine_trade_icon.dds
  localisation/Flavour_Wineport_A16_l_english.yml
  missions/WineportMissions.txt
Due: Events Encoding, Localization Encoding

zokka
  customizable_localization/anb_customizable_localization.txt
  events/Flavour_Zokka_F29.txt
  localisation/Flavour_Zokka_F29_l_english.yml
Due: Events Encoding, Localization Encoding

Gushuokguan stuff
  common/government_reforms/02_government_reforms_republics.txt
  decisions/EunuchAnbDecisions.txt
  decisions/GushuokguanDecisions.txt
  events/Flavour_Gushuokguan_Y17.txt
  localisation/Flavour_Gushuokguan_Y17_l_english.yml
  missions/Gushuokguan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Binsplosion fixes
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  localisation/binsplosion_l_english.yml
Due: Localization Encoding

banche
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Chaqway_G87.txt
  localisation/Flavour_Chaqway_G87_l_english.yml
  missions/Chaqway_Missions.txt
Due: Events Encoding, Localization Encoding

.
  decisions/ChaqwaiDecisions.txt
  events/Flavour_Chaqway_G87.txt
  missions/Chaqway_Missions.txt
Due: Decisions Encoding, Events Encoding

Excavation continuation
  common/buildings/03_cot_buildings_frostheart.txt
  common/custom_gui/provinceview.txt
  common/province_triggered_modifiers/CoT_modifiers.txt
  events/CoT_excavate_rewards.txt
  interface/provinceview.gui
  localisation/CoT_excavations_l_english.yml
  localisation/anb_diggy_diggy_hole_l_english.yml
Due: Events Encoding, Localization Encoding

silly
  events/Flavour_Hisost_Yamok_S23.txt
  localisation/Flavour_Hisost_Yamok_S23_l_english.yml
Due: Events Encoding, Localization Encoding

oop
  common/on_actions/00_on_actions.txt
Due: none

minor loc fixes
  localisation/noukahi_pantheon_l_english.yml
Due: Localization Encoding

elections
  events/Flavour_Toarnaire_Z68.txt
Due: Events Encoding

Major changes to magic system in progress
  common/custom_gui/magic_menu.txt
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/estate_mages.txt
  common/estates_preload/anb_estate_modifiers.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/event_modifiers/anb_spell_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  events/MagicEstates.txt
  events/Ruler.txt
  gfx/interface/estate_interface/war_wizard_interaction.dds
  interface/countryestatesview.gfx
  localisation/anb_magic_system_l_english.yml
Due: Events Encoding, Localization Encoding

1
  common/custom_gui/countryreligionview.txt
  gfx/interface/taychend_window_bg.dds
  interface/countryreligionview.gfx
  interface/countryreligionview.gui
  localisation/anb_taychend_l_english.yml
Due: Localization Encoding

Roosts: Remembering to give Mulen cheaper roosts
  missions/Mulen_Missions.txt
Due: none

monument events
  common/event_modifiers/anb_cannor_monument_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Cannor_Monument_Flavour_Events.txt
  localisation/anb_cannor_monuments_I_english.yml
  localisation/anb_cannor_monuments_l_english.yml
Due: Events Encoding, Localization Encoding

i fucked up
  map/ambient_object.txt
Due: none

kwineh
  common/event_modifiers/anb_weeping_morther_modifiers.txt
  common/government_reforms/05_government_reforms_natives.txt
  common/governments/00_governments.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  gfx/interface/government_reform_icons/bloodgroves_law.dds
  history/countries/G05 - Kwineh.txt
  history/provinces/1016 - Kwinehkost.txt
  history/provinces/1110 - Fadakwinn.txt
  history/provinces/1116 - Jertrinnkost.txt
  history/provinces/1117 - Sennsect.txt
  history/provinces/1124 - Fiorshea.txt
  history/provinces/1996 - Idhainn.txt
  history/provinces/2283 - Gabenn.txt
  history/provinces/2437 - Samsimritt.txt
  history/provinces/2450 - Firrfrem.txt
  history/provinces/2548 - Fiorjert.txt
  interface/governmentreformicons.gfx
  localisation/anb_weeping_mother_l_english.yml
Due: Localization Encoding

Add minority when finishing a colony
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none

Brambleskinner allow any non-fey religion
  localisation/Flavour_Brambleskinner_I35_l_english.yml
  missions/Brambleskinner_Missions.txt
Due: Localization Encoding

updates after playtesting
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/06_government_reforms_common.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/subject_types/00_subject_types.txt
  events/Flavour_Bibyobi_S96.txt
  events/Flavour_Hisraad_S22.txt
  events/adventurers.txt
  events/anb_sponsored_adventurers.txt
  history/diplomacy/baashidi_diplomacy.txt
  history/diplomacy/sponsored_adventurers.txt
  history/diplomacy/west_sarhal_and_horashesh.txt
Due: Events Encoding

didn't like the event handler anyway
  common/on_actions/00_on_actions.txt
  events/Cannor_Monument_Flavour_Events.txt
  localisation/anb_cannor_monuments_l_english.yml
Due: Events Encoding, Localization Encoding

oops
  events/RahenEvents.txt
Due: Events Encoding

fixing the fix
  common/on_actions/00_on_actions.txt
  events/Flavour_Hisost_Yamok_S23.txt
Due: Events Encoding

com
  common/incidents/00_isolationism.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_alefisol_scripted_effects.txt
  events/RintaSeekerEvents.txt
  localisation/rinta_seekers_l_english.yml
Due: Events Encoding, Localization Encoding

Bulgu Orazan PR
  decisions/OrcDecisions.txt
  decisions/OrcFormables.txt
  events/Group_Flavour_Orcs.txt
  localisation/Group_Flavour_Orcs_l_english.yml
  localisation/anb_decisions_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

forgot
  events/Flavour_Asarta_L96.txt
Due: Events Encoding

added war exhaustion reduction to dismanle command cb
  events/Flavour_TheCommand_R62.txt
Due: Events Encoding

initial frozenmaw rework commit
  localisation/Flavour_Frozenmaw_Z18_l_english.yml
  missions/Frozenmaw_Missions.txt
  missions/Grombar_Missions.txt
Due: Localization Encoding

independence war updates
  common/event_modifiers/anb_sponsored_adventurers_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/Flavour_Bibyobi_S96.txt
  events/Flavour_Hisraad_S22.txt
  events/anb_sponsored_adventurers.txt
  localisation/Flavour_Bibyobi_S98_l_english.yml
  localisation/Flavour_Hisraad_S22_l_english.yml
  localisation/anb_sponsored_adventurers_l_english.yml
Due: Events Encoding, Localization Encoding

Getting there
  common/custom_gui/magic_menu.txt
  common/estates_preload/anb_estate_modifiers.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  localisation/anb_magic_system_l_english.yml
Due: Localization Encoding

fixing DT and the religionviewcrash
  common/church_aspects/anb_drozma_tur_aspects.txt
  common/religions/00_anb_religion.txt
  interface/countryreligionview.gui
Due: none

r
  localisation/Flavour_Uesrennu_J78_l_english.yml
Due: Localization Encoding

fix
  missions/Chaqway_Missions.txt
Due: none

scripted triggers
  common/church_aspects/anb_drozma_tur_aspects.txt
  common/religions/00_anb_religion.txt
  common/scripted_triggers/anb_scripted_triggers_ynn.txt
Due: none

Nice
  events/RintaSeekerEvents.txt
Due: Events Encoding

reorganise file
  common/scripted_effects/anb_scripted_effects_for_magic.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
Due: none

structure
  localisation/Flavour_Helmod_Z88_l_english.yml
  missions/Helmod_Missions.txt
Due: Localization Encoding
