Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

needs more trade range + buff cuz it was shit apparently
  common/estate_privileges/anb_privileges.txt
Due: none

whoops forgot to remove, I was trying smth
  common/estate_privileges/anb_privileges.txt
Due: none

aart
  missions/Celmaldor_Missions.txt
Due: none

Fix position of modifiers_box_5 and comment out for now
  interface/countrygovernmentview.gui
Due: none

please work
  .gitignore
  Anbennar-PublicFork.mod
Due: none

Fix saqraxat.27
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Saqraxat_L04.txt
Due: Events Encoding

carry the zero
  common/estate_privileges/anb_privileges.txt
Due: none

small loc change
  localisation/anb_naval_doctrines_l_english.yml
Due: Localization Encoding

Redoing prev commit https://discord.com/channels/405480910562263040/1380759450306220113/1388587811074084905
  events/Flavour_Saqraxat_L04.txt
Due: Events Encoding

del commented flag trigger
  events/Flavour_Saqraxat_L04.txt
Due: Events Encoding

more Toarnaire dlc check
  missions/Toarnaire_Missions.txt
Due: none

fixes
  localisation/Flavour_Verne_A33_l_english.yml
  missions/Verne_Missions.txt
Due: Localization Encoding

Tooltips + better code
  events/Flavour_Saqraxat_L04.txt
  localisation/Flavour_Saqraxat_L04_l_english.yml
  missions/Saqraxat_Missions.txt
Due: Events Encoding, Localization Encoding

hm
  decisions/TiboktsamoDecisions.txt
  missions/Tiboktsamo_Missions.txt
Due: Decisions Encoding

Climate and Continent Fixes
  map/climate.txt
  map/continent.txt
Due: none

misc fix
  common/event_modifiers/CoT_misc_modifiers.txt
Due: none

Province Names 1
  localisation/prov_names_l_english.yml
Due: Localization Encoding

Province Adj 1
  localisation/prov_names_adj_l_english.yml
Due: Localization Encoding

Smol Nudge
  map/positions.txt
Due: none

a
  customizable_localization/anb_eoa_courts_custom_loc.txt
  events/Flavour_EoA_reforms.txt
  localisation/imperial_reforms_l_english.yml
Due: Events Encoding, Localization Encoding

the final commit
  common/great_projects/anb_monuments_cannor.txt
  events/Flavour_Istralore_A45.txt
  events/Noukahi_Pantheon.txt
  localisation/Flavour_Istralore_A45_l_english.yml
  localisation/noukahi_pantheon_l_english.yml
  missions/Istralore_Missions.txt
Due: Events Encoding, Localization Encoding

fix
  localisation/noukahi_pantheon_l_english.yml
Due: Localization Encoding

fixfix
  localisation/noukahi_pantheon_l_english.yml
Due: Localization Encoding

aa
  common/on_actions/00_on_actions.txt
Due: none

fix
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_Saqraxat_L04.txt
Due: Events Encoding

more fixing
  common/scripted_triggers/anb_scripted_triggers_celmaldor.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
  missions/Celmaldor_Missions.txt
Due: Localization Encoding

Moar Konol fixes
  common/custom_gui/countrydecisionsview.txt
  common/decrees/00_china.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/peace_treaties/anb_shadowflame.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Konolkhatep_F66.txt
  events/MedasiEvents.txt
Due: Events Encoding

ifs limits chances and triggers
  events/Flavour_EoA_reforms.txt
Due: Events Encoding

same
  events/HolyRomanEmpire.txt
Due: Events Encoding

magic back-end changes
  common/custom_gui/magic_menu.txt
  common/estate_privileges/estate_mages_privileges.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/Magic_Project_Events.txt
  events/Magic_Study_Events.txt
  events/Magic_System_Events.txt
  localisation/anb_magic_projects_l_english.yml
Due: Events Encoding, Localization Encoding

No Grama heir allowed
  events/Flavour_Clouded_Eye_B24.txt
Due: Events Encoding

transferring the immediate to .25 from .26
  events/Flavour_EoA_reforms.txt
Due: Events Encoding

loc additions
  localisation/Flavour_Khadisrapur_R11_l_english.yml
Due: Localization Encoding

d
  events/Flavour_EoA_reforms.txt
Due: Events Encoding

dd
  events/Flavour_EoA_reforms.txt
Due: Events Encoding

some updates
  events/Flavour_Wyvernheart_B39.txt
  localisation/anb_estate_mages_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  missions/Pashaine_Missions.txt
Due: Events Encoding, Localization Encoding

tearfall changes
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

fixes
  common/custom_gui/magic_menu.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  missions/Pashaine_Missions.txt
Due: none

oops
  events/Magic_Project_Events.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
