Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

autonomy bug still bugs... revert
  common/scripted_effects/forbidden_land_scripted_effects.txt
Due: none

Allow Bianfang to use Palace of Divine Call
  common/great_projects/anb_monuments_rahen_haless.txt
  localisation/Flavour_Bianfang_Y09_l_english.yml
  missions/Bianfang_Missions.txt
Due: Localization Encoding

tyop
  localisation/high_philosophy_l_english.yml
Due: Localization Encoding

Giving SP the cool Visvatma icon
  common/custom_gui/countryreligionview.txt
  interface/countryreligionview.gui
Due: none

Updating Eagle Hob Namelists
  common/countries/Kuenan Nirokyu.txt
  common/countries/Nirenun Syul.txt
  common/countries/Nunsan Banbe.txt
  common/countries/Nutean Kezen.txt
  common/countries/Zugi Yusan.txt
Due: none

unit balance review
  common/estates/97_mages.txt
  common/on_actions/00_on_actions.txt
  common/units/insyaa_kobolds_12_early_spring_rifles.txt
  common/units/insyaa_kobolds_15_bird_beak_breakers.txt
  common/units/insyaa_kobolds_19_coiled_shrapnel_launcher.txt
  common/units/insyaa_kobolds_23_citadel_sentries.txt
  common/units/insyaa_kobolds_30_stonerain_infantry.txt
  common/units/insyaa_kobolds_30_titanofall_infantry.txt
  common/units/insyaa_lowlands_30_wildfire_infantry.txt
  common/units/mechanim_15_ashshoots.txt
  common/units/mechanim_15_fireproof_linebreakers.txt
  common/units/mechanim_15_hinuiflora_guerillas.txt
  common/units/mechanim_19_ashcloaks.txt
  common/units/mechanim_19_shattershot_prowlers.txt
  common/units/mechanim_1_awoken_remnants.txt
  common/units/mechanim_23_battlefield_incinerators.txt
  common/units/mechanim_23_hinuiflora_irregulars.txt
  common/units/mechanim_26_volcanic_shadecasters.txt
  common/units/mechanim_28_veteran_elites.txt
  common/units/mechanim_30_ashclad_infantry.txt
  common/units/mechanim_30_hinuiflora_infantry.txt
  common/units/mechanim_30_immortal_infantry.txt
  customizable_localization/anb_custom_loca_mechanim.txt
  events/ManagoPokuEvents.txt
  localisation/anb_regions_l_english.yml
  localisation/manago_poku_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding

Ikogshaantus Part 1 Finished
  common/estate_privileges/01_church_privileges.txt
  common/event_modifiers/anb_lake_modifiers.txt
  common/parliament_issues/anb_ikogshaantus.txt
  common/scripted_triggers/anb_scripted_triggers_lake_federation.txt
  events/Flavour_Ikogshaantus_J52.txt
  localisation/Flavour_Ikogshaantus_J52_l_english.yml
  localisation/prov_names_adj_l_english.yml
  localisation/prov_names_l_english.yml
  missions/Ikogshaantus_Missions.txt
Due: Events Encoding, Localization Encoding

PR changes
  common/estate_privileges/estate_lowercastes_privileges.txt
  common/estate_privileges/estate_middlecastes_privileges.txt
  common/estate_privileges/estate_uppercastes_privileges.txt
  common/government_mechanics/anb_khadisrapur_industrial_cap.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  events/Flavour_Khadisrapur_R11.txt
  localisation/Flavour_Khadisrapur_R11_l_english.yml
Due: Events Encoding, Localization Encoding

Sungarden Nation names
  localisation/CoT_i_nations_l_english.yml
Due: Localization Encoding

Sungarden Nation Names
  localisation/CoT_i_nations_l_english.yml
Due: Localization Encoding

Ikogshaantus Part 2 Finished
  common/estate_privileges/anb_privileges.txt
  common/estates/03_burghers.txt
  common/event_modifiers/anb_lake_modifiers.txt
  common/parliament_issues/anb_ikogshaantus.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Ikogshaantus_J52.txt
  localisation/Flavour_Ikogshaantus_J52_l_english.yml
  missions/Ikogshaantus_Missions.txt
Due: Events Encoding, Localization Encoding

Istralore NIs 2.0
  common/ideas/anb_country_ideas.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Yahou Lapahtol NIs
  common/ideas/anb_country_ideas.txt
Due: none

Yahou Lapahtol NI Loc
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

Changed trade_good to trade_goods
  events/EscanniWars.txt
Due: Events Encoding

Fix
  events/EscanniWars.txt
Due: Events Encoding

Auto stash before rebase of "new-master" onto "JayBean/new-master"
  common/countries/Yehatirha.txt
Due: none

Preta modifier loc fix
  localisation/anb_spirits_l_english.yml
Due: Localization Encoding

var fix
  decisions/SalceranNation.txt
Due: Decisions Encoding

loc implementation
  localisation/Flavour_Wyvernheart_B39_l_english.yml
Due: Localization Encoding

oops
  events/Flavour_Wyvernheart_B39.txt
Due: Events Encoding

.
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

fix for possible bordergore
  events/Flavour_Kobildzan_Z38.txt
Due: Events Encoding

bom?
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

add culture or dip
  decisions/SalceranNation.txt
Due: Decisions Encoding

anb
  decisions/SalceranNation.txt
Due: Decisions Encoding

fix1
  localisation/Flavour_Wyvernheart_B39_l_english.yml
Due: Localization Encoding

trimming a loc
  events/Flavour_Wyvernheart_B39.txt
  localisation/Flavour_Wyvernheart_B39_l_english.yml
Due: Events Encoding, Localization Encoding

Include all possible edge cases
  events/Flavour_Kobildzan_Z38.txt
Due: Events Encoding

PR event changes
  events/Flavour_Azjakuma_Y01.txt
  events/Flavour_Khadisrapur_R11.txt
Due: Events Encoding

Areas nad provinces part 1
  localisation/CoT_regions_n_above.yml
  localisation/anb_areas_l_english.yml
Due: Localization Encoding

the hunt rework
  common/church_aspects/anb_hunt_abilities.txt
  common/estate_privileges/anb_privileges.txt
  common/estates/01_church.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/religions/00_anb_religion.txt
  decisions/HarpyDecisions.txt
  events/HarpyEvents.txt
  events/The_Hunt_events.txt
  localisation/the_hunt_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

forgot to change the costs...
  common/church_aspects/anb_hunt_abilities.txt
Due: none

events
  events/Flavour_Khadisrapur_R11.txt
  localisation/Flavour_Azjakuma_Y01_l_english.yml
  localisation/Flavour_Khadisrapur_R11_l_english.yml
  map/provincegroup.txt
  missions/Khadisrapur_Missions.txt
Due: Events Encoding, Localization Encoding

Wexonard Racial Tolerances & Province Modifier Changes fix
  history/provinces/294 - Magdalaire.txt
  history/provinces/317 - Ruppellion.txt
  history/provinces/923 - Aelthil.txt
Due: none

Ikogshaantus, everything has code pog
  common/event_modifiers/anb_lake_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/parliament_issues/anb_ikogshaantus.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects.txt
  events/Flavour_Ikogshaantus_J52.txt
  localisation/Flavour_Ikogshaantus_J52_l_english.yml
  missions/Ikogshaantus_Missions.txt
Due: Events Encoding, Localization Encoding

Let's try that again - Wexonard racial fixes
  history/provinces/294 - Magdalaire.txt
  history/provinces/317 - Ruppellion.txt
  history/provinces/923 - Aelthil.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
