Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

brak
  events/RahenRajEvents.txt
Due: Events Encoding

Mini rending done
  common/cultures/anb_cultures.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/great_projects/anb_monuments_sarhal.txt
  common/on_actions/00_on_actions.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/KhatalashyaDecisions.txt
  decisions/RendingDecisions.txt
  events/Flavour_Khatalashya_S81.txt
  events/HalessiSpirits.txt
  localisation/Flavour_khatalashya_S81_l_english.yml
  localisation/anb_cultures_l_english.yml
  missions/Khatalashya_Missions.txt
  missions/Yinquan_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

change calc scope
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/disasters/rahen_dissolution_of_the_raj.txt
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  decisions/RajDecisions.txt
  events/Flavour_TheCommand_R62.txt
  events/RahenRajEvents.txt
  localisation/raj_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

north citadel fix
  common/great_projects/anb_monuments_cannor.txt
  localisation/anb_great_projects_l_english.yml
Due: Localization Encoding

}
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

Tweaks and fixes
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/estate_mages.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  interface/countrydecisionsview.gui
Due: none

shooo
  common/province_triggered_modifiers/anb_modifiers.txt
Due: none

hmm
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

final fix2 ig
  missions/Eltikan_Missions.txt
Due: none

Minor Changes
  events/Flavour_Unguldavor_Z52.txt
Due: Events Encoding

hmm
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Escanni_refugees_settlement.txt
Due: Events Encoding

fix
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
Due: none

acolytes removed
  common/advisortypes/00_advisortypes.txt
  common/estate_crown_land/00_interactions.txt
  common/estate_privileges/anb_privileges.txt
  common/estate_privileges/estate_acolytes_privileges.txt
  common/estates/96_acolytes.txt
  common/estates/97_mages.txt
  common/estates_preload/anb_estate_modifiers.txt
  common/event_modifiers/anb_misc_modifiers.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_mechanics/anb_BD_dominion_laws.txt
  common/government_mechanics/anb_floodborn_council.txt
  common/government_reforms/03_government_reforms_theocracies.txt
  common/government_reforms/05_government_reforms_natives.txt
  common/ideas/anb_country_ideas.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  common/scripted_triggers/anb_scripted_triggers_missions.txt
  common/static_modifiers/00_static_modifiers.txt
  common/subject_types/00_subject_types.txt
  customizable_localization/anb_magic_menus_localization.txt
  decisions/Acolytes.txt
  decisions/BlackDemenseNation.txt
  events/Flavour_Black_Demesne_Acolytes_Estates.txt
  events/Flavour_Black_Demesne_Acolytes_Interactions.txt
  events/Flavour_Black_Demesne_Z99.txt
  events/Flavour_Bosancovac_G33.txt
  events/Flavour_Wyvernheart_B39.txt
  events/Theocracies.txt
  events/estate_mages.txt
  gfx/interface/magic_menus/estate_magic_acolytes_bg.dds
  interface/event_interfaces.gfx
  localisation/Flavour_BlackDemesne_Z99_l_english.yml
  localisation/anb_estates_l_english.yml
  missions/Black_Demesne_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

events patch
  common/custom_gui/provinceview.txt
  common/scripted_effects/merfolk_scripted_effects.txt
  events/MerfolkEvents.txt
Due: Events Encoding

Artifacts system
  common/cb_types/cot_frostheart_cb_types.txt
  common/event_modifiers/CoT_frostheart_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/cot_steal_frostheart_artifacts.txt
  common/wargoal_types/01_cot_wargoal_types.txt
  customizable_localization/cot_frostheart_artifacts_localization.txt
  decisions/CoT_frostheart_decisions.txt
  events/CoT_excavate_rewards.txt
  events/CoT_frostheart_events.txt
  localisation/CoT_frostheart_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

fix
  localisation/CoT_frostheart_l_english.yml
Due: Localization Encoding

Spacing fix
  localisation/anb_flavor_beiklings_l_english.yml
Due: Localization Encoding

drozma
  localisation/anb_drozma_tur_l_english.yml
Due: Localization Encoding

the hunt fix
  common/scripted_effects/01_scripted_effects_for_estates.txt
Due: none

levaajan abilities
  common/church_aspects/anb_levaajan_abilities.txt
  common/event_modifiers/anb_religion_modifiers.txt
  common/religions/00_anb_religion.txt
  common/scripted_effects/anb_scripted_effects_for_levaajan.txt
  common/scripted_triggers/anb_scripted_triggers_levaajan.txt
  events/Levaajan.txt
  history/countries/V04 - Hakuukulga.txt
  history/provinces/5200 - Bazuneizar.txt
  history/provinces/5378 - Guushuush.txt
  history/provinces/5382 - Huujoolgin.txt
  history/provinces/5405 - Sarinaigh.txt
  history/provinces/6801 - Monestery of Salt.txt
  history/provinces/6802 - Gilded Steppe.txt
  history/provinces/6804 - Monestery of Gems.txt
  history/provinces/6805 - NHaless22.txt
  history/provinces/6815 - Salted Hills.txt
  history/provinces/6817 - Forsaken Approach.txt
  history/provinces/6818 - Shattered Pass.txt
  history/provinces/6819 - Vigilant Watch.txt
  interface/countryreligionview.gui
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

zokka
  common/custom_gui/countryreligionview.txt
  events/Flavour_Zokka_F29.txt
Due: Events Encoding

Reduced malus
  common/event_modifiers/CoT_frostheart_modifiers.txt
Due: none

zokka
  common/custom_gui/countryreligionview.txt
  events/Flavour_Zokka_F29.txt
  localisation/anb_religions_l_english.yml
Due: Events Encoding, Localization Encoding

frozenmaw rework feature complete
  common/event_modifiers/anb_mission_modifiers.txt
  common/mercenary_companies/0_anb_elite_mercenaries.txt
  common/on_actions/00_on_actions.txt
  common/opinion_modifiers/anb_opinion_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  decisions/OrcDecisions.txt
  events/AgeOfGreentide.txt
  events/Flavour_Frozenmaw_Z18.txt
  localisation/Flavour_Frozenmaw_Z18_l_english.yml
  localisation/anb_age_of_greentide_l_english.yml
  missions/Frozenmaw_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

Removing Levaajan Stuff
  common/event_modifiers/anb_gozengun_modifiers.txt
  history/provinces/5200 - Bazuneizar.txt
  history/provinces/5378 - Guushuush.txt
  history/provinces/5382 - Huujoolgin.txt
  history/provinces/6801 - Monestery of Salt.txt
  history/provinces/6804 - Monestery of Gems.txt
  history/provinces/6805 - NHaless22.txt
  history/provinces/6815 - Salted Hills.txt
  history/provinces/6817 - Forsaken Approach.txt
  history/provinces/6818 - Shattered Pass.txt
  localisation/anb_gozengun_l_english.yml
  localisation/anb_modifiers_l_english.yml
Due: Localization Encoding

Readded missing loc
  localisation/Flavour_NuugdanTsarai_Y91_l_english.yml
Due: Localization Encoding

Two new Devouring Path events + loc (2 new files)
  common/event_modifiers/anb_religion_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/DevouringPath.txt
  localisation/devouring_path_l_english.yml
Due: Events Encoding, Localization Encoding

[STEAM] Masked Butcher Change and Fixes
  common/event_modifiers/anb_dwarovar_mission_modifiers.txt
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
  events/DiggyDiggyBlorc.txt
  localisation/Flavour_MaskedButcher_H81_l_english.yml
  missions/MaskedButcher_Missions.txt
Due: Events Encoding, Localization Encoding

neater code
  common/scripted_triggers/anb_scripted_triggers_diggy.txt
Due: none

changing the name of this mission because it runs over
  localisation/Flavour_MaskedButcher_H81_l_english.yml
Due: Localization Encoding

AP fixes
  common/church_aspects/anb_accretive_path.txt
  common/event_modifiers/accretive_path_modifiers.txt
  localisation/anb_governments_l_english.yml
Due: Localization Encoding

frozenmaw sword fixes
  decisions/OrcDecisions.txt
  events/Flavour_Frozenmaw_Z18.txt
Due: Decisions Encoding, Events Encoding

frozenmaw placeholder loc
  localisation/Flavour_Frozenmaw_Z18_l_english.yml
Due: Localization Encoding

Quickfix
  events/DevouringPath.txt
Due: Events Encoding

1
  common/estates/05_nomadic_tribes.txt
Due: none

more
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_verne.txt
  events/ExplorationEvents.txt
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
Due: Events Encoding, Localization Encoding

final fix
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
Due: none

idiot
  common/scripted_effects/anb_scripted_effects_for_escanni_refugees.txt
Due: none
