Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

Fixing Triggers and Ally ditches
  events/Flavour_Unguldavor_Z52.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding

Fixed Western March Mission
  missions/Unguldavori_Missions.txt
Due: none

Fixing Dust Settles
  missions/Unguldavori_Missions.txt
Due: none

Changing Revolter Religion
  events/Flavour_Unguldavor_Z52.txt
Due: Events Encoding

Generals and Sent Gift
  events/Flavour_Unguldavor_Z52.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding

arrrrrrrpy
  common/event_modifiers/anb_vaengheim_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/vaengheim_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
  common/scripted_triggers/anb_scripted_triggers_racial.txt
  decisions/VaengheimDecisions.txt
  events/Flavour_Vaengheim_Z88.txt
  history/countries/Z88 - Vaengheim.txt
  interface/provinceview.gfx
  localisation/Flavour_Vaengheim_Z88_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Shadow Pact flavour events
  common/event_modifiers/anb_sarhal_modifiers.txt
  common/on_actions/00_on_actions.txt
  events/SarhalEvents.txt
  localisation/anb_modifiers_l_english.yml
  localisation/anb_sarhal_events_l_english.yml
Due: Events Encoding, Localization Encoding

Code review fixes
  events/Flavour_Xanzerbexis_A49.txt
  localisation/Flavour_Xanzerbexis_A49_l_english.yml
  missions/Xanzerbexis_Missions.txt
Due: Events Encoding, Localization Encoding

aaaa
  events/Flavour_Verne_A33.txt
  localisation/Flavour_Verne_A33_l_english.yml
Due: Events Encoding, Localization Encoding

Fixing Half-Orc Identity
  events/Flavour_Unguldavor_Z52.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding

Extra tooltip fixes
  common/custom_gui/provinceview.txt
  decisions/XanzerbexisDecisions.txt
  localisation/Flavour_Xanzerbexis_A49_l_english.yml
  missions/Xanzerbexis_Missions.txt
Due: Decisions Encoding, Localization Encoding

more fix
  common/on_actions/00_on_actions.txt
  decisions/VaengheimDecisions.txt
Due: Decisions Encoding

raist is bad
  decisions/VaengheimDecisions.txt
Due: Decisions Encoding

Changing Khozrugan mission
  events/Flavour_Unguldavor_Z52.txt
  missions/Unguldavori_Missions.txt
Due: Events Encoding

revert
  events/Flavour_Vaengheim_Z88.txt
Due: Events Encoding

s
  history/countries/Z60 - Tsukqiao.txt
Due: none

hm
  events/Flavour_ZokkaJaddariWar.txt
Due: Events Encoding

hm hm
  decisions/GoldenHighway.txt
Due: Decisions Encoding

Fixing Mission Triggers
  missions/Unguldavori_Missions.txt
Due: none

More fixes
  missions/Unguldavori_Missions.txt
Due: none

Normal Missions and Karkares Event Chain
  azkare_tolerance.txt
  common/buildings/00_buildings.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_triggers/00_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_kheionai.txt
  events/Flavour_Degakheion_G46.txt
  localisation/Flavour_Degakheion_G46_l_english.yml
  localisation/anb_regions_l_english.yml
  localisation/anb_religions_l_english.yml
  map/provincegroup.txt
  missions/Degakheion_Missions.txt
  nogood.txt
Due: Events Encoding, Localization Encoding, Brackets Syntax

Fixing Royal City and Removing Blorc Vassal
  common/event_modifiers/anb_unguldavor_modifiers.txt
  events/Flavour_Unguldavor_Z52.txt
  localisation/Flavour_Unguldavor_Z52_l_english.yml
Due: Events Encoding, Localization Encoding

Reduce AE instead of increase
  common/event_modifiers/anb_unguldavor_modifiers.txt
Due: none

magic spell trigger rework
  common/custom_gui/magic_menu.txt
  common/custom_gui/siege.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  events/MagicRuler.txt
  events/Magic_Spell_Events.txt
  events/Magic_System_Events.txt
  localisation/Flavour_TaychendiEmpire_J84_l_english.yml
  localisation/anb_great_projects_l_english.yml
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_patrons_l_english.yml
  localisation/anb_rending_l_english.yml
  missions/ArgOrdstun_Missions.txt
  missions/Besolaki_Missions.txt
  missions/Gisden_Missions.txt
  missions/Haraz_Orldhum_Missions.txt
  missions/Khao_Elnak_Missions.txt
  missions/Kulugiash_missions.txt
  missions/Ovdal_az_An_Missions.txt
  missions/Zz_Taychendi_Empire_Missions.txt
Due: Events Encoding, Localization Encoding

Make Sure Grom is male
  events/Flavour_Unguldavor_Z52.txt
Due: Events Encoding

Fixing UMC Colonization
  common/on_actions/00_on_actions.txt
  events/Flavour_Unguldavor_Z52.txt
Due: Events Encoding

More fix
  common/on_actions/00_on_actions.txt
Due: none

Added alternative artificer influence for Stronger Than Steel
  missions/Unguldavori_Missions.txt
Due: none

Major UI Rework
  common/custom_gui/magic_menu.txt
  common/estate_crown_land/00_interactions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  customizable_localization/anb_magic_menus_localization.txt
  gfx/FX/custom_colour.shader
  gfx/interface/custom_gui/magic/jothell/banner_2_pointed_teal.dds
  gfx/interface/custom_gui/magic/jothell/banner_2_pointed_white.dds
  gfx/interface/custom_gui/magic/jothell/banner_345_blue.dds
  gfx/interface/custom_gui/magic/jothell/banner_345_white.png
  gfx/interface/custom_gui/magic/jothell/colour_sampler.dds
  gfx/interface/custom_gui/magic/jothell/dark_text_shadow_tile.dds
  gfx/interface/custom_gui/magic/jothell/infrastructure_banner.dds
  gfx/interface/custom_gui/magic/jothell/magic_bg.dds
  gfx/interface/custom_gui/magic/jothell/patron_bg_temp.dds
  gfx/interface/custom_gui/magic/jothell/shadowbox_tile.dds
  gfx/interface/custom_gui/magic/jothell/spellbook_selection.dds
  gfx/interface/custom_gui/magic/jothell/witch_king_text.dds
  interface/countrydecisionsview.gfx
  interface/countrydecisionsview.gui
  interface/magic_menu.gfx
  interface/topbar.gui
  localisation/aaaaajothellmagic_l_english.yml
Due: Localization Encoding

Mission Tree Done (Before Questions)
  common/event_modifiers/anb_mission_modifiers.txt
  common/government_reforms/02_government_reforms_republics.txt
  common/governments/00_governments.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/state_edicts/advancement_effort.txt
  events/Flavour_Degakheion_G46.txt
  localisation/Flavour_Degakheion_G46_l_english.yml
  missions/Degakheion_Missions.txt
Due: Events Encoding, Localization Encoding

divination
  common/event_modifiers/anb_magic_modifiers.txt
  common/event_modifiers/anb_spell_modifiers.txt
  common/great_projects/anb_monuments_rahen_haless.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  common/static_modifiers/00_static_modifiers.txt
  events/MagicRuler.txt
  events/RendingMA.txt
  history/countries/Y64 - Pinghoi.txt
  localisation/Flavour_Balrijin_Y91_l_english.yml
  localisation/Flavour_Cestirmark_H33_l_english.yml
  localisation/Flavour_Gemradcurt_H16_l_english.yml
  localisation/anb_great_projects_l_english.yml
  localisation/anb_magic_projects_l_english.yml
  localisation/anb_magic_ruler_l_english.yml
  localisation/anb_magic_system_l_english.yml
  localisation/anb_patrons_l_english.yml
  localisation/anb_rending_l_english.yml
  missions/Anjiang_Missions.txt
  missions/Apikhoxi_Missions.txt
  missions/Balrijin_Missions.txt
  missions/Cestirmark_Missions.txt
  missions/Gemradcurt_Missions.txt
  missions/Rakkaz_Missions.txt
Due: Events Encoding, Localization Encoding

changes to undead mil tooltip
  common/event_modifiers/racial_admin_military.txt
  localisation/anb_racial_l_english.yml
Due: Localization Encoding

removing assets for ruler divination
  common/custom_gui/magic_menu.txt
  events/MagicRuler.txt
  gfx/interface/magic_menus/desc_divination.dds
  gfx/interface/magic_menus/ruler_magic_divination_bg.dds
  gfx/interface/magic_menus/spell_foresight.dds
  gfx/interface/magic_menus/spell_foresight_g.dds
  gfx/interface/magic_menus/spell_foresight_r.dds
  gfx/interface/magic_menus/spell_loreseeker.dds
  gfx/interface/magic_menus/spell_loreseeker_g.dds
  gfx/interface/magic_menus/spell_loreseeker_r.dds
  gfx/interface/magic_menus/spell_scrying_affairs.dds
  gfx/interface/magic_menus/spell_scrying_affairs_g.dds
  gfx/interface/magic_menus/spell_scrying_affairs_r.dds
  gfx/interface/magic_menus/spell_scrying_dissidents.dds
  gfx/interface/magic_menus/spell_scrying_dissidents_g.dds
  gfx/interface/magic_menus/spell_scrying_dissidents_r.dds
  gfx/interface/magic_menus/spell_scrying_neighbours.dds
  gfx/interface/magic_menus/spell_scrying_neighbours_e_r.dds
  gfx/interface/magic_menus/spell_scrying_neighbours_g.dds
  gfx/interface/magic_menus/spell_scrying_neighbours_r.dds
  gfx/interface/magic_menus/spell_scrying_rivals.dds
  gfx/interface/magic_menus/spell_scrying_rivals_g.dds
  gfx/interface/magic_menus/spell_scrying_rivals_r.dds
  interface/event_interfaces.gfx
  localisation/aaaaajothellmagic_l_english.yml
  localisation/anb_magic_ruler_l_english.yml
Due: Events Encoding, Localization Encoding

Kamy Major Events
  events/Flavour_Orenvalyam_U39.txt
  events/OrenNayiruEvents.txt
  localisation/anb_taychend_l_english.yml
Due: Events Encoding, Localization Encoding

Event Images Finally
  events/OrenNayiruEvents.txt
Due: Events Encoding

fix ui flags not cleared on central graphic click
  common/custom_gui/magic_menu.txt
Due: none

.
  common/on_actions/00_on_actions.txt
Due: none

Encoding
  localisation/anb_devandi_l_english.yml
Due: Localization Encoding

Fix Southern Ally and Revolt
  common/on_actions/00_on_actions.txt
  events/Flavour_Unguldavor_Z52.txt
Due: Events Encoding

Small trigger change to see if clans exist
  events/Flavour_Unguldavor_Z52.txt
Due: Events Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
