Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

removed extraneous AND
  common/on_actions/00_on_actions.txt
Due: none

Fix field of forbiddence trigger - reduced level requirement
  common/scripted_triggers/anb_scripted_triggers_magic.txt
Due: none

Fix unneeded colour clearing
  localisation/Flavour_Cangji_V05_l_english.yml
Due: Localization Encoding

double space typo
  localisation/anb_magic_projects_l_english.yml
Due: Localization Encoding

vastly underestimated exploitability
  events/Magic_Project_Events.txt
Due: Events Encoding

Disemdashening
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

hello tritone
  common/scripted_triggers/00_scripted_triggers.txt
Due: none

a nudge for tritone and a couple other ones i saw while doing it
  map/positions.txt
Due: none

cestirmark fixes
  localisation/Flavour_Cestirmark_H33_l_english.yml
  missions/Cestirmark_Missions.txt
Due: Localization Encoding

adjust piracy event triggers
  events/anb_piracy_events.txt
Due: Events Encoding

esthil varina modif fix
  common/scripted_effects/esthil_scripted_effects.txt
  missions/Esthil_Missions.txt
Due: none

pukamana isnt an end anymore
  common/tradenodes/00_tradenodes.txt
Due: none

some typo fixes
  localisation/Flavour_Exwes_A40_l_english.yml
  localisation/Flavour_Kimanis_G61_l_english.yml
  missions/Exwes_Missions.txt
Due: Localization Encoding

Tooltips for Aycha Alpa Practices/Aspects
  localisation/anb_religions_l_english.yml
Due: Localization Encoding

supply_cost_based_on_region effect
  common/custom_gui/provinceview.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_citadels.txt
Due: none

ancient centaur code cleanup
  common/cb_types/anb_cb_centaurs.txt
  common/new_diplomatic_actions/zz_centaur_absorb_horde.txt
  common/new_diplomatic_actions/zz_centaur_negeal.txt
  common/on_actions/00_on_actions.txt
  common/peace_treaties/anb_centaur_subjugation.txt
  common/scripted_effects/forbidden_land_scripted_effects.txt
  common/subject_types/00_subject_types.txt
  common/wargoal_types/00_wargoal_types.txt
  decisions/CentaurDecisions.txt
  events/CentaurEvents.txt
  localisation/anb_forbidden_lands_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

fixing harpies on the side
  common/custom_gui/zz_mission_content.txt
  localisation/Flavour_Harpylen_l_english.yml
  missions/Harpylen_Missions.txt
Due: Localization Encoding

the harpy fixing enlarges
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  events/Flavour_Harpylen_F98.txt
  events/Flavour_Hytiranyalen_F81.txt
  missions/Harpylen_Missions.txt
Due: Events Encoding

Fix harpy ruler check
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
  missions/Ayarallen_Missions.txt
Due: none

OH right
  common/custom_gui/provinceview.txt
Due: none

Fix orb capital deving tracking
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
Due: none

celmaldor priv tt fix
  common/scripted_effects/anb_scripted_effects_celmaldor.txt
  localisation/Flavour_Celmaldor_Z22_l_english.yml
Due: Localization Encoding

celmaldor tt fix for realsies
  localisation/Flavour_Celmaldor_Z22_l_english.yml
Due: Localization Encoding

ayarallen and UC bugfixes
  common/scripted_effects/umbral_covenant_scripted_effects.txt
  events/Flavour_DeathBringingCobra_S30.txt
  events/Flavour_Umbral_Covenant_S90.txt
  events/flavour_Ayarallen_F27.txt
  localisation/Flavour_Ayarallen_F27_l_english.yml
  localisation/Flavour_Umbral_Covenant_S90_l_english.yml
  missions/Ayarallen_Missions.txt
Due: Events Encoding, Localization Encoding

fix orenvalyam highlighting
  missions/Zz_Orenvalyam_Missions.txt
Due: none

fix orenvalyam issue
  common/parliament_issues/anb_orenvalyam.txt
Due: none

cap ebonsteel
  localisation/Flavour_Urviksten_Z15_l_english.yml
Due: Localization Encoding

2 goblin pip fixes based on tome
  common/units/goblin_23_hydrabomin_broodconvoys.txt
  common/units/goblin_28_meknik_mechazviks.txt
Due: none

fix grammar on an achievement
  localisation/anb_achievements_l_english.yml
Due: Localization Encoding

fix a nansalen title
  localisation/Flavour_Nansalen_B80_l_english.yml
Due: Localization Encoding

loc for DT variables
  localisation/anb_dragon_turtle_l_english.yml
Due: Localization Encoding

some typos
  localisation/Flavour_Urviksten_Z15_l_english.yml
  localisation/anb_cardesti_l_english.yml
  localisation/anb_estate_mages_l_english.yml
Due: Localization Encoding

fix a nansalen tt
  localisation/Flavour_Nansalen_B80_l_english.yml
Due: Localization Encoding

fix an icon here
  common/event_modifiers/anb_mission_modifiers.txt
Due: none

2 grammar by bon
  localisation/Flavour_Exwes_A40_l_english.yml
Due: Localization Encoding

fixies
  localisation/Flavour_Umbral_Covenant_S90_l_english.yml
Due: Localization Encoding

Halve the dev transfered by Render Unto as tt describes
  events/HarpyEvents.txt
Due: Events Encoding

changes and fixes
  common/event_modifiers/anb_spirit_modifiers.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  decisions/RahenFormables.txt
  events/Flavour_Endhuvi_R36.txt
  events/Flavour_Iochand_A80.txt
  events/RendingMA.txt
  localisation/Flavour_Iochand_A80_l_english.yml
  localisation/anb_rending_l_english.yml
  missions/Endhuvi_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

First attemp to fix the issue where the AI loses all provinces but 1 in-progress colony that then gets upgraded.
  common/scripted_effects/anb_scripted_effects_for_citadels.txt
Due: none

Move the corner case check to the end. Explain comment a bit more. Don't use capital_scope.
  common/scripted_effects/anb_scripted_effects_for_citadels.txt
Due: none

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
