Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

Decisions Encoding:
  script:
  - echo "Checking decisions encoding..."
  - /bin/bash checkEncoding.sh -d

Events Encoding:
  script:
  - echo "Checking events encoding..."
  - /bin/bash checkEncoding.sh -e

Localization Encoding:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -l

Brackets Syntax:
  script:
  - echo "Checking localization encoding..."
  - /bin/bash checkEncoding.sh -i

institution
  common/on_actions/00_on_actions.txt
  events/Flavour_Deranne_A02.txt
Due: Events Encoding

Bugfixes for bugfixes
  common/government_reforms/03_government_reforms_theocracies.txt
  localisation/anb_governments_l_english.yml
  missions/Balrijin_Missions.txt
Due: Localization Encoding

Perf upgrade for gob shamanism privs
  common/on_actions/00_on_actions.txt
Due: none

Flag size fixes
  gfx/flags/H00.tga
  gfx/flags/J69.tga
Due: none

[Steam] Anzalkatsa School Fight Fix
  common/scripted_effects/anb_scripted_effects.txt
Due: none

Fixed duration of treasure fleet event
  events/TreasureFleet.txt
Due: Events Encoding

Raj 3.0 - Vizier Rework PR Review Tweaks
  common/scripted_effects/anb_scripted_effects_for_rahen.txt
  common/subject_types/00_subject_types.txt
  customizable_localization/anb_custom_raj_localization.txt
  events/RahenRajEvents.txt
  localisation/raj_l_english.yml
Due: Events Encoding, Localization Encoding

fix
  common/church_aspects/anb_fangaula_pantheon.txt
Due: none

Raj 3.0 - Vizier Rework PR Review Tweaks 2
  common/subject_types/00_subject_types.txt
Due: none

Centaurs by Zaco
  common/ideas/anb_country_ideas.txt
  history/countries/I51 - Battlesong.txt
  history/countries/I85 - Stormsinger.txt
  localisation/anb_powers_and_ideas_l_english.yml
Due: Localization Encoding

nomenclature update
  common/custom_gui/magic_menu.txt
  common/custom_gui/siege.txt
  common/estate_agendas/anb_mages_agendas.txt
  common/event_modifiers/anb_magic_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/province_triggered_modifiers/anb_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_magic_system.txt
  common/scripted_triggers/anb_scripted_triggers.txt
  common/scripted_triggers/anb_scripted_triggers_magic.txt
  customizable_localization/anb_magic_menus_localization.txt
  decisions/TheCommandDecisions.txt
  events/DiggyDiggyHoleEvents.txt
  events/Flavour_TheCommand_R62.txt
  events/GreatConqueror.txt
  events/HalessiSpirits.txt
  events/Magic_Project_Events.txt
  events/Magic_Ruler_Events.txt
  events/Magic_Spell_Events.txt
  events/Magic_System_Events.txt
  localisation/anb_magic_spells_l_english.yml
  missions/Anjiang_Missions.txt
  missions/Brrtekuh_Missions.txt
  missions/Corintar_Missions.txt
  missions/Eilisin_Missions.txt
  missions/Gophira_Missions.txt
  missions/Istralore_Missions.txt
  missions/Khatalashya_Missions.txt
  missions/Zz_Thangoya_Missions.txt
Due: Decisions Encoding, Events Encoding, Localization Encoding

balance tweak
  common/event_modifiers/anb_mission_modifiers.txt
  events/Flavour_Westmoors_A24.txt
  missions/Westmoors_missions.txt
Due: Events Encoding

raj capital shan't move
  common/on_actions/00_on_actions.txt
  missions/Sanghariyar_Missions.txt
Due: none

centaur events now minimally functional
  events/ToleranceCentaur.txt
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

fixes accidentally reverted loc fixes
  localisation/Flavour_Averilibet_S53_l_english.yml
  localisation/Flavour_OrdaAldresia_A77_l_english.yml
  localisation/Flavour_OvdalazAn_I19_l_english.yml
  localisation/Flavour_TheCommand_R62_l_english.yml
  localisation/Flavour_Verne_A33_l_english.yml
Due: Localization Encoding

fixes from my own code review
  common/ideas/anb_country_ideas.txt
  events/DiggyDiggyHoleEvents.txt
  events/Flavour_Khasa_F57.txt
  history/countries/H21 - Eordand.txt
  history/countries/S71 - Fahvanosy.txt
Due: Events Encoding

and one last formatting mistake fixed
  missions/Vertesk_Missions.txt
Due: none

Karshyr bugfix
  missions/Karshyr_Missions.txt
Due: none

me when I fix a fix that broke a fix for a fix
  missions/Celmaldor_Missions.txt
Due: none

bru
  missions/Celmaldor_Missions.txt
Due: none

another formatting error
  missions/Khasa_Missions.txt
Due: none

tiltaghar ofc
  common/on_actions/00_on_actions.txt
  missions/Sanghariyar_Missions.txt
  missions/Tiltaghar_Missions.txt
Due: none

99 little bugs in the raj
  decisions/RajDecisions.txt
Due: Decisions Encoding

fix conversion
  events/Flavour_Verne_A33.txt
Due: Events Encoding

centaur events pre-region-review
  events/ToleranceCentaur.txt
  localisation/anb_racial_pop_l_english.yml
Due: Events Encoding, Localization Encoding

Balance Changes
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/forbidden_land_scripted_effects.txt
  common/scripted_triggers/anb_scripted_triggers_centaurs.txt
  customizable_localization/anb_custom_loca_centaurs.txt
  events/Flavour_Golden_Tremor_I57.txt
  localisation/Flavour_Golden_Tremor_I57_l_english.yml
  localisation/anb_forbidden_lands_l_english.yml
  missions/Golden_Tremor_Missions.txt
Due: Events Encoding, Localization Encoding

Line Endings
  localisation/anb_forbidden_lands_l_english.yml
Due: Localization Encoding

Fix country_ideas line endings
  common/ideas/anb_country_ideas.txt
Due: none

[Steam] Change Infernal Court Toll frequency
  common/on_actions/00_on_actions.txt
Due: none

indi hates the raja
  missions/Sanghariyar_Missions.txt
Due: none

oh man, that tt sucked
  common/scripted_triggers/anb_scripted_triggers_rahen.txt
  localisation/anb_governments_l_english.yml
  missions/Sanghariyar_Missions.txt
Due: Localization Encoding

leidhancost
  common/countries/Leidhancost.txt
  common/country_tags/anb_countries.txt
  common/ideas/anb_country_ideas.txt
  decisions/ColonialFormables.txt
  gfx/flags/U50.tga
  history/countries/U50 - Leidhancost.txt
  localisation/anb_countries_l_english.yml
  localisation/anb_powers_and_ideas_l_english.yml
Due: Decisions Encoding, Localization Encoding

I think thats all
  decisions/AsartaDecisions.txt
  events/Flavour_Khatalashya_S81.txt
  events/Flavour_Konolkhatep_F66.txt
  events/RintaSeekerEvents.txt
  events/estate_ahati.txt
  localisation/Flavour_Asarta_L96_l_english.yml
  localisation/rinta_seekers_l_english.yml
Due: Decisions Encoding, Events Encoding, Localization Encoding

Ahati Crushed
  common/disasters/konolkhatep_xhaz_disaster.txt
  localisation/rinta_seekers_l_english.yml
Due: Localization Encoding

[Steam] Another IC Toll tweak
  events/InfernalCourtEvents.txt
Due: Events Encoding

escanni orcs and goblin events loc fix
  localisation/EscanniOrcsandGoblinsevents_l_english.yml
Due: Localization Encoding

Cleanse the fey with everyone
  decisions/WorldTreeDecisions.txt
Due: Decisions Encoding

escanni adventurers forming merchant republics should also lose their gov reforms
  events/AdventurerFormables.txt
Due: Events Encoding

typo parangon to paragon (possibly pdx?)
  localisation/personalityoptions_l_english.yml
Due: Localization Encoding

typo redgalde to redglade
  localisation/Flavour_Wineport_A16_l_english.yml
Due: Localization Encoding

Path conditions:
  Decisions Encoding: any of: decisions/*.txt
  Events Encoding: any of: events/*.txt
  Localization Encoding: any of: localisation/*.yml
  Brackets Syntax: any of: **.txt
