Repository Vaassen/CoT: changes, and which Bitbucket steps are due for each by the changed paths.
All: Decisions Encoding, Events Encoding, Localization Encoding, Brackets Syntax

bitbucket-pipelines.yml:

image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Decisions Encoding'
          condition:
              changesets:
                includePaths:
                  - "decisions/*.txt"
          script:
            - echo "Checking decisions encoding..."
            - /bin/bash checkEncoding.sh -d
      - step:
          name: 'Events Encoding'
          condition:
              changesets:
                includePaths:
                  - "events/*.txt"
          script:
            - echo "Checking events encoding..."
            - /bin/bash checkEncoding.sh -e
      - step:
          name: 'Localization Encoding'
          condition:
              changesets:
                includePaths:
                  - "localisation/*.yml"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -l
      - step:
          name: 'Brackets Syntax'
          condition:
              changesets:
                includePaths:
                  - "**.txt"
          script:
            - echo "Checking localization encoding..."
            - /bin/bash checkEncoding.sh -i

avoiding double triggers
  events/YnnBuycevEvents.txt
Due: Events Encoding

add alternate loc to ivrandir event; fix modifier
  common/event_modifiers/LencoriBehemoth.txt
  events/LencoriBehemothEvents.txt
  localisation/LencoriBehemothEvents_l_english.yml
Due: Events Encoding, Localization Encoding

Checkpoint before new weird script
  common/buildings/00_buildings.txt
  common/custom_gui/provinceview.txt
  common/event_modifiers/charkuchin_kobold_modifiers.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_effects/anb_scripted_effects_for_province_ui.txt
  common/scripted_triggers/anb_scripted_triggers_for_province_ui.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  customizable_localization/anb_custom_loca.txt
  events/Charkuchin_Kobold_Events.txt
  history/provinces/6345 - PROV6345.txt
  history/provinces/6380 - PROV6380.txt
  history/provinces/6394 - PROV6394.txt
  history/provinces/6425 - Purapuraxasqa_Kulu.txt
  history/provinces/6443 - PROV6443.txt
  history/provinces/6455 - PROV6455.txt
  history/provinces/6474 - PROV6474.txt
  interface/provinceview.gui
  localisation/anb_charkuchin_l_english.yml
  localisation/anb_generic_insyaa_l_english.yml
  map/provincegroup.txt
Due: Events Encoding, Localization Encoding

wallah
  events/YnnBuycevEvents.txt
Due: Events Encoding

why make a flag and modifier have the same name it confusing chief
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/yrw_scripted_effects.txt
  common/units/ynnic_12_cannorian_company.txt
  common/units/ynnic_15_dragon_roarers.txt
  common/units/ynnic_15_netherfolk_revenants.txt
  common/units/ynnic_18_mounted_dragon_roarers.txt
  common/units/ynnic_19_rzentur_pike_and_shot.txt
  common/units/ynnic_23_sarda_hussars.txt
  common/units/ynnic_26_drozmateers.txt
  common/units/ynnic_28_iosahar_karavytrie.txt
  common/units/ynnic_30_bosancovac_city_guard.txt
  common/units/ynnic_30_gospodic_platoon.txt
  common/units/ynnic_30_tuathak_foreign_legion.txt
  localisation/ynn_loc_l_english.yml
  localisation/yrw_debates_l_english.yml
Due: Localization Encoding

Event fix
  events/Flavour_Orenvalyam_U39.txt
  localisation/Flavour_Orenvalyam_U39_l_english.yml
  missions/Zz_Orenvalyam_Missions.txt
Due: Events Encoding, Localization Encoding

Migrating to a custom diplomatic action
  common/custom_gui/countrydiplomacyview.txt
  common/custom_gui/provinceview.txt
  interface/countrydiplomacyview.gui
  interface/provinceview.gui
  localisation/Flavour_Star_Rider_I69_l_english.yml
Due: Localization Encoding

Lakefed fixes
  common/on_actions/00_on_actions.txt
Due: none

Migrating the button to see where it works
  interface/countrydiplomacyview.gui
Due: none

column 5
  common/buildings/00_buildings.txt
  common/diplomatic_actions/00_diplomatic_actions.txt
  common/event_modifiers/anb_harpylen_modifiers.txt
  common/great_projects/anb_monuments_cannor.txt
  common/scripted_effects/anb_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_harpies.txt
  common/scripted_triggers/anb_scripted_triggers_for_harpies.txt
  events/Flavour_Harpylen_F98.txt
  events/The_Hunt_events.txt
  localisation/Flavour_Harpylen_l_english.yml
  missions/Harpylen_Missions.txt
Due: Events Encoding, Localization Encoding

Last vestiges
  interface/provinceview.gui
Due: none

Charkuchin Citadels
  common/buildings/00_buildings.txt
  common/custom_gui/provinceview.txt
  common/event_modifiers/charkuchin_kobold_modifiers.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  common/scripted_triggers/anb_scripted_triggers_insyaa.txt
  interface/provinceview.gui
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

event
  localisation/ynn_loc_l_english.yml
Due: Localization Encoding

Crash Fix
  common/government_reforms/03_government_reforms_theocracies.txt
  events/00_Flavour_Shadowdreamer_H83.txt
  missions/00_Shadowdreamer_Missions.txt
Due: Events Encoding

Small stuff in waiting for Creative B. Merger of new Super Regions
  common/custom_gui/provinceview.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
  localisation/anb_charkuchin_l_english.yml
Due: Localization Encoding

.
  decisions/Aelantir-Cannor Decisions.txt
  decisions/SacredGroveDecision.txt
Due: Decisions Encoding

erm
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/yrw_scripted_effects.txt
  localisation/ynn_loc_l_english.yml
Due: Localization Encoding

Reconfiguration of a bunch of stuff
  common/custom_gui/countrydiplomacyview.txt
  common/scripted_effects/anb_scripted_effects_custom_diplo_ui.txt
  common/scripted_triggers/anb_scripted_triggers_custom_diplo_ui.txt
  customizable_localization/anb_custom_loc_diplomacy_ui.txt
  interface/countrydiplomacyview.gui
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Localization Encoding

On conquering Citadel
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_insyaa.txt
Due: none

sneaky fucker
  localisation/ynn_loc_l_english.yml
Due: Localization Encoding

Allow Samsumbat to restore the mandate
  decisions/KhetMandateDecisions.txt
Due: Decisions Encoding

Ruined Sea Pirates #5
  common/custom_gui/countrydiplomacyview.txt
  common/custom_gui/provinceview.txt
  common/event_modifiers/anb_pirates_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  events/Flavour_RSP.txt
  events/anb_piracy_events.txt
  gfx/interface/ideas_EU4/pirate_modifier.dds
  localisation/Flavour_Ruined_Sea_Pirates_l_english.yml
  localisation/anb_custom_diplomacy_ui_l_english.yml
  missions/RSP_Missions.txt
Due: Events Encoding, Localization Encoding

Loc changes and Custom tooltips
  localisation/Flavour_Star_Rider_I69_l_english.yml
  missions/Star_Rider_Missions.txt
Due: Localization Encoding

THE MOST IMPORTANT CHANGE OF ALL TIME
  localisation/Flavour_Umbral_Covenant_S90_l_english.yml
Due: Localization Encoding

another huge commit
  localisation/Flavour_Umbral_Covenant_S90_l_english.yml
Due: Localization Encoding

Update 00_Shadowdreamer_Missions.txt
  missions/00_Shadowdreamer_Missions.txt
Due: none

Increase devastation from holohana
  common/event_modifiers/anb_holohana_modifiers.txt
Due: none

Couple of comments
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  decisions/ZulburDecisions.txt
  localisation/anb_custom_diplomacy_ui_l_english.yml
Due: Decisions Encoding, Localization Encoding

Update 00_Shadowdreamer_l_english.yml
  localisation/00_Shadowdreamer_l_english.yml
Due: Localization Encoding

Update Anbennar-PublicFork.mod
  Anbennar-PublicFork.mod
Due: none

Fixed dream council
  common/on_actions/00_on_actions.txt
  localisation/00_Shadowdreamer_l_english.yml
Due: Localization Encoding

neighboring troll
  localisation/00_Shadowdreamer_l_english.yml
  missions/00_Shadowdreamer_Missions.txt
Due: Localization Encoding

encoding fix and kimanis loc file fix
  events/GreatConqueror.txt
  localisation/Flavour_Kimanis_G61_l_english.yml
Due: Events Encoding, Localization Encoding

7.3 review fix
  common/on_actions/00_on_actions.txt
Due: none

.
  decisions/Aelantir-Cannor Decisions.txt
  events/Cannor_Monument_Flavour_Events.txt
Due: Decisions Encoding, Events Encoding

patch 1
  common/event_modifiers/anb_mission_modifiers.txt
  common/on_actions/00_on_actions.txt
  common/scripted_effects/01_scripted_effects_for_on_actions.txt
  common/scripted_effects/anb_scripted_effects_for_magic_spells.txt
  common/scripted_effects/anb_scripted_effects_for_missions.txt
  common/scripted_triggers/anb_scripted_triggers_settings.txt
  events/Flavour_Nansalen_F80.txt
  localisation/Flavour_Nansalen_B80_l_english.yml
  missions/Nansalen_Missions.txt
Due: Events Encoding, Localization Encoding

Planetouched Estate WIP
  common/estate_agendas/anb_planetouched_agendas.txt
  common/event_modifiers/anb_estate_modifiers.txt
  localisation/anb_magic_spells_l_english.yml
  localisation/anb_planetouched_l_english.yml
Due: Localization Encoding

Fixes to Insyaa superregions (forgot an OR)
  common/scripted_effects/anb_racial_interface_scripted_effects.txt
  common/scripted_effects/anb_scripted_effects_for_racial_tolerances.txt
Due: none
